<a ng-if="$ctrl.player" href ng-click="$ctrl.goToCyclist()">
  <div class="player-avatar player-cyclist"
       ng-class="{
        'player-gcx-elite': $ctrl.showPositionBackground && ($ctrl.player.position_id == 10 || $ctrl.player.players.position_id == 10 || $ctrl.player.Player.position_id == 10),
        'player-gcx-dames': $ctrl.showPositionBackground && ($ctrl.player.position_id == 9 || $ctrl.player.players.position_id == 9 || $ctrl.player.Player.position_id == 9),
        'player-gcx-beloften': $ctrl.showPositionBackground &&($ctrl.player.position_id == 8 || $ctrl.player.players.position_id == 8 || $ctrl.player.Player.position_id == 8),
        'empty':!$ctrl.player.Player,
        'player-cyclist': $ctrl.showJerseys
    }">

    <img ng-if="!$ctrl.useLocalFolder" ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{$ctrl.clubId}}.png"
         fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
         class="jersey">

    <img ng-if="$ctrl.useLocalFolder"
         ng-src="/images/cycling/jersey_{{$ctrl.clubId}}.png"
         class="jersey"
         fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">

    <span ng-if="!$ctrl.player.Selection.captain && $ctrl.showPoints"
          ng-show="$ctrl.player.Selection && $ctrl.player.Selection.points !== null"
          class="points">
      {{$ctrl.player.Selection.points}}
    </span>

    <span ng-if="$ctrl.player.Selection.captain && $ctrl.showPoints"
          class="points-captain">
      {{$ctrl.player.Selection && $ctrl.player.Selection.points !== null ? ($ctrl.player.Selection.points) : 'C'}}
    </span>

    <a ng-if="$ctrl.hasRemove()" href ng-click="$ctrl.remove($ctrl.player)" class="remove"></a>

    <span href
          class="player-short-position"
          ng-class="{
            'player-gcx-elite': $ctrl.player.Player.position_id == 10,
            'player-gcx-dames': $ctrl.player.Player.position_id == 9,
            'player-gcx-beloften': $ctrl.player.Player.position_id == 8}"
          ng-if="$ctrl.player.Player && $ctrl.showShortPosition">
      {{$ctrl.getPositionShort($ctrl.player.Player.position_id)}}
    </span>
  </div>
  <span class="name">{{$ctrl.cyclistName}}</span>
</a>