<div class="main-content pad">
  <div class="layout">
    <div class="row" ng-if="$ctrl.postcodeTeams">
      <h4> {{$ctrl.postcode}} teams</h4>
    </div>

    <div class="row" ng-if="$ctrl.postcodeTeams">
      <table class="table">
        <thead>
        <th translate>Rank</th>
        <th translate>Player</th>
        <th translate>Team</th>
        <th translate>Points</th>
        <th></th>
        </thead>
        <tbody>
        <tr
                dir-paginate="stat in $ctrl.postcodeTeams | itemsPerPage: $ctrl.displayItems"
                current-page="$ctrl.pagination.current">
          <td>{{stat.Team.rank}}</td>
          <td>
            {{stat.User.first_name + ' ' + stat.User.last_name}}
          </td>
          <td>{{stat.Team.name}}</td>
          <td>{{stat.Team.points}} <span translate>points</span></td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
    </div>
  </div>
</div>