<div ng-if="$ctrl.numberOnePrize" style="background: rgba(255,255,255,0.05);">
  <div class="pad">
    <div class="row">
      <div class="col-xs-8">
        <h5>{{$ctrl.numberOnePrize.title}}</h5>
      </div>
      <div class="col-xs-4">
        <img ng-src="{{$ctrl.numberOnePrize.image}}" class="image-prizes-widget"/>
      </div>
    </div>
    <div>
      <p ng-bind-html="$ctrl.numberOnePrize.body"></p>
    </div>
  </div>
</div>