<div class="main-content pad">
  <div class="layout">
    <div id="faq" class="block-title" translate>FAQ</div>
    <div class="row pad" ng-if="!$ctrl.isFrench">
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">PERSOONLIJKE GEGEVENS</span></span></span></span></p>
      <p><a name="persoonlijkegegevens"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Ik kan niet meer inloggen. Wat nu?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Controleer of je gegevens correct zijn ingevuld. Opgelet! Let op het gebruik van hoofdletters. Er moeten kleine letters staan waar er kleine letters werden gebruikt bij de registratie. Hetzelfde geldt voor hoofdletters.<br />
Bij blijvende problemen vraag je best je paswoord opnieuw op.</p>
      <p>&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Ik ben mijn wachtwoord vergeten. Hoe krijg ik dit opnieuw toegestuurd? </b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Het volstaat om op de link </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Wachtwoord vergeten?</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"> te klikken en dan je e-mailadres in te geven. Het wachtwoord wordt je per mail toegestuurd.<br />
</span></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">REGISTREREN</span></span></span></span></p>
      <p><a name="registreren1"></a><a name="registreren4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Ik ben een nieuwe speler. Hoe moet ik me registreren?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Je kan jezelf registreren door te klikken op de link ‘registreer”. Vul op de pagina alle gegevens in de daartoe voorziene kadertjes in en bevestig dit. Je ontvangt daarna een bevestigingsmail van je registratie. Je kan ook inloggen via Facebook (gelieve dan telkens ook met Facebook aan te melden).</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Ik heb reeds deelgenomen aan één van de Gouden Spelen: Gouden League, Gouden EK, Gouden Cross, Gouden Klassiekers of Gouden Tour. Moet ik me opnieuw registreren?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Ja, enkel wanneer je deelgenomen hebt aan De Gouden Giro of De Gouden Vuelta, kan je die inloggegevens gebruiken zonder je opnieuw te registreren.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="nl-BE"><u><a href="#faq">Naar boven</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">PLOEG INSCHRIJVEN</span></span></span></span></p>
      <p><a name="ploeginschrijven1"></a><a name="ploeginschrijven2"></a><a name="ploeginschrijven3"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Hoe schrijf ik een geldige ploeg in?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Uit de spelerslijst die ter beschikking staat, dien je 11 basisspelers en 4 bankzitters te selecteren die samen niet meer dan 275 miljoen kosten. Daarnaast mag je niet meer dan 2 spelers van éénzelfde ploeg kiezen. Van de 11 basisspelers die je selecteert, moet je 1 speler aanduiden als kapitein van de ploeg. De kapitein kan je elke speeldag wijzigen doorheen het seizoen. Indien je de kapitein wenst te transfereren, dien je eerst een nieuwe kapitein aan te duiden.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Hoeveel ploegen mag ik inschrijven?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Iedere deelnemer mag zoveel ploegen inschrijven als hij/zij het wenst. Iedere deelname aan De Gouden League dient betaald te worden.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Ik wil een speler opstellen die niet op de lijst staat. Kan dit?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Neen, spelers kunnen alleen worden gekozen uit de spelerslijst van De Gouden League. Op 31 januari zullen we de lijst aanpassen o.b.v. de wintertransfers.</span></span></span></span></p>
      <p><a name="ploeginschrijven4"></a><a name="ploeginschrijven5"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Hoeveel kost het om een ploeg in te schrijven?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Wanneer je via de site je ploegen invoert, betaal je € 7 per ploeg. Ploegen zijn pas geldig wanneer we de betaling effectief hebben ontvangen en zijn telkens aanpasbaar tot de deadline van de speeldag waarvoor ze werden aangemaakt. </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;">&#8211; </span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Op welke manier kan ik betalen voor mijn ploegen?</b></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><br />
</span></span></span></p>
      <ul>
        <li><span><span style="font-size: small;"><span lang="nl-BE">via elektronische betaling (Bancontact)</span></span></span></li>
        <li><span><span style="font-size: small;"><span lang="nl-BE">via online-betaling via de site van KBC en Belfius</span></span></span></li>
        <li><span><span style="font-size: small;"><span lang="nl-BE">via overschrijving. Wanneer je kiest om te betalen via overschrijving, ontvang je van ons op de site en via mail alle gegevens die nodig zijn om de betaling uit te voeren. Uw ploeg(en) zullen dan wel pas ingeschreven zijn als we de betaling hebben ontvangen en daar gaat afhankelijk per bank enige tijd over, met dus het risico dat laattijdige ploegen niet voor de eerstvolgende deadline kunnen meespelen. Daarom raden we aan om de betaling via overschrijving ruim op voorhand te doen. Ploegen kunnen immers nog worden aangepast voor de deadline waarvoor ze werden ingeschreven.</span></span></span></li>
        <li><span><span style="font-size: small;"><span lang="nl-BE">Promotiecodes kunnen recht geven op 1 gratis ploeg ter waarde van 7 euro of op een bepaald kortingsbedrag voor 1 ploeg. Deze code kan u geven na het opmaken van uw ploeg(en) en wordt dan met het tegoed verrekend. </span></span></span><span><span style="font-size: small;">Vergeet je ploeg ook niet te activeren.</span></span></li>
      </ul>
      <p><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><br />
</span></span></span></p>
      <p><a name="ploeginschrijven7"></a><a name="ploeginschrijven8"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Wanneer moet mijn ploeg ingeschreven zijn om mee te spelen vanaf speeldag 1 van De Gouden League?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Inschrijven voor de 1</span></span></span></span><span><sup><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">e</span></span></span></sup></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"> speeldag kan tot dinsdag 12 september om 20u45. Let wel, op dat moment dient de betaling binnen te zijn!</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Kan ik tijdens het voetbalseizoen nog nieuwe ploegen inschrijven?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Je mag tijdens het verloop van het spel nog steeds nieuwe ploegen inschrijven. De deadline om mee te spelen vanaf de eerstvolgende speeldag wordt steeds op de site weergegeven. Je kan extra ploegen inschrijven of wijzigingen (transfers &amp; kapitein) doorvoeren tot de aftrap van de 1</span></span></span></span><span><sup><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">e</span></span></span></sup></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"> CL-wedstrijd van die speeldag.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="nl-BE"><u><a href="#faq">Naar boven</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">SPELERS</span></span></span></span></p>
      <p><a name="renners1"></a><a name="renners3"></a><a name="renners4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Hoe wordt de spelerslijst samengesteld?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Onze sportredactie stelt bij het begin van het voetbalseizoen een spelerslijst samen.Tijdens de wintertransferperiode zal de lijst opnieuw geüpdatet worden.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Ik heb een speler geselecteerd die niet speelt. Wat nu?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Deze speler kan geen punten scoren, maar kan ook geen punten verliezen. Je ploeg blijft wel geldig! Je kan je bankzitters gebruiken om deze speler te wisselen of overgaan tot een transfer.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Kan ik tijdens De Gouden League spelers wisselen?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Met je bankspelers kan je voortdurend voor elke speeldag wissels doorvoeren (tot vlak voor de deadline van de speeldag). Verder beschik je per ingeschreven ploeg over 5 transfers gedurende het spel. </span></span></span></span></p>
      <p><a name="renners5"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Ik heb een ploeg ingeschreven en bevestigd voor de start van De Gouden League. Kan ik deze ploeg nog wijzigen?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Ja kan je ploegen tot vlak voor de deadline die op de site verschijnt wijzigen.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="nl-BE"><u><a href="#faq">Naar boven</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">PUNTENVERDELING</span></span></span></span></p>
      <p><a name="puntenverdeling1"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Hoe kan ik punten scoren met mijn ploeg?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
De puntentelling is gebaseerd op de werkelijke resultaten van de spelers en komt bijgevolg geheel objectief tot stand. Bijgevolg kan je na de wedstrijden al zelf aan het rekenen slaan en je punten van je Gouden League voor die dag uitrekenen.</p>
      <p>Hoe de puntenverdeling juist in zijn werk gaat, lees je hier:</p>
      <p></span></span></span></span></p>
      <table class="table table-responsive">
        <thead>
        <tr class="row m-lg-1 odd">
          <th class="column-1">Actie</th><th class="column-2">Punten</th>
        </tr>
        </thead>
        <tbody class="row m-lg-hover">
        <tr class="row m-lg-2 even">
          <td class="column-1">Kapitein verdubbelt zijn punten</td><td class="column-2">X2</td>
        </tr>
        <tr class="row m-lg-2 even">
          <td class="column-1">Tot 60 minuten gespeeld</td><td class="column-2">1</td>
        </tr>
        <tr class="row m-lg-3 odd">
          <td class="column-1">Meer dan 60 minuten gespeeld</td><td class="column-2">2</td>
        </tr>
        <tr class="row m-lg-4 even">
          <td class="column-1">Elke goal van een doelman</td><td class="column-2">6</td>
        </tr>
        <tr class="row m-lg-5 odd">
          <td class="column-1">Elke goal van een verdediger</td><td class="column-2">6</td>
        </tr>
        <tr class="row m-lg-6 even">
          <td class="column-1">Elke goal van een middenvelder</td><td class="column-2">5</td>
        </tr>
        <tr class="row m-lg-7 odd">
          <td class="column-1">Elke goal van een aanvaller</td><td class="column-2">4</td>
        </tr>
        <tr class="row m-lg-8 even">
          <td class="column-1">Voor elke assist</td><td class="column-2">3</td>
        </tr>
        <tr class="row m-lg-9 odd">
          <td class="column-1">De nul houden voor doelmannen en verdedigers (min. 60 minuten gespeeld)</td><td class="column-2">4</td>
        </tr>
        <tr class="row m-lg-10 even">
          <td class="column-1">De nul houden voor middenvelder (min. 60 minuten gespeeld)</td><td class="column-2">1</td>
        </tr>
        <tr class="row m-lg-11 odd">
          <td class="column-1">Minpunten voor doelmannen en verdedigers voor elke 2 tegendoelpunten</td><td class="column-2">-1</td>
        </tr>
        <tr class="row m-lg-12 even">
          <td class="column-1">Minpunten voor één gele kaart</td><td class="column-2">-1</td>
        </tr>
        <tr class="row m-lg-13 odd">
          <td class="column-1">Minpunten voor een rode kaart (of twee gele)</td><td class="column-2">-3</td>
        </tr>
        <tr class="row m-lg-14 even">
          <td class="column-1">Minpunten voor elke own goal</td><td class="column-2">-2</td>
        </tr>
        <tr class="row m-lg-14 even">
          <td class="column-1">Minpunten voor elk gemiste strafschop</td><td class="column-2">-2</td>
        </tr>
        </tbody>
      </table>
      <p><a name="puntenverdeling2"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Welke wedstrijden komen in aanmerkingen voor De Gouden League?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Alle wedstrijden van de Champions League tellen mee voor De Gouden Leauge. De wedstrijden worden onderverdeeld in 8 speeldagen:</p>
      <p></span></span></span></span></p>
      <table width="742" cellspacing="0" cellpadding="11">
        <colgroup>
          <col width="129" />
          <col width="322" />
          <col width="101" />
          <col width="102" /> </colgroup>
        <tbody>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Speeldag</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Wedstrijden</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Van</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Tot</b></span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">12/sep</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">13/sep</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">2</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">2e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">26/sep</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">27/sep</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">17/okt</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">18/okt</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">31/okt</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1/nov</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">21/nov</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">22/nov</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5/dec</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6/dec</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">7</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1/8e finale</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">13/feb</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><a name="_GoBack"></a><span style="color: #000000;"><span style="font-family: Calibri, serif;">14/mrt</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" rowspan="3" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">8</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Kwartfinale</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3/apr</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Halve finale</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Finale</span></span></p>
          </td>
          <td style="background: #ffffff;" colspan="2" valign="bottom" bgcolor="#ffffff" width="225">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">26/mei</span></span></p>
          </td>
        </tr>
        </tbody>
      </table>
      <p><a name="puntenverdeling3"></a><a name="puntenverdeling4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Een speler uit mijn ploeg is gekwetst of geschorst. Wat nu?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Indien deze speler in je basiselftal staat dan scoort noch verliest deze punten. Je kan hem tot vlak voor deadline wisselen met een speler op de bank of overgaan tot een transfer.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; De uitslag van een wedstrijd wordt herroepen door UEFA. Heeft dit gevolgen voor mijn score?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Wanneer in de loop van de Champions League-competitie door de UEFA of door enig andere bevoegde instantie een beslissing wordt genomen die de scores van voorbije speeldagen zou beïnvloeden, dan wordt hiermee geen rekening gehouden voor De Gouden League.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="nl-BE"><u><a href="#faq">Naar boven</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">KLASSEMENT</span></span></span></span></p>
      <p><a name="klassement1"></a><a name="klassement4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Welke verschillende klassementen zijn er?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Er zijn 4 verschillende soorten klassementen: het dagklassement, het algemene eindklassement, de periodeklassementen en de Superklasses.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Waar vind ik mijn rangschikking terug in het algemene klassement?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Via het menu “klassement” kan je je rangschikking in het klassement raadplegen. Wanneer je ingelogd bent, kan je ook in het overzicht van je ploegen je klassement in het totaal bekijken.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="nl-BE"><u><a href="#faq">Naar boven</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">PRIJZEN</span></span></span></span></p>
      <p><a name="prijzen1"></a><a name="prijzen2"></a><a name="prijzen3"></a><a name="prijzen5"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Welke prijzen kan ik winnen?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Voor de winnaars van elke speeldag worden er prachtige prijzen voorzien. Deze kan je bekijken op de prijzenpagina. Verder zijn er ook nog onze periodeprijzen, een prijzentafel voor de top van het eindklassement. De eindwinnaar wint 5.000 euro cash.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Ik sta met meerdere ploegen tussen de winnaars. Heb ik recht op alle prijzen?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Neen. Per speeldag kan je als deelnemer immers maximaal 1 prijs wegkapen, zijnde de meest waardevolle prijs waarvoor je in aanmerking komt.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Hoe kan ik in aanmerking komen voor het winnen van de periodeprijs?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Telkens wordt de best scorende ploeg gezocht voor 2 periodes: de poulefase (speeldag 1 t.e.m. 6) en de knock-out fase (speeldag 7 &amp; 8). De deelnemer met de hoogste score voor een periode wordt periodekampioen.</p>
      <p>&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>Een andere prijs spreekt mij meer aan. Kan ik deze wisselen?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Neen, het is niet mogelijk om prijzen in te ruilen voor een andere prijs. Naturaprijzen kunnen ook niet worden omgezet in geld.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="nl-BE"><u><a href="#faq">Naar boven</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">SUPERKLASSE</span></span></span></span></p>
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Wat is een superklasse?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Een superklasse is een apart klassement, waar jij je met je vrienden, familieleden, collega&#8217;s of buren kan inschrijven. Door je in deze superklasse in te schrijven, kan jij steeds op eenvoudige manier zien welke van jullie ploegen het beste scoren in De Gouden League-competitie.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Wanneer is een superklasse geldig? </b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Om een superklasse op te richten volstaat het om met minstens 5 verschillende personen (= unieke e-mailadressen) en elk met minstens 1 geldige ploeg te verzamelen die samen in een eigen competitie willen spelen.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><b>&#8211; Zijn er extra prijzen voorzien voor de superklasses?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
Voor de superklasses wordt er een aparte rangschikking voorzien met een eigen prijzentafel. Iedere deelnemer blijft afzonderlijk deelnemen aan De Gouden League en verliest dus geen individuele winstkansen, maar krijgt daarentegen een extra winstmogelijkheid (samen met de andere leden van de superklasse) zonder meer te moeten betalen. De superklasse die op het einde van het seizoen gewonnen heeft, krijgt 250 euro. </span></span></span></span></p>

      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">Een aantal <b>belangrijke zaken omtrent de blanco spelers op een rijtje ...</b></span></span></span></span></p>
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; Elke speler die een <b>nog-deelnemend-CL-team</b> heeft verlaten (=blanco speler) levert 1 blanco transfer op.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; Deze blanco transfer mag je <b>gebruiken wanneer je zelf wil</b>, en moet je dus niet opnemen voor een bepaald moment. Dit doe je door op het blanco-icoon te klikken naast de naam van het speler op de Team-pagina.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">&#8211; Een blanco speler <b>scoort NOOIT punten</b>, maar je team blijft wel geldig als je een blanco speler hebt.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />

      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE">Mogelijke situaties:</span></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE"><b>1) Een speler werd getransfereerd naar een niet (meer)-deelnemende CL-ploeg </b></span></span></span></span></p>
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Het blanco-icoon krijgt een <b>witte achtergrond.</b> Je krijgt 1 blanco(=extra) transfer om deze speler te transfereren.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />

      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="nl-BE"><b>2) Een speler werd getransfereerd naar een andere (nog) deelnemende CL-ploeg </b></span></span></span></span></p>

      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">a) Je hebt reeds het maximum toegestane spelers van zijn nieuwe team</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Het blanco-icoon krijgt een <b>oranje achtergrond</b>. Deze speler scoort géén punten meer tot je:</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">- De nieuwe speler, of één van zijn nieuwe ploegmaats, vervangt door een speler van een ander team. Je krijgt enkel een blanco transfer om de nieuwe speler te vervangen.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />

      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">b) Je hebt het maximum toegestane spelers van zijn nieuwe team niet overschreden</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Het blanco-icoon krijgt een <b>groene achtergrond</b>, maar deze speler scoort géén punten meer tot je:</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">- Aangeeft dat je de speler wil behouden (in z'n nieuwe team</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />
      <p><a name="super1"></a><a name="super2"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">- De speler transfereert voor een andere speler. Je krijgt hiervoor 1 blanco transfer.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE"><br />


    </div>
    <div class="row pad" ng-if="$ctrl.isFrench">
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="fr-FR">DONNÉES PERSONNELLES</span></span></span></span></p>
      <p><a name="persoonlijkegegevens"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Je ne parviens plus à me connecter. Que faire ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Vérifiez si vos données sont introduites correctement. Attention ! Prudence dans l&#8217;utilisation de majuscules. Des minuscules doivent figurer là où des minuscules ont été utilisées lors de l’enregistrement. Même chose pour les majuscules. Si les problèmes persistent, il vaut mieux réinitialiser votre mot de passe.</p>
      <p>&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>J</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>’</b></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>ai oublié mon mot de passe. Comment me le faire renvoyer ? </b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Il suffit de cliquer sur le lien &#8216;Oublié mot de passe ?&#8217;, puis d&#8217;introduire votre adresse e-mail. Le mot de passe vous sera envoyé par mail.</p>
      <p>&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Mon adresse e-mail a changé. Comment la mettre à jour ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
D&#8217;abord, vous vous connectez avec votre ancienne adresse e-mail et votre mot de passe. Vous vous retrouverez alors dans l&#8217;aperçu de vos équipes. En haut de la page, vous avez un bouton avec votre nom et &#8216;Mon profil&#8217;. Il vous permettra de mettre à jour votre adresse e-mail. N&#8217;oubliez surtout pas de confirmer! Dès la prochaine fois, vous pourrez vous connecter avec les nouvelles données.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="http://11dor.7sur7.be/j2ee_g11/faq.action">Retour haut de page</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="fr-FR">ENREGISTRER</span></span></span></span></p>
      <p><a name="registreren1"></a><a name="registreren4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Je suis un nouveau joueur. Comment m&#8217;enregistrer ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Dans le coin supérieur droit de la page d&#8217;accueil vous pouvez vous connecter via Facebook ou en cliquant registrer&#8217; Sur la page en question, introduisez toutes les données dans les champs prévus à cet effet et confirmez. Vous recevrez ensuite un e-mail confirmant votre enregistrement. </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>J&#8217;ai déjà participé à un des Jeux d&#8217;Or : League d’or, Euro d&#8217;Or, Cross d&#8217;Or, Classiques d&#8217;Or, ou Tour d&#8217;Or. Dois-je m&#8217;enregistrer à nouveau ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Oui, seulement quand vous avez participé au Giro d’or ou Vuelta d’or, vous ne devez plus enregistrer.</span></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="fr-FR">INSCRIRE SON ÉQUIPE</span></span></span></span></p>
      <p><a name="ploeginschrijven1"></a><a name="ploeginschrijven2"></a><a name="ploeginschrijven3"></a><a name="ploeginschrijven4"></a><a name="ploeginschrijven5"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Comment inscrire une équipe valide ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Dans la liste des joueurs mise à votre disposition, vous devez sélectionner un 11 de base et 4 remplaçants. Ensemble, ils ne peuvent pas coûter plus de 275 millions. En outre, vous ne pouvez pas choisir plus de 2 joueurs d’une même équipe. Parmi les 11 titulaires sélectionnés, vous devez en désigner un qui portera le brassard de capitaine de l’équipe. Vous pouvez changer de capitaine lors de chaque journée et ce tout au long de la saison.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Combien d&#8217;équipes puis-je inscrire ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Chaque participant est libre d’inscrire autant d&#8217;équipes qu&#8217;il ou elle veut. Chaque participation au League d’or doit être payée.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Je souhaite faire jouer un joueur qui ne figure pas dans la liste. Est-ce possible ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Non, vous ne pouvez choisir des joueurs qu’au départ de la liste des joueurs du League d&#8217;Or. Si vous reprenez dans votre équipe un joueur qui ne figure pas dans cette liste, votre équipe sera considérée non valide. </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Combien cela coûte-t-il d&#8217;inscrire une équipe ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Quand vous introduisez vos équipes via le site, vous bénéficiez des tarifs suivants : vous payez € 7 par équipe.</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"></p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;">&#8211; </span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Comment puis-je payer pour mes équipes ?</b></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><br />
</span></span></span></p>
      <ul>
        <li><span><span style="font-size: small;"><span lang="fr-FR">Par paiement électronique (Bancontact)</span></span></span></li>
        <li><span><span style="font-size: small;"><span lang="fr-FR">Par paiement en ligne via le site de KBC ou Belfius</span></span></span></li>
        <li><span><span style="font-size: small;"><span lang="fr-FR">Par virement. Si vous choisissez de payer par virement, nous vous communiquerons sur le site et par courrier électronique toutes les données nécessaires pour procéder au paiement. Si vous choisissez pour &#8216;virement&#8217; vos équipes seront seulement valable quand nous auront reçu le montant de participation. Tenez donc compte du risque (la période de traitement de votre banque) que votre équipe ne pourra pas participer dès la journée suivante. C</span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">’</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR">est pour cette raison qu</span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">’</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR">on vous conseille de payer vos </span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">é</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR">quipes bien en avance si vous d</span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">é</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR">sirez les payer avec un virement. Puisque les </span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">é</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR">quipes inscritent peuvent </span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">ê</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR">tre modifier jusqu</span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">’à</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR"> la date et l</span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">’</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR">heure limite de la journ</span></span></span><span><span style="font-family: 'Times New Roman', serif;"><span style="font-size: small;"><span lang="fr-FR">é</span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR">e pour laquelle vous voulez les inscrire.</span></span></span></li>
        <li><span><span style="font-size: small;"><span lang="fr-FR">Des codes promotionnels peuvent donner droit à 1 équipe gratuite d&#8217;une valeur de 7 euros ou à une réduction spécifique pour 1 équipe. Vous pouvez introduire le code en question après avoir créé votre/vos équipe(s). </span></span></span><span><span style="font-size: small;">Il sera intégré à ce qui est dû .</span></span></li>
      </ul>
      <p><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><br />
</span></span></span></p>
      <p><a name="ploeginschrijven7"></a><a name="ploeginschrijven8"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Quand mon équipe doit-elle être inscrite pour participer dès la première journée ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Les inscriptions seront acceptées jusqu’au départ du premier match de la journée.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Puis-je encore inscrire de nouvelles équipes dans le courant de la saison ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Dans le courant du jeu, vous pourrez toujours encore inscrire de nouvelles équipes. La date limite de participation à partir de la prochaine journée est toujours affichée sur le site. Vous pourrez toujours inscrire ou modifier des équipes jusqu&#8217;au départ du premier match de cette journée de la Champions League.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="http://11dor.7sur7.be/j2ee_g11/faq.action">Retour haut de page</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="fr-FR">JOUEURS</span></span></span></span></p>
      <p><a name="renners1"></a><a name="renners3"></a><a name="renners4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Comment la liste des joueurs est-elle constituée ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
À l’entame de la saison de football, notre rédaction sportive établit une liste des joueurs.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; J</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>’</b></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>ai sélectionné un joueur qui ne joue pas. Que faire ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Ce joueur ne peut pas marquer de points, mais il ne peut pas non plus en perdre. Votre équipe, elle, reste valide ! Vous pouvez faire appel à vos remplaçants pour relayer le joueur en question ou procéder à un transfert.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Puis-je changer des joueurs pendant le League d’or ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Avec les joueurs qui se trouvent sur le banc, vous pouvez continuellement procéder à des remplacements avant chaque journée (jusque tout juste avant l’heure limite de la journée). De plus vous avez droit à 5 transferts par équipe pendant le jeu. Chaque transfert entre en vigueur à partir de la journée suivante. </span></span></span></span></p>
      <p><a name="renners5"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; J&#8217;ai inscrit et confirmé une équipe avant le début du League d’or. Puis-je encore modifier cette équipe ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Oui, vous pouvez modifier vos équipes jusque juste avant l’heure limite, indiquer sur le site.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="http://11dor.7sur7.be/j2ee_g11/faq.action">Retour haut de page</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="fr-FR">DISTRIBUTION DES POINTS</span></span></span></span></p>
      <p><a name="puntenverdeling1"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Comment marquer des points avec mon équipe ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Le score est basé sur les résultats réels des joueurs et se calcule donc de manière tout à fait objective. Après les rencontres, vous pouvez dès lors vous-même vous mettre à calculer les points de votre League d’or pour la journée en question.</p>
      <p>Voici comment se fait exactement l</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;">’</span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">attribution des points :</p>
      <p></span></span></span></span></p>
      <table width="911" cellspacing="0" cellpadding="11">
        <colgroup>
          <col width="804" />
          <col width="62" /> </colgroup>
        <tbody>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Action</b></span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Points</b></span></span></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Capitaine double ces points</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62"><span style="color: #000000;"><span style="font-family: Calibri, serif;">X2</span></span></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">60 minutes joué</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Plus que 60 minutes joué</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">2</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">But d&#8217;un gardien</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">But d&#8217;un defenseur</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">But d&#8217;un milieu</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">But d&#8217;un attaquant</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Assist</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">Clean sheet gardiens &amp; défenseurs (min. 60 minutes joué)</span></span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">But d&#8217;un milieu (min. 60 minutes joué)</span></span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Point négatif pour des gardiens et défenseurs pour un but contre</span></span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">-1</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Carton jaune</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">-1</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Carton rouge</span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">-3</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="text-decoration: line-through;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Minpunten voor elke own goal</span></span></span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="text-decoration: line-through;"><span style="font-family: Arial, serif;"><span style="font-size: small;">-2</span></span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="text-decoration: line-through;"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="nl-BE">Minpunten voor elk gemiste strafschop</span></span></span></span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="text-decoration: line-through;"><span style="font-family: Arial, serif;"><span style="font-size: small;">-2</span></span></span></p>
          </td>
        </tr>
        </tbody>
      </table>
      <p><a name="puntenverdeling2"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Quels sont les matchs qui entrent en ligne de compte pour Le League d’or ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Il y 8 journées.<br />
</span></span></span></span></p>
      <table width="742" cellspacing="0" cellpadding="11">
        <colgroup>
          <col width="129" />
          <col width="322" />
          <col width="101" />
          <col width="102" /> </colgroup>
        <tbody>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Journée</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Matches</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>De</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>à</b></span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">1e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">12/sep</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">13/sep</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">2</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">2e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">26/sep</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">27/sep</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">3e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">17/oct</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">18/oct</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">4e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">31/oct</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1/nov</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">5e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">21/nov</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">22/nov</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">6e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5/dec</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6/dec</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">7</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"> <span style="font-family: Calibri, serif;">8es de finale</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">13/fev</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">14 mrs</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" rowspan="3" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">8</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Quarts de finale</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3/avr</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Demi-finales</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Finale</span></span></p>
          </td>
          <td style="background: #ffffff;" colspan="2" valign="bottom" bgcolor="#ffffff" width="225">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">26/mai</span></span></p>
          </td>
        </tr>
        </tbody>
      </table>
      <p><a name="puntenverdeling3"></a><a name="puntenverdeling4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Un joueur de mon équipe est blessé ou suspendu. Que faire ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Si ce joueur figure dans votre onze de base, il ne marquera ni ne perdra de points. Vous pouvez le remplacer par un substitut ou procéder à un transfert jusque juste avant l&#8217;heure limite.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Le résultat d</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>’</b></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>un match est révoqué par l</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>’</b></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>URBSFA. Cela a-t-il un impact sur mon score ? </b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Si dans le courant de la Champions League une décision est prise par l’UEFA ou quelque autre instance compétente qui influencerait les scores de journées précédentes, il n&#8217;en sera pas tenu compte pour &#8216;Le League d’or&#8217;.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="http://11dor.7sur7.be/j2ee_g11/faq.action">Retour haut de page</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="fr-FR">CLASSEMENT</span></span></span></span></p>
      <p><a name="klassement1"></a><a name="klassement4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Quels différents classements y a-t-il ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Il existe 4 types de classements différents : le classement du jour, le classement final général, les classements par période et les Super divisions.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Oû puis-je retrouver ma place dans le classement général ? </b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Via le menu &#8216;Classement&#8217;, vous pouvez retrouver votre position dans le classement. Lorsque vous êtes connecté(e), vous pouvez aussi visionner votre classement par journée et global dans l&#8217;aperçu de vos équipes.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><u><a href="http://11dor.7sur7.be/j2ee_g11/faq.action">Retour haut de page</a></u></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;">PRIX</span></span></span></p>
      <p><a name="prijzen1"></a><a name="prijzen2"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Quels prix puis-je remporter ? </b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Des prix magnifiques sont prévus pour les vainqueurs de chaque journée. Vous pouvez les admirer dans la page des prix. En outre, il y a aussi nos prix périodiques, une cagnotte pour le top du classement final et une cagnotte séparée pour les super divisions (par journée et classement final). Le vainqueur final gagne 5.000 euros en espèces.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Je figure parmi les gagnants avec plusieurs équipes. Ai-je droit à tous les prix ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Non. Par journée, vous ne pouvez en effet vous adjuger qu’un seul prix maximum, à savoir le prix le plus précieux pour lequel vous entrez en ligne de compte.</span></span></span></span></p>
      <p><a name="prijzen3"></a><a name="prijzen5"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
</span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Comment entrer en ligne de compte pour le gain du prix périodique ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
À chaque fois, l’équipe avec le meilleur score est identifiée pour chaque période : Phase de groupes (journée 1 à 6), phase knock-out (journée 7 &amp; 8)</p>
      <p>&#8211; </span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>Un autre prix m’intéresse davantage. Puis-je échanger ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Non, il n’est pas possible d’échanger des prix contre un autre prix. Les prix en nature ne peuvent pas non plus être convertis en espèces.</span></span></span></span></p>
      <p><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="http://11dor.7sur7.be/j2ee_g11/faq.action">Retour haut de page</a></u></span></span></span></p>
      <p><span><span style="font-family: Helvetica, serif;"><span style="font-size: x-large;"><span lang="fr-FR">SUPER DIVISION</span></span></span></span></p>
      <p><a name="super1"></a><a name="super2"></a><a name="super5"></a><a name="super4"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Qu’est-ce qu’une super division ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Une super division est un classement séparé pour lequel vous pouvez vous inscrire avec vos amis, proches, collègues et voisins. En vous inscrivant dans une telle super division, vous pourrez toujours voir en un clin d&#8217;’il lesquelles de vos équipes marquent le plus de points dans la compétition du League d’or.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Quand une super division est-elle valide ? </b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Pour créer une super division, il suffit de réunir au moins 5 personnes différentes, chacune avec au moins 1 équipe valide, qui soient prêtes à jouer ensemble dans une compétition domestique.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Comment relier mon équipe à une super division via le site ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Après l&#8217;inscription de votre équipe vous allez vous trouvez automatiquement sur la page super division oû vous pouvez créer une super division, relier vos équipes à une super division et inviter vos vos amis, proches, collègues et voisins pour particper dans votre super division.</p>
      <p></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><b>&#8211; Des prix dédiés sont-ils prévus pour les super divisions ?</b></span></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"><br />
Un classement séparé est prévu pour les super divisions, doté d’une propre cagnotte. Chaque participant continue à concourir pour &#8216;Le League d’or&#8217; et ne perd donc aucune chance de gain individuelle. Au contraire, il ou elle obtient une chance de gain supplémentaire (avec les autres membres de la super division) sans devoir payer plus. La super division qui l’emporte à la fin de la saison, reçoit € 250. </span></span></span></span></p>
    </div>
  </div>
</div>