<!-- JOIN TO LEAGUE -->
<div class="block" ng-if="$ctrl.isGlobalLeague">
  <div class="block-title" translate>Join cycling league</div>
  <div class="pad">
    <p translate>This cycling team is does not belongs to a custom league. Paste the invite link bellow to join one.</p>
    <input ng-model="$ctrl.inviteURL"
           ng-change="$ctrl.processInviteURL()"
           type="text"
           placeholder="{{'Invite Link'|translate}}"
           class="input form-control">

    <div class="invite-league" ng-if="$ctrl.inviteLeague">
      <h5>{{$ctrl.inviteLeague.name}} {{$ctrl.inviteLeague.competition_feed|flag}}</h5>
      <button ng-click="$ctrl.joinLeague()" class="btn" translate>Join this cycling league</button>
    </div>
  </div>

  <cycling-league-table squad="$ctrl.squad"
                        enable-league-selection="$ctrl.enableLeagueSelection"
                        league="$ctrl.league"
                        is-global-league="$ctrl.isGlobalLeague"
                        global-league-ids="$ctrl.globalLeagueIds"
                        competition-feed="$ctrl.competitionFeed"
                        season-id="$ctrl.seasonId"></cycling-league-table>
</div>

<div class="block" ng-if="$ctrl.isGlobalLeague">
  <div class="block-title" translate>Create your peloton</div>
  <div class="pad">
    <div class="row">
      <div class="col-md-8">
        <input ng-model="$ctrl.newLeagueName"
               type="text"
               placeholder="{{'Cycling league name'|translate}}"
               class="input form-control">
      </div>
      <div class="col-md-4">
        <button ng-click="$ctrl.createLeague()"
                ng-disabled="$ctrl.newLeagueName.length < 1"
                class="btn btn-sm btn-primary mt-7p pull-right"
                translate>
          Create your peloton
        </button>
      </div>
    </div>
  </div>
</div>

<div class="block" ng-if="!$ctrl.isGlobalLeague">
  <div class="block-title">{{$ctrl.squad.Team.League.name}}</div>

  <div class="row">
    <div class="col-md-12">
      <div class="pull-right pad">
        <div class="form-group no-margin">
          <div class="select">
            <select
                    ng-change="$ctrl.gameWeekChanged()"
                    ng-model="$ctrl.currentDisplayWeek"
                    ng-options="week.label for week in $ctrl.deadlineWeeksOptions"></select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th translate>Team</th>
        <!--<th translate>Player</th>-->
        <th translate>Points</th>
      </tr>
      </thead>
      <tbody ng-if="$ctrl.currentDisplayWeek.id === 0">
      <tr dir-paginate="team in $ctrl.leagueStandings | itemsPerPage: $ctrl.displayItems | orderBy:'-Team.points'"
          total-items="$ctrl.totalRecords"
          current-page="$ctrl.pagination.current">
        <td>{{$ctrl.pagination.current > 1 ? ($ctrl.displayItems * ($ctrl.pagination.current - 1)) + ($index+1) :
          $index+1}}
        </td>
        <td class="public-1">
          <a ng-if="$ctrl.league.League.League.status > 2" href ui-sref="squadTeam({id: $ctrl.team.Team.Team.id})"
             ng-class="{'text-bold': team.Team.belongsToCurrentUser}">{{team.name}}</a>
          <span ng-class="{'text-bold': team.Team.belongsToCurrentUser}"
                ng-if="$ctrl.league.League.League.status <= 2">
              <span ng-if="!team.Team.visible">
                {{team.Team.name}}
              </span>
              <a href
                 ng-click="$ctrl.goToTeam(team.Team.id)"
                 class="visible-ranking-team"
                 ng-if="team.Team.visible">{{team.Team.name}}</a>
          </span>
          <br/>
          <small><em>{{team.User.first_name + ' ' + team.User.last_name}}</em></small>
        </td>
        <td class="public-1">{{team.Team.points}}</td>
      </tr>
      </tbody>
      <tbody ng-if="$ctrl.currentDisplayWeek.id > 0">
      <tr dir-paginate="team in $ctrl.leagueStandings | itemsPerPage: $ctrl.displayItems | orderBy:'-Matchstat.points'"
          total-items="$ctrl.totalRecords"
          current-page="$ctrl.pagination.current">
        <td>{{$ctrl.pagination.current > 1 ? ($ctrl.displayItems * ($ctrl.pagination.current - 1)) + ($index+1) :
          $index+1}}
        </td>
        <td class="public-1">
          <a ng-if="$ctrl.league.League.League.status > 2" href ui-sref="squadTeam({id: $ctrl.team.Team.Team.id})"
             ng-class="{'text-bold': team.Team.belongsToCurrentUser}">{{team.name}}</a>
          <span ng-class="{'text-bold': team.Team.belongsToCurrentUser}"
                ng-if="$ctrl.league.League.League.status <= 2">{{team.Team.name}}</span>
          <br/>
          <small><em>{{team.User.first_name + ' ' + team.User.last_name}}</em></small>
        </td>
        <td class="public-1">{{team.Matchstat.points}}</td>
      </tr>
      </tbody>
    </table>
    <dir-pagination-controls
            on-page-change="$ctrl.onPageChange(newPageNumber)"
            boundary-links="true">
    </dir-pagination-controls>
  </div>

  <div class="row mt-10p" ng-if="$ctrl.firstWeek">
    <div class="col-md-12">
      <button class="btn btn-sm btn-danger pull-right"
              ng-click="$ctrl.leaveCompetition()"
              style="margin: 0 10px 20px 0;"
              translate>
        Leave competition
      </button>
    </div>
  </div>
</div>


<!-- SHARE -->
<div class="block" ng-if="$ctrl.league.League.League.status < 2 && !$ctrl.isGlobalLeague">
  <div class="block-title" translate>Share</div>

  <section class="pad" id="league-share">
    <p translate>Invite others to your cycling league by sharing the code below or link with them!</p>
    <p>Code: <strong>{{$ctrl.league.invite}}</strong></p>

    <input id="shareLink" class="input form-control" value="{{$ctrl.shareLink}}">
    <button class="btn btn-sm" ngclipboard data-clipboard-target="#shareLink" translate>
      Copy to clipboard
    </button>

    <!-- <div class="fb-share-button" data-href="https://fanarena.com" data-layout="button" data-size="large" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffanarena.com" translate>Share on Facebook</a>
    </div> -->
  </section>
</div>

<div class="row" ng-if="$ctrl.promoBannerURL">
  <div class="col-md-12">
    <div class="promo-widget mt-10p">
        <a ng-href={{$ctrl.promoBannerURL}}>
          <img style="width: 100%" ng-src="{{$ctrl.promoBannerImage}}" />
        </a>
      </div>
    </div>
</div>