<subnav-tab id="1">
<div class="block">
  <div class="block-title" translate>Player</div>
  
  <div class="player-detail player-list pad">
    <div class="player-avatar">

      <img ng-if="$ctrl.showJerseys" ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.player.Club.Club.id}}.png" class="jersey">

      <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{$ctrl.player.Club.Club.infostrada_id}}.png" class="jersey">
      <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{$ctrl.player.Player.Player.id}}.png" fallback-src="/images/portrait-dummy.png" class="portrait">
      <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{$ctrl.player.Club.Club.infostrada_id}}.png" class="club">
    </div>
    <div class="player-info">
      <div class="name">{{$ctrl.player.Player.Player.name}}</div>
      <div class="position" ng-class="{'player-gk': $ctrl.player.Player.Player.position_id == 1, 'player-def': $ctrl.player.Player.Player.position_id == 2, 'player-mf': $ctrl.player.Player.Player.position_id == 3, 'player-fwd': $ctrl.player.Player.Player.position_id == 4}">{{$ctrl.player.Player.Position.name}}
        <div class="club">{{$ctrl.player.Player.Club.name}}</div>
      </div>
    </div>

    <button ng-click="$ctrl.toggleMock()" class="btn btn-shortlist">
      <span ng-show="$ctrl.player.Player.Mock.length == 0" translate>Add to shortlist</span>
      <span ng-show="$ctrl.player.Player.Mock.length > 0" translate>Remove from shortlist</span>
      &nbsp;&nbsp;
      <i class="icon" ng-class="{'icon-star':$ctrl.player.Player.Mock.length == 0, 'icon-starred':$ctrl.player.Player.Mock.length > 0}"></i></button>
  </div>
</div>
</subnav-tab>

<subnav-tab id="2">
<div class="block player-club">
  <div class="block-title">{{$ctrl.player.Club.Club.name}}</div>
  <div class="player-list zebra limit-5">
    <div ng-repeat="player in $ctrl.player.Club.Player | filter:isActivePlayer | orderBy:'position_id'" class="player" ng-class="{'active':$ctrl.player.Player.Player.infostrada_id == player.infostrada_id}">
      <a href ui-sref="teamPlayer({playerId:player.id})" class="player-avatar">

        <img ng-if="$ctrl.showJerseys" ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.player.Club.Club.id}}.png" class="jersey">
        <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{::$ctrl.player.Club.Club.infostrada_id}}.png" class="jersey">
        <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{::player.id}}.png" fallback-src="/images/portrait-dummy.png" class="portrait">
        <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{::$ctrl.player.Club.Club.infostrada_id}}.png" class="club">
      </a>
      <a href ui-sref="teamPlayer({playerId:player.id})" class="player-info">
        <div class="name">{{::player.name}}</div>
        <div class="position" ng-class="{'player-fwd':player.Player.position_id==4,'player-mf':player.Player.position_id==3,'player-def':player.Player.position_id==2,'player-gk':player.Player.position_id==1}">{{::player.Position.name_nl}}
          <div class="club">{{::$ctrl.player.Club.Club.name}}</div>
        </div>
      </a>
    </div>
  </div>
</div>
</subnav-tab>

<subnav-tab id="3">
<div class="block full player-stats">
  <div class="block-title">Stats</div>
  <section ng-show="$ctrl.player.Player.Stat.length > 0" class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th translate>Day</th>
          <th translate>Match</th>
          <th translate>Time</th>
          <th translate>Goals</th>
          <th translate>Assists</th>
          <th translate ng-if="$ctrl.player.Player.Player.position_id == 1 || $ctrl.player.Player.Player.position_id == 2">Conceeded</th>
          <th translate>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stat in $ctrl.player.Player.Stat | orderBy:$ctrl.sortStats">
          <td>{{stat.Match.week_id}}</td>
          <td><a href ui-sref="match({matchId: stat.Match.feed_id})">{{stat.Match.Home.name}} - {{stat.Match.Away.name}}</a></td>
          <td>{{stat.value.time}}</td>
          <td>{{stat.value.goals.length}}</td>
          <td>{{stat.value.assists.length}}</td>
          <td ng-if="$ctrl.player.Player.Player.position_id == 1 || $ctrl.player.Player.Player.position_id == 2">{{stat.value.conceeded.length}}</td>
          <td>{{stat.value.points}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <div ng-show="$ctrl.player.Player.Stat.length == 0" class="pad">
    <p translate>No stats available for this player</p>
  </div>
</div>

<div class="block full player-upcoming">
  <div class="block-title" translate>Upcoming matches</div>
  <section ng-show="$ctrl.player.Upcoming.length > 0" class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th translate>Day</th>
          <th translate>Competitor</th>
          <th translate>Home/Away</th>
          <th translate>Date</th>
          <th translate>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="club in $ctrl.player.Upcoming">
          <td>{{club.Match.week_id}}</td>
          <td>
            <span ng-if="club.Away.id !== $ctrl.player.Club.Club.id">{{club.Away.name}}</span>
            <span ng-if="club.Home.id !== $ctrl.player.Club.Club.id">{{club.Home.name}}</span>
          </td>
          <td>
            <span ng-if="club.Home.id !== $ctrl.player.Club.Club.id" translate>Away</span>
            <span ng-if="club.Away.id !== $ctrl.player.Club.Club.id" translate>Home</span>
          </td>
          <td>{{club.Match.date | momentDate:'DD/MM/YYYY'}}</td>
          <td>{{club.Match.date | momentDate:'HHumm'}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <div ng-show="$ctrl.player.Upcoming.length == 0" class="pad">
    <p translate>No upcoming matches for this player</p>
  </div>
</div>
</subnav-tab>