<div class="container">
  <div class="layout">
    <div class="row">
      <div class="col-md-12">

        <div class="block">
          <div class="block-title" translate>
            Step 2: Superklasse
          </div>

          <div class="pad">
            <div class="row">
              <div class="col-xs-12">
                <ul class="tab-select">
                  <li ng-class="{'active': $ctrl.activeTab === 1}" ng-click="$ctrl.setActiveTab(1)"><a translate>Geen
                    Superklasse</a></li>
                  <li ng-class="{'active': $ctrl.activeTab === 3}" ng-click="$ctrl.setActiveTab(3)"><a translate>Maak
                    een Superklasse</a></li>
                  <li ng-class="{'active': $ctrl.activeTab === 2}" ng-click="$ctrl.setActiveTab(2)"><a translate>Neem
                    deel aan bestaande Superklasse</a></li>
                </ul>
              </div>
            </div>

            <div class="row" style="margin: 20px auto;">
              <div class="col-xs-8">
                <p translate>Een superklasse is een apart klassement, waar jij je met je vrienden, familieleden,
                  collega’s of buren kan inschrijven. Superklasses kennen een aparte prijzenpot.</p>
              </div>
              <div class="col-xs-4"><img style="max-width: 100%; max-height: 150px;"
                                         src="/images/cycling/giro-platoon.png"/></div>
            </div>

            <div class="row" ng-if="$ctrl.activeTab === 1">
              <div class="col-xs-12">
                <button ng-click="$ctrl.saveTeam()" class="btn btn-large create" translate>Save team</button>
              </div>
            </div>

            <div class="row" ng-if="$ctrl.activeTab === 2">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="invite-code-input" translate>Received an invite code?</label>
                  <input ng-model="$ctrl.invite" ng-change="$ctrl.inviteCodeChanged()" type="text"
                         id="invite-code-input"
                         placeholder="{{'Put your invite code here'|translate}}" class="input form-control" required>
                </div>
                <div class="invite-league" ng-if="$ctrl.inviteLeague">
                  <h5>{{$ctrl.inviteLeague.name}} {{$ctrl.inviteLeague.competition_feed|flag}}</h5>
                  <button ng-click="$ctrl.joinInviteLeague()" class="btn" translate>Meedoen aan Superklasse</button>
                </div>
              </div>
            </div>

            <div class="row" ng-if="$ctrl.activeTab === 3">
              <div class="col-xs-12">
                <form name="$ctrl.frmCreateLeague" novalidate>
                  <div class="form-group">
                    <label translate>Superklasse naam</label>
                    <input ng-model="$ctrl.createLeagueName" type="text"
                           placeholder="{{'Vul superklasse naam in'|translate}}" class="input form-control"
                           required>
                  </div>
                  <button ng-click="$ctrl.createLeague()" type="submit" class="btn btn-md" translate>Maak jouw
                    superklasse
                  </button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>