<div class="player-list zebra">
  <div dir-paginate="player in $ctrl.players | filter:q:strict | filter:$ctrl.customFilter | orderBy:'-Player.value' | itemsPerPage: 10"
       class="player"
       current-page="$ctrl.pagination.current"
       ng-click="$ctrl.onPlayerClick(player)">
    <a class="player-avatar"
       ng-if="$ctrl.showJerseys"
       ng-class="{
                 'player-gk': !$ctrl.hidePositionBackground && player.Player.position_id== 1,
                 'player-def': !$ctrl.hidePositionBackground && player.Player.position_id == 2,
                 'player-mf': !$ctrl.hidePositionBackground && player.Player.position_id== 3,
                 'player-fwd': !$ctrl.hidePositionBackground && player.Player.position_id== 4
                 }">

      <img ng-if="$ctrl.localAssets" ng-src="{{$ctrl.assetsURL}}/jerseys/{{::player.Club.id}}.png"
           class="jersey">
      <img ng-if="!$ctrl.localAssets"
           ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{::player.Club.id}}.png"
           fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
           class="jersey">
    </a>

    <a class="player-avatar"
       ng-if="!$ctrl.showJerseys">
      <img ng-src="{{$ctrl.assetsURL}}/players/player_{{player.Player.id}}.png"
           fallback-src="/images/portrait-dummy.png" class="portrait">
      <img ng-src="{{$ctrl.clubAssetsURL}}/{{player.Club.infostrada_id}}.png"
           class="club">
    </a>
    <img ng-if="$ctrl.getPlayerStatus(player)"
         ng-src="images/status/{{$ctrl.getPlayerStatus(player)}}.png"
         class="player-status-icon players-list-status">
    <a href ng-click="$ctrl.goToPlayer(player)" class="player-info football-player-info">
      <div class="col-md-8 col-xs-12">

        <div class="name">{{::player.Player.short}}</div>
        <div class="position player">
          <div class="club">{{::player.Club.short}}</div>
          <span ng-class="{
                  'player-gk': player.Player.position_id== 1,
                  'player-def': player.Player.position_id == 2,
                  'player-mf': player.Player.position_id== 3,
                  'player-fwd': player.Player.position_id== 4}"
          >
                    {{$ctrl.getPositionNameById(player.Player.position_id)}}
                  </span>
        </div>
      </div>
      <div class="col-md-2 col-xs-12">
                  <span class="worth">
                    {{player.Player.value|currency:'€':0}}
                  </span>
      </div>
      <div class="col-md-2 col-xs-12" ng-if="$ctrl.isPickable && $ctrl.pick">
        <a href ng-show="$ctrl.isPickable(player)" ng-click="$ctrl.pick(player)"
           class="btn btn-sm btn-primary pull-right"
           translate>Pick</a>
      </div>
    </a>
  </div>
  <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
</div>