<div class="block">
  <div class="block-title" translate>
    <span translate>Speeldag</span> {{$ctrl.deadlineWeek}}</span>
  </div>
  <div class="deadline-counter-home">
    <!--<p><span ng-bind-html="$ctrl.stageFeedURL"></span></p>-->
    <h4>START
      <timer end-time="$ctrl.deadlineDate">
        <span ng-show="days > 0"> {{days}}d</span>
        {{hours}}u {{minutes}}m {{seconds}}sec
      </timer>
    </h4>
  </div>
</div>