<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="block-title" translate>Reglement</div>
    <div ng-repeat="rule in $ctrl.rules track by $index">
      <div ng-bind-html="rule"></div>
    </div>
  </div>
</div>
