<div class="pad">
  <div class="row row-content mt-10p">
    <div class="block full" ng-if="$ctrl.starting.length">
      <div class="time-pager">
        <a ng-click="$ctrl.changePlayDate('prev')" href class="prev"
           ng-class="{'disabled':$ctrl.currentDisplayWeek.week_id == 1}"><i class="icon icon-prev"></i></a>
        <div class="label"><span translate>Speeldag </span> {{$ctrl.currentDisplayWeek.week_id}} - {{$ctrl.currentDisplayWeek.feed_url}}</div>
        <a ng-click="$ctrl.changePlayDate('next')" href class="next"><i class="icon icon-next"></i></a>
      </div>
    </div>
  </div>

  <div class="row row-content">
    <!-- LEFT -->
    <div class="col-sm-12 col-md-6">
      <div class="block" ng-if="$ctrl.inviteTeam">
        <div class="block-title" translate> Buddy </div>

        <div class="invite-league">
          <div class="row pad">
            <div class="col-md-12">
              <h5> Want
                <i class="icon icon-schumy"></i>
                {{$ctrl.inviteTeam.Team.name}}
                as your buddy?
              </h5>
            </div>
            <div class="col-md-12">
              <div class="pull-right">
                <button class="btn btn-small" ng-click="$ctrl.saveBuddy()">Yes</button>
                <button class="btn btn-small" ng-click="$ctrl.cancelBuddy()">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <formula-one-lineup
              block-title="Your team"
              starting="$ctrl.starting"
              show-rules="true"
              selected-items="$ctrl.selectedItems">
      </formula-one-lineup>
    </div>

    <!-- RIGHT -->
    <div class="col-sm-12 col-md-6">
      <div class="block">
        <div class="row">
          <div class="col-md-12">
            <ul class="tab-select">
              <li class="col-md-6" ng-class="{'active-tab': $ctrl.itemsListActiveTab === 1}"
                  ng-click="$ctrl.setItemsActiveTab(1)"><a href><span translate><i
                      class="fa fa-info-circle"></i> Info</span></a>
              </li>
              <li class="col-md-6" ng-class="{'active-tab': $ctrl.itemsListActiveTab === 2}"
                  ng-click="$ctrl.setItemsActiveTab(2)"><a href><span translate><i
                      class="fa fa-calendar"></i> Calendar</span></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div ng-if="$ctrl.itemsListActiveTab === 1" class="col-md-12">
            <f1-match-info match="$ctrl.currentDisplayWeek"
                           buddy-points="$ctrl.buddyPoints"
                           buddy-team="$ctrl.buddyTeam"
                           invite-buddy-link="$ctrl.inviteBuddyURL"
                           team="$ctrl.team"
            ></f1-match-info>
          </div>
          <div ng-if="$ctrl.itemsListActiveTab === 2" class="col-md-12">
            <f1-calendar display-week="$ctrl.currentDisplayWeek"
                         hide-title="true"
                         show-select="true"
                         team="$ctrl.team"
                         deadline-weeks="$ctrl.deadlineWeeks"
                         competition-feed="$ctrl.squad.Team.League.competition_feed"></f1-calendar>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
