<div class="main-content pad">
  <div class="layout">
    <div id="faq" class="block-title" translate>FAQ</div>
    <div class="row pad" ng-if="!$ctrl.isFrench">
      <h5>Persoonlijke gegevens</h5>
      <p>– <strong>Ik kan niet meer inloggen. Wat nu?</strong><br>
        Controleer of je gegevens correct zijn ingevuld. Opgelet! Let op het gebruik van hoofdletters. Er moeten kleine letters staan waar er kleine letters werden gebruikt bij de registratie. Hetzelfde geldt voor hoofdletters.<br>
        Bij blijvende problemen vraag je best je paswoord opnieuw op.</p>
      <p>– <strong>Ik ben mijn wachtwoord vergeten. Hoe krijg ik dit opnieuw toegestuurd? </strong><br>
        Je klikt op “Paswoord vergeten” op de homepagina daar waar je normaal inlogt. Het volstaat om hierop te klikken en dan je e-mailadres in te geven. Het paswoord wordt je per mail toegestuurd.</p>
      <p>– <strong>Ik wens mijn paswoord/e-mailadres te wijzigen. Hoe doe ik dit?</strong><br>
        Je meldt je eerst aan met je oude e-mailadres en je paswoord. Ga vervolgens naar jouw profiel en wijzig je paswoord en/of e-mailadres.</p>
      <p><a onclick="scroll(0,0)" href="/faq" >Naar boven</a></p>
      <h5>Registreren</h5>
      <p>– <strong>Ik ben een nieuwe speler. Hoe moet ik me registreren?</strong><br>
        Bovenaan onder de blauwe balk klik je op <strong><u>registreer</u></strong>.</p>
      <p>– <strong>Ik heb reeds deelgenomen aan één van de Gouden Spelen: Gouden 11, Gouden Cross, Gouden Klassiekers, Gouden Tour of Gouden EK. Moet ik me opnieuw registreren?</strong><br>
        Ja. Dit is een nieuw platform waardoor élke speler zich 1x opnieuw dient te registreren. Eens je je 1x geregistreerd hebt, kan je je gewoon inloggen met je e-mailadres en gekozen paswoord.</p>
      <p><a onclick="scroll(0,0)" href="/faq" >Naar boven</a></p>
      <h5>Ploeg inschrijven</h5>
      <p>– <strong>Hoe schrijf ik een geldige ploeg in?</strong><br>
        Uit de rennerslijst die ter beschikking staat, dien je <strong>15 renners</strong> te kiezen die samen niet meer dan <strong>275 miljoen</strong> kosten en niet meer dan <strong>2 renners van dezelfde ploeg</strong> bevatten. Duid ook een <strong>superkopman</strong> aan onder je 15 renners. Deze kan je elke speeldag wijzigen.</p>
      <p>– <strong>Hoeveel ploegen mag ik inschrijven?</strong><br>
        Iedere deelnemer mag zoveel ploegen inschrijven als hij/zij het wenst. Iedere deelname aan De Gouden Vuelta dient betaald te worden om geldig te zijn en in aanmerking te komen voor prijzen.</p>
      <p>– <strong>Ik wil een renner opstellen die niet op de lijst staat. Kan dit?</strong><br>
        Neen, renners kunnen alleen worden gekozen uit de rennerslijst van De Gouden Vuelta. Indien je een speler in je ploeg opneemt die niet voorkomt op deze lijst, wordt je ploeg als ongeldig beschouwd.</p>
      <p>– <strong>Hoeveel kost het om een ploeg in te schrijven?</strong><br>
        Een deelname kost <strong>7 euro/ploeg</strong> .</p>
      <p>– <strong>Op welke manier kan ik betalen voor mijn ploegen?</strong></p>
      <p><em>Online</em>:<br>
        Via online-betaling via de site van KBC en Belfius. Indien je een andere bank verkiest kan je kiezen voor Bancontact/Mister Cash.</p>
      <p><em>Via overschrijving</em>:<br>
        Betaal in dit geval zeker ruim op voorhand want ploegen zijn pas geldig wanneer we het deelnamebedrag effectief hebben ontvangen. Je kan je ploeg(en) steeds tot vlak voor de deadline waarvoor ze zijn ingeschreven aanpassen.</p>
      <p>LET OP! Indien mogelijk raden we je aan om je betaling online uit te voeren. Ploegen zijn immers pas geldig als we het deelnamebedrag hebben ontvangen. Via overschrijvingsformulier kunnen we laattijdige inschrijvingen niet garanderen.</p>
      <p><em>Promotiecode:</em><br>
        Promotiecodes kunnen recht geven op 1 gratis ploeg (twv 7euro) afhankelijk van de vermelding bij de promotiecode. Deze code kan u ingeven na het opmaken van uw ploeg(en) en wordt dan met het tegoed verrekend.</p>
      <p><strong>– Wanneer moet mijn ploeg ingeschreven zijn om mee te spelen vanaf speeldag 1 van de Gouden Vuelta?</strong><br>
        Inschrijven kan tot vlak voor de eerste deadline van <strong>zaterdag 19 augustus om 12u</strong>, mits online betaling. Een betaling via overschrijving dient u een aantal dagen op voorhand te doen om zeker te zijn dat wij het bedrag van uw deelname tijdig ontvangen. Uw ploeg is pas actief op het moment dat uw betaling op onze rekening staat. Uw ploeg(en) kunnen nog steeds worden aangepast tot vlak voor de deadline.</p>
      <p><strong>– Kan ik tijdens de Vuelta (Gouden Vuelta) nog nieuwe ploegen inschrijven?</strong><br>
        Je mag tijdens het verloop van het spel nog steeds nieuwe ploegen inschrijven. De deadline om mee te spelen vanaf de eerstvolgende speeldag wordt steeds op de site weergegeven. Hou ook hier rekening met de tijdige betaling. Ploegen kunnen tot vlak voor de deadline worden aangepast ook indien ze reeds eerder werden betaald. Zo bent u zeker op tijd.</p>
      <p><a onclick="scroll(0,0)" href="/faq" >Naar boven</a></p>
      <h5>Renners</h5>
      <p>– <strong>Hoe wordt de rennerslijst samengesteld?</strong><br>
        Onze sportredactie stelt voor het begin van het seizoen een rennerslijst samen op basis van de informatie die op dat moment voor handen is. Pas na de 1e deadline passen we onze rennerslijst aan volgens de effectieve startlijst van de Ronde van Spanje 2017. Voordien worden er géén renners verwijderd uit de lijst, ookal is bekend dat hij niet zal starten.</p>
      <p>– <strong>Een renner wordt niet in de lijst opgenomen. Kan ik deze selecteren?</strong><br>
        Een renner die niet in onze rennerslijst voorkomt, kan je niet selecteren voor je ploeg.</p>
      <p><strong>– Ik heb een renner geselecteerd die niet rijdt. Wat nu?</strong><br>
        Deze renner kan geen punten scoren. Je ploeg blijft wel geldig!</p>
      <p><strong>– Kan ik tijdens De Gouden Vuelta renners wisselen?</strong><br>
        Ja, het is mogelijk om 1 transfer/ploeg te doen tijdens het spel.</p>
      <p><strong>– Ik heb een ploeg ingeschreven en bevestigd voor de start van De Gouden Vuelta. Kan ik deze ploeg nog wijzigen?</strong><br>
        Je kan een ploeg steeds wijzigen tot vlak voor de deadline waarvoor deze werd ingeschreven, ook al werd de ploeg reeds betaald.</p>
      <p><a onclick="scroll(0,0)" href="/faq" >Naar boven</a></p>
      <h5>Puntenverdeling</h5>
      <p><strong>– Hoe kan ik punten scoren met mijn ploeg?</strong><br>
        De puntentelling is gebaseerd op de werkelijke resultaten van de renners en komt bijgevolg geheel objectief tot stand. Bijgevolg kan je na de ritten al zelf aan het rekenen slaan en de punten van je Gouden Vuelta-ploeg(en) voor die dag uitrekenen. Hoe de puntenverdeling juist in zijn werk gaat, lees je hier.</p>
      <p>Punten voor de <strong>eerste 30 renners</strong> in de uitslag van een rit in de Vuelta:</p>
      <div class="table-responsive"><table class="table table-striped">
        <tbody>
        <tr>
          <td><strong>plaats</strong></td>
          <td><strong>punten</strong></td>
          <td><strong>plaats</strong></td>
          <td><strong>punten</strong></td>
        </tr>
        <tr>
          <td>1ste plaats</td>
          <td>50 punten</td>
          <td>16de plaats</td>
          <td>15 punten</td>
        </tr>
        <tr>
          <td>2de plaats</td>
          <td>40 punten</td>
          <td>17de plaats</td>
          <td>14 punten</td>
        </tr>
        <tr>
          <td>3de plaats</td>
          <td>32 punten</td>
          <td>18de plaats</td>
          <td>13 punten</td>
        </tr>
        <tr>
          <td>4de plaats</td>
          <td>28 punten</td>
          <td>19de plaats</td>
          <td>12 punten</td>
        </tr>
        <tr>
          <td>5de plaats</td>
          <td>26 punten</td>
          <td>20ste plaats</td>
          <td>11 punten</td>
        </tr>
        <tr>
          <td>6de plaats</td>
          <td>25 punten</td>
          <td>21ste plaats</td>
          <td>10 punten</td>
        </tr>
        <tr>
          <td>7de plaats</td>
          <td>24 punten</td>
          <td>22ste plaats</td>
          <td>9 punten</td>
        </tr>
        <tr>
          <td>8de plaats</td>
          <td>23 punten</td>
          <td>23ste plaats</td>
          <td>8 punten</td>
        </tr>
        <tr>
          <td>9de plaats</td>
          <td>22 punten</td>
          <td>24ste plaats</td>
          <td>7 punten</td>
        </tr>
        <tr>
          <td>10de plaats</td>
          <td>21 punten</td>
          <td>25ste plaats</td>
          <td>6 punten</td>
        </tr>
        <tr>
          <td>11de plaats</td>
          <td>20 punten</td>
          <td>26ste plaats</td>
          <td>5 punten</td>
        </tr>
        <tr>
          <td>12de plaats</td>
          <td>19 punten</td>
          <td>27ste plaats</td>
          <td>4 punten</td>
        </tr>
        <tr>
          <td>13de plaats</td>
          <td>18 punten</td>
          <td>28ste plaats</td>
          <td>3 punten</td>
        </tr>
        <tr>
          <td>14de plaats</td>
          <td>17 punten</td>
          <td>29ste plaats</td>
          <td>2 punten</td>
        </tr>
        <tr>
          <td>15de plaats</td>
          <td>16 punten</td>
          <td>30ste plaats</td>
          <td>1 punt</td>
        </tr>
        </tbody>
      </table></div>
      <p>Punten voor de <strong>eerste 10 ploegen</strong> in de uitslag van een <strong>ploegentijdrit</strong> (elke renner van de ploeg die de ploegentijdrit uitreed):</p>
      <div class="table-responsive"><table class="table table-striped">
        <tbody>
        <tr>
          <td><strong>plaats</strong></td>
          <td><strong>punten</strong></td>
        </tr>
        <tr>
          <td>1ste plaats</td>
          <td>25 punten</td>
        </tr>
        <tr>
          <td>2de plaats</td>
          <td>20 punten</td>
        </tr>
        <tr>
          <td>3de plaats</td>
          <td>17 punten</td>
        </tr>
        <tr>
          <td>4de plaats</td>
          <td>16 punten</td>
        </tr>
        <tr>
          <td>5de plaats</td>
          <td>15 punten</td>
        </tr>
        <tr>
          <td>6de plaats</td>
          <td>14 punten</td>
        </tr>
        <tr>
          <td>7de plaats</td>
          <td>13 punten</td>
        </tr>
        <tr>
          <td>8de plaats</td>
          <td>12 punten</td>
        </tr>
        <tr>
          <td>9de plaats</td>
          <td>11 punten</td>
        </tr>
        <tr>
          <td>10de plaats</td>
          <td>10 punten</td>
        </tr>
        </tbody>
      </table></div>
      <p><strong>Superkopman</strong><br>
        Via de <strong>superkopman</strong> die u gekozen heeft kan u ook extra punten scoren: Deze verdient immers 15 punten extra wanneer hij op de 1e plaats eindigt in de rit. Voor een 2e plaats in de rit krijgt de superkopman 10 punten extra, en voor een 3e plaats ontvangt hij 5 punten extra. Bij de ploegentijdrit kunnen er geen punten voor superkopman verdiend worden.</p>
      <p><strong>Assistentie</strong><br>
        Alle renners uit de ploeg van de winnaar die in een rit aan de start komen, krijgen 5 punten indien zij de rit gestart zijn.. Deze punten krijgen zij echter niet als de rit een individuele tijdrit is.</p>
      <p><strong>Opgave</strong><br>
        Een renner die uitvalt door opgave, door na de toegestane tijd binnen te rijden, door ongeval of door welk feit ook dat hem het verder zetten van De Ronde van Spanje belet, krijgt 1 minpunt voor de rit waarin hij uitvalt en voor elke volgende rit waarin hij niet aan de start komt. Deze punten worden integraal in rekening gebracht op de dag waarop de renner opgeeft of niet meer start. Na het uitvallen kan die renner geen punten meer winnen noch verliezen.</p>
      <p><strong>Rode trui (= leider algemeen klassement)</strong><br>
        De renner die op het einde van een rit de rode trui pakt, krijgt voor de betreffende rit 5 punten extra.</p>
      <p><strong>Groene trui </strong><br>
        De renner die op het einde van een rit de groene trui pakt, krijgt voor de betreffende rit 3 punten extra.</p>
      <p><strong>Bolletjestrui </strong><br>
        De renner die op het einde van een rit de bolletjestrui pakt, krijgt voor de betreffende rit 3 punten extra.</p>
      <p><em>Overzicht:</em></p>
      <div class="table-responsive"><table class="table table-striped">
        <tbody>
        <tr>
          <td width="33%"><strong>Type punten</strong></td>
          <td width="33%"><strong>Normale rit</strong></td>
          <td width="33%"><strong>Tijdrit</strong></td>
        </tr>
        <tr>
          <td width="33%">Top 30 uitslag</td>
          <td width="33%">X</td>
          <td width="33%">X</td>
        </tr>
        <tr>
          <td width="33%">Superkopman</td>
          <td width="33%">X</td>
          <td width="33%">X</td>
        </tr>
        <tr>
          <td width="33%">Opgave</td>
          <td width="33%">X</td>
          <td width="33%">X</td>
        </tr>
        <tr>
          <td width="33%">Assistentie</td>
          <td width="33%">X</td>
          <td width="33%">n.v.t.</td>
        </tr>
        <tr>
          <td width="33%">Rode trui</td>
          <td width="33%">X</td>
          <td width="33%">X</td>
        </tr>
        <tr>
          <td width="33%">Groene trui</td>
          <td width="33%">X</td>
          <td width="33%">n.v.t.</td>
        </tr>
        <tr>
          <td width="33%">Bolletjestrui</td>
          <td width="33%">X</td>
          <td width="33%">n.v.t</td>
        </tr>
        </tbody>
      </table></div>
      <p><strong>Eindklassement (na laatste rit)</strong>: Op het einde van de Ronde van Spanje krijgen de top 30 renners in de officiële uitslag (klassement rode trui) onderstaande punten extra toegekend. Pas na het toekennen van deze punten worden de eindwinnaars van de Gouden Vuelta bepaald.</p>
      <div class="table-responsive"><table class="table table-striped">
        <tbody>
        <tr>
          <td><strong>plaats</strong></td>
          <td><strong>punten</strong></td>
          <td><strong>plaats</strong></td>
          <td><strong>punten</strong></td>
        </tr>
        <tr>
          <td>1ste plaats</td>
          <td>75 punten</td>
          <td>16de plaats</td>
          <td>15 punten</td>
        </tr>
        <tr>
          <td>2de plaats</td>
          <td>63 punten</td>
          <td>17de plaats</td>
          <td>14 punten</td>
        </tr>
        <tr>
          <td>3de plaats</td>
          <td>55 punten</td>
          <td>18de plaats</td>
          <td>13 punten</td>
        </tr>
        <tr>
          <td>4de plaats</td>
          <td>50 punten</td>
          <td>19de plaats</td>
          <td>12 punten</td>
        </tr>
        <tr>
          <td>5de plaats</td>
          <td>46 punten</td>
          <td>20ste plaats</td>
          <td>11 punten</td>
        </tr>
        <tr>
          <td>6de plaats</td>
          <td>42 punten</td>
          <td>21ste plaats</td>
          <td>10 punten</td>
        </tr>
        <tr>
          <td>7de plaats</td>
          <td>38 punten</td>
          <td>22ste plaats</td>
          <td>9 punten</td>
        </tr>
        <tr>
          <td>8de plaats</td>
          <td>34 punten</td>
          <td>23ste plaats</td>
          <td>8 punten</td>
        </tr>
        <tr>
          <td>9de plaats</td>
          <td>30 punten</td>
          <td>24ste plaats</td>
          <td>7 punten</td>
        </tr>
        <tr>
          <td>10de plaats</td>
          <td>26 punten</td>
          <td>25ste plaats</td>
          <td>6 punten</td>
        </tr>
        <tr>
          <td>11de plaats</td>
          <td>24 punten</td>
          <td>26ste plaats</td>
          <td>5 punten</td>
        </tr>
        <tr>
          <td>12de plaats</td>
          <td>22 punten</td>
          <td>27ste plaats</td>
          <td>4 punten</td>
        </tr>
        <tr>
          <td>13de plaats</td>
          <td>20 punten</td>
          <td>28ste plaats</td>
          <td>3 punten</td>
        </tr>
        <tr>
          <td>14de plaats</td>
          <td>18 punten</td>
          <td>29ste plaats</td>
          <td>2 punten</td>
        </tr>
        <tr>
          <td>15de plaats</td>
          <td>16 punten</td>
          <td>30ste plaats</td>
          <td>1 punten</td>
        </tr>
        </tbody>
      </table></div>
      <p><strong>Eindklassement Groene Trui (na laatste rit)</strong>: Op het einde van de Ronde van Spanje krijgen de top 15 renners in het officiële sprintklassement (klassement groene trui) onderstaande punten extra toegekend:</p>
      <div class="table-responsive"><table class="table table-striped">
        <tbody>
        <tr>
          <td><strong>plaats</strong></td>
          <td><strong>punten</strong></td>
        </tr>
        <tr>
          <td>1ste plaats</td>
          <td>50 punten</td>
        </tr>
        <tr>
          <td>2de plaats</td>
          <td>46 punten</td>
        </tr>
        <tr>
          <td>3de plaats</td>
          <td>42 punten</td>
        </tr>
        <tr>
          <td>4de plaats</td>
          <td>38 punten</td>
        </tr>
        <tr>
          <td>5de plaats</td>
          <td>34 punten</td>
        </tr>
        <tr>
          <td>6de plaats</td>
          <td>30 punten</td>
        </tr>
        <tr>
          <td>7de plaats</td>
          <td>26 punten</td>
        </tr>
        <tr>
          <td>8de plaats</td>
          <td>22 punten</td>
        </tr>
        <tr>
          <td>9de plaats</td>
          <td>18 punten</td>
        </tr>
        <tr>
          <td>10de plaats</td>
          <td>14 punten</td>
        </tr>
        <tr>
          <td>11de plaats</td>
          <td>10 punten</td>
        </tr>
        <tr>
          <td>12de plaats</td>
          <td>7 punten</td>
        </tr>
        <tr>
          <td>13de plaats</td>
          <td>5 punten</td>
        </tr>
        <tr>
          <td>14de plaats</td>
          <td>3 punten</td>
        </tr>
        <tr>
          <td>15de plaats</td>
          <td>1 punten</td>
        </tr>
        </tbody>
      </table></div>
      <p><strong>Eindklassement Bolletjestrui (na laatste rit)</strong>: Op het einde van de Ronde van Spanje krijgen de top 15 renners in het officiële bergklassement (klassement bolletjestrui) onderstaande punten extra toegekend:</p>
      <div class="table-responsive"><table class="table table-striped">
        <tbody>
        <tr>
          <td><strong>plaats</strong></td>
          <td><strong>punten</strong></td>
        </tr>
        <tr>
          <td>1ste plaats</td>
          <td>50 punten</td>
        </tr>
        <tr>
          <td>2de plaats</td>
          <td>46 punten</td>
        </tr>
        <tr>
          <td>3de plaats</td>
          <td>42 punten</td>
        </tr>
        <tr>
          <td>4de plaats</td>
          <td>38 punten</td>
        </tr>
        <tr>
          <td>5de plaats</td>
          <td>34 punten</td>
        </tr>
        <tr>
          <td>6de plaats</td>
          <td>30 punten</td>
        </tr>
        <tr>
          <td>7de plaats</td>
          <td>26 punten</td>
        </tr>
        <tr>
          <td>8de plaats</td>
          <td>22 punten</td>
        </tr>
        <tr>
          <td>9de plaats</td>
          <td>18 punten</td>
        </tr>
        <tr>
          <td>10de plaats</td>
          <td>14 punten</td>
        </tr>
        <tr>
          <td>11de plaats</td>
          <td>10 punten</td>
        </tr>
        <tr>
          <td>12de plaats</td>
          <td>7 punten</td>
        </tr>
        <tr>
          <td>13de plaats</td>
          <td>5 punten</td>
        </tr>
        <tr>
          <td>14de plaats</td>
          <td>3 punten</td>
        </tr>
        <tr>
          <td>15de plaats</td>
          <td>1 punten</td>
        </tr>
        </tbody>
      </table></div>
      <p><strong>Welke wedstrijden komen in aanmerkingen voor De Gouden Vuelta?</strong><br>
        Hieronder vind je een overzicht van de ritten die in aanmerking komen voor De Gouden Vuelta:</p>
      <div class="table-responsive"><table class="table table-striped">
        <tbody>
        <tr>
          <td><strong>Dag</strong></td>
          <td><strong>Datum</strong></td>
          <td><strong>Speeldag</strong></td>
          <td><strong>Rit</strong></td>
          <td><strong>Etappe</strong></td>
          <td><strong>Type</strong></td>
          <td><strong>Extra klassement</strong></td>
        </tr>
        <tr>
          <td>Za</td>
          <td>19/08/2017</td>
          <td rowspan="2">1</td>
          <td>1</td>
          <td>Nimes › Nimes (TTT)</td>
          <td>Ploegentijdrit</td>
          <td></td>
        </tr>
        <tr>
          <td>Zo</td>
          <td>20/08/2017</td>
          <td>2</td>
          <td>Nîmes › Gruissan</td>
          <td>Vlak</td>
          <td>Sprint</td>
        </tr>
        <tr>
          <td>Ma</td>
          <td>21/08/2017</td>
          <td>2</td>
          <td>3</td>
          <td>Prades Conflent Canigo › Andorra la Vella</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Di</td>
          <td>22/08/2017</td>
          <td>3</td>
          <td>4</td>
          <td>Escaldes-Engordany › Tarragona</td>
          <td>Vlak</td>
          <td>Sprint</td>
        </tr>
        <tr>
          <td>Woe</td>
          <td>23/08/2017</td>
          <td>4</td>
          <td>5</td>
          <td>Benicàssim › Alcossebre</td>
          <td>Heuvel</td>
          <td></td>
        </tr>
        <tr>
          <td>Do</td>
          <td>24/08/2017</td>
          <td>5</td>
          <td>6</td>
          <td>Vila-Real › Sagunt</td>
          <td>Heuvel</td>
          <td></td>
        </tr>
        <tr>
          <td>Vrij</td>
          <td>25/08/2017</td>
          <td>6</td>
          <td>7</td>
          <td>Llíria › Cuenca</td>
          <td>Vlak</td>
          <td>Sprint</td>
        </tr>
        <tr>
          <td>Za</td>
          <td>26/08/2017</td>
          <td rowspan="2">7</td>
          <td>8</td>
          <td>Hellín › Xorret de Catí</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Zo</td>
          <td>27/08/2017</td>
          <td>9</td>
          <td>Orihuela › Cumbre del Sol</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Ma</td>
          <td>28/08/2017</td>
          <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
          <td>Di</td>
          <td>29/08/2017</td>
          <td>8</td>
          <td>10</td>
          <td>Caravaca Jubilar › Elpozo Alimentacion</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Woe</td>
          <td>30/08/2017</td>
          <td>9</td>
          <td>11</td>
          <td>Lorca › Observatorio Astronómico de Calar Alto</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Do</td>
          <td>31/08/2017</td>
          <td>10</td>
          <td>12</td>
          <td>Motril › Antequera Los Dólmenes</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Vrij</td>
          <td>01/09/2017</td>
          <td>11</td>
          <td>13</td>
          <td>Coín › Tomares</td>
          <td>Vlak</td>
          <td>Sprint</td>
        </tr>
        <tr>
          <td>Za</td>
          <td>02/09/2017</td>
          <td rowspan="2">12</td>
          <td>14</td>
          <td>Écija › Sierra de La Pandera</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Zo</td>
          <td>03/09/2017</td>
          <td>15</td>
          <td>Alcala La Real › Sierra Nevada. Alto Hoya de la Mora</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Ma</td>
          <td>04/09/2017</td>
          <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
          <td>Di</td>
          <td>05/09/2017</td>
          <td>13</td>
          <td>16</td>
          <td>Circuito de Navarra › Logroño (ITT)</td>
          <td>Tijdrit</td>
          <td></td>
        </tr>
        <tr>
          <td>Woe</td>
          <td>06/09/2017</td>
          <td>14</td>
          <td>17</td>
          <td>Villadiego › Los Machucos. Monumento Vaca Pasiega</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Do</td>
          <td>07/09/2017</td>
          <td>15</td>
          <td>18</td>
          <td>Suances › Santo Toribio de Liébana</td>
          <td>Heuvel</td>
          <td></td>
        </tr>
        <tr>
          <td>Vrij</td>
          <td>08/09/2017</td>
          <td>16</td>
          <td>19</td>
          <td>Caso. Parque Natural de Redes › Gijon</td>
          <td>Heuvel</td>
          <td></td>
        </tr>
        <tr>
          <td>Za</td>
          <td>09/09/2017</td>
          <td rowspan="2">17</td>
          <td>20</td>
          <td>Corvera de Asturias › Alto de L'Angliru</td>
          <td>Berg</td>
          <td>Berg</td>
        </tr>
        <tr>
          <td>Zo</td>
          <td>10/09/2017</td>
          <td>21</td>
          <td>Arroyomolinos › Madrid</td>
          <td>Vlak</td>
          <td>Sprint</td>
        </tr>
        <tr>
          <td>Zo</td>
          <td>10/09/2017</td>
          <td>18</td>
          <td></td>
          <td>Bonus Eindklassementen</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table></div>
      <strong>– Een renner uit mijn ploeg is gekwetst of geschorst. Wat nu?</strong><br>
      Deze renner kan geen punten scoren. Je ploeg blijft wel geldig!</p>
      <p><strong>– De uitslag van een wedstrijd wordt herroepen door de UCI of een andere bevoegde instantie. Heeft dit gevolgen voor mijn score?</strong><br>
        Wanneer in de loop van de Ronde van Spanje door de organisatie of door enige andere bevoegde instantie een beslissing wordt genomen die de scores van de voorbije speeldag zou beïnvloeden en dit gebeurt na 19 u, dan wordt hiermee geen rekening gehouden voor deze dagscore maar wordt er met de gewijzigde uitslag en /of sanctie rekening gehouden voor het totaalklassement van De Gouden Vuelta.</p>
      <p><a onclick="scroll(0,0)" href="/faq" >Naar boven</a></p>
      <h5>Klassement</h5>
      <p><strong>– Welke verschillende klassementen zijn er?</strong><br>
        Er zijn <strong>4 verschillende soorten klassementen: het speeldagklassement, het algemene eindklassement en de extra klassementen ‘Sprint’ en ‘Berg’</strong>. Tot het extra klassement <strong>‘Sprint’</strong> behoren de ritten (niet speeldagen opgelet!): xxx. Het extra klassement <strong>‘Berg’</strong> is dan weer een combinatie van de ritten (niet speeldagen opgelet!): xxx.</p>
      <p><strong>– Waar vind ik mijn rangschikking terug in het algemene klassement?</strong><br>
        Via het menu-item ‘Klassement’ kan je je rangschikking in het klassement raadplegen.Wanneer je ingelogd bent, kan je ook in het overzicht van je ploegen je klassement per speeldag en in het totaal bekijken.</p>
      <p><a onclick="scroll(0,0)" href="/faq" >Naar boven</a></p>
      <h5>Prijzen</h5>
      <p><strong>– Welke prijzen kan ik winnen?</strong><br>
        Voor de winnaars van elke speeldag worden er prachtige prijzen voorzien. Deze kan je bekijken op de prijzenpagina (Menu Prijzen).</p>
      <p><strong>– Ik sta met meerdere ploegen tussen de winnaars. Heb ik recht op alle prijzen?</strong><br>
        Neen. Per speeldag kan je als deelnemer immers maximaal 1 prijs wegkapen, zijnde de meest waardevolle prijs waarvoor je in aanmerking komt.</p>
      <p>– <strong>Een andere prijs spreekt mij meer aan. Kan ik deze wisselen?</strong><br>
        Neen, het is niet mogelijk om prijzen in te ruilen voor een andere prijs. Naturaprijzen kunnen ook niet worden omgezet in geld.</p>
    </div>
    <div class="row pad" ng-if="$ctrl.isFrench">
      <p><strong>Données personnelles</strong></p>
      <p>– <strong>Je ne parviens plus à me connecter. Que faire ?</strong><br>
        Contrôlez si vos données ont été correctement complétées. Attention! Vérifiez si la fonction majuscule n’est pas enclenchée. Les lettres doivent être en minuscule si elles sont enregistrées sous cette forme dans le registre. De la même manière, si certaines lettres ont été enregistrées sous leur forme majuscule, il faudra les taper en majuscules.<br>
        Après ces vérifications, essayez à nouveau d’introduire votre mot de passe.</p>
      <p>– <strong>J</strong><strong>’</strong><strong>ai oublié mon mot de passe. Comment me le faire renvoyer ? </strong><br>
        Vous cliquez sur “Oublier le mot de passe” sur le homepage là ou vous vous connectez normalement. Il suffira de cliquer sur ce lien et d’entrer votre adresse e-mail. Le mot de passe vous sera ensuite envoyé par mail.</p>
      <p>– <strong>Mon adresse e-mail a changé. Comment la mettre à jour ?</strong><br>
        Vous devez d’abord entrer en inscrivant votre ancienne adresse mail et votre mot de passe. Ensuite vous pouvez changer votre adresse e-mail dans votre profil.</p>
      <p>– <strong>Je souhaite modifier mon mot de passe. Comment faire ?</strong><br>
        Vous devez d’abord entrer en inscrivant votre ancienne adresse mail et votre mot de passe. Ensuite vous pouvez changer votre adresse e-mail dans votre profil.<br>
        <strong>Enregistrer</strong></p>
      <p>– <strong>Je suis un nouveau joueur. Comment m’enregistrer ?</strong><br>
        Sur le homepage, vous cliquez sur ‘enregistrer’</p>
      <p>– <strong>J’ai déjà participé à un des Jeux d’Or : 11 d’Or, Cross d’Or, Classiques d’Or, ou Tour d’Or. Dois-je m’enregistrer à nouveau ?</strong><br>
        Oui. Chaque participant doit s’enregistrer de nouveau une fois. Après vous pouvez se connecter avec l’adresse e-mail et mot de passe.</p>
      <p>&nbsp;</p>
      <p><strong>Inscrire son équipe</strong></p>
      <p>– <strong>Comment inscrire une équipe valide ?</strong><br>
        Sélectionner 15 coureurs qui, ensemble, ne coûtent pas plus de 275 millions avec un maximum de 2 coureurs de la même équipe.</p>
      <p>– <strong>Combien d’équipes puis-je inscrire ?</strong><br>
        Chaque participant peut inscrire autant d’équipes qu’il désire. Chaque participation au Vuelta d’Or doit être payée.</p>
      <p><strong>– Je souhaite faire jouer un coureur qui ne figure pas dans la liste. Est-ce possible ?</strong><br>
        Non. Les coureurs peuvent seulement être choisis dans la liste proposée sur le site du Vuelta d’Or. Si vous prenez un coureur dans votre équipe qui ne se trouve pas dans cette liste, votre équipe n’est pas considérée comme valable.</p>
      <p>– <strong>Combien cela coûte-t-il d’inscrire une équipe ?</strong><br>
        Pour une participation pour toute la durée du Vuelta d’Or vous payez 7 euros.</p>
      <p>– <strong>Comment puis-je payer pour mes équipes ?</strong></p>
      <p><em>En ligne:</em></p><em>
    </em><p><em></em>Par paiement en ligne via le site de CBC, ING ou Belfius</p>
      <p><em>Par virement</em>: Lorsque vous choisissez le paiement par virement on vous conseille de effectuer le paiement quelques jour en avance. Car vos équipes seront , seront seulement valable quand nous auront reçu le montant de participation. Tenez donc compte du risque (la période de traitement de votre banque) que votre équipe ne pourra pas participer dès la journée suivante. peuvent être modifier jusqu’à la date et l’heure limite de la journée pour laquelle vous voulez les inscrire.</p>
      <p><em>Code promotionel</em>: des codes promotionnels peuvent donner droit à 1 équipe gratuite d’une valeur de 7 euros. Vous pouvez introduire le code en question après avoir créé votre/vos équipe(s). Il sera intégré à ce qui est dû.</p>
      <p><strong>– Quand mon équipe doit-elle être inscrite pour participer dès la première journée ?</strong><br>
        Pour participer dès le premier jour de jeu du Vuelta d’Or, vous devez inscrire vos équipes avant le <strong>samedi 19 août à 12h</strong> si vous payez en ligne. Lorsque vous choisissez le paiement par virement on vous conseille de effectuer le paiement quelques jour en avance. Car vos équipes seront seulement valable quand nous auront reçu le montant de participation. Tenez donc compte du risque (la période de traitement de votre banque) que votre équipe ne pourra pas participer dès la journée suivante. Vos équipes peuvent être modifier jusqu’à la date et l’heure limite de la journée pour laquelle vous voulez les inscrire.</p>
      <p><strong>– Puis-je encore inscrire de nouvelles équipes dans le courant de la saison ?</strong><br>
        Pendant le déroulement du jeu,<strong>&nbsp;</strong>vous pouvez encore introduire ou inscrire de nouvelles équipes. La date limite est indiquée sur le site web pour inscrire votre équipe pour le jour de jeu suivant. Vos équipes peuvent être modifier jusqu’à la date et l’heure limite de la journée pour laquelle vous voulez les inscrire.</p>
      <p>&nbsp;</p>
      <p><strong>Coureurs</strong></p>
      <p>– <strong>Comment la liste des coureurs est-elle constituée ?</strong><br>
        Au début de la saison, la rédaction sportive compose une liste des coureurs. Les coureurs qui ne se trouvent pas sur notre liste au lancement du ‘Vuelta d’Or’ ne peuvent pas être sélectionnés pour votre équipe.</p>
      <p><strong>– J</strong><strong>’</strong><strong>ai sélectionné un coureur qui ne roule pas. Que faire ?</strong><br>
        Un coureur qui n’est pas présent sur notre liste, ne peut pas être sélectionné pour votre équipe. Lorsque vous inscrivez une équipe avec ce coureur, votre équipe est considérée comme invalable.</p>
      <p><strong>– Puis-je changer des coureurs pendant le Vuelta d’Or ?</strong><br>
        Oui, vous avez droit à 1 transfert/équipe pendant le jeu.</p>
      <p><strong>– J’ai inscrit et confirmé une équipe avant le début du Vuelta d’Or. Puis-je encore modifier cette équipe ?</strong><br>
        Une équipe qui a été inscrite peut être modifier jusqu’à la date et l’heure limite de la journée pour laquelle vous voulez l’ inscrire, même si vous l’avez déjà payé.</p>
      <p><strong>Distribution des points</strong></p>
      <p><strong>– Comment marquer des points avec mon équipe ?</strong><br>
        La répartition des points est basée sur les vrais résultats des coureurs et par conséquent il en va de même pour le classement. Dès lors vous pouvez, après les courses, faire vous-mêmes le calcul des points de votre équipe(s) pour chaque jour de jeu du Vuelta d’Or. Les points sont attribués de la façon suivante:</p>
      <p>Des points pour les <strong>30 premiers coureurs </strong> dans une étape du Tour d'Espagne:</p>
      <p>&nbsp;</p>
      <table width="82%">
        <tbody>
        <tr>
          <td width="25%"><strong>position</strong></td>
          <td width="25%"><strong>points</strong></td>
          <td width="25%"><strong>position</strong></td>
          <td width="25%"><strong>points</strong></td>
        </tr>
        <tr>
          <td>1e place</td>
          <td>50 points</td>
          <td>16e place</td>
          <td>15 points</td>
        </tr>
        <tr>
          <td>2e place</td>
          <td>40 points</td>
          <td>17e place</td>
          <td>14 points</td>
        </tr>
        <tr>
          <td>3e place</td>
          <td>32 points</td>
          <td>18e place</td>
          <td>13 points</td>
        </tr>
        <tr>
          <td>4e place</td>
          <td>28 points</td>
          <td>19e place</td>
          <td>12 points</td>
        </tr>
        <tr>
          <td>5e place</td>
          <td>26 points</td>
          <td>20e place</td>
          <td>11 points</td>
        </tr>
        <tr>
          <td>6e place</td>
          <td>25 points</td>
          <td>21e place</td>
          <td>10 points</td>
        </tr>
        <tr>
          <td>7e place</td>
          <td>24 points</td>
          <td>22e place</td>
          <td>9 points</td>
        </tr>
        <tr>
          <td>8e place</td>
          <td>23 points</td>
          <td>23e place</td>
          <td>8 points</td>
        </tr>
        <tr>
          <td>9e place</td>
          <td>22 points</td>
          <td>24e place</td>
          <td>7 points</td>
        </tr>
        <tr>
          <td>10e place</td>
          <td>21 points</td>
          <td>25e place</td>
          <td>6 points</td>
        </tr>
        <tr>
          <td>11e place</td>
          <td>20 points</td>
          <td>26e place</td>
          <td>5 points</td>
        </tr>
        <tr>
          <td>12e place</td>
          <td>19 points</td>
          <td>27e place</td>
          <td>4 points</td>
        </tr>
        <tr>
          <td>13e place</td>
          <td>18 points</td>
          <td>28e place</td>
          <td>3 points</td>
        </tr>
        <tr>
          <td>14e place</td>
          <td>17 points</td>
          <td>29e place</td>
          <td>2 points</td>
        </tr>
        <tr>
          <td>15e place</td>
          <td>16 points</td>
          <td>30e place</td>
          <td>1 point</td>
        </tr>
        </tbody>
      </table>
      <p>Des points pour les <strong>10 premiers équipes</strong> dans un contre-la-montre par équipes (chaque coureur qui est arrivé):</p>
      <div class="table-responsive"><table class="table table-striped">
        <tbody>
        <tr>
          <td><strong>place</strong></td>
          <td><strong>points</strong></td>
        </tr>
        <tr>
          <td>1e place</td>
          <td>25 points</td>
        </tr>
        <tr>
          <td>2e place</td>
          <td>20 points</td>
        </tr>
        <tr>
          <td>3e place</td>
          <td>17 points</td>
        </tr>
        <tr>
          <td>4e place</td>
          <td>16 points</td>
        </tr>
        <tr>
          <td>5e place</td>
          <td>15 points</td>
        </tr>
        <tr>
          <td>6e place</td>
          <td>14 points</td>
        </tr>
        <tr>
          <td>7e place</td>
          <td>13 points</td>
        </tr>
        <tr>
          <td>8e place</td>
          <td>12 points</td>
        </tr>
        <tr>
          <td>9e place</td>
          <td>11 points</td>
        </tr>
        <tr>
          <td>10e place</td>
          <td>10 points</td>
        </tr>
        </tbody>
      </table></div>
      <p>&nbsp;</p>
      <p><strong>Superchef d’équipe</strong><br>
        Vous pouvez aussi marquer des points avec le ‘<strong>Superchef d’équipe</strong>‘ que vous avez choisi: ce coureur reçoit 15 points de plus s’il gagne la course. Pour une 2ième place il reçoit 10 points et il reçoit 5 points pour une 3ième place dans la course.</p>
      <p><strong>Assistance </strong><br>
        Tous les coureurs présents sur la ligne de départ de l’étape, qui appartiennent à l’équipe du vainqueur de l’étape, reçoivent <strong>5 points</strong>, qu’ils terminent l’étape ou non. Ces points ne seront pas attribués pour une étape ‘contre-la-montre’.</p>
      <p><strong>Abandon</strong><br>
        Un coureur qui abandonne, qui dépasse le temps limite – par accident ou pour n’importe quelle autre raison ce qui ne lui permet plus de continuer le Tour d'Espagne, recevra moins 1 points pour l’étape et pour chacune des étapes ou il n’apparaissait plus au départ. Dès son abandon, ce coureur peut plus perdre ou gagner des points.</p>
      <p><strong>Maillot rouge</strong><br>
        Le coureur qui reçoit le mailloit jaune à la fin de l’étape, marque 5 points de plus pour cette étape.</p>
      <p><em>Vue d’ensemble:</em></p>
      <table width="90%">
        <tbody>
        <tr>
          <td width="33%"><strong>Type points</strong></td>
          <td width="33%"><strong>Etape normale</strong></td>
          <td width="33%"><strong>Contre la montre</strong></td>
        </tr>
        <tr>
          <td width="33%">Top 30 étape</td>
          <td width="33%">X</td>
          <td width="33%">X</td>
        </tr>
        <tr>
          <td width="33%">Superchef d’équipe</td>
          <td width="33%">X</td>
          <td width="33%">X</td>
        </tr>
        <tr>
          <td width="33%">Abandon</td>
          <td width="33%">X</td>
          <td width="33%">X</td>
        </tr>
        <tr>
          <td width="33%">Assistance</td>
          <td width="33%">X</td>
          <td width="33%">inapplicable</td>
        </tr>
        <tr>
          <td width="33%">Maillot rouge</td>
          <td width="33%">X</td>
          <td width="33%">X</td>
        </tr>
        <tr>
          <td width="33%">Maillot vert</td>
          <td width="33%">X</td>
          <td width="33%">inapplicable</td>
        </tr>
        <tr>
          <td width="33%">Maillot à pois</td>
          <td width="33%">X</td>
          <td width="33%">inapplicable</td>
        </tr>
        </tbody>
      </table>
      <p><strong>Classement final</strong>: à la fin du Vuelta les premiers 30 coureurs du classement final (classement du maillot rouge) reçevront les points çi-dessous en plus:</p>
      <table width="90%">
        <tbody>
        <tr>
          <td width="25%"><strong>position</strong></td>
          <td width="25%"><strong>points</strong></td>
          <td width="25%"><strong>position</strong></td>
          <td width="25%"><strong>points</strong></td>
        </tr>
        <tr>
          <td>1e place</td>
          <td>75 points</td>
          <td>16e place</td>
          <td>15 points</td>
        </tr>
        <tr>
          <td>2e place</td>
          <td>63 points</td>
          <td>17e place</td>
          <td>14 points</td>
        </tr>
        <tr>
          <td>3e place</td>
          <td>55 points</td>
          <td>18e place</td>
          <td>13 points</td>
        </tr>
        <tr>
          <td>4e place</td>
          <td>50 points</td>
          <td>19e place</td>
          <td>12 points</td>
        </tr>
        <tr>
          <td>5e place</td>
          <td>46 points</td>
          <td>20e place</td>
          <td>11 points</td>
        </tr>
        <tr>
          <td>6e place</td>
          <td>42 points</td>
          <td>21e place</td>
          <td>10 points</td>
        </tr>
        <tr>
          <td>7e place</td>
          <td>38 points</td>
          <td>22e place</td>
          <td>9 points</td>
        </tr>
        <tr>
          <td>8e place</td>
          <td>34 points</td>
          <td>23e place</td>
          <td>8 points</td>
        </tr>
        <tr>
          <td>9e place</td>
          <td>30 points</td>
          <td>24e place</td>
          <td>7 points</td>
        </tr>
        <tr>
          <td>10e place</td>
          <td>26 points</td>
          <td>25e place</td>
          <td>6 points</td>
        </tr>
        <tr>
          <td>11e place</td>
          <td>24 points</td>
          <td>26e place</td>
          <td>5 points</td>
        </tr>
        <tr>
          <td>12e place</td>
          <td>22 points</td>
          <td>27e place</td>
          <td>4 points</td>
        </tr>
        <tr>
          <td>13e place</td>
          <td>20 points</td>
          <td>28e place</td>
          <td>3 points</td>
        </tr>
        <tr>
          <td>14e place</td>
          <td>18 points</td>
          <td>29e place</td>
          <td>2 points</td>
        </tr>
        <tr>
          <td>15e place</td>
          <td>16 points</td>
          <td>30e place</td>
          <td>1 punt</td>
        </tr>
        </tbody>
      </table>
      <p><strong>Maillot vert</strong>: à la fin du Vuelta les premiers 15 coureurs du classement maillot sprint (final) reçevront les points çi-dessous en plus:</p>
      <table width="90%">
        <tbody>
        <tr>
          <td width="25%"><strong>place</strong></td>
          <td width="25%"><strong>points</strong></td>
        </tr>
        <tr>
          <td>1e place</td>
          <td>50 points</td>
        </tr>
        <tr>
          <td>2e place</td>
          <td>46 points</td>
        </tr>
        <tr>
          <td>3e place</td>
          <td>42 points</td>
        </tr>
        <tr>
          <td>4e place</td>
          <td>38 points</td>
        </tr>
        <tr>
          <td>5e place</td>
          <td>34 points</td>
        </tr>
        <tr>
          <td>6e place</td>
          <td>30 points</td>
        </tr>
        <tr>
          <td>7e place</td>
          <td>26 points</td>
        </tr>
        <tr>
          <td>8e place</td>
          <td>22 points</td>
        </tr>
        <tr>
          <td>9e place</td>
          <td>18 points</td>
        </tr>
        <tr>
          <td>10e place</td>
          <td>14 points</td>
        </tr>
        <tr>
          <td>11e place</td>
          <td>10 points</td>
        </tr>
        <tr>
          <td>12e place</td>
          <td>7 points</td>
        </tr>
        <tr>
          <td>13e place</td>
          <td>5 points</td>
        </tr>
        <tr>
          <td>14e place</td>
          <td>3 points</td>
        </tr>
        <tr>
          <td>15e place</td>
          <td>1 point</td>
        </tr>
        </tbody>
      </table>
      <p><strong>Maillot à pois</strong>: à la fin du Vuelta les premiers 15 coureurs du classement montagne (final) reçevront les points çi-dessous en plus:</p>
      <table width="90%">
        <tbody>
        <tr>
          <td width="25%"><strong>place</strong></td>
          <td width="25%"><strong>points</strong></td>
        </tr>
        <tr>
          <td>1e place</td>
          <td>50 points</td>
        </tr>
        <tr>
          <td>2e place</td>
          <td>46 points</td>
        </tr>
        <tr>
          <td>3e place</td>
          <td>42 points</td>
        </tr>
        <tr>
          <td>4e place</td>
          <td>38 points</td>
        </tr>
        <tr>
          <td>5e place</td>
          <td>34 points</td>
        </tr>
        <tr>
          <td>6e place</td>
          <td>30 points</td>
        </tr>
        <tr>
          <td>7e place</td>
          <td>26 points</td>
        </tr>
        <tr>
          <td>8e place</td>
          <td>22 points</td>
        </tr>
        <tr>
          <td>9e place</td>
          <td>18 points</td>
        </tr>
        <tr>
          <td>10e place</td>
          <td>14 points</td>
        </tr>
        <tr>
          <td>11e place</td>
          <td>10 points</td>
        </tr>
        <tr>
          <td>12e place</td>
          <td>7 points</td>
        </tr>
        <tr>
          <td>13e place</td>
          <td>5 points</td>
        </tr>
        <tr>
          <td>14e place</td>
          <td>3 points</td>
        </tr>
        <tr>
          <td>15e place</td>
          <td>1 point</td>
        </tr>
        </tbody>
      </table>
      <p>– <strong>Quels sont les courses qui entrent en ligne de compte pour Le Vuelta d’Or ?</strong><br>
        Le ‘Vuelta d’Or’ est composée de 17 jours de jeu contenant tous les étapes du Vuelta. Vous trouvez un aperçu de tous les jours de jeu ci-dessous:</p>
      <table>
        <tbody>
        <tr>
          <td width="48"><strong>Jour</strong></td>
          <td width="64"><strong>Date</strong></td>
          <td width="52"><strong>Journée</strong></td>
          <td width="48"><strong>Étape</strong></td>
          <td width="172"><strong>Étape</strong></td>
          <td width="48"><strong>Type</strong></td>
          <td width="85"><strong>Classement extra</strong></td>
        </tr>
        <tr>
          <td>Sa</td>
          <td>19/08/2017</td>
          <td rowspan="2">1</td>
          <td>1</td>
          <td>Nimes › Nimes (TTT)</td>
          <td>CLM par équipe</td>
          <td></td>
        </tr>
        <tr>
          <td>Di</td>
          <td>20/08/2017</td>
          <td>2</td>
          <td>Nîmes › Gruissan</td>
          <td>Plaine</td>
          <td>Sprint</td>
        </tr>
        <tr>
          <td>Lu</td>
          <td>21/08/2017</td>
          <td>2</td>
          <td>3</td>
          <td>Prades Conflent Canigo › Andorra la Vella</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Ma</td>
          <td>22/08/2017</td>
          <td>3</td>
          <td>4</td>
          <td>Escaldes-Engordany › Tarragona</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Mer</td>
          <td>23/08/2017</td>
          <td>4</td>
          <td>5</td>
          <td>Benicàssim › Alcossebre</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Jeu</td>
          <td>24/08/2017</td>
          <td>5</td>
          <td>6</td>
          <td>Vila-Real › Sagunt</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Ven</td>
          <td>25/08/2017</td>
          <td>6</td>
          <td>7</td>
          <td>Llíria › Cuenca</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Sa</td>
          <td>26/08/2017</td>
          <td rowspan="2">7</td>
          <td>8</td>
          <td>Hellín › Xorret de Catí</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Di</td>
          <td>27/08/2017</td>
          <td>9</td>
          <td>Orihuela › Cumbre del Sol</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Lu</td>
          <td>28/08/2017</td>
          <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
          <td>Ma</td>
          <td>29/08/2017</td>
          <td>8</td>
          <td>10</td>
          <td>Caravaca Jubilar › Elpozo Alimentacion</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Mer</td>
          <td>30/08/2017</td>
          <td>9</td>
          <td>11</td>
          <td>Lorca › Observatorio Astronómico de Calar Alto</td>
          <td>Montagne</td>
          <td>Montagne</td>
        </tr>
        <tr>
          <td>Jeu</td>
          <td>31/08/2017</td>
          <td>10</td>
          <td>12</td>
          <td>Motril › Antequera Los Dólmenes</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Ven</td>
          <td>01/09/2017</td>
          <td>11</td>
          <td>13</td>
          <td>Coín › Tomares</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Sa</td>
          <td>02/09/2017</td>
          <td rowspan="2">12</td>
          <td>14</td>
          <td>Écija › Sierra de La Pandera</td>
          <td>Montagne</td>
          <td>Montagne</td>
        </tr>
        <tr>
          <td>Di</td>
          <td>03/09/2017</td>
          <td>15</td>
          <td>Alcala La Real › Sierra Nevada. Alto Hoya de la Mora</td>
          <td>Montagne</td>
          <td>Montagne</td>
        </tr>
        <tr>
          <td>Lu</td>
          <td>04/09/2017</td>
          <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
          <td>Ma</td>
          <td>05/09/2017</td>
          <td>13</td>
          <td>16</td>
          <td>Circuito de Navarra › Logroño (ITT)</td>
          <td>CLM</td>
          <td></td>
        </tr>
        <tr>
          <td>Mer</td>
          <td>06/09/2017</td>
          <td>14</td>
          <td>17</td>
          <td>Villadiego › Los Machucos. Monumento Vaca Pasiega</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Jeu</td>
          <td>07/09/2017</td>
          <td>15</td>
          <td>18</td>
          <td>Suances › Santo Toribio de Liébana</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Ven</td>
          <td>08/09/2017</td>
          <td>16</td>
          <td>19</td>
          <td>Caso. Parque Natural de Redes › Gijon</td>
          <td>Vallonnée</td>
          <td></td>
        </tr>
        <tr>
          <td>Sa</td>
          <td>09/09/2017</td>
          <td rowspan="2">17</td>
          <td>20</td>
          <td>Corvera de Asturias › Alto de L'Angliru</td>
          <td>Montagne</td>
          <td>Montagne</td>
        </tr>
        <tr>
          <td>Di</td>
          <td>10/09/2017</td>
          <td>21</td>
          <td>Arroyomolinos › Madrid</td>
          <td>Plaine</td>
          <td>Sprint</td>
        </tr>
        <tr>
          <td>Di</td>
          <td>10/09/2017</td>
          <td>18</td>
          <td></td>
          <td>Bonus Classement(s) final</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <p><strong>– Un coureur de mon équipe est blessé ou suspendu. Que faire ?</strong><br>
        Ce coureur ne sait pas gagner des points. Votre équipe reste valable&nbsp;!</p>
      <p><strong>– Le résultat d</strong><strong>’</strong><strong>une étape est révoqué par l</strong><strong>’</strong><strong>UCI. Cela a-t-il un impact sur mon score ? </strong><br>
        Quand une décision prise par l’Organisation du Tour d'Espagne ou une autre instance compétente durant le Tour d'Espagne influence les résultats de la journée et que cela s’est passé après 19h, cela n’est pas pris en compte pour le score de la journée mais le résultat ou la sanction sera prise en compte pour le classement total du «&nbsp;Vuelta d’Or&nbsp;».</p>
      <p><strong>Classement</strong></p>
      <p><strong>– Quels différents classements y a-t-il ?</strong><br>
        Il y a 4 classements différents: le classement des jours de jeu, le classement final, le classement ‘Sprint’ et le classement ‘Montagne’.<br>
        Le classement ‘Sprint’ est une combinaison des étapes (pas jours de jeu!) suivantes: xxx. Le classement ‘Montagne’ combine les étapes (pas jours de jeu!) suivantes: xxx.</p>
      <p><strong>– Oû puis-je retrouver ma place dans le classement général ? </strong><br>
        Via le menu ‘Classement’, vous pouvez consulter votre place dans le classement général. Lorsque vous entrez, vous pouvez également voir un aperçu du classement de vos équipes par jour de jeu et également leur classement total.</p>
      <p><strong>Prix</strong></p>
      <p><strong>– Quels prix puis-je remporter ? </strong><br>
        Pour les gagnants de chaque jour de jeu et les gangants du classement final, il y a de magnifiques cadeaux à gagner. Vous pouvez les consulter sur la page <strong>Prix</strong>.</p>
      <p><strong>– Je figure parmi les gagnants avec plusieurs équipes. Ai-je droit à tous les prix ?</strong><br>
        Par jour de jeu, vous pouvez en tant que participant recevoir au maximum un prix, celui-ci sera le prix avec la plus grande valeur.<strong>&nbsp;</strong></p>
      <p>– <strong>Un autre prix m</strong><strong>’</strong><strong>intéresse davantage. Puis-je échanger ?</strong><br>
        Non, il n’est pas possible d’échanger un prix avec un autre. Les prix ne peuvent pas non plus être échangés contre de l’argent.</p>
      <p><strong>Peleton</strong></p>
      <p><strong>– Qu’est-ce qu’un peleton ? </strong><br>
        Un péloton est un classement séparé pour lequel vous pouvez vous inscrire avec vos amis, proches, collègues ou voisins.</p>
      <p><strong>– Quand un peleton est-il valide ?</strong><br>
        Pour créer un péloton, il suffit de réunir au moins 5 personnes différentes, chacune avec au moins 1 équipe valide, qui soient prêtes à jouer ensemble dans une compétition domestique.<strong>&nbsp;</strong></p>
      <p><strong>– Comment relier mon équipe à un peleton via le site ?</strong><br>
        Vous pouvez relier votre équipe après la composition de votre équipe.<strong>&nbsp;</strong></p>
    </div>
  </div>
</div>