<div class="block simple-match-info">
  <div class="block-title" translate>Week info</div>
  <div class="col-md-12 col-xs-12">
    <div class="row" ng-repeat="stage in $ctrl.stages track by $index">
      <div class="col-md-5 col-xs-5 info">
        <p class="race" ng-click="$ctrl.goToMatch(stage.id)"> {{stage.feed_url}} </p>
      </div>
      <div class="col-md-4 col-xs-4 info">
        <p class="date">{{$ctrl.getLocalDate(stage.date)}} </p>
      </div>
      <div class="col-md-3 col-xs-3 info">
        <span class="icon icon-{{stage.type}} color-primary"></span>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="table-responsive">
      <table class="table table-stripped simple-table-header">
        <thead>
          <tr>
            <th></th>
            <th translate>Points</th>
            <th translate>Klassement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span translate class="text-bold">Matchday</span>
            </td>
            <td>
              {{(!$ctrl.points && $ctrl.points != 0) ? '-' : $ctrl.points}}
            </td>
            <td>
              {{$ctrl.rank ? $ctrl.rank : '-'}}
            </td>
          </tr>
          <tr>
            <td>
              <span translate class="text-bold">Total</span>
            </td>
            <td>
              {{(!$ctrl.totalPoints && $ctrl.totalPoints != 0) ? '-' : $ctrl.totalPoints}}
            </td>
            <td>
              {{$ctrl.totalRank ? $ctrl.totalRank : '-'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="block" ng-if="$ctrl.endGameBonusPlayersPoints && $ctrl.endGameBonusPlayersPoints.length">
  <div class="block-title" translate>Bonuspunten Eindklassement</div>
  <div class="table-responsive">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th translate>Player</th>
          <th translate>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stat in $ctrl.endGameBonusPlayersPoints | orderBy: '-Stat.points'">
          <td><a href ng-click="$ctrl.goToCyclist(stat.Player.id)"> {{stat.Player.name}} </a></td>
          <td>{{stat.Stat.points}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>