<div ng-show="$ctrl.players.length"
     ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="block">
          <div class="block-title" translate>
            All football Players
          </div>
          <div class="add-player-form show">
            <div class="add-player-filter">
              <div class="row">
                <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="Zoeken..."
                       class="input form-control search">
              </div>
              <div class="row">
                <div class="select">
                  <select ng-model="$ctrl.filterItem.club"
                          ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                          ng-change="$ctrl.filterChanged()"></select>
                </div>
                <div class="select">
                  <select ng-model="$ctrl.filterItem.selectedPosition"
                          ng-options="item.name for item in $ctrl.positions"></select>
                </div>
                <div class="select">
                  <select ng-model="$ctrl.filterItem.budget"
                          ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
                </div>
              </div>
            </div>
            <soccer-players-list custom-filter="$ctrl.customFilter"
                                 states-prefix="statesPrefix"
                                 players="$ctrl.players"
                                 is-pickable="$ctrl.isPickable"
                                 pick="$ctrl.pick"
                                 on-playerlist-item-click="$ctrl.selectPlayer"
                                 pagination="$ctrl.pagination"
                                 hide-position-background="$ctrl.hidePositionBackground"
                                 local-assets="$ctrl.localAssets"
                                 assets-u-r-l="$ctrl.assetsURL"
                                 game-name="$ctrl.gameName"
                                 show-jerseys="$ctrl.jerseyOnly"
                                 club-assets-u-r-l="$ctrl.clubAssetsURL"
            ></soccer-players-list>

            <div class="row pad">
              <div class="col-xs-12 content-centered">
                <a ng-href="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName}}/files/spelers_{{$ctrl.competitionInfo.competitionFeed}}.xlsx"
                   class="btn btn-xs btn-primary width-200p"><span translate>FOOTBALL PLAYER LIST (EXCEL)</span> <i
                        class="fa fa-file-o"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="block">
          <div class="block-title" translate>
            Football Player
          </div>
          <div class="pad">
            <div class="row content-centered pad">
              <div class="player-detail player-list pad">
                <div class="player-info">
                  <a class="player-avatar">

                    <span ng-if="$ctrl.jerseyOnly">
                      <img ng-if="!$ctrl.localAssets"
                           ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{$ctrl.selectedPlayer.Club.id}}.png"
                           fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                           class="jersey">

                      <img ng-if="$ctrl.localAssets"
                           ng-src="/images/football/jersey_{{$ctrl.selectedPlayer.Player.club_id}}.png"
                           class="jersey"
                           fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
                    </span>

                    <span ng-if="!$ctrl.jerseyOnly">
                      <img ng-if="$ctrl.simpleShirts"
                           ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.selectedPlayer.clubs.infostrada_id || $ctrl.selectedPlayer.Club.infostrada_id}}.png"
                           class="jersey">
                      <img ng-src="{{$ctrl.assetsURL}}/players/player_{{$ctrl.selectedPlayer.players.id || $ctrl.selectedPlayer.Player.id}}.png"
                           fallback-src="/images/portrait-dummy.png" class="portrait">

                      <img ng-src="{{$ctrl.clubAssetsURL}}/{{$ctrl.selectedPlayer.clubs.infostrada_id || $ctrl.selectedPlayer.Club.infostrada_id}}.png"
                           class="club">
                    </span>

                  </a>
                  <div class="name">{{$ctrl.selectedPlayer.Player.short}}</div>
                  <div class="position">{{$ctrl.selectedPlayer.Club.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="block-title">Stats</div>
         <!-- <div class="pad">
            <div class="row">
              <div class="col-md-12">
                <div class="select pull-right">
                  <select ng-model="$ctrl.selectedSeason"
                          ng-change="$ctrl.reloadSelectedPlayer()"
                          ng-options="item.label for item in $ctrl.seasons"></select>
                </div>
              </div>
            </div>
          </div>-->
          <div class="pad">
            <section class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th style="width:100px" translate>Day</th>
                  <th style="width:300px" translate>Football Match</th>
                  <th translate>Time</th>
                  <th translate>Goals</th>
                  <th translate>Assists</th>
                  <th translate>Points</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stat in $ctrl.selectedPlayerInfo.Player.Stat | orderBy:$ctrl.sortStats">
                  <td>{{stat.Match.week_id}}</td>
                  <td>{{stat.Match.Home.name}} -
                    {{stat.Match.Away.name}}
                  </td>
                  <td>{{stat.value.time}}</td>
                  <td>{{stat.value.goals.length}}</td>
                  <td>{{stat.value.assists.length}}</td>
                  <td>{{stat.value.points}}</td>
                </tr>
                </tbody>
              </table>
            </section>
          </div>
          <div ng-show="$ctrl.selectedPlayerInfo.Player.Stat.length == 0" class="pad">
            <p translate>No stats available for this football player</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>