<div class="row row-content">
  <subnav-tab id="1">
    <!-- LEFT -->
    <div class="col-sm-12 col-md-6">
      <div class="block" ng-if="$ctrl.team.Team.League.status == 0">
        <div class="block-title">
          <span translate>wishlist strength</span>
          <div class="pull-right"><span class="progress-bar-amount">{{mocksAmount}}</span> {{mocksPlayers}}</div>
        </div>
        <div class="padding-top-shortlist">
          <uib-progressbar value="mocksValue" type="{{mocksType}}">{{mocksLabel}}</uib-progressbar>
        </div>
        <div class="padding-bottom-shortlist" translate>
          Add players to your shortlist. Be prepared for the draft!
        </div>
      </div>
      <!-- ALL PLAYERS -->
      <div class="block add-players">
        <div class="block-title" translate>
          All players
          <a href ng-show="showAddPlayers" ng-click="$ctrl.togglePlayersList()" class="pull-right" translate>Close <i
            class="fa fa-caret-up" aria-hidden="true"></i></a>
          <a href ng-show="!showAddPlayers" ng-click="$ctrl.togglePlayersList()" class="pull-right" translate>Open <i
            class="fa fa-caret-down" aria-hidden="true"></i></a>
        </div>
        <div class="add-player-form" ng-class="{'show': showAddPlayers}">
          <div class="add-player-filter">
            <div class="row">
              <input type="search" ng-model="searchPlayer.value" placeholder="Search..." class="input">
              <a ng-show="searchPlayer.value != ''" ng-click="searchPlayer.value = ''" href class="add-player done">
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
            </div>
            <div class="row">
              <div class="select">
                <select ng-model="filterItem.club" ng-options="item.name for item in filterOptions.clubs"></select>
              </div>
              <div class="select">
                <select ng-model="filterItem.position"
                        ng-options="item.name for item in filterOptions.positions"></select>
              </div>
            </div>
          </div>
          <div class="player-list zebra">
            <div player-stats
                 dir-paginate="player in players | filter:q:strict | filter:customFilter  | itemsPerPage: playersPerPage"
                 current-page="pagination.current" class="player"
                 ng-class="{'in-team':$ctrl.isMyPick(player), 'unavailable':$ctrl.isOthersPick(player)}">
              <a href class="player-avatar"
                 ng-class="{'player-fwd':player.Player.Player.position_id==4,'player-mf':player.Player.Player.position_id==3,'player-def':player.Player.Player.position_id==2,'player-gk':player.Player.Player.position_id==1}">
                <img
                  ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{::player.Player.Club.infostrada_id}}.png"
                  class="jersey">
                <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{::player.Player.id}}.png"
                     class="portrait" fallback-src="/images/portrait-dummy.png">
                <img
                  ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{::player.Player.Club.infostrada_id}}.png"
                  class="club">
              </a>
              <a href class="player-info">
                <div class="name">{{::player.Player.short}}</div>
                <div class="position"
                     ng-class="{'player-fwd':player.Player.Player.position_id==4,'player-mf':player.Player.Player.position_id==3,'player-def':player.Player.Player.position_id==2,'player-gk':player.Player.Player.position_id==1}">
                  {{::player.Player.Position.name}}
                  <div class="club">{{::player.Player.Club.name}}</div>
                </div>
                <div ng-if="$ctrl.isOthersPick(player)" class="status">{{::player.Player.Pick[0].Team.name}}</div>
                <div ng-if="$ctrl.isMyPick(player)" class="status" translate>In your team</div>
              </a>
              <a ng-click="pick(player)"
                 ng-class="{'hide': nowpick.team_id !== $ctrl.team.Team.Team.id || $ctrl.hasPick(player)}" href
                 class="btn btn-sm btn-pick" translate>Pick</a>
              <a ng-if="!player.Player.isMock" ng-click="shortlistAdd(player)"
                 ng-class="{'hide': nowpick.team_id === $ctrl.team.Team.Team.id}" href class="star"><i
                class="icon icon-add"></i></a>
              <a ng-if="player.Player.isMock" ng-click="shortlistRemove(player)"
                 ng-class="{'hide': nowpick.team_id === $ctrl.team.Team.Team.id}" href class="star"><i
                class="icon icon-starred"></i></a>
            </div>
            <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
          </div>
        </div>
      </div>
      <!-- WISHLIST -->
      <div class="block">
        <div class="block-title" translate>Wishlist</div>
        <div class="shortlist">
          <div class="pad">
            <label ng-show="mocks.length > 0" translate>
              <input type="checkbox" ng-change="$ctrl.saveOnlyAvailablePref()" ng-model="mocksOnlyAvailable.value"
                     class="checkbox"> Only show available players
            </label>
            <span ng-show="mocks.length === 0" translate>No players on your wishlist</span>
          </div>
          <div class="player-list zebra" ui-sortable="sortableOptions" ng-model="mocks">
            <div player-stats
                 ng-show="!(mocksOnlyAvailable.value && $ctrl.isOthersPick(player)) && !(mocksOnlyAvailable.value && $ctrl.isMyPick(player))"
                 ng-repeat="player in mocks" class="player"
                 ng-class="{'in-team':$ctrl.isMyPick(player), 'unavailable':$ctrl.isOthersPick(player)}">
              <a href class="player-avatar"
                 ng-class="{'player-fwd':player.Player.Player.position_id==4,'player-mf':player.Player.Player.position_id==3,'player-def':player.Player.Player.position_id==2,'player-gk':player.Player.Player.position_id==1}">
                <img
                  ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{player.Player.Club.infostrada_id}}.png"
                  class="jersey">
                <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{player.Player.id}}.png"
                     fallback-src="/images/portrait-dummy.png" class="portrait">
                <img
                  ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{player.Player.Club.infostrada_id}}.png"
                  class="club">
              </a>
              <a href class="player-info">
                <div class="name">{{::player.Player.short}}</div>
                <div class="position"
                     ng-class="{'player-fwd':player.Player.Player.position_id==4,'player-mf':player.Player.Player.position_id==3,'player-def':player.Player.Player.position_id==2,'player-gk':player.Player.Player.position_id==1}">
                  {{::player.Player.Position.name_nl}}
                  <div class="club">{{::player.Player.Club.name}}</div>
                </div>
                <div ng-if="$ctrl.isOthersPick(player)" class="status">{{::player.Player.Pick[0].Team.name}}</div>
                <div ng-if="$ctrl.isMyPick(player)" class="status" translate>In your team</div>
              </a>
              <a ng-click="pick(player)"
                 ng-class="{'hide': nowpick.team_id !== $ctrl.team.Team.Team.id || $ctrl.hasPick(player)}" href
                 class="btn btn-sm btn-pick" translate>Pick</a>
              <div class="move-up-down" ng-class="{'hide': nowpick.team_id === $ctrl.team.Team.Team.id}">
                <a ng-click="$ctrl.moveToTop(player)" href class="move-up"><i class="fa fa-caret-square-o-up"
                                                                              aria-hidden="true"></i></a>
                <a ng-click="$ctrl.moveToBottom(player)" href class="move-down"><i class="fa fa-caret-square-o-down"
                                                                                   aria-hidden="true"></i></a>
              </div>
              <div ng-class="{'hide': nowpick.team_id === $ctrl.team.Team.Team.id}" class="drag-region"><i
                class="icon icon-drag"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </subnav-tab>
  <!-- RIGHT -->
  <subnav-tab id="2">
    <!-- CURRENT ROUND/PICK -->
    <div class="block round" ng-if="$ctrl.team.Team.League.status == 2">
      <div class="block-title" translate>Current round: {{nowpick.round}} (pick #{{nowpick.pick}})</div>
      <div class="pad">
        <ul class="teams">
          <li ng-repeat="team in $ctrl.draft.league.Team" ng-class="{
                  'down':   team.id == nowpick.team_id && nowpick.round%2==1 && nowpick.pick != $ctrl.draft.league.Team.length,
                  'up':   team.id == nowpick.team_id && nowpick.round%2==0 && nowpick.pick != $ctrl.draft.league.Team.length,
                  'double':   team.id == nowpick.team_id && nowpick.pick === $ctrl.draft.league.Team.length,
                  'my-team': team.id == $ctrl.team.Team.Team.id
                }">
            <span ng-show="team.id != nowpick.team_id">{{::team.name}}</span>
            <span ng-show="team.id === nowpick.team_id"><strong>{{::team.name}}</strong></span>
            <!-- Last picked -->
            <small
              ng-if="team.id != nowpick.team_id && team.Pick.length > 0 && team.Pick[team.Pick.length-1].id !== null">
              {{team.Pick[team.Pick.length-1].Player.name}}
            </small>
          </li>
        </ul>
        <br/>
        <br/>
        <ul>
          <li ng-repeat="position in positions.slice(1,positions.length)">
            {{::position.name}}
            <small>(min {{::position.min}})</small>
            <uib-progressbar value="(position.inTeam / position.min)*100" class="progress-{{position.type}}">
              <strong ng-if="position.inTeam > 0">{{position.inTeam}}</strong>
            </uib-progressbar>
          </li>
        </ul>
      </div>
    </div>
    <!-- WAIVERS -->
    <div class="block waivers" ng-if="$ctrl.team.Team.League.status > 2">
      <div class="block-title" translate>Waiver ranking</div>
      <section class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th translate>Team</th>
            <th>#</th>
          </tr>
          </thead>
          <tr ng-repeat="team in $ctrl.draft.league.Team | orderBy:'waiver'">
            <td>
              {{team.name}}
              <small ng-show="team.id === $ctrl.team.Team.Team.id" class="lineup-bench" translate>(you)</small>
              <br/>
              <small
                ng-show="(team.Pick | filter:{transfer: '!0000-00-00 00:00:00'}).length > 0 && team.id !== $ctrl.team.Team.Team.id">
                Transfers:
              </small>
              <ul ng-show="team.id !== $ctrl.team.Team.Team.id">
                <li ng-repeat="transfer in team.Pick | filter:{transfer: '!0000-00-00 00:00:00'}">
                  <a href ui-sref="teamPlayer({'teamId': $ctrl.team.Team.Team.id, 'playerId': transfer.Player.id})">
                    <small>{{transfer.Player.name}}</small>
                  </a>
                </li>
              </ul>
              <div
                ng-show="team.id === $ctrl.team.Team.Team.id && (team.Pick | filter:{transfer: '!0000-00-00 00:00:00'}).length > 0"
                class="lineup-bench">
                <div class="player"
                     ng-repeat="transfer in team.Pick | filter:{transfer: '!0000-00-00 00:00:00'} | orderBy:'transfer'">
                  <a href ng-click="$ctrl.goToPlayer()" class="player-avatar"
                     ng-class="{'player-gk': transfer.Player.Player.position_id == 1, 'player-def': transfer.Player.Player.position_id == 2, 'player-mf': transfer.Player.Player.position_id == 3, 'player-fwd': transfer.Player.Player.position_id == 4}">
                    <img
                      ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{transfer.Player.Club.infostrada_id}}.png"
                      class="jersey">
                    <img
                      ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{transfer.Player.id}}.png"
                      fallback-src="/images/portrait-dummy.png" class="portrait">
                    <img
                      ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{transfer.Player.Club.infostrada_id}}.png"
                      class="club">
                  </a>
                  <a href class="name">{{transfer.Player.short}}</a>
                  <button ng-click="$ctrl.recall(transfer)" class="btn btn-sm btn-danger" translate>Recall</button>
                </div>
              </div>
            </td>
            <td>{{$index+1}}</td>
          </tr>
        </table>
      </section>
    </div>
    <!-- PREVIOUS PICKS -->
    <div class="block" ng-if="$ctrl.team.Team.League.status >= 2">
      <div class="block-title" translate>Previous picks</div>
      <div class="previous-picks">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Round</th>
            <th>Pick</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="pick in previousPicks | orderBy:'-datetime'">
            <td>
              <a href ui-sref="teamPlayer({id:$ctrl.team.Team.Team.id, playerId: pick.Player.id})">
                {{::pick.Player.name}}
              </a>
            </td>
            <td class="team">{{::teams[pick.team_id].name}}</td>
            <td class="round">{{::pick.round}}</td>
            <td>{{::pick.pick}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </subnav-tab>
  <subnav-tab id="3">
    <!-- TEAMS -->
    <div class="block fl-right" ng-if="$ctrl.team.Team.League.status > 1">
      <div class="block-title" translate>Teams</div>
      <div class="pad">
        <div class="select">
          <select ng-model="selectedTeam" ng-options="team.name for (id, team) in teams"></select>
        </div>
      </div>
      <div class="pad" ng-show="selectedTeam.Pick.length == 0" translate>
        No players in this team yet.
      </div>
      <div class="player-list zebra">
        <div ng-repeat="player in selectedTeam.Pick | orderBy:'Player.Player.position_id'" class="player">
          <a href ui-sref="teamPlayer({playerId:player.Player.id})" class="player-avatar"
             ng-class="{'player-fwd':player.Player.Player.position_id==4,'player-mf':player.Player.Player.position_id==3,'player-def':player.Player.Player.position_id==2,'player-gk':player.Player.Player.position_id==1}">
            <img
              ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{::player.Player.Club.infostrada_id}}.png"
              class="jersey">
            <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{::player.Player.id}}.png"
                 fallback-src="/images/portrait-dummy.png" class="portrait">
            <img
              ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{::player.Player.Club.infostrada_id}}.png"
              class="club">
          </a>
          <a href ui-sref="teamPlayer({playerId:player.Player.id})" class="player-info">
            <div class="name">{{::player.Player.name}}</div>
            <div class="position"
                 ng-class="{'player-fwd':player.Player.Player.position_id==4,'player-mf':player.Player.Player.position_id==3,'player-def':player.Player.Player.position_id==2,'player-gk':player.Player.Player.position_id==1}">
              {{::player.Player.Position.name_nl}}
              <div class="club">{{::player.Player.Club.name}}</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Instructions Panel-->
    <div class="block">
      <div class="block-title" translate>The Ideal Fantasy team <i class="fa fa-trophy" aria-hidden="true"></i></div>
      <div class="pad">
        <div class="row draft-instruction-panel">
          <div class="col-md-8">
            <h5 class="mb-5"><b> 1 starting keeper </b></h5>
            <p class="mb-5">who can keep a clean sheet</p>
            <p>Best options: {{$ctrl.getBestOptionsByPosition('goalkeeper')}}</p>
          </div>
          <div class="col-md-4">
            <img src="/images/positions/goalkeeper.png" class="pull-right draft-instruction-panel-pose"></img>
          </div>
        </div>
      </div>
      <div class="pad">
        <div class="row draft-instruction-panel">
          <div class="col-md-8">
            <h5 class="mb-5"><b> 3 starting defenders </b></h5>
            <p class="mb-5">who can keep a clean sheet and score or assist a couple of goals</p>
            <p>Best options: {{$ctrl.getBestOptionsByPosition('defender')}}</p>
          </div>
          <div class="col-md-4">
            <img src="/images/positions/defender.png" class="pull-right draft-instruction-panel-pose-defender"></img>
          </div>
        </div>
      </div>
      <div class="pad">
        <div class="row draft-instruction-panel">
          <div class="col-md-8">
            <h5 class="mb-5"><b> 3 starting midfielders </b></h5>
            <p class="mb-5">who can score and assist some goals</p>
            <p>Best options: {{$ctrl.getBestOptionsByPosition('midfielder')}}</p>
          </div>
          <div class="col-md-4">
            <img src="/images/positions/midfielder.png" class="pull-right draft-instruction-panel-pose"></img>
          </div>
        </div>
      </div>
      <div class="pad">
        <div class="row draft-instruction-panel">
          <div class="col-md-8">
            <h5 class="mb-5"><b> 2 starting goalgetters </b></h5>
            <p class="mb-5">who score a lot of goals</p>
            <p>Best options: {{$ctrl.getBestOptionsByPosition('goal-getter')}}</p>
          </div>
          <div class="col-md-4">
            <img src="/images/positions/goalgetter.png" class="pull-right draft-instruction-panel-pose"></img>
          </div>
        </div>
      </div>
      <div class="pad">
        <div class="row draft-instruction-panel">
          <div class="col-md-8">
            <h5 class="mb-5"><b> 1 starting assist-king </b></h5>
            <p class="mb-5">a winger who assists like a king</p>
            <p>Best options: {{$ctrl.getBestOptionsByPosition('assist-king')}}</p>
          </div>
          <div class="col-md-4">
            <img src="/images/positions/assist-king.png" class="pull-right draft-instruction-panel-pose"></img>
          </div>
        </div>
      </div>
      <div class="pad">
        <div class="row draft-instruction-panel">
          <div class="col-md-8">
            <h5 class="mb-5"><b> 1 penalty taker </b></h5>
            <p class="mb-5">a defender or midfielder who's the default penalty taker in his team</p>
            <p>Best options: {{$ctrl.getBestOptionsByPosition('penalty-taker')}}</p>
          </div>
          <div class="col-md-4">
            <img src="/images/positions/penalty-taker.png" class="pull-right draft-instruction-panel-pose"></img>
          </div>
        </div>
      </div>
      <div class="pad">
        <div class="row draft-instruction-panel">
          <div class="col-md-12">
            <h5><b> 5 extra on the bench as a back-up for each position in case of injuries and suspensions</b></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- End Instructions Panel-->
  </subnav-tab>
  <!-- End col -->

</div>
<!-- Player picked animation -->
<div class="picked-player player-list" ng-class="{'appear':playerPicked}">
  <div class="status">{{teams[playerPicked.team_id].name}}</div>
  <a class="player-avatar player-mf">
    <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{playerPicked.Player.Club.infostrada_id}}.png"
         class="jersey">
    <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{playerPicked.Player.id}}.png"
         fallback-src="/images/portrait-dummy.png" class="portrait">
    <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{playerPicked.Player.Club.infostrada_id}}.png"
         class="club">
  </a>
  <a class="player-info">
    <div class="name">{{playerPicked.Player.name}}</div>
    <div class="position player-mf">{{playerPicked.Player.Position.name}}
      <div class="club">{{playerPicked.Player.Club.name}}</div>
    </div>
  </a>
</div>
