<div class="col-md-8 offset-md-2 col-xs-12">
  <div class="row">
    <div class="col-md-12">
      <form name="$ctrl.frmTeamName" class="new-game-form" novalidate>
        <div class="form-group">
          <label for="new-game-team-name" translate>Team name</label>
          <input ng-model="$ctrl.game.teamName" type="text" id="new-game-team-name"
                 placeholder="{{'Choose a cool name for your team'|translate}}" class="input form-control"
                 required>
        </div>
      </form>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-md pull-right"
              ng-click="$ctrl.joinPlaySports(league)"
              translate>
        JOIN
      </button>
    </div>
  </div>
</div>