<div ng-if="$ctrl.prizes"
     class="row prize"
     ng-repeat="prize in $ctrl.prizes track by $index" style="padding-top: 0;">
  <div ng-if="$index%2 !== 0">
    <div class="col-md-8">
      <h2>{{prize.title}}</h2>
      <p ng-bind-html="prize.body"></p>
    </div>
    <div class="col-md-4">
      <img ng-src="{{prize.image}}" class="image-prizes-widget"/>
    </div>
  </div>
  <div ng-if="$index%2 === 0">
    <div class="col-md-4">
      <img ng-src="{{prize.image}}" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>{{prize.title}}</h2>
      <p ng-bind-html="prize.body"></p>
    </div>
  </div>
</div>