<table class="table table-striped table-responsive races">
  <thead>
  <th translate>Speeldag</th>
  <th translate ng-if="$ctrl.config.showStageName">Fixture</th>
  <th translate>Date</th>
  </thead>
  <tbody>
  <tr ng-repeat="week in $ctrl.weeks"
      ng-class="{'row-selected' : week.week_id === $ctrl.calendarWeekId}"
      ng-click="$ctrl.onMatchClick(week)">
    <td>{{week.week_id}}</td>
    <td ng-if="$ctrl.config.showStageName">{{$ctrl.matches[week.week_id]}}</td>
    <td>{{$ctrl.getLocalDate(week.deadline)}}</td>
  </tr>
  </tbody>
</table>