<style>
  .prize {
    padding: 50px 0;
  }
</style>
<div ng-if="!$ctrl.isFrench">
  <h1 class="block-title" style="margin-top: 20px;">Algemeen Klassement</h1>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-8">
      <h2>Eindwinnaar - €5.000 cash</h2>
      <p>Ben jij de allergrootste kenner van de Champions League? Dan win jij € 5.000 cash!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-4">
      <img src="/images/goudenspelen/kicker.jpg" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 2 & 3</h2>
      <p><strong>Voetbaltafel</strong></p>
      <p>Dankzij Magic Betting kan jij deze fantastisch toptafelvoetbal in jouw living zetten! Nodig je vrienden al maar uit voor een avondje amusement.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 4 & 5</h2>
      <p><strong>Samsung Tab 3 Lite</strong></p>
      <p>De Samsung Galaxy Tab3 - maar dan dunner en lichter. Maak nu kennis met de Samsung Galaxy Tab3 Lite! De Galaxy Tab3 Lite beschikt over een 7 inch WSVGA scherm en biedt een ongelofelijke kijkervaring. Met een resolutie van 1024 x 600 pixels geniet je van een haarscherp beeld. De Galaxy Tab3 Lite heeft een 2 megapixel camera met diverse opties. Deel fotos direct na het schieten met Shoot & Share. Met Smile Shot maak je automatisch een foto zodra je lacht. Op deze manier sta je altijd vrolijk op de foto. Leg je favoriete landschappen compleet vast met Panorama Shot. Samsung Galaxy Tab3 Lite: dunner en lichter, en biedt een ongelofelijke kijkervaring en haarscherp beeld.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes-tablet.jpg" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_bluetoothspeaker.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 6 tem 9</h2>
      <p><strong>Bluetooth speaker</strong></p>
      <p>Ga op muzikaal avontuur met de UE BOOM 2 Bluetooth speaker. Door het bereik van 30 meter en de accuduur van 15 uur heb je veel bewegingsvrijheid en geniet je urenlang van je favoriete muziek. Door de rondom geplaatste luidsprekers hoor je de krachtige klanken aan alle kanten even goed. Bouw thuis, in het park of op het strand een feestje. De luidspreker is schokbestendig en waterdicht. Als de Ultimate Ears modderig is, spoel je hem gewoon af.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 10 tem 17</h2>
      <p><strong>Krups Dolce Gusto</strong></p>
      <p>Met de Krups Dolce Gusto Oblo maak jij diverse warme en koude koffiespecialiteiten. Het hoge druksysteem van 15 bar zorgt voor een romig cremelaagje op jouw espresso of lungo. Heb jij ook wel eens zin in iets anders? Met de speciale Nescafé cups zet je gemakkelijk een caramel macchiato of ijscappuccino, maar bijvoorbeeld ook een thee of chocolademelk. Vergeet je hem na gebruik uit te zetten? Dan schakelt hij binnen 5 minuten automatisch uit.</p>
    </div><div class="col-md-4">
    <img src="/images/goudenspelen/GCL_coolblue_DolceGusto.png" class="image-prizes-widget"/>
  </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_S&W.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 18 tem 26</h2>
      <p><strong>Stripcollectie Suske & Wiske</strong></p>
      <p>Iedereen houdt van Suske & Wiske! Ontvang een stripcollectie met 70 strips, van elk jaar het beste album verzameld in 1 box!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 27 tem 30</h2>
      <p><strong>Bodum Barbeque</strong></p>
      <p>De Bodum Fyrkat Picnic Grill is een trendy barbecue met stijlvolle elementen en een matte afwerking. De rode elementen (handgreep en klemmen) en RVS poten zorgen voor een moderne designlook waar geen enkel andere barbecue aan kan tippen! De Fyrkat Picnic Grill is ook nog erg functioneel. De RVS poten zorgen voor een goede grip op de grond of op tafel, de siliconen handgreep wordt niet heet en de klemmen zorgen ervoor dat het deksel stevig op de ketel vast blijft zitten. Dankzij het compacte formaat is hij makkelijk overal mee naar toe te nemen!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Bodum_BBQ.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/magicbetting.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 31 tem 39</h2>
      <p><strong>€50 Freebets</strong></p>
      <p>Eindig je op de 31e t.e.m. 39e plaats in ons eindklassement? Dan mag je voor € 50 bij Magic Betting!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 40 tem 65</h2>
      <p><strong>€25 Freebts</strong></p>
      <p>De Bodum Fyrkat Picnic Grill is een trendy barbeEindig je op de 40e t.e.m. 65e plaats in ons eindklassement? Dan mag je voor € 25 bij Magic Betting!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/magicbetting.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 66</h2>
      <p><strong>Jartazi voetbal</strong></p>
      <p>Oefen jouw voetbalskills met deze Jartazi Brillant trainingsbal!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Jartazi_bal.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Jartazi_bidon.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 67 tem 75</h2>
      <p><strong>Jartazi bidon</strong></p>
      <p>Dorst na het trainen? Met de bidon heb je altijd en overall een drankvoorrraad bij!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 76 t.e.m. 100</h2>
      <p><strong>Gratis Gouden League 2018–2019</strong></p>
      <p>Verhoog jouw winstkansen door gratis een éxtra ploeg in te schrijven!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_gratis_ploeg.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra klassement Poulefase (Speeldag 1 – 6)</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Winnaar</h2>
      <p><strong>€500 cash</strong></p>
      <p>Kan jij als beste de groepsfase voorspellen? Dan belonen we jou met € 500.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 2 en 3</h2>
      <p><strong>Krups Dolce Gusto</strong></p>
      <p>Met de Krups Dolce Gusto Oblo maak jij diverse warme en koude koffiespecialiteiten. Het hoge druksysteem van 15 bar zorgt voor een romig cremelaagje op jouw espresso of lungo. Heb jij ook wel eens zin in iets anders? Met de speciale Nescafé cups zet je gemakkelijk een caramel macchiato of ijscappuccino, maar bijvoorbeeld ook een thee of chocolademelk. Vergeet je hem na gebruik uit te zetten? Dan schakelt hij binnen 5 minuten automatisch uit.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_DolceGusto.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra klassement Poulefase (Speeldag 7 & 8)</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Winnaar</h2>
      <p><strong>€500 cash</strong></p>
      <p>Kan jij als beste de knock-out voorspellen? Dan belonen we jou met € 500.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 2 en 3</h2>
      <p><strong>Krups Dolce Gusto</strong></p>
      <p>Met de Krups Dolce Gusto Oblo maak jij diverse warme en koude koffiespecialiteiten. Het hoge druksysteem van 15 bar zorgt voor een romig cremelaagje op jouw espresso of lungo. Heb jij ook wel eens zin in iets anders? Met de speciale Nescafé cups zet je gemakkelijk een caramel macchiato of ijscappuccino, maar bijvoorbeeld ook een thee of chocolademelk. Vergeet je hem na gebruik uit te zetten? Dan schakelt hij binnen 5 minuten automatisch uit.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_DolceGusto.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra klassement Superklasse</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Eindwinnaar Superklasse</h2>
      <p><strong>€250 cash</strong></p>
      <p>Blijkt jouw superklasse de hoogste score te hebben op het einde van de Champions League? Dan mag de kapitein binnekort €250 op zijn rekening verwachten!</p>
    </div>
  </div>
</div>
<div ng-if="$ctrl.isFrench">
  <h1 class="block-title" style="margin-top: 20px;">Classement général</h1>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-8">
      <h2>Gagnant - €5.000 cash</h2>
      <p>Êtes vous le meilleur connaiseure du Champions League, puis vous recevriez € 5.000 cash!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes-tablet.jpg" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Samsung Tab 3 Lite</strong></p>
      <p>Emportez facilement et partout avec vous la Tab 3 Lite, spécialement conçue pour être un modèle ultra-portable. Avec seulement 9.7 mm dépaisseur, elle possède un cadre dont les bords ont été rétrécis pour optimiser la taille de votre écran. Plus compacte que jamais. Sa forme qui tient parfaitement dans la paume de votre main saura vous séduire, de même que son poids ultra léger de 310 g. Grâce à sa batterie de 3600 mAh, la Tab 3 Lite bénéficie d'une autonomie accrue, pour que vous puissiez profiter d'une expérience multimédia ininterrompue plus longtemps. Une prise en main très confortable grâce à son poids ultra léger: sentez toute la différence! La Tab 3 Lite est superbement compacte, avec une autonomie longue durée - que demander de plus?</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Bluetooth speaker</strong></p>
      <p>Ultimate Ears Boom 2. À la recherche d’une enceinte sans fil ? Écoutez vos chansons favorites où que vous soyez avec l’Ultimate Ears Boom 2 : dans le parc, à la piscine, à un festival, au camping … Vive la musique!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_bluetoothspeaker.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_DolceGusto.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Krups Dolce Gusto</strong></p>
      <p>La machine à café Krups Oblo KP1101 a tout pour vous séduire. Que vous soyez van de boissons chaudes ou froides, que vous préfériez les expressos ou les macchiatos, la machine dispose d’un système multi boissons de qualité professionnelle pour satisfaire tout le monde.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Bodum Barbeque</strong></p>
      <p>Barbecue à charbon de bois</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Bodum_BBQ.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_S&W.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Collection Bob et Bobette</strong></p>
      <p>-</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Jartazi ballon de foot</strong></p>
      <p>-</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Jartazi_bal.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Jartazi_bidon.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Jartazi bidon</strong></p>
      <p>-</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Équipe gratuite League d’or 2018-2019</strong></p>
      <p>Augmentez vos chances avec une équipe extra (et gratuite) !!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_gratis_ploeg.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Classement Extra Phase de poules (Journée 1 – 6)</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Gagnant</h2>
      <p><strong>€500 cash</strong></p>
      <p>Êtes-vous le leader dans le classement après les 6 premières journées? Vous recevriez € 500 cash.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Krups Dolce Gusto</strong></p>
      <p>La machine à café Krups Oblo KP1101 a tout pour vous séduire. Que vous soyez van de boissons chaudes ou froides, que vous préfériez les expressos ou les macchiatos, la machine dispose d’un système multi boissons de qualité professionnelle pour satisfaire tout le monde.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_DolceGusto.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Classement Extra Phase knock-out (Journée 7 & 8)</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Gagnant</h2>
      <p><strong>€500 cash</strong></p>
      <p>Avez-vous le plus de points dans les journée 7 et 8? Vous recevriez €500 cash.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Krups Dolce Gusto</strong></p>
      <p>La machine à café Krups Oblo KP1101 a tout pour vous séduire. Que vous soyez van de boissons chaudes ou froides, que vous préfériez les expressos ou les macchiatos, la machine dispose d’un système multi boissons de qualité professionnelle pour satisfaire tout le monde.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_DolceGusto.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra klassement Superklasse</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Superclasse Général</h2>
      <p><strong>€250 cash</strong></p>
      <p>-</p>
    </div>
  </div>
</div>