<style>
  .prize {
    padding: 50px 0;
  }
</style>
<div ng-if="!$ctrl.isFrench">
  <h1 class="block-title" style="margin-top: 20px;">Speeldag</h1>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-8">
      <h2>Speeldagwinnaar</h2>
      <p><strong>Whirlpool wasmachine</strong></p>
      <p>Vergeet jij ook regelmatig de was uit de wasmachine te halen, zodat je kleding nog steeds niet fris ruikt terwijl je het net hebt gewassen? Dan is de Whirlpool FWF81483WE EU FreshCare+ een uitkomst voor jou. Het FreshCare+ systeem zorgt met trommelbewegingen en stoom dat je was fris ruikt en blijft. Hierdoor kun je de was tot 6 uur lang in de trommel laten liggen. Handig, als je de wasmachine aan wilt zetten en daarna de deur uit moet. De 6th sense technologie past de instellingen van het wasprogramma aan op de grootte en het type belading. Hierdoor verbruikt de wasmachine niet meer energie of tijd dan nodig is. De stoomfunctie vermindert tijdens het wasprogramma kreukels en vouwen in je overhemden, zodat jij snel door die stapel met strijkgoed gaat.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_whirlpool.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_bluetoothspeaker.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 2 & 3</h2>
      <p><strong>Bluetooth speaker</strong></p>
      <p>Ga op muzikaal avontuur met de UE BOOM 2 Bluetooth speaker. Door het bereik van 30 meter en de accuduur van 15 uur heb je veel bewegingsvrijheid en geniet je urenlang van je favoriete muziek. Door de rondom geplaatste luidsprekers hoor je de krachtige klanken aan alle kanten even goed. Bouw thuis, in het park of op het strand een feestje. De luidspreker is schokbestendig en waterdicht. Als de Ultimate Ears modderig is, spoel je hem gewoon af.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 4</h2>
      <p><strong>Krups Dolce Gusto</strong></p>
      <p>Met de Krups Dolce Gusto Oblo maak jij diverse warme en koude koffiespecialiteiten. Het hoge druksysteem van 15 bar zorgt voor een romig cremelaagje op jouw espresso of lungo. Heb jij ook wel eens zin in iets anders? Met de speciale Nescafé cups zet je gemakkelijk een caramel macchiato of ijscappuccino, maar bijvoorbeeld ook een thee of chocolademelk. Vergeet je hem na gebruik uit te zetten? Dan schakelt hij binnen 5 minuten automatisch uit.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_DolceGusto.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_S&W.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 5 & 6</h2>
      <p><strong>Stripcollectie Suske & Wiske</strong></p>
      <p>Iedereen houdt van Suske & Wiske! Ontvang een stripcollectie met 70 strips, van elk jaar het beste album verzameld in 1 box!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 7 & 8</h2>
      <p><strong>Bodum Barbeque</strong></p>
      <p>De Bodum Fyrkat Picnic Grill is een trendy barbecue met stijlvolle elementen en een matte afwerking. De rode elementen (handgreep en klemmen) en RVS poten zorgen voor een moderne designlook waar geen enkel andere barbecue aan kan tippen! De Fyrkat Picnic Grill is ook nog erg functioneel. De RVS poten zorgen voor een goede grip op de grond of op tafel, de siliconen handgreep wordt niet heet en de klemmen zorgen ervoor dat het deksel stevig op de ketel vast blijft zitten. Dankzij het compacte formaat is hij makkelijk overal mee naar toe te nemen!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Bodum_BBQ.png" class="image-prizes-widget"/>
    </div>
  </div><div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/magicbetting.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 9 & 10</h2>
      <p><strong>€50 Freebets</strong></p>
      <p>Eindig je 9e of 10e in één van onze speeldagklassementen? Dan mag je voor € 50 spelen bij Magic Betting!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 11 t.e.m. 13</h2>
      <p><strong>25€ Freebets</strong></p>
      <p>Eindig je 11e, 12e of 13e in één van onze speeldagklassementen? Dan mag je voor € 25 spelen bij Magic Betting!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/magicbetting.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Jartazi_bal.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 14</h2>
      <p><strong>Jartazi voetbal en bidon</strong></p>
      <p>Oefen jouw voetbalskills met deze Jartazi Brillant trainingsbal! Dorst na het trainen? Met de bidon heb je altijd en overall een drankvoorrraad bij!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 15 t.e.m. 20</h2>
      <p><strong>Gratis Gouden League 2017-2018</strong></p>
      <p>Verhoog jouw winstkansen door gratis een éxtra ploeg in te schrijven!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_gratis_ploeg.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra klassement Superklasse</h1>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Winnaar</h2>
      <p><strong>€25 cash</strong></p>
      <p>Scoort jouw superklasse het meeste punten tijdens 1 van onze 8 speeldagen? Dan winnen jullie € 25.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
  </div>
</div>
<div ng-if="$ctrl.isFrench">
  <h1 class="block-title" style="margin-top: 20px;">Journée</h1>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-8">
      <h2>Gagnant</h2>
      <p><strong>Whirlpool machine à laver</strong></p>
      <ul>Robuste, durable et silencieux
        <li>Prenez soin de vos vêtements grâce à ce lave-linge Whirlpool FWF81483WE EU Fresh Care +.</li>
        <li>Moteur à induction : profitez d’un moteur durable et silencieux. Ce lave-linge est pourvu du moteur SenseInverter très robuste.</li>
        <li>Tambour SoftMove : la machine choisit la meilleure option pour votre linge en adaptant ses mouvements de tambour.</li>
        <li>Fuzzy logic : même votre lave-linge vous facilite la vie. Fuzzy logic analyse ce que vous voulez laver et choisit le programma adapté.</li>
        <li>Label énergétique A+++-30% : le Whirlpool FWF81483WE EU Fresh Care + respecte l’environnement et votre budget.</li>
        <li>FreshCare : même après le lavage, votre linge reste frais grâce à FreshCare. Cette fonction effectue un brassage intermittent en fin de cycle.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_whirlpool.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_bluetoothspeaker.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Bluetooth speaker</strong></p>
      <p>Ultimate Ears Boom 2. À la recherche d’une enceinte sans fil ? Écoutez vos chansons favorites où que vous soyez avec l’Ultimate Ears Boom 2 : dans le parc, à la piscine, à un festival, au camping... Vive la musique!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Krups Dolce Gusto</strong></p>
      <p>La machine à café Krups Oblo KP1101 a tout pour vous séduire. Que vous soyez van de boissons chaudes ou froides, que vous préfériez les expressos ou les macchiatos, la machine dispose d’un système multi boissons de qualité professionnelle pour satisfaire tout le monde.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_coolblue_DolceGusto.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_S&W.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Collection Bob et Bobette</strong></p>
      <p>-</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Bodum Barbeque</strong></p>
      <p>Barbecue à charbon de bois </p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Bodum_BBQ.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_Jartazi_bal.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Jartazi ballon et bidon</strong></p>
      <p>-</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Equipe gratuite League d’or 2017 - 2018</strong></p>
      <p>Augmentez vos chances avec une équipe extra (et gratuite)!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/goudenspelen/GCL_gratis_ploeg.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra classement Superklasse</h1>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Gangant Superklasse</h2>
      <p><strong>€25 cash</strong></p>
      <p>-</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
  </div>
</div>