<div class="main-content pad">
  <div class="layout">
      <!--<div class="row">-->
          <!--<div class="col-md-12">-->
              <!--<h2>Hoofdprijs voor de eindwinnar: €5.000 cash!</h2>-->
              <!--<h3>Houd deze pagina in de gaten: hier zullen de andere prijzen binnenkort bekend gemaakt worden.</h3>-->
          <!--</div>-->
      <!--</div>-->
        <ul class="tab-select">
          <li ng-class="{'active': $ctrl.activeTab === 1}" ng-click="$ctrl.setActiveTab(1)"><a href translate>Final Ranking</a></li>
          <li ng-class="{'active': $ctrl.activeTab === 2}" ng-click="$ctrl.setActiveTab(2)"><a href translate>Matchday</a></li>
        </ul>
      <soccer-prizes-budget-fr ng-if="$ctrl.activeTab === 1"></soccer-prizes-budget-fr>
      <soccer-prizes-budget-md ng-if="$ctrl.activeTab === 2"></soccer-prizes-budget-md>
  </div>
</div>