<div class="select-captain-list-popover">
  <div class="row">
    <div class="col-md-12">
      <button class="pull-right list-close"
              ng-click="$ctrl.popoverStartingListOpen = false">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="player-captain-list">
        <div dir-paginate="player in $ctrl.starting | itemsPerPage: 4"
             current-page="$ctrl.startingListPageIndex">
          <div class="col-md-12">
            <div class="player">
              <a href ui-sref="teamPlayer({playerId:player.players.id})" class="player-avatar">

                <img ng-src="{{$ctrl.assetsURL}}/jerseys/{{::player.clubs.id}}.png"
                     ng-if="$ctrl.showJerseys"
                     class="jersey">

                <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{::player.clubs.infostrada_id}}.png"
                     ng-if="!$ctrl.showJerseys"
                     class="jersey">
                <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{::player.players.id}}.png"
                     ng-if="!$ctrl.showJerseys"
                     fallback-src="/images/portrait-dummy.png" class="portrait">
                <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{::player.clubs.infostrada_id}}.png"
                     ng-if="!$ctrl.showJerseys"
                     class="club">
              </a>
              <a href ui-sref="teamPlayer({playerId:player.players.id})" class="player-info">
                <div class="name">{{::player.players.short}}</div>
                <div class="position"
                     ng-class="{'player-fwd':player.players.position_id==4,'player-mf':player.players.position_id==3,'player-def':player.players.position_id==2,'player-gk':player.players.position_id==1}">
                  {{::$ctrl.getPositionName(player.players.position_id)}}
                </div>
                <div class="club-label">{{::player.clubs.name}}</div>
              </a>
              <button ng-click="$ctrl.onPickCaptainClick(player)"
                      class="btn btn-default btn-sm pull-right">
                <span translate>Select</span>
              </button>
            </div>
          </div>
        </div>
        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
      </div>
    </div>
  </div>

</div>