<div class="player-popover">
  <button class="close" ng-click="$ctrl.player.popoverOpen = false"><i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <div class="fullname">{{$ctrl.player.players.name}}</div>
  <ul>
    <li class="goals"><i class="icon icon-ball"></i>Goals<span>{{$ctrl.player.pts.value.goals.length || 0}}</span></li>
    <li class="assists"><i class="icon icon-shoe"></i>Assists<span>{{$ctrl.player.pts.value.assists.length || 0}}</span>
    </li>
    <li class="conceeded"><i
            class="icon icon-goal"></i>Tegendoelpunten<span>{{$ctrl.player.pts.value.conceeded.length || 0}}</span>
    </li>
    <li class="conceeded"><i class="icon icon-time"></i>Time<span>{{$ctrl.player.pts.value.time || 0}}</span></li>

    </li>
    <li class="conceeded">
      <i class="fa fa-square"></i>
      Rode kaart
      <span>{{$ctrl.player.pts.value.red_card.length || 0}}</span>
    </li>
    <li class="conceeded">
      <i class="fa fa-square"></i>
      Gele kaart
      <span>{{$ctrl.player.pts.value.yellow_cards.length || 0}}</span>
    </li>
  </ul>
  <!--<a href ng-click="$ctrl.goToProfile()" translate>Full profile</a>-->
</div>