<div class="player-popover blanco-popover">
  <button class="close" ng-click="$ctrl.player.blankoPopoverOpen = false"><i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <div class="row mt-10p">
    <div class="fullname">{{$ctrl.player.players.name}}</div>
  </div>

  <div class="row mt-10p">
    <p translate class="text-justify">This is a blanco player. He will not earn points unless you transfer him (for free).</p>
  </div>

  <div class="row mt-10p">
    <div class="col-md-6" ng-if="$ctrl.canPlayInTheTeam && $ctrl.player.players.active == 1">
      <a href ng-click="$ctrl.keepIt()" translate>Behouden</a>
    </div>
    <div class="col-md-6">
      <a href ng-click="$ctrl.putItOnTransfersList()" translate>Transfereren</a>
    </div>
  </div>
</div>