<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">
      <div class="col-md-6">
        <div class="table-responsive races">
          <soccer-deadlines-budget-table weeks="$ctrl.weeks"
                                         matches-phases="$ctrl.matchesPhases"
                                         config="$ctrl.deadlinesTableConfig"
                                         calendar-week-id="$ctrl.calendarWeekId"
                                         on-match-click="$ctrl.setCalendarWeek"
          ></soccer-deadlines-budget-table>
        </div>
        <div ng-if="$ctrl.deadlineWeekHasMatches && $ctrl.counterEnabled" class="row">
          <div class="rankings-counter">
            <soccer-deadline-counter-budget></soccer-deadline-counter-budget>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block">
          <div class="block-title" translate>
            <span translate>Speeldag</span> {{$ctrl.calendarWeekId}}
            <span translate>football matches</span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <calendar ng-cloak
                        competition="$ctrl.currentCompetition"
                        season-id="$ctrl.competitionInfo.seasonId"
                        display-week="$ctrl.calendarWeekId"
                        deadline-weeks="$ctrl.weeks"
                        local-assets="true"
                        states-prefix="$ctrl.statesPrefix"
                        use-local-folder="$ctrl.useLocalFolder"
                        game-name="$ctrl.gameName"
                        show-select="false"></calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>