<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{$ctrl.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  {{$ctrl.body}}
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()"><span translate>Yes</span></button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()"><span translate>No</span></button>
</div>