<div class="news-card" ng-repeat="item in news | limitTo:limit">
	<div class="item">
		<a href="{{item.link}}" target="_blank" class="font-bold">
			<img ng-src="{{item.better_featured_image.source_url}}" class="w-full" alt="">
			<div class="news-description">{{item.title.rendered}}</div>
		</a>
	</div>
</div>