<div class="row">
  <div class="fa-popover-close">
    <button ng-click="closePopup($event)" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="fa-popover">
    <div class="row">
      <div class="col-sm-12">
        <div class="select">
          <select ng-options="item as item.subject for item in help.modules track by item.id"
                  ng-model="help.selected "
                  ng-change="onHelpModuleChange()"
                  class="fa-help-list">
            <option value="" selected hidden>{{help.selected.subject}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="fa-popover-content" ng-bind-html="content()"></div>
    <div class="fa-popover-bottom">
      <img class="pull-right" src="/images/fa-hero-boss.png"/>
    </div>
  </div>
</div>
