<div class="row">
  <div class="fa-popup-close">
    <button ng-click="closePopup()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="fa-popup">
    <div ng-if="!hasPagination()" class="fa-popup-content" ng-bind-html="content()"></div>
    <div ng-if="hasPagination()" class="fa-popup-content">
      <div class="row">
        <div>
          <i class="fa fa-arrow-left" ng-click="previousPage()"></i>
          <small>{{currentPageNumber()}}</small>
          <i class="fa fa-arrow-right" ng-click="nextPage()"></i>
        </div>
      </div>
      <div ng-bind-html="currentPageContent()"></div>
    </div>
    <div class="fa-popup-mark pull-right">
      <input type="checkbox" ng-model="helpSettings[module.id].disabled" ng-change="onDisableHelp()">
      <small>Yeah yeah, I know this already, don't show this again!</small>
    </div>
    <div class="fa-popup-bottom">
      <img class="pull-right" src="/images/fa-hero-boss.png"/>
    </div>
  </div>
</div>
