<div class="player-stats">

	<div class="stats" ng-if="!loading">
		<div class="stat">
			<i class="icon icon-time"></i>
			<span>{{stats.time}}'</span>
		</div>
		<div class="stat">
			<i class="icon icon-ball"></i>
			<span>{{stats.goals}}</span>
		</div>
		<div class="stat">
			<i class="icon icon-shoe"></i>
			<span>{{stats.assists}}</span>
		</div>
		<div class="stat" ng-if="player.Player.Player.position_id == 1 || player.Player.Player.position_id == 2">
			<i class="icon icon-goal"></i>
			<span>{{stats.conceeded}}</span>
		</div>
	</div>

	<div class="actions" ng-if="!loading">
		<a href class="btn" ui-sref="teamPlayer({playerId:player.Player.id})" translate>View player profile</a>
		<a href class="btn" ng-if="player.Mock.id || player.Player.isMock" ng-click="shortlistRemove(player)"><span translate>Remove from shortlist </span> <i class="icon icon-starred"></i></a>
	</div>

	<div ng-if="loading" class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</div>
