<div class="news-card" ng-repeat="item in news | limitTo:limit">
	<div class="item">
		<a href="https://www.playsports.be/mobile/nieuws/jupiler-pro-league/{{item.SEOKeywords.__cdata}}" class="font-bold">
			<img ng-src="https://akamai.images.tnet.deltatre.net/images/rest{{item.MMURLs.MMURL_Rect169.replace('.', '_480.')}}" class="w-full" alt="">
			<div class="news-description">{{item.DisplayHeadline}}</div>
		</a>
	</div>
</div>