<div class="container">
  <div class="layout">
    <div class="row" ng-if="$ctrl.postcodeTeams">
      <div class="col-md-12">
        <h4> {{$ctrl.postCode}} teams</h4>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.postcodeTeams.length">
      <div class="col-md-12">
        <table class="table">
          <thead>
          <th translate>Rank</th>
          <th translate>Player</th>
          <th translate>Team</th>
          <th translate>Points</th>
          <th></th>
          </thead>
          <tbody>
          <tr dir-paginate="stat in $ctrl.postcodeTeams | itemsPerPage: $ctrl.displayItems"
              total-items="$ctrl.totalRecords"
              current-page="$ctrl.pagination.current">
            <td>{{stat.team.rank}}</td>
            <td>
              {{stat.user.firstName + ' ' + stat.user.lastName}}
            </td>
            <td>{{stat.team.name}}</td>
            <td>{{stat.team.points}} <span translate>points</span></td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <dir-pagination-controls
                on-page-change="$ctrl.onPageChange(newPageNumber)"
                boundary-links="true"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>