<div class="col-md-8 offset-md-2 col-xs-12">
  <div class="row">
    <div class="new-game-navigation-bar">

      <div ng-if="!$ctrl.isMobile()" class="col-md-2 back-button">
        <button class="btn btn-sm pull-left" ng-click="$ctrl.decreaseNewGameProgressStep()">
          < Back
        </button>
      </div>

      <div class="col-md-8 co-xs-12 new-game-progress">
        <i class="new-game-progress-dot"
           aria-hidden="true"
           ng-class="($ctrl.getNewGameProgress() >= 1) ? 'fa fa-circle' : 'fa fa-circle-thin'">
        </i>

        <i class="new-game-progress-dot"
           aria-hidden="true"
           ng-class="($ctrl.getNewGameProgress() >= 2) ? 'fa fa-circle' : 'fa fa-circle-thin'">
        </i>

        <i class="new-game-progress-dot"
           aria-hidden="true"
           ng-class="($ctrl.getNewGameProgress() >= 3) ? 'fa fa-circle' : 'fa fa-circle-thin'">
        </i>

        <i class="new-game-progress-dot"
           ng-if="$ctrl.activeTab == 2"
           aria-hidden="true"
           ng-class="($ctrl.getNewGameProgress() >= 4) ? 'fa fa-circle' : 'fa fa-circle-thin'">
        </i>
      </div>
    </div>
  </div>
</div>