<a ng-if="$ctrl.player" href ui-sref="driverProfile({driverId: $ctrl.player && $ctrl.player.Player.id})">
  <div class="player-avatar driver-f1" ng-class="{'empty':!$ctrl.player.Player}">
    <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{$ctrl.player.Player.id}}.png"
         class="jersey">

    <span ng-if="!$ctrl.player.Selection.captain && $ctrl.showPoints"
          ng-show="$ctrl.player.Selection && $ctrl.player.Selection.points !== null"
          class="points">
      {{$ctrl.player.Selection.points}}
    </span>

    <a ng-if="$ctrl.hasRemove()" href ng-click="$ctrl.remove($ctrl.player, $event)" class="remove"></a>

    <span ng-if="!$ctrl.player.Player" class="no-tool">?</span>
  </div>
  <span ng-if="!$ctrl.showShort" class="name">{{$ctrl.player && $ctrl.player.Player.name}}</span>
  <span ng-if="$ctrl.showShort" class="name">{{$ctrl.player && ($ctrl.player.Player.short || $ctrl.player.Player.forename)}}</span>
</a>