<div class="row">
  <a href
     ng-if="$ctrl.captain"
     ng-click="$ctrl.click()"
     class="player-avatar"
     ng-class="{
      'player-gk': !$ctrl.showJerseys && $ctrl.captain.players.position_id == 1,
      'player-def': !$ctrl.showJerseys && $ctrl.captain.players.position_id == 2,
      'player-mf': !$ctrl.showJerseys && $ctrl.captain.players.position_id == 3,
      'player-fwd': !$ctrl.showJerseys && $ctrl.captain.players.position_id == 4
      }"
  >
    <img ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.captain.clubs.id}}.png"
         ng-if="$ctrl.showJerseys"
         class="jersey">

    <img ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.captain.clubs.infostrada_id}}.png"
         ng-if="!$ctrl.showJerseys"
         class="jersey">
    <img ng-src="{{$ctrl.assetsURL}}/players/player_{{$ctrl.captain.players.id}}.png"
         ng-if="!$ctrl.showJerseys"
         fallback-src="/images/portrait-dummy.png" class="portrait">
    <img ng-src="{{$ctrl.assetsURL}}/badges/{{$ctrl.captain.clubs.infostrada_id}}.png"
         ng-if="!$ctrl.showJerseys"
         class="club">
    <span class="points-captain-large"> {{$ctrl.captain.pts && $ctrl.captain.pts.points !== null ? $ctrl.captain.pts.points : 'C'}}</span>
  </a>
</div>
<div class="row">
  <small ng-if="$ctrl.captain">
    {{$ctrl.captain.players.name}}
  </small>
</div>

<div ng-if="!$ctrl.captain" class="row">
  <i ng-click="$ctrl.showStartingList()" class="fa fa-plus-circle fa-3x select-soccer-captain" aria-hidden="true"></i>
</div>
<div class="row">
  <button ng-click="$ctrl.showStartingList()"
          class="btn btn-default btn-sm"
          uib-popover-template="'soccer-templates/soccer-select-captain-list.html'"
          popover-placement="auto top"
          popover-append-to-body="true"
          popover-is-open="$ctrl.popoverStartingListOpen"
          translate>
    {{$ctrl.captain ? 'Change Captain' : 'Select Captain'}}
  </button>
</div>
