<div class="main-content">
  <div class="layout">
    <div class="pad">
      <form name="$ctrl.frmResetPassword" ng-submit="$ctrl.sendReset($ctrl.frmResetPassword)" novalidate
            autocomplete="off">
        <label for="code" class="sr-only" translate>Verify code</label>
        <input ng-model="$ctrl.resetCode" id="code" type="text" class="input form-control"
               placeholder="{{'Verify code'|translate}}" required autocomplete="off">

        <label for="newPassword" class="sr-only" translate>New password</label>
        <input ng-model="$ctrl.resetPassword" id="newPassword" type="password" class="input form-control"
               placeholder="{{'New password'|translate}}" required autocomplete="off">

        <label for="newPasswordVerify" class="sr-only" translate>Verify Password</label>
        <input ng-model="$ctrl.verifyPassword" match-pw="$ctrl.resetPassword" id="newPasswordVerify" type="password"
               class="input form-control" placeholder="{{'Verify Password'|translate}}" required autocomplete="off">

        <button class="btn btn-lg btn-primary btn-block" type="submit" translate>Reset password</button>
      </form>
    </div>
  </div>
</div>