<div class="col-md-8 offset-md-2 col-xs-12">
  <div class="row">
    <div class="col-md-12 text-align-center">
      <h5>
        {{$ctrl.inviteLeague.name}} {{$ctrl.inviteLeague.competition_feed|flag}}
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form name="$ctrl.frmTeamName" class="new-game-form" novalidate>
        <div class="form-group">
          <label for="new-game-team-name" translate>Team name</label>
          <input ng-model="$ctrl.game.teamName" type="text" id="new-game-team-name"
                 placeholder="{{'Choose a cool name for your team'|translate}}" class="input form-control"
                 required>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="invite-league" ng-if="$ctrl.inviteLeague">
        <button ng-click="$ctrl.joinInviteLeague()" class="btn btn-primary btn-md pull-right" translate>Join this league
        </button>
      </div>
    </div>
  </div>
</div>