<div ng-if="$ctrl.withEditMode">
  <cycling-squad-team-edit
          ng-if="$ctrl.squad && $ctrl.isFirstDeadlineWeek()"
          squad="$ctrl.squad"
          cyclists="$ctrl.cyclists"
          clubs="$ctrl.clubs"
          game-budget="$ctrl.gameBudget"
          sponsors-enabled="$ctrl.sponsorsEnabled"
          local-assets="$ctrl.localAssets"
          max-players-same-club="$ctrl.maxPlayersSameClub"
          sponsors="$ctrl.sponsors"
  >
  </cycling-squad-team-edit>

  <cycling-squad-transfer
          ng-if="$ctrl.squad && !$ctrl.isFirstDeadlineWeek()"
          total-transfers="$ctrl.totalTransfers"
          transfer-week="$ctrl.transferWeek"
          squad="$ctrl.squad"
          cyclists="$ctrl.cyclists"
          game-budget="$ctrl.gameBudget"
          local-assets="$ctrl.localAssets"
          clubs="$ctrl.clubs"
          max-players-same-club="$ctrl.maxPlayersSameClub"
          sponsors="$ctrl.sponsors"
  >
  </cycling-squad-transfer>
</div>

<div ng-if="!$ctrl.withEditMode">
  <cycling-squad-transfer
          transfer-week="$ctrl.transferWeek"
          total-transfers="$ctrl.totalTransfers"
          squad="$ctrl.squad"
          cyclists="$ctrl.cyclists"
          game-budget="$ctrl.gameBudget"
          local-assets="$ctrl.localAssets"
          clubs="$ctrl.clubs"
          max-players-same-club="$ctrl.maxPlayersSameClub"
          states-prefix="$ctrl.statesPrefix"
          sponsors="$ctrl.sponsors"
          game-name="$ctrl.gameName"
  >
  </cycling-squad-transfer>
</div>