<div ng-class="{'container': $ctrl.hasContainerClass}" ng-if="$ctrl.resolved">
  <div class="content-centered">
    <div class="alert alert-info" translate>
      U kunt dit team onbeperkt aanpassen tot de start van de volgende speeldag.
    </div>
  </div>
  <div class="row content-centered">
    <div class="col-md-4">
      <b translate>Football Players selected</b>
      <h4 class="text-warning">{{$ctrl.playersSelected()}}/{{$ctrl.teamPlayersNumber}}</h4>
    </div>
    <div class="col-md-4">
      <b translate>Budget remaining</b>
      <h4 class="text-warning">{{$ctrl.budget|currency:'€':0}} <span translate>mil</span></h4>
    </div>

    <div class="col-md-4 mb-15px">
      <button
              ng-disabled="!$ctrl.canSave()"
              ng-click="$ctrl.saveSelection()"
              class="btn btn-xs btn-primary" translate>Submit changes
      </button>
    </div>
  </div>

  <div class="row row-content">
    <!-- LEFT -->
    <div class="col-sm-12 col-md-6">

      <div class="block">
        <div class="block-title" translate>Choose football your Captain</div>
        <div class="pad">
          <div class="form-group no-margin">
            <p ng-if="$ctrl.playersSelected() == 0" translate>Pick some players first</p>
            <div ng-show="$ctrl.playersSelected() > 0" class="select max-element-width">
              <select ng-model="$ctrl.captain"
                      ng-change="$ctrl.captainChanged()"
                      ng-options="player as player.short for player in $ctrl.filterItem.teamPlayers track by player.id"></select>
            </div>
          </div>
        </div>
      </div>

      <div class="block budget-lineup">
        <div class="block-title" translate>
          Your lineup
        </div>
        <div class="pad text-align-center">
          <small><span ng-if="$ctrl.possibleFormations.length > 1" translate> Possible Formations: </span> <b>
            {{$ctrl.possibleFormations.join(', ')}} </b></small>
        </div>

        <div id="lineupGrid" class="lineup-grid">
          <!-- Goalkeeper -->
          <div class="row">
            <div ng-repeat="goalkeeper in $ctrl.starting.Goalkeeper"
                 class="player"
                 data-drag="$ctrl.isDraggable2(goalkeeper)"
                 data-jqyoui-options="{cancel: '.remove', revert: 'invalid', revertDuration: 200}"
                 jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()', onDrop: '$ctrl.onDropStop2()'}"
                 data-drop="$ctrl.isFieldDroppable('gk', goalkeeper)"
                 jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
            >

              <player player="goalkeeper"
                      local-assets="$ctrl.localAssets"
                      drag-and-drop-enabled="$ctrl.draggableFieldPlayers && $ctrl.withDragHandler"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      mouse-down-only="true"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(goalkeeper)"
                      on-remove="$ctrl.playerRemove"
                      prevent-click="true"></player>
            </div>
          </div>

          <!-- Defenders -->
          <div class="row">
            <div ng-repeat="defender in $ctrl.starting.Defender"
                 class="player"
                 data-drag="$ctrl.isDraggable2(defender)"
                 data-jqyoui-options="{cancel: '.remove', revert: 'invalid', revertDuration: 200}"
                 jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()', onDrop: '$ctrl.onDropStop2()'}"
                 data-drop="$ctrl.isFieldDroppable('def', defender)"
                 jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}">
              <player player="defender"
                      local-assets="$ctrl.localAssets"
                      drag-and-drop-enabled="$ctrl.draggableFieldPlayers && $ctrl.withDragHandler"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      mouse-down-only="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(defender)"
                      on-remove="$ctrl.playerRemove"
                      prevent-click="true"></player>
            </div>
          </div>

          <!-- Midfielders -->
          <div class="row">
            <div ng-repeat="midfielder in $ctrl.starting.Midfielder"
                 class="player"
                 data-drag="$ctrl.isDraggable2(midfielder)"
                 data-jqyoui-options="{cancel: '.remove', revert: 'invalid', revertDuration: 200}"
                 jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()', onDrop: '$ctrl.onDropStop2()'}"
                 data-drop="$ctrl.isFieldDroppable('mf', midfielder)"
                 jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}">

              <player player="midfielder"
                      local-assets="$ctrl.localAssets"
                      drag-and-drop-enabled="$ctrl.draggableFieldPlayers && $ctrl.withDragHandler"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      mouse-down-only="true"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(midfielder)"
                      on-remove="$ctrl.playerRemove"
                      prevent-click="true"></player>
            </div>
          </div>

          <!-- Attackers -->
          <div class="row">
            <div ng-repeat="forward in $ctrl.starting.Forward"
                 class="player"
                 data-drag="$ctrl.isDraggable2(forward)"
                 data-jqyoui-options="{cancel: '.remove', revert: 'invalid', revertDuration: 200}"
                 jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()', onDrop: '$ctrl.onDropStop2()'}"
                 data-drop="$ctrl.isFieldDroppable('fw', forward)"
                 jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}">

              <player
                      local-assets="$ctrl.localAssets"
                      drag-and-drop-enabled="$ctrl.draggableFieldPlayers && $ctrl.withDragHandler"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      mouse-down-only="true"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      player="forward"
                      captain="$ctrl.isCaptain(forward)"
                      on-remove="$ctrl.playerRemove"
                      prevent-click="true">
              </player>
            </div>
          </div>
        </div>

        <div class="lineup-bench" ng-if="$ctrl.benchEnabled">
          <div class="row">
            <div ng-repeat="player in $ctrl.bench"
                 class="player player-bench"
                 data-drag="$ctrl.isDraggable2(player)"
                 data-jqyoui-options="{cancel: '.remove', revert: 'invalid', revertDuration: 200}"
                 jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
                 data-drop="$ctrl.isBenchDroppable(player)"
                 jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}">

              <player
                      local-assets="$ctrl.localAssets"
                      drag-and-drop-enabled="$ctrl.draggableFieldPlayers && $ctrl.withDragHandler"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-short-position="true"
                      show-price="true"
                      mouse-down-only="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      player="player"
                      prevent-click="true"
                      on-remove="$ctrl.benchRemove">
              </player>

            </div>
          </div>
        </div>

        <h3 ng-if="$ctrl.coachEnabled && !$ctrl.selectedCoach" class="content-centered">
          <span translate> No coach selected, </span>
          <a href ng-click="$ctrl.activateCoachFilter()"> pick him</a> from player list!
        </h3>

        <div class="football-coach">
          <div ng-if="$ctrl.coachEnabled && $ctrl.selectedCoach">
            <h3 translate>Coach</h3>
            <player player="$ctrl.selectedCoach"
                    captain="false"
                    on-remove="$ctrl.removeCoach"
                    prevent-click="true"></player>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="block add-players budget-add-players">
        <div class="block-title" translate>
          {{($ctrl.labels && $ctrl.labels.allPlayers) || 'All players'}}
        </div>
        <div class="add-player-form show">
          <div class="add-player-filter">
            <div class="row">
              <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="{{'Search...'| translate}}"
                     class="input form-control search">
            </div>
            <div class="row">
              <div class="select">
                <select ng-model="$ctrl.filterItem.club"
                        ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                        ng-change="$ctrl.filterChanged()"></select>
              </div>
              <div class="select">
                <select ng-model="$ctrl.filterItem.selectedPosition"
                        ng-options="item.name for item in $ctrl.positions"></select>
              </div>
              <div class="select">
                <select ng-model="$ctrl.filterItem.budget"
                        ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
              </div>
            </div>
          </div>
          <div ng-if="$ctrl.players.length">
            <soccer-players-list custom-filter="$ctrl.customFilter"
                                 states-prefix="$ctrl.statesPrefix"
                                 players="$ctrl.players"
                                 is-pickable="$ctrl.isPickable"
                                 pick="$ctrl.pick"
                                 pagination="$ctrl.pagination"
                                 hide-position-background="$ctrl.hidePositionBackground"
                                 local-assets="$ctrl.localAssets"
                                 assets-u-r-l="$ctrl.assetsURL"
                                 game-name="$ctrl.gameName"
                                 show-jerseys="$ctrl.showJerseys"
                                 mouse-down-only="true"
                                 club-assets-u-r-l="$ctrl.clubAssetsURL"
            ></soccer-players-list>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>