<div class="block" style="background: rgba(255,255,255,0.05);">
  <div ng-if="$ctrl.showSubscribed()" class="block-title">Al {{$ctrl.subscriptions}} <span translate>ploegen ingeschreven</div>
  <div class="pad">
    <div class="row">
      <div class="col-xs-8">
          <h5 translate>HOOFDPRIJS</h5>
          <h4>€5.000 CASH</h4>
      </div>
      <div class="col-xs-4">
        <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
      </div>
    </div>
    <div>
      <p translate>Sta jij na de Champions League bovenaan het algemeen klassement te prijken, dan ontvang je naast eeuwige roem het prachtige bedrag van €5.000.</p>
    </div>
  </div>
</div>