<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}" ng-if="$ctrl.loaded">
  <div class="layout">
    <ul class="tab-select">
      <li ng-class="{'active': $ctrl.activeTab === 1}" ng-click="$ctrl.setActiveTab(1)">
        <a href translate>Final Ranking</a>
      </li>
      <li ng-class="{'active': $ctrl.activeTab === 2}" ng-click="$ctrl.setActiveTab(2)">
        <a href translate>
          Matchday
        </a>
      </li>
    </ul>

    <br>

    <div ng-if="$ctrl.activeTab === 1">
      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('general') !== -1">
        <h1 class="block-title  widget-title-ground"
            translate>General rankings</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['general']"></cycling-ranking-prize>
        </div>
      </div>

      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('peloton') !== -1">
        <h1 class="block-title">{{$ctrl.customLeagueLabel}}</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['peloton']"></cycling-ranking-prize>
        </div>
      </div>

      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('sprint') !== -1">
        <h1 class="block-title"
            translate>{{$ctrl.sprintLabel}}</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['sprint']"></cycling-ranking-prize>
        </div>
      </div>

      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('mountain') !== -1">
        <h1 class="block-title"
            translate>{{$ctrl.bergLabel}}</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['mountain']"></cycling-ranking-prize>
        </div>
      </div>

      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('de-dubbel') !== -1">
        <h1 class="block-title"
            translate>{{$ctrl.dedubbelLabel}}</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['de-dubbel']"></cycling-ranking-prize>
        </div>
      </div>

      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('periode') !== -1">
        <h1 class="block-title"
            translate>Periode</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['periode']"></cycling-ranking-prize>
        </div>
      </div>

      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('periode-1') !== -1">
        <h1 class="block-title"
            translate>Periode 1</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['periode-1']"></cycling-ranking-prize>
        </div>
      </div>

      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('periode-2') !== -1">
        <h1 class="block-title"
            translate>Periode 2</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['periode-2']"></cycling-ranking-prize>
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.activeTab === 2">
      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('week') !== -1">
        <h1 class="block-title"
            translate>Speeldag</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['week']"></cycling-ranking-prize>
        </div>
      </div>

      <div class="block" ng-if="$ctrl.prizesEnabled.indexOf('peloton-week') !== -1">
        <h1 class="block-title">{{$ctrl.customWeekLeagueLabel}}</h1>
        <div class="pad">
          <cycling-ranking-prize prizes="$ctrl.prizesMap['peloton-week']"></cycling-ranking-prize>
        </div>
      </div>
    </div>

  </div>
</div>