<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-stripped simple-table-header">
        <thead>
        <tr>
          <th></th>
          <th translate>Points</th>
          <th translate>Klassement</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <span translate class="text-bold">Matchday</span>
          </td>
          <td>
            {{(!$ctrl.points && $ctrl.points != 0) ? '-' : $ctrl.points}}
          </td>
          <td>
            {{$ctrl.rank ? $ctrl.rank : '-'}}
          </td>
        </tr>
        <tr>
          <td>
            <span translate class="text-bold">Total</span>
          </td>
          <td>
            {{(!$ctrl.totalPoints && $ctrl.totalPoints != 0) ? '-' : $ctrl.totalPoints}}
          </td>
          <td>
            {{$ctrl.totalRank ? $ctrl.totalRank : '-'}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
