<a href
   ng-click="$ctrl.click()"
   ng-if="$ctrl.player.player_position_id"
   class="player-avatar"
   ng-class="{'player-gk': $ctrl.player.player_position_id == 1, 'player-def': $ctrl.player.player_position_id == 2, 'player-mf': $ctrl.player.player_position_id == 3, 'player-fwd': $ctrl.player.player_position_id == 4}"
   uib-popover-template="'soccer-templates/soccer-player-popover.html'"
   popover-placement="auto bottom"
   popover-append-to-body="true"
   popover-enable="$ctrl.popoverClick"
   popover-is-open="$ctrl.player.popoverOpen"
>
  <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{$ctrl.player.club_infostrada_id}}.png" class="jersey">
  <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{$ctrl.player.player_id}}.png" fallback-src="/images/portrait-dummy.png" class="portrait">
  <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{$ctrl.player.club_infostrada_id}}.png" class="club">
  <span ng-show="$ctrl.player.player_points" class="points">{{$ctrl.player.player_points}}</span>

  <span ng-if="$ctrl.remove" ng-click="$ctrl.remove($ctrl.player, $event)"
        class="remove">
  </span>

</a>
<a href ng-click="$ctrl.click()" class="name">{{$ctrl.player.player_short}}</a>
<button ng-if="$ctrl.showTransfer" ng-click="$ctrl.transfer()" class="btn btn-sm btn-success" translate>Transfer</button>