<div class="main-content">
  <div class="layout">
    <subnav-tab id="1">
      <div class="block">
        <div class="block-title" translate>Player</div>

        <div class="player-detail player-list pad">
          <div class="player-avatar">
            <img ng-if="$ctrl.showJerseys" ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.player.Club.Club.id}}.png" class="jersey">

            <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{$ctrl.player.Club.Club.infostrada_id}}.png" class="jersey">
            <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{$ctrl.player.Player.Player.id}}.png" fallback-src="/images/portrait-dummy.png" class="portrait">
            <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{$ctrl.player.Club.Club.infostrada_id}}.png" class="club">
          </div>
          <div class="player-info">
            <div class="name">{{$ctrl.player.Player.Player.name}}</div>
            <div class="position player-mf" >{{$ctrl.player.Player.Position.name}}
              <div class="club">{{$ctrl.player.Club.Club.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </subnav-tab>

    <subnav-tab id="2">
      <div class="block">
        <div class="block-title">Club</div>
        <div class="player-list zebra limit-5">
          <div ng-repeat="player in $ctrl.player.Club.Player | filter:isActivePlayer | orderBy:'position_id'" class="player" ng-class="{'active':$ctrl.player.Player.Player.infostrada_id == player.infostrada_id}">
            <a href ui-sref="publicPlayer({playerId:player.id})" class="player-avatar">
              <img ng-if="$ctrl.showJerseys" ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.player.Club.Club.id}}.png" class="jersey">
              <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{::$ctrl.player.Club.Club.infostrada_id}}.png" class="jersey">
              <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{::player.id}}.png" fallback-src="/images/portrait-dummy.png" class="portrait">
              <img ng-if="!$ctrl.showJerseys" ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/badges/{{::$ctrl.player.Club.Club.infostrada_id}}.png" class="club">
            </a>
            <a href ui-sref="publicPlayer({playerId:player.id})" class="player-info">
              <div class="name">{{::player.name}}</div>
              <div class="position player-fwd">{{::player.Position.name_nl}}
                <div class="club">{{::$ctrl.player.Club.Club.name}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </subnav-tab>

    <subnav-tab id="3">
      <div class="block full player-stats">
        <div class="block-title">Stats</div>
        <section ng-show="$ctrl.player.Player.Stat.length > 0" class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th style="width:100px" translate>Day</th>
              <th style="width:300px" translate>Match</th>
              <th translate>Time</th>
              <th translate>Goals</th>
              <th translate>Assists</th>
              <th translate>Points</th>
              <!--<th translate>Penalty miss</th>
              <th translate>Own Goals</th>-->
              <th translate>Red Card</th>
              <th translate>Yellow Card</th>
              <th translate>Clean sheet</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in $ctrl.player.Player.Stat | orderBy:$ctrl.sortStats">
              <td>{{stat.Match.week_id}}</td>
              <td><a href ui-sref="match({matchId: stat.Match.feed_id})">{{stat.Match.Home.name}} - {{stat.Match.Away.name}}</a></td>
              <td>{{stat.value.time}}</td>
              <td>{{stat.value.goals.length}}</td>
              <td>{{stat.value.assists.length}}</td>
              <td>{{stat.value.points}}</td>
              <!--<td>{{stat.value.penalty_miss.length || 0}}</td>
              <td>{{stat.value.own_goals.length || 0}}</td>-->
              <td>{{stat.value.red_card.length || 0}}</td>
              <td>{{stat.value.yellow_cards.length || 0}}</td>
              <td>{{stat.value.conceeded.length === 0 ? 'Ja' : 'Nee'}}</td>
            </tr>
            </tbody>
          </table>
        </section>
        <div ng-show="$ctrl.player.Player.Stat.length == 0" class="pad">
          <p translate>No stats available for this player</p>
        </div>
      </div>

      <div class="block full player-upcoming">
        <div class="block-title">Upcoming matches</div>
        <section ng-show="$ctrl.player.Upcoming.length > 0" class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th translate>Day</th>
              <th translate>Competitor</th>
              <th translate>Home/Away</th>
              <th translate>Date</th>
              <th translate>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="club in $ctrl.player.Upcoming">
              <td>{{club.Match.week_id}}</td>
              <td>
                <span ng-if="club.Away.id !== $ctrl.player.Club.Club.id">{{club.Away.name}}</span>
                <span ng-if="club.Home.id !== $ctrl.player.Club.Club.id">{{club.Home.name}}</span>
              </td>
              <td>
                <span ng-if="club.Home.id !== $ctrl.player.Club.Club.id" translate>Away</span>
                <span ng-if="club.Away.id !== $ctrl.player.Club.Club.id" translate>Home</span>
              </td>
              <td>{{club.Match.date | momentDate:'DD/MM/YYYY'}}</td>
              <td>{{club.Match.date | momentDate:'HHumm'}}</td>
            </tr>
            </tbody>
          </table>
        </section>
        <div ng-show="$ctrl.player.Upcoming.length == 0" class="pad">
          <p translate>No upcoming matches for this player</p>
        </div>
      </div>
    </subnav-tab>
  </div>
</div>