<cycling-squad-team-edit
        ng-if="$ctrl.squad && $ctrl.isFirstWeek"
        squad="$ctrl.squad"
        cyclists="$ctrl.cyclists"
        clubs="$ctrl.clubs"
        game-budget="$ctrl.gameBudget"
        sponsors-enabled="$ctrl.sponsorsEnabled"
        local-assets="false"
        has-container-class="$ctrl.hasContainerClass"
        game-name="$ctrl.gameName"
        max-players-same-club="$ctrl.maxPlayersSameClub"
        states-prefix="$ctrl.statesPrefix"
        sponsors="$ctrl.sponsors"
>
</cycling-squad-team-edit>

<div ng-if="$ctrl.squad && !$ctrl.isFirstWeek && $ctrl.activated" class="row">
  <div class="col-md-12">
    <div class="block">
      <div class="time-pager">
        <a ng-click="$ctrl.changePlayDate('prev')" href class="prev"
           ng-class="{'disabled':$ctrl.currentDisplayWeek.week_id == 1}"><i class="icon icon-prev"></i></a>
        <!--<div class="label"><span translate>Speeldag</span> {{$ctrl.currentDisplayWeek.week_id}}</div>
-->
        <div class="label">
          <div class="select">
            <select ng-model="$ctrl.currentDisplayWeek"
                    ng-change="$ctrl.changePlayDate('change')"
                    ng-options="week as 'Speeldag ' + week.week_id for week in $ctrl.matches.weeks track by week.week_id"></select>
          </div>
        </div>

        <a ng-click="$ctrl.changePlayDate('next')"
           ng-disabled="$ctrl.currentDisplayWeek.week_id === $ctrl.matches.weeks[$ctrl.matches.weeks.length - 1].week_id"
           href class="next"><i class="icon icon-next"></i></a>
      </div>
    </div>
  </div>

  <div class="col-md-12" ng-if="$ctrl.displayWeekNotification && $ctrl.displayWeekNotification.message">
    <div ng-bind-html="$ctrl.displayWeekNotification.message" class="animated fadeIn" style="padding: 10px; text-align: center;"></div>
  </div>

  <div class="col-md-6">
    <div class="block"
         ng-if="$ctrl.matches.week.deadline_week && $ctrl.isMyTeam && $ctrl.week_id && ($ctrl.week_id >= $ctrl.matches.week.deadline_week) && !$ctrl.leagueIsOver()">
      <div class="block-title" translate>Choose your frontman</div>
      <div class="pad">
        <div class="form-group no-margin">
          <div class="select">
            <select ng-model="$ctrl.frontman"
                    ng-change="$ctrl.frontmanChanged()"
                    ng-options="cyclist as cyclist.Player.name for cyclist in $ctrl.starting|filter:notEmpty"></select>
          </div>
          <div class="btn btn-default btn-sm pull-right" ng-click="$ctrl.frontmanSave()" translate>Change</div>
        </div>
      </div>
    </div>
    <div class="block" ng-if="$ctrl.sponsorsEnabled">
      <div ng-if="$ctrl.isMyTeam && $ctrl.week_id && ($ctrl.week_id >= $ctrl.matches.week.deadline_week) && !$ctrl.leagueIsOver()">
        <div class="block-title" translate>Choose your sponsor</div>
        <div class="pad" ng-if="$ctrl.currentDisplayWeek.type !== 'worldchampionship'">
          <div class="form-group no-margin">
            <div class="select">
              <select ng-model="$ctrl.sponsor"
                      ng-options="sponsor as sponsor.Club.name for sponsor in $ctrl.sponsors|filter:notEmpty"></select>
            </div>
            <div class="btn btn-default btn-sm pull-right" ng-click="$ctrl.sponsorSave()" translate>Change</div>
          </div>
        </div>
        <div class="pad" ng-if="$ctrl.currentDisplayWeek.type === 'worldchampionship'">
          <p> Tijdens het WK in Valkenburg rijdt iedereen voor zijn land. Je kan deze week geen sponsor kiezen. </p>
        </div>
      </div>
    </div>

    <div class="block budget-lineup">

      <div ng-if="$ctrl.currentDisplayWeek.week_id < $ctrl.squad.Team.Team.week_id">
        <div class="alert alert-info"><span translate>Deze ploeg start in speeldag</span>
          {{$ctrl.squad.Team.Team.week_id}}
        </div>
      </div>

      <div class="block-title" translate>
        Jouw Ploeg
      </div>
      <div class="lineup-grid"
           ng-class="$ctrl.getLineUpLayout()">
        <div class="pad edit-selection"
             ng-if="$ctrl.isMyTeam && $ctrl.week_id == $ctrl.matches.week.deadline_week && $ctrl.week_id > 1">
          <a href ng-click="$ctrl.changePlayDate('prev')" class="btn" translate>View Points</a>
        </div>

        <div class="pad edit-selection"
             ng-if="$ctrl.isMyTeam && $ctrl.currentDisplayWeek.week_id < $ctrl.matches.week.deadline_week">
          <a href ng-click="$ctrl.editSelection()" class="btn" translate>Edit cycling team</a>
        </div>

        <!-- Start KLAS/GIRO Lineup Elements -->
        <!-- Runners -->
        <div class="row"
             ng-if="['KLAS', 'GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <div ng-repeat="cyclist in $ctrl.starting|slice:0:1 track by $index"
               class="player cyclist"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
          >
            <cyclist player="cyclist"
                     states-prefix="$ctrl.statesPrefix"
                     show-short="['KLAS','GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
                     game-name="$ctrl.gameName"
                     show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"></cyclist>
          </div>
        </div>

        <div class="row"
             ng-if="['KLAS', 'GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <div ng-repeat="cyclist in $ctrl.starting|slice:1:3 track by $index"
               class="player cyclist"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
          >
            <cyclist player="cyclist"
                     states-prefix="$ctrl.statesPrefix"
                     show-short="['KLAS','GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
                     game-name="$ctrl.gameName"
                     show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"></cyclist>
          </div>
        </div>

        <div class="row"
             ng-if="['KLAS', 'GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <div ng-repeat="cyclist in $ctrl.starting|slice:3:6 track by $index"
               class="player cyclist"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
          >
            <cyclist player="cyclist"
                     states-prefix="$ctrl.statesPrefix"
                     show-short="['KLAS','GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
                     game-name="$ctrl.gameName"
                     show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"></cyclist>
          </div>
        </div>

        <div class="row"
             ng-if="['KLAS', 'GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
             ng-class="{'pb-120px' : !$ctrl.isMyTeam && ['KLAS'].indexOf($ctrl.squad.Team.League.competition_feed)}">
          <div ng-repeat="cyclist in $ctrl.starting|slice:6:10 track by $index"
               class="player cyclist"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
          >
            <cyclist player="cyclist"
                     states-prefix="$ctrl.statesPrefix"
                     show-short="['KLAS','GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
                     game-name="$ctrl.gameName"
                     show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"></cyclist>
          </div>
        </div>

        <!-- No Bench competitions -->
        <div class="row"
             ng-if="['GIRO', 'TOUR', 'VUEL', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
             ng-class="{'pb-120px' : !$ctrl.isMyTeam}">
          <div ng-repeat="cyclist in $ctrl.starting|slice:10:15 track by $index"
               class="player cyclist"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
          >
            <cyclist player="cyclist"
                     states-prefix="$ctrl.statesPrefix"
                     show-short="true"
                     game-name="$ctrl.gameName"
                     show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"></cyclist>
          </div>
        </div>


        <!-- Bench -->
        <div ng-if="$ctrl.isMyTeam && $ctrl.squad.Team.League.competition_feed === 'KLAS'"
             class="row bench-klassiekers">
          <div ng-repeat="cyclist in $ctrl.starting|slice:10:15 track by $index"
               class="bench-players"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"

          >
            <cyclist player="cyclist"
                     game-name="$ctrl.gameName"
                     show-short="true"
                     class="bench-player"
                     show-points="false"></cyclist>
          </div>
        </div>

        <!-- End KLAS Lineup Elements -->


        <!-- Start CROS Lineup Elements -->
        <!-- Runners -->
        <!-- Frontman -->
        <div class="row" ng-if="$ctrl.squad.Team.League.competition_feed === 'CROS'">
          <div ng-repeat="cyclist in $ctrl.starting|slice:0:2"
               class="player cyclist"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
          >
            <cyclist
                    game-name="$ctrl.gameName"
                    player="cyclist"
                    show-short="true"
                    show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"></cyclist>
          </div>
        </div>

        <div class="row" ng-if="$ctrl.squad.Team.League.competition_feed === 'CROS'">
          <div ng-repeat="cyclist in $ctrl.starting|slice:2:5"
               class="player cyclist"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
          >
            <cyclist player="cyclist"
                     game-name="$ctrl.gameName"
                     show-short="true"
                     show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row"
             ng-if="$ctrl.squad.Team.League.competition_feed === 'CROS'">
          <div ng-repeat="cyclist in $ctrl.starting|slice:5:8"
               class="player cyclist"
               data-drag="$ctrl.isDraggable2(cyclist)"
               data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
               jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
               data-drop="$ctrl.isBenchDroppable(cyclist)"
               jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
          >
            <cyclist player="cyclist"
                     game-name="$ctrl.gameName"
                     show-short="true"
                     show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"></cyclist>
          </div>
        </div>

        <div ng-if="$ctrl.squad.Team.League.competition_feed === 'CROS'">
          <div ng-if="$ctrl.isMyTeam" class="row"
               ng-class="{'bench-1st-row' : $ctrl.getLineUpLayout() != 'default-background'}">
            <div ng-repeat="cyclist in $ctrl.starting|slice:8:11"
                 class="player cyclist background-default"
                 data-drag="$ctrl.isDraggable2(cyclist)"
                 data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                 jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
                 data-drop="$ctrl.isBenchDroppable(cyclist)"
                 jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"

            >
              <cyclist player="cyclist"
                       game-name="$ctrl.gameName"
                       show-short="true"
                       class="cycling-bench"
                       show-points="$ctrl.leagueIsOver()"></cyclist>
            </div>
          </div>

          <div ng-if="$ctrl.isMyTeam" class="row"
               ng-class="{'bench-2nd-row' : $ctrl.getLineUpLayout() != 'default-background'}">
            <div ng-repeat="cyclist in $ctrl.starting|slice:11:15"
                 class="player cyclist background-default"
                 data-drag="$ctrl.isDraggable2(cyclist)"
                 data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                 jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()'}"
                 data-drop="$ctrl.isBenchDroppable(cyclist)"
                 jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
            >
              <cyclist player="cyclist"
                       game-name="$ctrl.gameName"
                       show-short="true"
                       class="cycling-bench"
                       show-points="$ctrl.leagueIsOver()"></cyclist>
            </div>
          </div>

          <!-- End CROS Lineup Elements-->
        </div>


        <div ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'">

          <!-- Start Lineup elements GCX -->
          <!-- Frontman -->
          <div ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'" class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:0:1" class="player cyclist">
              <cyclist player="cyclist"
                       states-prefix="$ctrl.statesPrefix"
                       show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"
                       show-short-position="true"
                       show-position-background="true"
                       game-name="$ctrl.gameName"
                       show-short="true"></cyclist>
            </div>
          </div>

          <div ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'" class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:1:4" class="player cyclist">
              <cyclist player="cyclist"
                       states-prefix="$ctrl.statesPrefix"
                       show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"
                       show-short-position="true"
                       show-position-background="true"
                       game-name="$ctrl.gameName"
                       show-short="true"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'" class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:4:7" class="player cyclist">
              <cyclist player="cyclist"
                       states-prefix="$ctrl.statesPrefix"
                       show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"
                       show-short-position="true"
                       show-position-background="true"
                       game-name="$ctrl.gameName"
                       show-short="true"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'" class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:7:10" class="player cyclist">
              <cyclist player="cyclist"
                       states-prefix="$ctrl.statesPrefix"
                       show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"
                       show-short-position="true"
                       show-position-background="true"
                       game-name="$ctrl.gameName"
                       show-short="true">
              </cyclist>
            </div>
          </div>

          <div ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'" class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:10:13" class="player cyclist">
              <cyclist player="cyclist"
                       states-prefix="$ctrl.statesPrefix"
                       show-points="$ctrl.currentWeekIsLessThanDeadlineWeek() && !$ctrl.isFetching"
                       show-short-position="true"
                       show-position-background="true"
                       game-name="$ctrl.gameName"
                       show-short="true">
              </cyclist>
            </div>
          </div>
          <!-- End Bench -->
          <!-- END Lineup elements GCX -->
        </div>
      </div>

      <div class="col-md-12" ng-if="!$ctrl.isMyTeam && $ctrl.sponsor && $ctrl.sponsorsEnabled">
        <div class="pad content-centered">
          <h3><span translate>Sponsor</span>: {{$ctrl.sponsor.Club.name}}</h3>
        </div>
      </div>

      <div ng-if="$ctrl.isMyTeam && $ctrl.week_id && ($ctrl.week_id >= $ctrl.matches.week.deadline_week) &&
          ['KLAS', 'CROS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1
        "
           class="pad info-text">
        <div class="icon icon-drag-drop"></div>
        <p ng-if="$ctrl.squad.Team.League.competition_feed === 'CROS'"
           translate>
          Alleen de 8 opgestelde renners verdienen punten. Jij bepaalt wie er rijdt, en wie op de bank zit!
        </p>
        <p ng-if="$ctrl.squad.Team.League.competition_feed === 'CROS'"
           translate>Je kan renners slepen van het veld naar de bank en omgekeerd.
        </p>

        <p ng-if="$ctrl.squad.Team.League.competition_feed === 'KLAS'"
           translate>
          Alleen de 10 opgestelde renners verdienen punten. Jij bepaalt wie er rijdt, en wie in de bus blijft zitten!
        </p>
        <p ng-if="$ctrl.squad.Team.League.competition_feed === 'KLAS'"
           translate>
          Je kan renners slepen van de weg naar de bus en omgekeerd.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row" ng-if="!$ctrl.matchInfoDisabled">
      <div class="col-md-12">
        <cycling-match-info matches="$ctrl.currentWeekMatches"
                            states-prefix="$ctrl.statesPrefix"
                            points="$ctrl.currentWeekPoints"
                            rank="$ctrl.currentWeekRank"
                            total-rank="$ctrl.squad.Team.Team.rank"
                            total-points="$ctrl.squad.Team.Team.points"
                            end-game-bonus-players-points="$ctrl.endGameBonusPlayersPoints"
                            competition-feed="$ctrl.squad.Team.League.competition_feed"></cycling-match-info>

        
        <!--
          <div class="promo-widget">
            <a ng-href={{$ctrl.promoBannerURL}}>
              <img style="width: 98%" ng-src="{{$ctrl.promoBannerImage}}" />
            </a>
          </div>
        -->
      </div>
    </div>

    <div class="row" ng-if="!$ctrl.calendarPanelDisabled">
      <cycling-calendar display-week="$ctrl.currentDisplayWeek"
                        show-select="true"
                        team="$ctrl.squad"
                        competition-feed="$ctrl.squad.Team.League.competition_feed"></cycling-calendar>
    </div>
  </div>

</div>