<div class="block">
  <div class="block-title  widget-title-ground">{{$ctrl.title}}</div>
  <div class="row">
    <div class="col-md-12 player-list">
      <div class="player" ng-repeat="player in $ctrl.players | orderBy:'[\'0\'].top' |limitTo:5"
           style="margin-bottom: 10px;">
        <img ng-if="$ctrl.getPlayerStatus(player)"
             ng-src="images/status/{{$ctrl.getPlayerStatus(player)}}.png"
             class="player-status-icon widget-status">

        <span class="player-avatar">
              <span ng-if="$ctrl.jerseyOnly">
                      <img ng-if="!$ctrl.localAssets"
                           ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{player.players.club_id}}.png"
                           fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                           class="jersey">

                      <img ng-if="$ctrl.localAssets"
                           ng-src="/images/football/jersey_{{player.players.club_id}}.png"
                           class="jersey"
                           fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
                    </span>

              <img ng-if="!$ctrl.jerseyOnly" ng-src="{{$ctrl.assetsURL}}/jerseys/{{player.players.club_id}}.png"
                   class="jersey">
            </span>
        <span class="player-info">
                <div class="name">{{player.players.short}}</div>
                <div class="position player">{{player['0'].top}} &nbsp;<span translate>keer gekozen</span></div>
            </span>
      </div>
    </div>
  </div>
</div>
</div>