<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">

    <div class="row" ng-if="$ctrl.subjectTeamInfo">
      <div class="col-md-12">
        <div class="alert alert-info">
          <span translate>Your new team was created.</span>
          <a href ng-click="$ctrl.goToLeague()"><span translate>Go to</span>{{' ' + $ctrl.customLeagueLabel}}</a>
        </div>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.teams.length == 0 && $ctrl.activePaymentsList.length === 0">
      <div class="col-md-12">
        <p><span translate>You don't have any teams left to pay!</span>
          <button class="btn btn-primary btn-xs" ng-click="$ctrl.goToNewTeam()" translate>New team</button>
        </p>
      </div>
    </div>
    <div class="row">
      <div ng-if="$ctrl.teams.length > 0">
        <div class="col-md-12 col-sm-12">
          <div class="block">

            <div class="block-title" translate>Ploegen</div>
            <div ng-if="!$ctrl.ogoneTransaction">

              <div class="alert alert-info"
                   ng-if="$ctrl.showPromo && $ctrl.showPayment"
                   translate="">
                U kan momenteel genieten van 1+1 promo. Schrijf telkens een tweede ploeg gratis in, tot einde van deze
                speeldag! Beide ploegen moeten gezamenlijk afgerekend worden.
              </div>

              <div class="table-teams">

                <table class="table table-striped fa-dashboard-table fa-table payments-table">
                  <thead>
                  <tr>
                    <th translate>Ploeg</th>
                    <th translate>Pay</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="team in $ctrl.teams">
                    <td id="team-name-column">
                      <a ng-if="!$ctrl.editTeams[team.Team.id]"
                         class="margin-left-20p"
                         ng-click="$ctrl.goToTeam(team)"
                         href>
                        {{team.Team.name}}
                      </a>
                      <input ng-if="$ctrl.editTeams[team.Team.id]"
                             ng-model="$ctrl.editTeams[team.Team.id].name"
                             ng-change="$ctrl.editTeams[team.Team.id].name = $ctrl.checkTeamName($ctrl.editTeams[team.Team.id].name)"
                             ng-keypress="$ctrl.onKeyPress($event,team.Team.id)"
                             type="text"
                             class="input form-control"/>
                      <br ng-if="!$ctrl.editTeams[team.Team.id]"/>
                      <span ng-if="!!!team.Team.valid" class="badge badge-danger"><i
                              class="fa fa-times"
                              aria-hidden="true"></i> <span translate>Invalid</span></span>
                      <span ng-if="!!team.Team.paid" class="badge badge-success"><i
                              class="fa fa-check text-success"
                              aria-hidden="true"></i> <span translate>paid</span></span>
                      <span ng-if="!!!team.Team.paid" class="badge badge-danger"><i
                              class="fa fa-times"
                              aria-hidden="true"></i> <span translate>not paid</span></span>
                    </td>
                    <td>
                      <input ng-if="team.Team.paid" ng-disabled="team.Team.paid" type="checkbox" checked/>
                      <input ng-if="!team.Team.paid" ng-disabled="!$ctrl.showPayment" type="checkbox"
                             ng-model="team.pay"
                             ng-change="$ctrl.togglePay()"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div ng-if="$ctrl.showPayment">
              <div class="row pad">
                <div class="col-sm-12">
                  <span translate>Totaal te betalen</span>: <strong>€{{$ctrl.showPromo ? $ctrl.getTotalWithPromo() :
                  $ctrl.totalToPayWithCoupons}}</strong>
                </div>
              </div>

              <div ng-if="!$ctrl.ogoneTransaction" class="row pad">
                <div ng-repeat="coupon in $ctrl.coupons track by $index" class="col-sm-6">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input ng-model="$ctrl.coupons[$index]"
                           ng-change="$ctrl.validateCoupon($index, '{{$ctrl.coupons[$index]}}')"
                           class="input form-control"
                           placeholder="{{$ctrl.couponLabel}} {{$index + 1}}"/>
                    <div class="input-group-addon input no-border-and-transparent" style="padding-left: 5px;"><span
                            ng-click="$ctrl.removeCoupon($index)"><i class="fa fa-times"/></span></div>
                    <div class="input-group-addon input no-border-and-transparent" style="padding-left: 5px;">
                          <span>
                            <i ng-class="$ctrl.couponValidationClass($index)"/>
                          </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row pad">
                <button ng-if="!$ctrl.mollieTransaction"
                        ng-click="$ctrl.addCoupon()"
                        class="btn btn-success btn-xs margin-10p"
                        translate>
                  Add Coupon
                </button>

                <button ng-if="!$ctrl.mollieTransaction"
                        ng-disabled="$ctrl.selectedTeamsForPaying() === 0 || !$ctrl.showPayment"
                        ng-click="$ctrl.payTeams()"
                        class="btn btn-primary btn-xs margin-10p"
                        translate>
                  Checkout
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div ng-if="$ctrl.activePaymentsList.length > 0">
        <div class="col-md-12 col-sm-12">
          <div class="block">

            <div class="block-title" translate>Pending Payments</div>
            <div ng-if="!$ctrl.ogoneTransaction">
              <div class="table-teams">
                <div class="alert alert-info" style="margin-bottom: 0px" translate>
                    <p> Waarom zie ik enkel "Betalingen in afwachting"? </p>
                    <p>Je ploegen worden in "afwachting" gezet van zodra je tijdens het afrekenen kiest om te betalen via overschrijving. Of wanneer je bij een andere betaalmethode de procedure vroegtijdig hebt afgebroken.</p>
                    <p>Je hebt 2 opties:</p>
                    <ul>
                      <li>1. Koos je om te betalen via overschrijving, dan kan je de ploegen betalen volgens de betaalinstructies die je naar je e-mailadres liet sturen tijdens de afrekenprocedure.</li>
                      <li>2. Je kan de betaling annuleren (je ploegen worden niet verwijderd) en opnieuw proberen met dezelfde of een andere betaalmethode. We raden aan om online te betalen, dan zijn je ploegen meteen actief.</li>
                    </ul>
                </div>
                <table class="table table-striped fa-dashboard-table fa-table payments-table pending-payments-table">
                  <thead>
                  <tr>
                    <th translate>Teams</th>
                    <th translate>Details</th>
                    <th translate>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="payment in $ctrl.activePaymentsList">
                    <td id="team-name-column">
                      <span ng-repeat="team in payment.teams"
                            class="badge badge-success badge-team">
                        <span translate>{{team.name}}</span></span>
                    </td>
                    <td>
                      <a class="btn btn-sm"
                         ng-if="!$ctrl.activePaymentsInfo[payment.paymentId]"
                         ng-click="$ctrl.getPaymentStatus(payment.paymentId)">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span translate>View</span>
                      </a>
                      <div class="details">
                        <span ng-if="$ctrl.activePaymentsInfo[payment.paymentId]">
                          {{$ctrl.getLocalDate($ctrl.activePaymentsInfo[payment.paymentId].data.createdAt)}}
                        </span>
                        <span ng-if="$ctrl.activePaymentsInfo[payment.paymentId]">
                          {{$ctrl.activePaymentsInfo[payment.paymentId].data.method ? ($ctrl.activePaymentsInfo[payment.paymentId].data.method | translate) + ' - ' : ''}}
                          €{{$ctrl.activePaymentsInfo[payment.paymentId].data.amount.value}}
                        </span>
                      </div>
                    </td>
                    <td>
                      <a fa-confirmation-dialog
                         class="btn btn-sm text-danger"
                         ng-if="!$ctrl.cancelPaymentTriggered"
                         title="{{'Cancel payment' | translate}}"
                         body="{{$ctrl.cancelPaymentMessage + ' ' +  payment.teams.map($ctrl.getTeamName).join(', ') + '?'}}"
                         on-success="$ctrl.cancelPayment(payment.paymentId)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <span translate>Cancel</span>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
