<div class="row row-content pad" ng-if="$ctrl.dataFetched()">
  <!-- LEFT -->
  <subnav-tab id="1">
    <div class="col-sm-12 col-md-6">

      <div class="block">
        <div class="block-title" translate>
          Transfers
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="transfers-info-message">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              {{$ctrl.infoMessages && $ctrl.infoMessages[$ctrl.activeInfo]}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-xs-10">
            <div class="pull-right" translate>
              <h3 ng-class="{'text-danger': $ctrl.isOutOfBudget()}" class="remaining-budget">
                <span translate>Resterend budget</span>: <span>{{$ctrl.budget|currency:'€':1}} <span translate>mil</span></span>
              </h3>
            </div>
          </div>
          <div class="col-md-4 col-xs-2">
            <button ng-if="$ctrl.hasTransfers()"
                    ng-click="$ctrl.resetTransfers()"
                    translate
                    class="btn btn-danger reset-transfers-button">Reset Transfers
            </button>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <table class="cx-table table-striped">
              <thead>
              <th class="text-danger content-centered" translate> Out</th>
              <th></th>
              <th class="text-success content-centered" translate> In</th>
              </thead>
              <tbody>
              <tr ng-repeat="transfer in $ctrl.transfers track by $index"
                  class="cx-transfer">
                <td style="width: 40%">
                  <div class="row">
                    <div class="col-md-9 col-xs-9 info">
                      <p class="player-name">{{$ctrl.squad.Team.League.competition_feed === 'CROS' ?
                        transfer.out.Player.short : transfer.out.Player.forename}}</p>
                      <p class="club-name">{{transfer.out.Club.short}}</p>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <p class="player-value"> €{{transfer.out.Price.currentTransferValue}} </p>
                    </div>
                  </div>
                </td>
                <td style="width: 20%" class="middle">
                  <i ng-if="!(transfer.in && $ctrl.activeTransferSlot && !transfer.in.confirmed)"
                     class="icon icon-transfer swap-icon"
                     aria-hidden="true"></i>
                  <button ng-click="$ctrl.confirmTransfer()"
                          ng-if="transfer.in && $ctrl.activeTransferSlot && !transfer.in.confirmed"
                          class="btn btn-xs submit-transfer"
                          translate
                          aria-hidden="true">Confirm
                  </button>
                </td>
                <td style="width: 40%">
                  <div class="row content-centered" ng-if="$ctrl.isTransferActive($index) && !transfer.in">
                    <div class="col-md-8 col-xs-8">
                      <small translate>
                        Choose a player from the list
                      </small>
                    </div>
                    <div class="col-md-4 col-xs-4">
                      <i ng-click="$ctrl.cancelTransfer()" class="fa fa-times" aria-hidden="true"></i>
                    </div>
                  </div>

                  <div class="row" ng-if="transfer.in && !transfer.in.confirmed">
                    <div class="col-md-3 col-xs-3">
                      <p class="player-value">
                        €{{transfer.in.info.current.value}}
                      </p>
                    </div>
                    <div class="col-md-6 col-xs-6 info">
                      <p class="player-name">{{$ctrl.squad.Team.League.competition_feed === 'CROS' ?
                        transfer.in.Player.short: transfer.in.Player.forename}}</p>
                      <p class="club-name">{{transfer.in.Club.short}}</p>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <i ng-click="$ctrl.removeInCyclist($index)" class="fa fa-times" aria-hidden="true"></i>
                    </div>
                  </div>

                  <div class="row" ng-if="transfer.in && transfer.in.confirmed">
                    <div class="col-md-3 col-xs-3">
                      <p class="player-value">
                        €{{transfer.in.Player.value}}
                      </p>
                    </div>
                    <div class="col-md-9 col-xs-9 info">
                      <p class="player-name">{{$ctrl.squad.Team.League.competition_feed === 'CROS' ?
                        transfer.in.Player.short: transfer.in.Player.forename}}</p>
                      <p class="club-name">{{transfer.in.Club.name}}</p>
                    </div>
                  </div>
                  <div class="row content-centered"
                       ng-if="!transfer.in && !$ctrl.activeTransferSlot && $ctrl.canTransfer()">
                    <button ng-click="$ctrl.activateTransferSlot($index)"
                            class="btn btn-xs transfer-cyclist" translate>
                      Transfer
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </subnav-tab>

  <!-- RIGHT -->
  <subnav-tab id="2">
    <div class="col-sm-12 col-md-6">
      <div class="add-players budget-add-players">
        <div class="block-title" translate>
          All players
        </div>
        <div class="add-player-form show">
          <div class="add-player-filter">
            <div class="row">
              <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="{{'Search' | translate}}"
                     class="input">
            </div>
            <div class="row">
              <div class="select">
                <select ng-model="$ctrl.filterItem.club"
                        ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                        ng-change="$ctrl.filterChanged()"></select>
              </div>
              <div class="select">
                <select ng-model="$ctrl.filterItem.budget"
                        ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
              </div>
              <div class="select">
                <select ng-model="$ctrl.selectedNationalClub"
                        ng-options="nationalClub.name for nationalClub in $ctrl.nationalClubs"></select>
              </div>
            </div>
          </div>
          <div class="cyclist-list zebra">
            <div dir-paginate="cyclist in $ctrl.cyclists | filter:q:strict | filter:$ctrl.customFilter | orderBy:'-info.current.value' | itemsPerPage: 10"
                 ng-click="$ctrl.onCyclistClick(cyclist, $event)"
                 current-page="$ctrl.pagination.current">
              <div class="row cyclist-list-item">
                <div class="col-md-2 col-sm-2 col-xs-2 content-centered">
                  <a class="player-avatar">
                    <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/{{cyclist.Club.infostrada_id}}.png"
                         fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                         class="jersey">
                  </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-4">
                  <div class="name">{{::cyclist.Player.name}}</div>
                  <div class="club">{{::cyclist.Club.name}}</div>
                  <a ng-if="$ctrl.showPlayersValueFluctuations"
                     href
                     class="btn cyclist-profile-transfers"
                     ng-click="$ctrl.playerProfile(cyclist, $event)"
                     translate>View player profile</a>
                </div>

                <div class="col-md-3 col-sm-1 col-xs-3">
                  <div class="cyclist-trend-direction pull-right">
                    <i ng-if="cyclist.info.current.trend.direction !== 'constant'"
                       class="fa"
                       ng-class="{
                      'text-success fa-angle-up': cyclist.info.current.trend.direction === 'up',
                      'text-danger fa-angle-down': cyclist.info.current.trend.direction === 'down'
                      }"
                       aria-hidden="true">
                    </i>
                    €{{cyclist.info.current.value || cyclist.info.initial.value}}
                  </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-3">
                  <button ng-if="$ctrl.activeTransferSlot && $ctrl.isPickable(cyclist)"
                          ng-hide="$ctrl.hasOneUnconfirmedTransfer()"
                          ng-click="$ctrl.onCyclistIn(cyclist, $event)"
                          class="btn btn-xs pull-right transfer-cyclist mr-10p"
                          translate>Transfer
                  </button>
                </div>
              </div>

              <div ng-if="$ctrl.infoToggled(cyclist) && cyclist.info.initial && cyclist.info.initial.value && $ctrl.showPlayersValueFluctuations" class="row">
                <div class="col-md-4 col-xs-4 content-centered">
                  <div class="row">
                    <p class="title-extra-info-week-no text-align-center">
                      {{'Week ' + cyclist.info.initial.week_id}}
                    </p>
                  </div>
                  <div class="row">
                    <p class="cyclist-previous-value text-align-center">
                      {{'€' + cyclist.info.initial.value}}
                    </p>
                  </div>
                </div>

                <div class="col-md-4 col-xs-4 content-centered">
                  <div class="row">
                    <p class="title-extra-info-week-no">
                      {{'Week ' + cyclist.info.previous.week_id}}
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-xs-12">
                      <p>
                        <span class="cyclist-previous-value text-align-center">
                         {{'€' + cyclist.info.previous.value}}
                        </span>
                        <span class="cyclist-percentage"
                              ng-if="cyclist.info.previous.trend.percentage != 0 && cyclist.info.previous.trend.percentage != null"
                              ng-class="{
                                'text-success': cyclist.info.previous.trend.direction === 'up',
                                'text-danger': cyclist.info.previous.trend.direction === 'down'
                                }
                          ">
                          ({{cyclist.info.previous.trend.percentage > 0 ? '+' + cyclist.info.previous.trend.percentage + '%' :
                        cyclist.info.previous.trend.percentage + '%'}})
                        </span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-xs-4 content-centered">
                  <div class="row">
                    <p class="title-extra-info-week-no">
                      {{'Week ' + cyclist.info.current.week_id}}
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-xs-12">
                      <p>
                        <span class="cyclist-previous-value text-align-center">
                         {{'€' + cyclist.info.current.value}}
                        </span>
                        <span class="cyclist-percentage"
                              ng-if="cyclist.info.current.trend.percentage != 0 && cyclist.info.current.trend.percentage"
                              ng-class="{
                                'text-success': cyclist.info.current.trend.direction === 'up',
                                'text-danger': cyclist.info.current.trend.direction === 'down'
                                }
                          ">
                          ({{cyclist.info.current.trend.percentage > 0 ? '+' + cyclist.info.current.trend.percentage + '%' :
                        cyclist.info.current.trend.percentage + '%'}})
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </subnav-tab>
</div>

