<!-- JOIN TO LEAGUE -->
<div class="container">
  <div class="row" ng-if="$ctrl.isGlobalLeague">
    <div class="col-md-12">
      <div class="block">
        <div class="block-title" translate>Join football league</div>
        <div class="pad">
          <p>
            Dit team is nog niet ingeschreven in een superklasse. Vul hier de link van de superklasse in waaraan je
            wenst
            deel te nemen.
          </p>
          <input ng-model="$ctrl.inviteURL"
                 ng-keypress="$ctrl.onKeyPress($event)"
                 ng-change="$ctrl.processInviteURL()"
                 type="text"
                 placeholder="{{'Invite Link'|translate}}"
                 class="input form-control">

          <div class="invite-league" ng-if="$ctrl.inviteLeague">
            <h5>{{$ctrl.inviteLeague.name}}
              <!--<img style="max-width: 50px"
                   src="/images/emojis/{{$ctrl.inviteLeague.competition_feed}}.png">-->
            </h5>
            <button ng-click="$ctrl.joinLeague()" class="btn" translate>Inschrijven in superklasse</button>
          </div>

          <p class="alert alert-info positioned pad"
             translate
             ng-if="!$ctrl.hideMessage && $ctrl.showLeaveCompetitionButton">Attention: you can choose for the Superclass until the start of matchday 7 (14/09). Then you can no longer leave the Super Class.</p>
          <p class="alert alert-info positioned pad"
             translate
             ng-if="!$ctrl.hideMessage && !$ctrl.showLeaveCompetitionButton">Attention: you can't leave the Superklasse when the next gameweek has started.</p>

        </div>

        <div class="pad"
             ng-if="($ctrl.enableLeagueSelection && $ctrl.isGlobalLeague && $ctrl.firstWeek) || (!$ctrl.isGlobalLeague)">
          <soccer-league-table squad="$ctrl.squad"
                               enable-league-selection="$ctrl.enableLeagueSelection"
                               first-week="$ctrl.firstWeek"
                               show-leave-competition-button="$ctrl.showLeaveCompetitionButton"
                               league="$ctrl.league"
                               global-league-ids="$ctrl.globalLeagueIds"
                               states-prefix="$ctrl.statesPrefix"
                               is-global-league="$ctrl.isGlobalLeague"
                               competition-feed="$ctrl.competitionFeed"
                               season-id="$ctrl.seasonId"></soccer-league-table>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="block">
        <div class="block-title" translate>Create football league</div>
        <div class="pad">
          <div class="row">
            <div class="col-md-8">
              <input ng-model="$ctrl.newLeagueName"
                     type="text"
                     placeholder="{{'Football league name'|translate}}"
                     class="input form-control">
            </div>
            <div class="col-md-4">
              <button ng-click="$ctrl.createLeague()"
                      ng-disabled="$ctrl.newLeagueName.length < 1"
                      class="btn btn-sm btn-primary mt-7p pull-right"
                      translate>
                Create football league
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block" ng-if="!$ctrl.isGlobalLeague">
    <div class="block-title">{{$ctrl.squad.Team.League.name}}
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right pad">
          <div class="form-group no-margin">
            <div class="select">
              <select
                      ng-change="$ctrl.gameWeekChanged()"
                      ng-model="$ctrl.currentDisplayWeek"
                      ng-options="week.label for week in $ctrl.deadlineWeeksOptions"></select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th translate>Team</th>
          <!--<th translate>Player</th>-->
          <th translate>Points</th>
        </tr>
        </thead>
        <tbody ng-if="$ctrl.currentDisplayWeek.id === 0">
        <tr dir-paginate="team in $ctrl.leagueStandings | itemsPerPage: $ctrl.displayItems | orderBy:'-Team.points'"
            total-items="$ctrl.totalRecords"
            current-page="$ctrl.pagination.current">
          <td>{{$ctrl.pagination.current > 1 ? ($ctrl.displayItems * ($ctrl.pagination.current - 1)) + ($index+1) :
            $index+1}}
          </td>
          <td class="public-1">
            <a href
               ng-click="$ctrl.goToTeamPoints(team.Team.id)"
               ng-if="team.Team.visible"
               ng-class="{'text-bold': team.Team.belongsToCurrentUser}">{{team.Team.name}}</a>
            <span ng-if="!team.Team.visible"
                  ng-class="{'text-bold': team.Team.belongsToCurrentUser}">{{team.Team.name}}</span>
            <br/>
            <small><em>{{team.User.first_name + ' ' + team.User.last_name}}</em></small>
          </td>
          <td class="public-1">{{team.Team.points}}</td>
        </tr>
        </tbody>
        <tbody ng-if="$ctrl.currentDisplayWeek.id > 0">
        <tr dir-paginate="team in $ctrl.leagueStandings | itemsPerPage: $ctrl.displayItems | orderBy:'-Matchstat.points'"
            total-items="$ctrl.totalRecords"
            current-page="$ctrl.pagination.current">
          <td>{{$ctrl.pagination.current > 1 ? ($ctrl.displayItems * ($ctrl.pagination.current - 1)) + ($index+1) :
            $index+1}}
          </td>
          <td class="public-1">
            <a ng-if="$ctrl.league.League.League.status > 2" href ui-sref="squadTeam({id: $ctrl.team.Team.Team.id})"
               ng-class="{'text-bold': team.Team.belongsToCurrentUser}">{{team.name}}</a>
            <span ng-class="{'text-bold': team.Team.belongsToCurrentUser}"
                  ng-if="$ctrl.league.League.League.status <= 2">{{team.Team.name}}</span>
            <br/>
            <small><em>{{team.User.first_name + ' ' + team.User.last_name}}</em></small>
          </td>
          <td class="public-1">{{team.Matchstat.points}}</td>
        </tr>
        </tbody>
      </table>
      <dir-pagination-controls
              on-page-change="$ctrl.onPageChange(newPageNumber)"
              boundary-links="true">
      </dir-pagination-controls>
    </div>
    <div class="row" ng-if="($ctrl.firstWeek || $ctrl.showLeaveCompetitionButton) && $ctrl.squad.weeks.deadline_week">
      <div class="col-md-12">
        <button class="btn btn-sm btn-danger pull-right"
                ng-click="$ctrl.leaveCompetition()"
                style="margin: 0 10px 20px 0;"
                translate>
          Leave competition
        </button>
      </div>
    </div>
  </div>

  <div class="block"
       ng-if="$ctrl.league.League.League.status < 2 && !$ctrl.isGlobalLeague && $ctrl.squad.weeks.deadline_week">
    <div class="block-title" translate>Share</div>

    <section class="pad" id="league-share">
      <p translate>Nodig anderen uit in jouw superklasse door onderstaande link met hen te delen!</p>
      <input id="shareLink" class="input form-control" value="{{$ctrl.shareLink}}">
      <button class="btn btn-sm" ngclipboard data-clipboard-target="#shareLink" translate>
        Copy to clipboard
      </button>
    </section>
  </div>

</div>