<div class="block" ng-if="$ctrl.leaderTeam">
    <div class="block-title widget-title-ground">{{$ctrl.leaderTeam.Team.User.first_name}} {{$ctrl.leaderTeam.Team.User.last_name}} - {{$ctrl.title + ' ' + $ctrl.winnerWeek}}</div>
    <div class="pad">
        <div class="row">
            <div class="col-xs-12">
                {{$ctrl.winner.Team.name}} <span class="pull-right" style="font-family: Roboto Condensed,sans-serif;
    text-transform: uppercase;">
                    <span class="endwinner-points">{{$ctrl.winner.Weekstat.points}} </span>
                <span translate>points</span></span>
            </div>
        </div>
        <div class="row player-list" ng-repeat="rows in $ctrl.chunkedData">
            <div class="player" ng-repeat="cyclist in rows">
                <span class="player-avatar">
              <img ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{cyclist.Club.id || cyclist.Player.club_id}}.png"
                   class="jersey">
            </span>
                <span class="player-info">
              <div class="name">{{cyclist.Player.name}}</div>
               <div class="position cyclist">
                   {{cyclist.Selection.points}} <span translate>points</span>
              </div>
            </span>
            </div>
        </div>
    </div>
</div>
