<a href
   ng-click="$ctrl.click()"
   class="player-avatar budget-player-avatar"
   ng-class="{
   'player-gk': !$ctrl.hidePositionBackground && ($ctrl.player.position_id == 1 || $ctrl.player.players.position_id == 1 || $ctrl.player.Player.position_id == 1),
    'player-def': !$ctrl.hidePositionBackground && ($ctrl.player.position_id == 2 || $ctrl.player.players.position_id == 2 || $ctrl.player.Player.position_id == 2),
    'player-mf': !$ctrl.hidePositionBackground && ($ctrl.player.position_id == 3 || $ctrl.player.players.position_id == 3 || $ctrl.player.Player.position_id == 3),
    'player-fwd': !$ctrl.hidePositionBackground && ($ctrl.player.position_id == 4 || $ctrl.player.players.position_id == 4 || $ctrl.player.Player.position_id == 4),
    }"
   uib-popover-template="'soccer-player-popover.html'"
   popover-placement="auto bottom"
   popover-append-to-body="false"
   popover-enable="$ctrl.popoverClick"
   popover-is-open="$ctrl.player.popoverOpen"
>

  <img ng-if="$ctrl.dragAndDropEnabled"
       src="/images/drag_button.png"
       class="drag-handle">
  </img>

  <img ng-if="!$ctrl.player.selections.blanko && $ctrl.clubInfo && !$ctrl.localAssets"
       ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{$ctrl.clubInfo.id}}.png"
       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
       class="jersey">

  <img ng-if="$ctrl.player.selections.blanko"
       ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
       class="jersey">

  <img ng-if="$ctrl.clubInfo && $ctrl.localAssets"
       ng-src="/images/football/jersey_{{$ctrl.clubInfo}}.png"
       class="jersey"
       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">

  <span ng-if="$ctrl.hasRemove() && $ctrl.playerInfo"
        ng-mousedown="$ctrl.onRemoveMouseDown({Player: $ctrl.playerInfo}, $event)"
        ng-click="$ctrl.remove({Player: $ctrl.playerInfo}, $event)"
        ng-dblclick="$ctrl.dblClick({Player: $ctrl.playerInfo}, $event)"
        data-clickable="true"
        class="remove"></span>

  <span ng-if="!$ctrl.player.selections.blanko && !$ctrl.captain && !$ctrl.pointsDisabled"
        ng-show="$ctrl.player.pts && $ctrl.player.pts.points !== null && $ctrl.player.pts.played" class="points">
    {{$ctrl.player.pts.points}}
  </span>
  <span ng-if="!$ctrl.player.selections.blanko && $ctrl.captain && !$ctrl.pointsDisabled"
        class="points-captain">
    {{$ctrl.pointsAsCaptain}}
  </span>
</a>
<a href ng-click="$ctrl.click()" class="name">{{$ctrl.playerInfo.short}}</a>

<img ng-if="$ctrl.playerStatus"
     ng-src="images/status/{{$ctrl.playerStatus}}.png"
     class="player-status-icon">

<span href
      class="player-short-position"
      ng-class="{
   'player-gk': ($ctrl.player.position_id == 1 || $ctrl.player.players.position_id == 1 || $ctrl.player.Player.position_id == 1),
    'player-def': ($ctrl.player.position_id == 2 || $ctrl.player.players.position_id == 2 || $ctrl.player.Player.position_id == 2),
    'player-mf': ($ctrl.player.position_id == 3 || $ctrl.player.players.position_id == 3 || $ctrl.player.Player.position_id == 3),
    'player-fwd': ($ctrl.player.position_id == 4 || $ctrl.player.players.position_id == 4 || $ctrl.player.Player.position_id == 4),
    }"
      ng-if="$ctrl.playerInfo && $ctrl.showShortPosition">
  {{$ctrl.getPositionShort($ctrl.playerInfo.position_id)}}
</span>

<a class="opponent-info" href ng-if="$ctrl.player.opponentInfo">
  <span class="info">{{$ctrl.player.opponentInfo.short}} ({{$ctrl.player.opponentInfo.homeAwayLabel}})</span>
</a>

<small ng-if="$ctrl.showPrice && $ctrl.playerInfo" class="player-price">€{{$ctrl.playerInfo.value}}M</small>

<button ng-if="$ctrl.showTransfer" ng-click="$ctrl.transfer()" class="btn btn-sm btn-success" translate>Transfer
</button>