<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout home-page">
    <div class="row" ng-if="$ctrl.user && $ctrl.deadlineWeeks.deadline_week && $ctrl.showNewGameButton">
      <div class="col-md-12 content-centered">
        <div class="block" style="background-color: transparent">
          <button class="btn btn-primary" ng-click="$ctrl.onNewGameClick()">
            <i class="icon icon-add"></i>
            <span style="position: relative; top: -5px" translate>Nieuwe Ploeg</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div ng-if="!$ctrl.user" class="col-md-6">
        <div class="poster" ng-class="{
          'gouden-tour-home-banner': $ctrl.competitionInfo.competitionFeed === 'TOUR',
          'gouden-vuelta-home-banner': $ctrl.competitionInfo.competitionFeed === 'VUEL',
          'gouden-gcx-home-banner': $ctrl.competitionInfo.competitionFeed === 'GCX',
          'gouden-gklas-home-banner': $ctrl.competitionInfo.competitionFeed === 'GKLAS',
          'nl': $ctrl.currentLocale === 'nl', 
          'fr': $ctrl.currentLocale === 'fr' 
        }"></div>
      </div>

      <div ng-if="!$ctrl.user" class="col-md-6">
        <div class="ng-scope">
          <div class="block">
            <div class="pad content-centered authentication">
              <div class="btn-container">
                <button class="btn btn-primary facebook" ng-click="$ctrl.fbLogin()"><span translate>Ga verder met
                    Facebook</span></button>
              </div>
              <div class="btn-container">
                <button class="btn btn-primary register" ng-click="$ctrl.register()"><span translate>Registeer via
                    email</span></button>
              </div>
              <div class="btn-container">
                <button class="btn btn-primary login" ng-click="$ctrl.login()"><span translate>Log in</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="block-title" translate>How it works?</div>
          <tour-widget user="$ctrl.user" states-prefix="$ctrl.statesPrefix"
            competition-feed="$ctrl.competitionInfo.competitionFeed"></tour-widget>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" ng-class="{'col-md-6': $ctrl.user}">
        
        <!-- <div class="block">
          <div class="block-title" translate>Eindwinnaar Gouden Klassiekers 2019</div>
          <img src="https://goudenspelen.s3-eu-west-1.amazonaws.com/files/winner/gklas-winner-2019.png" style="width: 100%; height: auto" />
        </div> -->

        <div ng-if="$ctrl.deadlineWeeks.deadline_week > 1 || !$ctrl.deadlineWeeks.deadline_week">
          <cycling-winner-widget season-id="$ctrl.seasonId" last-game-week="$ctrl.lastGameWeek"
            game-name="$ctrl.gameName" competition-feed="$ctrl.competitionInfo.competitionFeed">
          </cycling-winner-widget>
        </div>
      </div>

      <div class="col-md-4" ng-class="{'col-md-6': $ctrl.user}">
        <div class="promo-widget" ng-if="$ctrl.promoBannerURL">
          <a ng-href={{$ctrl.promoBannerURL}}>
            <img style="width: 100%" ng-src="{{$ctrl.promoBannerImage}}" />
          </a>
        </div>

        <div ng-if="!$ctrl.deadlineWeeks.deadline_week || $ctrl.deadlineWeeks.deadline_week === $ctrl.lastGameWeek">

          <cycling-endwinner-widget competition-feed="$ctrl.competitionInfo.competitionFeed" season-id="$ctrl.seasonId"
            week="$ctrl.deadlineWeeks.week ? $ctrl.deadlineWeeks.week.display_week : $ctrl.deadlineWeeks.display_week"
            game-name="$ctrl.gameName" previous-year="false"></cycling-endwinner-widget>
        </div>
      </div>
    </div>
  </div>
</div>
</div>