<a ng-if="$ctrl.tool" href ui-sref="driverProfile({toolId: $ctrl.tool && $ctrl.tool.Player.id})">
  <div class="player-avatar tool-f1" ng-class="{'empty':!$ctrl.tool.Player}">
    <span class="tool-label">{{$ctrl.toolLabel}}</span>

    <img ng-if="$ctrl.toolName === 'chassis'"
         ng-src="/images/formula-one/clubs/{{($ctrl.tool.Club && $ctrl.tool.Club.id) || $ctrl.tool.Player.club_id}}.png"
         class="jersey">

    <img ng-if="$ctrl.toolName === 'engine'"
         ng-src="/images/formula-one/engines/{{$ctrl.tool.Player.id}}.png"
         class="jersey">

    <span ng-show="$ctrl.tool.Selection && $ctrl.tool.Selection.points !== null"
          class="points">
      {{$ctrl.tool.Selection.points}}
    </span>

    <a ng-if="$ctrl.hasRemove()" href ng-click="$ctrl.remove($ctrl.tool, $event)" class="remove"></a>

    <span ng-if="!$ctrl.tool.Player" class="no-tool">?</span>

  </div>

  <span ng-if="!$ctrl.showShort" class="name">{{$ctrl.tool && $ctrl.tool.Player.name}}</span>
  <span ng-if="$ctrl.showShort"
        class="name">{{$ctrl.tool && ($ctrl.tool.Player.short || $ctrl.tool.Player.forename)}}</span>
</a>