<div class="main-content o-container--large">
  <div class="layout">
    <div class="pad">
      <form class="form-signin" name="$ctrl.frmRegister" ng-submit="$ctrl.register($ctrl.frmRegister)" novalidate>
        <div class="block-title" translate>Register</div>

        <label for="email" class="sr-only" translate>Email address</label>
        <input ng-model="$ctrl.user.email" id="email" type="text" class="input form-control"
               placeholder="{{'Email address'|translate}}" required>

        <label for="password" class="sr-only" translate>Password</label>
        <input ng-model="$ctrl.user.password" id="password" type="password" class="input form-control"
               placeholder="{{'Password'|translate}}" required>

        <label for="firstName" class="sr-only" translate>First Name</label>
        <input ng-model="$ctrl.user.first" id="firstName" type="text" class="input form-control"
               placeholder="{{'First Name'|translate}}" required>

        <label for="lastName" class="sr-only" translate>Last Name</label>
        <input ng-model="$ctrl.user.last" id="lastName" type="text" class="input form-control"
               placeholder="{{'Last Name'|translate}}" required>

        <label for="street" class="sr-only" translate>Street & Number</label>
        <input ng-model="$ctrl.user.street" id="street" type="text" class="input form-control"
               placeholder="{{'Street & Number'|translate}}" required>

        <label for="post_code" class="sr-only" translate>Post Code</label>
        <input ng-model="$ctrl.user.post_code" id="post_code" type="text" class="input form-control"
               placeholder="{{'Post Code'|translate}}" required>

        <label for="city" class="sr-only" translate>City</label>
        <input ng-model="$ctrl.user.city" id="city" type="text" class="input form-control"
               placeholder="{{'City'|translate}}" required>

        <div class="checkbox" style="margin: 20px auto; border: 0;width: auto; height: auto;">
          <label>
            <input type="checkbox" value="agreement" required>
            <span translate>Ik ga akkoord met <a href="/rules" target="_blank">het reglement</a> &amp; de <a
              href="http://www.hln.be/hln/nl/1441/gebruiksvoorwaarden/integration/nmc/frameset/hln_footer/gebruiksvoorwaarden.dhtml"
              target="_blank">privacybeleid</a></span>
          </label>
        </div>

        <div class="checkbox" style="margin: 20px auto; border: 0;width: auto; height: auto;">
          <label>
            <input type="checkbox" value="agreement" ng-model="$ctrl.user.coolblue" ng-true-value="1" ng-false-value="0">
            <span translate>Ja, ik ontvang wekelijks de leukste blogposts, kortingsacties en persoonlijke aanbiedingen van Coolbue.</span>
          </label>
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit" translate>Register</button>
      </form>
    </div>
  </div>
</div>