<div class="col-md-8 offset-md-2 col-xs-12">
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <div class="tab-select-item" ng-class="{'active': $ctrl.activeTab === 1}"
           ng-click="$ctrl.onPlaySportsClick()">
        <div class="game-mode-image">
          <img src="/images/join-league.png" class="img-responsive"/>
        </div>

        <div class="pad">
          <h6 translate>
            Play Sports Competition
            <i ng-if="$ctrl.activeTab === 1" class="fa fa-check pull-right" aria-hidden="true"></i>
          </h6>
          <small>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <div class="tab-select-item" ng-class="{'active': $ctrl.activeTab === 2}"
           ng-click="$ctrl.onCreateNewGameWithFriends()">
        <div class="game-mode-image">
          <img src="/images/new-league.png"/>
        </div>
        <div class="pad">
          <h6 translate>
            Play With Friends
            <i ng-if="$ctrl.activeTab === 2" class="fa fa-check pull-right" aria-hidden="true"></i>
          </h6>
          <small>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>