<div class="main-content" id="newGameCycling">
  <div class="layout">

    <div ng-if="$ctrl.drivers && !$ctrl.editMode" class="row row-content mt-10p">
      <fa-new-game-progress
              decrease-new-game-progress-step="$ctrl.decreaseNewGameProgressStep"
              max-width="true"
              active-tab="2">
      </fa-new-game-progress>
    </div>

    <div class="row row-content mt-10p">
      <div class="block full budget-header">
        <div class="col">
          <small translate>Piloten selected</small>
          <span>{{$ctrl.driversSelected()}}/4</span>
        </div>
        <div class="col">
          <small translate>Budget remaining</small>
          <span>{{$ctrl.budget|currency:'€':1}} mil</span>
        </div>
      </div>
    </div>

    <div class="row row-content">
      <!-- LEFT -->
      <div class="col-sm-12 col-md-6">
        <div id="f1-lineup" class="block budget-lineup formula-one-lineup">
          <div class="block-title" translate>
            Your team
          </div>
          <div class="lineup-grid formula-one-grid formula-one-background">
            <div class="row">

              <div class="player driver-tool left-tool">
                <driver-tool ng-click="$ctrl.onAssetClick($ctrl.selectedItems.chassis, 'chassis-list')"
                             tool="$ctrl.selectedItems.chassis"
                             tool-name="'chassis'"
                             show-short="true"
                             tool-label="'Chassis'"
                             on-remove="$ctrl.chassisRemove"></driver-tool>
              </div>

              <div ng-repeat="driver in $ctrl.starting|slice:0:1 track by $index" class="player driver">
                <driver ng-click="$ctrl.onAssetClick(driver, 'drivers-list')" player="driver" show-short="true"
                        on-remove="$ctrl.driverRemove"></driver>
              </div>


              <div class="player driver-tool right-tool">
                <driver-tool ng-click="$ctrl.onAssetClick($ctrl.selectedItems.engine, 'engine-list')"
                             tool="$ctrl.selectedItems.engine"
                             tool-name="'engine'"
                             show-short="true"
                             tool-label="'Engine'"
                             on-remove="$ctrl.engineRemove"></driver-tool>
              </div>

            </div>

            <div class="row">
              <div ng-repeat="driver in $ctrl.starting|slice:1:2 track by $index" class="player driver">
                <driver ng-click="$ctrl.onAssetClick(driver, 'drivers-list')" player="driver" show-short="true"
                        on-remove="$ctrl.driverRemove"></driver>
              </div>
            </div>

            <div class="row">
              <div ng-repeat="driver in $ctrl.starting|slice:2:4 track by $index" class="player driver mr-50p">
                <driver ng-click="$ctrl.onAssetClick(driver, 'drivers-list')" player="driver" show-short="true"
                        on-remove="$ctrl.driverRemove"></driver>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="block-title" translate>Team name</div>
          <div class="pad">
            <form name="frmTeamName" class="new-game-form" novalidate>
              <div class="form-group no-margin">
                <input ng-model="$ctrl.teamName.value" type="text" id="new-game-team-name"
                       placeholder="{{'Choose a cool name for your team'|translate}}" class="input form-control"
                       required>
              </div>
            </form>
          </div>
        </div>

        <div class="block">
          <div class="pad">
            <div class="form-group">
              <label for="invite-code-input" translate>Received a buddy invite code?</label>
              <input ng-model="$ctrl.invite" ng-change="$ctrl.inviteCodeChanged()" type="text" id="invite-code-input"
                     placeholder="{{'Put your invite code here'|translate}}" class="input form-control" required>
            </div>
            <div class="invite-league" ng-if="$ctrl.inviteTeam">
              <div class="row pad">
                <div class="col-md-12">
                  <h5>
                    <i class="icon icon-schumy"></i>
                    {{$ctrl.inviteTeam.Team.name}}
                    will be your buddy and you'll get 10% of his points!
                  </h5>
                </div>
                <!--<div class="col-md-6">
                  <label translate>Buddy with {{$ctrl.inviteTeam.Team.name}}?</label>
                  <input type="checkbox" ui-switch="{color: '#00fe82'}" ng-model="$ctrl.withBuddy"/>
                </div>-->
              </div>
            </div>
          </div>
        </div>

        <div class="block">
          <div class="pad">
            <button ng-if="!$ctrl.editMode" ng-click="$ctrl.create()" class="btn btn-large create" translate>Create Team</button>
            <button ng-if="$ctrl.editMode" ng-click="$ctrl.edit()" class="btn btn-large create" translate>Update Team</button>
          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="col-sm-12 col-md-6">
        <div class="block add-players budget-add-players">
          <div class="block-title" translate>
            All Piloten
          </div>
          <div class="add-player-form show">
            <div class="add-player-filter">
              <div class="row">
                <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="{{'Search...'| translate}}"
                       class="input">
              </div>
              <ul class="row tab-select">
                <li class="col-md-4" ng-class="{'active': $ctrl.itemsListActiveTab === 1}"
                    ng-click="$ctrl.setItemsActiveTab(1)"><a href><span translate>Drivers</span></a>
                </li>
                <li class="col-md-4" ng-class="{'active': $ctrl.itemsListActiveTab === 2}"
                    ng-click="$ctrl.setItemsActiveTab(2)"><a href><span translate>Chassis</span></a>
                </li>
                <li class="col-md-4" ng-class="{'active': $ctrl.itemsListActiveTab === 3}"
                    ng-click="$ctrl.setItemsActiveTab(3)"><a href><span translate>Engine</span></a>
                </li>
              </ul>
            </div>

            <div id="drivers-list" ng-if="$ctrl.itemsListActiveTab === 1" class="player-list zebra">
              <div dir-paginate="driver in $ctrl.drivers | filter:q:strict | filter:$ctrl.assetsFilter | orderBy:'-Player.value' | itemsPerPage: 10"
                   class="player" current-page="$ctrl.pagination.current">
                <a class="player-avatar f1-player">
                  <img ng-src="https://s3-eu-west-1.amazonaws.com/fanarena/players/player_{{driver.Player.id}}.png"
                       class="jersey">
                </a>

                <a href ui-sref="driver({driverId: driver.Player.id})" class="player-info">
                  <div class="name">{{::driver.Player.name}}</div>
                  <div class="position driver">{{driver.Player.value|currency:'€':1}}
                    <div class="club">{{::driver.Club.name}}</div>
                  </div>
                </a>

                <a href ng-show="$ctrl.isPickable(driver)" ng-click="$ctrl.pickDriver(driver)" class="btn btn-sm"
                   translate>Pick</a>
              </div>
              <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
            </div>

            <div id="chassis-list" ng-if="$ctrl.itemsListActiveTab === 2" class="player-list zebra">
              <div dir-paginate="chassis in $ctrl.chassis | filter:q:strict | filter:$ctrl.assetsFilter | orderBy:'-Player.value' | itemsPerPage: 10"
                   class="player" current-page="$ctrl.pagination.current">
                <a class="player-avatar f1-chassis">
                  <img ng-src="/images/formula-one/clubs/{{chassis.Club.id}}.png"
                       class="jersey">
                </a>

                <a href ui-sref="chassis({chassisId: chassis.Player.id})" class="player-info">
                  <div class="name">{{::chassis.Player.name}}</div>
                  <div class="position chassis">{{chassis.Player.value|currency:'€':1}}
                    <div class="club">{{::chassis.Club.name}}</div>
                  </div>
                </a>

                <a href ng-show="$ctrl.isPickable(chassis)" ng-click="$ctrl.pickChassis(chassis)" class="btn btn-sm"
                   translate>Pick</a>
              </div>
              <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
            </div>

            <div id="engine-list" ng-if="$ctrl.itemsListActiveTab === 3" class="player-list zebra">
              <div dir-paginate="engine in $ctrl.engines | filter:q:strict | filter:$ctrl.assetsFilter | orderBy:'-Player.value' | itemsPerPage: 10"
                   class="player" current-page="$ctrl.pagination.current">
                <a class="player-avatar f1-chassis">
                  <img ng-src="/images/formula-one/engines/{{engine.Player.id}}.png"
                       class="jersey">
                </a>

                <a href ui-sref="engine({engineId: engine.Player.id})" class="player-info">
                  <div class="name">{{::engine.Player.name}}</div>
                  <div class="position engine">{{engine.Player.value|currency:'€':1}}
                    <div class="club">{{::engine.Club.name}}</div>
                  </div>
                </a>

                <a href ng-show="$ctrl.isPickable(engine)" ng-click="$ctrl.pickEngine(engine)" class="btn btn-sm"
                   translate>Pick</a>
              </div>
              <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
