<div class="main-content o-container--large">
  <div class="layout">
    <div class="row pad">

      <div class="col-md-12">

        <div class="block-title" translate>Contact</div>
        <div class="pad">

          <form name="$ctrl.fromContact" ng-submit="$ctrl.contact($ctrl.fromContact)" novalidate>

            <label class="col-xs-12 col-md-3 col-form-label" for="first_name" translate>First name</label>
            <div class="col-xs-12 col-md-9">
              <input id="first_name"
                     ng-model="$ctrl.contactInfo.first_name"
                     type="text"
                     placeholder="{{'Enter your first name'|translate}}"
                     class="input form-control width-90-per"
                     required>
            </div>

            <label class="col-xs-12 col-md-3 col-form-label" for="last_name" translate>Last name</label>
            <div class="col-xs-12 col-md-9">
              <input
                id="last_name"
                ng-model="$ctrl.contactInfo.last_name" type="text"
                placeholder="{{'Enter your last name'|translate}}"
                class="input form-control width-90-per"
                required>
            </div>

            <label class="col-xs-12 col-md-3 col-form-label" for="phone" translate>Phone</label>

            <div class="col-xs-12 col-md-9">
              <input
                id="phone"
                ng-model="$ctrl.contactInfo.phone"
                type="text"
                placeholder="{{'Enter your phone number'|translate}}"
                class="input form-control width-90-per"
                required>
            </div>


            <label class="col-xs-12 col-md-3 col-form-label" for="email" translate>Email</label>
            <div class="col-xs-12 col-md-9">
              <input
                id="email"
                ng-model="$ctrl.contactInfo.email"
                type="text"
                placeholder="{{'Enter your email address'|translate}}"
                class="input form-control width-90-per"
                required>
            </div>

            <label class="col-xs-12 col-md-3 col-form-label" translate>Message</label>
            <div class="col-xs-12 col-md-9">
                <textarea ng-model="$ctrl.contactInfo.message" placeholder="{{'Enter your message'|translate}}"
                          class="input form-control width-90-per" style="height: 200px;" required> </textarea>
            </div>


            <button type="submit" class="btn btn-primary profile-submit pull-right" translate>Submit</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>