<div ng-show="$ctrl.loaded"
     ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">
      <div class="col-sm-12">
        <div class="block">
          <div class="block-title" translate>
            All football Players
          </div>
          <div class="add-player-form show">
            <div class="row">
              <div class="col-md-12">
                <div class="add-player-filter">
                  <div class="row">
                    <input type="search"
                           ng-model="$ctrl.searchPlayer.value"
                           ng-change="$ctrl.onSearchPlayerChange()"
                           placeholder="Zoeken..."
                           class="input form-control search">
                  </div>
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="form-group no-margin">
                        <div class="select">
                          <select ng-change="$ctrl.filterChanged()"
                                  ng-model="$ctrl.currentDisplayWeek"
                                  ng-options="week.label for week in $ctrl.deadlineWeeksOptions"></select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="form-group no-margin">
                        <div class="select">
                          <select ng-model="$ctrl.filterItem.club"
                                  ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                                  ng-change="$ctrl.filterChanged()"></select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="form-group no-margin">
                        <div class="select">
                          <select ng-model="$ctrl.filterItem.selectedPosition"
                                  ng-change="$ctrl.filterChanged()"
                                  ng-options="item.name for item in $ctrl.positions"></select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="form-group no-margin">
                        <div class="select">
                          <select ng-model="$ctrl.filterItem.budget"
                                  ng-change="$ctrl.filterChanged()"
                                  ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive player-list zebra team-players-points-table">
              <table class="table table-striped">
                <thead>
                <th translate class="player-column">
                  <a href ng-click="$ctrl.sortBy('name')"><span translate>Football player</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('name')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-name') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('name') !== -1
                       }">
                    </i>
                  </span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('name')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-name') !== -1 || $ctrl.filterColumns.indexOf('name') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate class="player-column">
                  <a href ng-click="$ctrl.sortBy('playerValue')"><span translate>Value</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('playerValue')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-playerValue') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('playerValue') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('playerValue')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-playerValue') !== -1 || $ctrl.filterColumns.indexOf('playerValue') !== -1}">
                  </i>
                  </span>
                </th>
                <!--<th translate>Trend</th>-->
                <th translate>
                  <a href ng-click="$ctrl.sortBy('statMatchPlayed')"><span
                          translate>Matches played</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statMatchPlayed')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statMatchPlayed') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statMatchPlayed') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statMatchPlayed')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statMatchPlayed') !== -1 || $ctrl.filterColumns.indexOf('statMatchPlayed') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate>
                  <a href ng-click="$ctrl.sortBy('statTimePlayed')"><span translate>Total time played</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statTimePlayed')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statTimePlayed') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statTimePlayed') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statTimePlayed')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statTimePlayed') !== -1 || $ctrl.filterColumns.indexOf('statTimePlayed') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate>
                  <a href ng-click="$ctrl.sortBy('statGoals')"><span translate>Goals</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statGoals')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statGoals') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statGoals') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statGoals')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statGoals') !== -1 || $ctrl.filterColumns.indexOf('statGoals') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate>
                  <a href ng-click="$ctrl.sortBy('statAssists')"><span translate>Assists</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statAssists')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statAssists') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statAssists') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statAssists')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statAssists') !== -1 || $ctrl.filterColumns.indexOf('statAssists') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate>
                  <a href ng-click="$ctrl.sortBy('statCleanSheet')"><span translate>Clean sheet</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statCleanSheet')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statCleanSheet') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statCleanSheet') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statCleanSheet')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statCleanSheet') !== -1 || $ctrl.filterColumns.indexOf('statCleanSheet') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate>
                  <a href ng-click="$ctrl.sortBy('statConceeded')"><span translate>Conceeded</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statConceeded')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statConceeded') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statConceeded') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statConceeded')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statConceeded') !== -1 || $ctrl.filterColumns.indexOf('statConceeded') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate>
                  <a href ng-click="$ctrl.sortBy('statYellow')"><span translate>Yellow</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statYellow')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statYellow') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statYellow') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statYellow')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statYellow') !== -1 || $ctrl.filterColumns.indexOf('statYellow') !== -1}">
                  </i>
                  </span>
                </th>
                <th>
                  <a href ng-click="$ctrl.sortBy('statRed')"><span translate>Red</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statRed')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statRed') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statRed') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statRed')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statRed') !== -1 || $ctrl.filterColumns.indexOf('statRed') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate>
                  <a href ng-click="$ctrl.sortBy('statTeamPrestatie')"><span
                          translate>Team prestatie points</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('statTeamPrestatie')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-statTeamPrestatie') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('statTeamPrestatie') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('statTeamPrestatie')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-statTeamPrestatie') !== -1 || $ctrl.filterColumns.indexOf('statTeamPrestatie') !== -1}">
                  </i>
                  </span>
                </th>
                <th translate>
                  <a href ng-click="$ctrl.sortBy('total')"><span translate>Total Points</span></a>
                  <span class="sorter"
                        ng-click="$ctrl.sortBy('total')">
                    <i class="sortorder"
                       ng-class="{
                       'fa fa-arrow-down': $ctrl.filterColumns.indexOf('-total') !== -1,
                       'fa fa-arrow-up': $ctrl.filterColumns.indexOf('total') !== -1
                       }">
                  </i></span>

                  <span class="sorter" ng-click="$ctrl.removeFilterColumn('total')">
                     <i class="sortorder"
                        ng-class="{'fa fa-times': $ctrl.filterColumns.indexOf('-total') !== -1 || $ctrl.filterColumns.indexOf('total') !== -1}">
                  </i>
                  </span>
                </th>
                </thead>
                <tbody>
                <tr dir-paginate="player in $ctrl.players | filter:q:strict | itemsPerPage: $ctrl.filters.pageRecords"
                    total-items="$ctrl.totalRecords"
                    current-page="$ctrl.filters.pageNumber">
                  <td class="player-info">
                    <div class="row">
                      <div class="col-md-4 content-centered">
                        <div class="row">
                          <img ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{player.clubId}}.png"
                               fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                               class="jersey">
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <span class="worth">
                              {{player.playerValue|currency:'€':0}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-md-12 text-left-mobile-center">
                            <div class="player-name-container">
                              <span class="player-name">{{player.generalInfo.short}}</span>
                              <img ng-if="$ctrl.getPlayerStatus(player)"
                                   ng-src="images/status/{{$ctrl.getPlayerStatus(player)}}.png"
                                   class="player-status-icon scout-player-status">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 text-left-mobile-center">
                            <div class="club">{{::player.clubName}}</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 text-left-mobile-center">
                           <span ng-class="{
                              'player-gk': player.positionId== 1,
                              'player-def': player.positionId == 2,
                              'player-mf': player.positionId== 3,
                              'player-fwd': player.positionId== 4}"
                           >
                                {{$ctrl.getPositionNameById(player.positionId)}}
                             </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>€{{player.playerValue}}</td>
                  <!--<td></td>-->
                  <td>{{player.statMatchPlayed}}</td>
                  <td>{{player.statTimePlayed}}</td>
                  <td>{{player.statGoals}}</td>
                  <td>{{player.statAssists}}</td>
                  <td>{{player.statCleanSheet}}</td>
                  <td>{{player.statConceeded}}</td>
                  <td>{{player.statYellow}}</td>
                  <td>{{player.statRed}}</td>
                  <td>{{player.statTeamPrestatie}}</td>
                  <td class="total">{{player.total}}</td>
                </tr>
                </tbody>
              </table>
              <dir-pagination-controls boundary-links="true"
                                       on-page-change="$ctrl.onPageChange(newPageNumber)"
              ></dir-pagination-controls>
            </div>

            <div class="row pad">
              <div class="col-xs-12 content-centered">
                <a ng-href="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName}}/files/spelers_{{$ctrl.competitionInfo.competitionFeed}}.xlsx"
                   class="btn btn-xs btn-primary width-200p"><span translate>FOOTBALL PLAYER LIST (EXCEL)</span> <i
                        class="fa fa-file-o"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</div>
</div>