<div class="row">
  <div class="col-ms-12 col-md-12">
    <div class="block">
      <div class="block-title" translate>
        Transfers
      </div>

      <div ng-if="$ctrl.pastTransfers.length" class="row pad">
        <div class="col-sm-12 col-md-12">
          <h5 translate> Transfers History </h5>
        </div>
        <div>
          <table class="table table-striped fa-table table-transfer">
            <thead>
            <th translate> Week</th>
            <th translate> Date</th>
            <th translate> Out</th>
            <th translate> In</th>
            </thead>
            <tbody>
            <tr ng-if="$ctrl.squad.weeks.deadline_week != transfer.week_id"
                ng-repeat="transfer in $ctrl.pastTransfers | orderBy:transfer.week_id">
              <td>
                {{transfer.week_id}}
              </td>
              <td>
                {{$ctrl.getLocalDate(transfer.datetime)}}
              </td>
              <td>
                {{transfer.Out.short || transfer.Out.name}}
              </td>
              <td>
                {{transfer.In.short || transfer.In.name}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-if="$ctrl.canTransfer()" class="row pad">
        <div class="col-sm-12 col-md-12">
          <h5><span translate>Week</span> {{$ctrl.squad.weeks.deadline_week}} <span translate>Transfers</span>
          </h5>
        </div>

        <div>

          <table class="table table-stripped fa-table table-transfer">
            <thead>
            <th translate> Transfer No.</th>
            <th translate> Out</th>
            <th translate> In</th>
            <th translate> Actions</th>
            </thead>
            <tbody>
            <tr ng-if="$ctrl.squad.weeks.deadline_week == transfer.week_id"
                ng-repeat="transfer in $ctrl.currentTransfers | orderBy:transfer.week_id">
              <td>
                {{$index + 1}}
              </td>
              <td class="transfer-placeholder">
                {{transfer.Out.short || transfer.Out.name}}
                <a ng-if="!transfer.id && transfer.out_id" href
                   ng-click="$ctrl.removePickedPlayer(transfer.Out.id, 'out')" class="remove"></a>
              </td>
              <td class="transfer-placeholder">
                {{transfer.In.short || transfer.In.name}}
                <a ng-if="!transfer.id && transfer.in_id" href
                   ng-click="$ctrl.removePickedPlayer(transfer.In.id, 'in')" class="remove"></a>
              </td>
              <td ng-show="$index == 0 && $ctrl.totalSavedTransfers()"
                  class="vertical-center"
                  rowspan="{{$ctrl.totalSavedTransfers()}}">
                <button ng-click="$ctrl.resetTransfer()" class="btn btn-default btn-sm" translate> Reset</button>
              </td>
              <td ng-show="!transfer.id && transfer.out_id === $ctrl.firstTransferIdToSave()"
                  rowspan="{{$ctrl.transfersToSave()}}"
                  class="vertical-center">
                <button
                        ng-disabled="$ctrl.isOutOfBudget() || !$ctrl.hasPlaceholdersFilled(transfer)"
                        ng-class="{'disabled': $ctrl.isOutOfBudget() && !$ctrl.hasPlaceholdersFilled(transfer) }"
                        ng-click="$ctrl.confirmTransfer(transfer)"
                        class="btn btn-xs btn-primary" translate>
                  Confirm
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row pad">

        <!-- Budget remaining -->
        <div class="col-md-12 pad">
          <div class="row">
            <div class="content-centered" translate>
              <h4 ng-class="{'text-danger': $ctrl.isOutOfBudget()}">
                <span translate> Budget Remaining: </span> <span>{{$ctrl.budget|currency:'€':0}} <span
                      translate>mil</span></span>
              </h4>

              <h6 ng-if="$ctrl.currentTransfers">
                <span translate>Transfers left</span>: <span>{{$ctrl.getAvailableTransfersSlots()}}</span>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">

    <div class="block budget-lineup">
      <div class="block-title" translate>
        Your lineup
      </div>
      <div class="lineup-grid" ng-class="$ctrl.getLineUpLayout()">
        <!-- Frontman -->

        <!--START for TOUR, VUEL, GIRO, KLAS-->

        <div class="row" ng-if="['TOUR', 'VUEL', 'GIRO', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <div ng-repeat="cyclist in $ctrl.starting|slice:0:1" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     show-short="true"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row" ng-if="['TOUR', 'VUEL', 'GIRO', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <div ng-repeat="cyclist in $ctrl.starting|slice:1:3" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row" ng-if="['TOUR', 'VUEL', 'GIRO', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <div ng-repeat="cyclist in $ctrl.starting|slice:3:6" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row" ng-if="['TOUR', 'VUEL', 'GIRO', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <div ng-repeat="cyclist in $ctrl.starting|slice:6:10" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row" ng-if="['TOUR', 'VUEL', 'GIRO', 'GKLAS'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <div ng-repeat="cyclist in $ctrl.starting|slice:10:15" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!--END for TOUR, VUEL-->


        <!--START for GCX-->

        <div class="row" ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'">
          <div ng-repeat="cyclist in $ctrl.starting|slice:0:1" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     states-prefix="$ctrl.statesPrefix"
                     game-name="$ctrl.gameName"
                     show-short-position="true"
                     show-position-background="true"
                     show-short="true"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row" ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'">
          <div ng-repeat="cyclist in $ctrl.starting|slice:1:4" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row" ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'">
          <div ng-repeat="cyclist in $ctrl.starting|slice:4:7" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row" ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'">
          <div ng-repeat="cyclist in $ctrl.starting|slice:7:10" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!-- Runners -->
        <div class="row" ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'">
          <div ng-repeat="cyclist in $ctrl.starting|slice:10:13" class="player cyclist">
            <cyclist ng-if="!$ctrl.outPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"
                     on-remove="$ctrl.onCyclistOut"></cyclist>
            <cyclist ng-if="$ctrl.outPlayersLimitExceeded() || $ctrl.alreadyPicked(cyclist)"
                     show-short="true"
                     states-prefix="$ctrl.statesPrefix"
                     show-short-position="true"
                     show-position-background="true"
                     game-name="$ctrl.gameName"
                     player="cyclist"></cyclist>
          </div>
        </div>

        <!--END for GCX-->

      </div>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="col-sm-12 col-md-6">
    <div class="block add-players budget-add-players">
      <div class="block-title" translate>
        All cycling players
      </div>
      <div class="add-player-form show">
        <div class="add-player-filter">
          <div class="row">
            <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="{{'Search' | translate}}"
                   class="input">
          </div>
          <div class="row">
            <div class="select">
              <select ng-model="$ctrl.filterItem.club" ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                      ng-change="$ctrl.filterChanged()"></select>
            </div>
            <div class="select">
              <select ng-model="$ctrl.filterItem.budget"
                      ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
            </div>
            <div class="select" ng-if="$ctrl.squad.Team.League.competition_feed == 'GCX' && $ctrl.positions.length">
              <select ng-model="$ctrl.filterOptions.selectedPosition"
                      ng-change="$ctrl.filterChanged()"
                      ng-options="position.name for position in $ctrl.positions"></select>
            </div>
          </div>
        </div>
        <div class="player-list zebra" ng-class="{'player-list-cx': $ctrl.squad.Team.League.competition_feed == 'GCX'}">
          <div dir-paginate="cyclist in $ctrl.cyclists | filter:q:strict | filter:$ctrl.customFilter | orderBy:'-Player.value' | itemsPerPage: 10"
               class="player" current-page="$ctrl.pagination.current">

            <a class="player-avatar">
              <img ng-if="!$ctrl.localAssets"
                   ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{cyclist.Club.id}}.png"
                   fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                   class="jersey">

              <img ng-if="$ctrl.localAssets"
                   ng-src="/images/cycling/jersey_{{cyclist.id.club_id}}.png"
                   class="jersey"
                   fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">

            </a>

            <a href ui-sref="cyclist({cyclistId: cyclist.Player.id})" class="player-info">
              <div class="name">{{::cyclist.Player.short || cyclist.Player.name}}</div>
              <div class="position cyclist">{{cyclist.Player.value|currency:'€':0}}
                <div class="club">{{::$ctrl.getClubName(cyclist.Club.id)}}</div>
                <div ng-class="{
                      'player-gcx-elite': $ctrl.squad.Team.League.competition_feed === 'GCX' && cyclist.Player.position_id == 10,
                      'player-gcx-dames': $ctrl.squad.Team.League.competition_feed === 'GCX' && cyclist.Player.position_id == 9,
                      'player-gcx-beloften': $ctrl.squad.Team.League.competition_feed === 'GCX' && cyclist.Player.position_id == 8}"
                >
                  {{$ctrl.getPositionNameById(cyclist.Player.position_id)}}
                </div>
              </div>
            </a>

            <button ng-if="!$ctrl.inPlayersLimitExceeded() && !$ctrl.alreadyPicked(cyclist, 'in')"
                    ng-click="$ctrl.onCyclistIn(cyclist)"
                    class="btn btn-primary btn-sm mr-10p" translate>Transfer
            </button>

          </div>
          <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>

</div>

