<div ng-if="$ctrl.fullScreenImageMap" class="full-screen-image">
  <img fullscreen
       ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/maps/{{$ctrl.match.id}}.jpg"
       style="max-width: 100%;">
  <button class="close-fullscreen"
          ng-click="$ctrl.exitMapFullScreen()">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </button>
</div>

<div ng-if="$ctrl.fullScreenImageProfile" class="full-screen-image">
  <img fullscreen
       ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/profiles/{{$ctrl.match.id}}.jpg"
       style="max-width: 100%;">
  <button class="close-fullscreen"
          ng-click="$ctrl.exitProfileFullScreen()">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </button>
</div>


<div ng-if="$ctrl.match.id"
     ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block race-info">
          <div class="block-title" translate>PARCOURS</div>
          <div class="row">
            <div class="col-md-12 content-centered">
              <img fullscreen
                   ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/maps/{{$ctrl.match.id}}.jpg"
                   style="max-width: 100%;">
            </div>
          </div>
          <div class="row content-centered">
            <i ng-if="!$ctrl.isMobile" ng-click="$ctrl.showMapFullScreen()" class="fa fa-search-plus fa-2x"
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div ng-if="$ctrl.showHistory" class="col-md-6 col-sm-12">
        <div class="block race-history" ng-class="{'block-right' : $ctrl.hasContainerClass}">
          <div class="block-title" translate>Vorig jaar</div>
          <div class="pad">
            <div class="table-responsive races">
              <table class="table table-striped">
                <thead>
                <th translate>Year</th>
                <th translate>Winner</th>
                <th translate>2nd</th>
                <th translate>3rd</th>
                </thead>
                <tbody>
                <tr ng-repeat="winner in $ctrl.history">
                  <td>{{winner.year}}</td>
                  <td>{{winner.first}}</td>
                  <td>{{winner.second}}</td>
                  <td>{{winner.third}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="$ctrl.showProfile" class="col-md-6 col-sm-12">
        <div class="block race-info" ng-class="{'block-right' : $ctrl.hasContainerClass}">
          <div class="block-title" translate>PROFILE</div>
          <div class="row">
            <div class="col-md-12">
              <img fullscreen
                   ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/profiles/{{$ctrl.match.id}}.jpg"
                   style="max-width: 100%;">
            </div>
          </div>
          <div class="row content-centered">
            <i ng-if="!$ctrl.isMobile" ng-click="$ctrl.showProfileFullScreen()" class="fa fa-search-plus fa-2x"
               aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>