<div class="col-md-8 offset-md-2 col-xs-12">
  <div class="row">
    <div class="col-md-12">
      <form
        name="$ctrl.frmCreateLeague"
        novalidate
      >

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label translate>League name</label>
              <input ng-model="$ctrl.createLeagueName" type="text"
                     placeholder="{{'Choose a cool name for your league'|translate}}" class="input form-control"
                     required>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label translate>Competition</label>
              <ul>
                <li class="col-md-6 radio-list-item"
                    ng-repeat="competition in $ctrl.competitions track by competition.id">

                  <label>
                    <input
                      type="radio"
                      ng-value="competition"
                      ng-model="$ctrl.createLeagueCompetition"
                      name="createLeagueCompetition"
                    />
                    <div class="icon"><img ng-src="/images/emojis/{{competition.competition_feed}}.png"/></div>
                    {{competition.name}}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label translate>Ranking based on</label>
              <ul>
                <li class="col-md-6 radio-list-item">
                  <label>
                    <input
                      type="radio"
                      value="1"
                      ng-model="$ctrl.isHeadToHead"
                      name="isHeadToHead"
                    />
                    <span translate class="ml-10"> Head to head </span>
                  </label>
                </li>
                <li class="col-md-6 radio-list-item">
                  <label>
                    <input
                      type="radio"
                      value="0"
                      ng-model="$ctrl.isHeadToHead"
                      name="isHeadToHead"
                    />
                    <span translate class="ml-10"> Fantasy points </span>
                  </label>
                </li>
              </ul>
            </div>
          </div>

        </div>

        <hr/>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label id="lblDeadline" for="inpSettingsDeadline" translate>
                Draft deadline:
                <span class="set" ng-if="$ctrl.createLeagueDeadline">{{$ctrl.createLeagueDeadline | momentDate:'DD/MM/YYYY HHumm'}}</span>
                <span ng-if="!$ctrl.createLeagueDeadline" translate>Optional: set a draft deadline.</span>
              </label>

              <datetimepicker id="deadlinePicker" data-ng-model="$ctrl.createLeagueDeadline"
                              data-datetimepicker-config="{ startView:'day', minView:'minute' }"
                              data-before-render="$ctrl.dateTimeBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"/>
            </div>

          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-12">
            <button
              ng-click="$ctrl.next()"
              class="btn btn-md btn-primary pull-right" translate>
              Next
            </button>
          </div>
        </div>
    </div>
    </form>
  </div>
</div>