<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="block add-players">
      <div class="block-title" translate>
        All players
      </div>
      <div class="add-player-form" ng-class="{'show': true}">
        <div class="add-player-filter">
          <div class="row">
            <div class="select">
              <select ng-model="$ctrl.currentCompetition" ng-change="$ctrl.competitionChanged()"
                      ng-options="comp as comp.name for comp in $ctrl.competitions"></select>
            </div>
            <div class="select">
              <select ng-model="$ctrl.displayWeek"
                      ng-change="$ctrl.weekChanged()"
                      ng-options="week as week.label for week in $ctrl.deadlineWeeks track by week.id"></select>
            </div>
          </div>

          <div class="row">
            <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="Search..." class="input">
            <a ng-show="$ctrl.searchPlayer.value != ''" ng-click="$ctrl.searchPlayer.value = ''" href
               class="add-player done">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>
          <div class="row">
            <div class="select">
              <select ng-model="$ctrl.filterItem.club"
                      ng-options="item as item.Club.name for item in $ctrl.filterOptions.clubs track by item.Club.id"></select>
            </div>
            <div class="select">
              <select ng-model="$ctrl.filterItem.position"
                      ng-options="item.name for item in $ctrl.filterOptions.positions track by item.id"></select>
            </div>
          </div>
        </div>

        <div class="player-list zebra">
          <div dir-paginate="player in $ctrl.players | filter:q:strict | filter:$ctrl.customFilter | itemsPerPage: 10"
               class="row player"
               current-page="$ctrl.pagination.current"
               ng-click="$ctrl.onPlayerClick(player, $event)">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 max-100p">
              <a class="player-avatar">
                <img ng-src="{{$ctrl.assetsURL}}/jerseys/{{player.clubs.infostrada_id || player.Club.infostrada_id}}.png"
                     class="jersey">

                <img ng-src="{{$ctrl.assetsURL}}/players/player_{{player.players.id || player.Player.id}}.png"
                     fallback-src="/images/portrait-dummy.png" class="portrait">
                <img ng-src="{{$ctrl.assetsURL}}/badges/{{player.clubs.infostrada_id || player.Club.infostrada_id}}.png"
                     class="club">
              </a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
              <a href class="player-info football-player-info">

                <div class="row">
                  <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">

                    <div class="name">{{::player.Player.short}}</div>
                    <div class="position player">
                      <div class="club">{{::player.Club.short}}</div>
                      <span ng-class="{
                  'player-gk': player.Player.position_id == 1,
                  'player-def': player.Player.position_id == 2,
                  'player-mf': player.Player.position_id== 3,
                  'player-fwd': player.Player.position_id== 4}"
                      >
                    {{$ctrl.getPositionNameById(player.Player.position_id)}}
                  </span>
                    </div>
                  </div>

                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <p class="worth row-column">{{::$ctrl.playersPoints[player.Player.id]}} pts</p>
                  </div>

                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                    <a href ng-if="$ctrl.isPickable && $ctrl.pick"
                       ng-show="$ctrl.isPickable(player)"
                       ng-click="$ctrl.pick(player, $event)"
                       class="btn btn-sm btn-primary pick-button row-column pull-right"
                       translate>Pick</a>
                  </div>
                </div>

              </a>
            </div>
          </div>
          <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    show cross icon
    <input type="checkbox" ng-model="$ctrl.removeEnabled">
    <div class="block">
      <div class="block-title" translate>
        Team of the week
        <span class="pull-right">
          <b>Budget: {{$ctrl.budget}}</b>
        </span>
      </div>
      <div id="lineupGrid" class="lineup-grid">

        <!-- Goalkeeper -->
        <div class="row">
          <div ng-repeat="goalkeeper in $ctrl.starting.Goalkeeper" class="player">
            <admin-soccer-avatar remove="$ctrl.removeEnabled && $ctrl.onPlayerRemove" player="goalkeeper"></admin-soccer-avatar>
          </div>
        </div>

        <!-- Defenders -->
        <div class="row">
          <div ng-repeat="defender in $ctrl.starting.Defender" class="player">
            <admin-soccer-avatar remove="$ctrl.removeEnabled && $ctrl.onPlayerRemove" player="defender"></admin-soccer-avatar>
          </div>
        </div>

        <!-- Midfielders -->
        <div class="row">
          <div ng-repeat="midfielder in $ctrl.starting.Midfielder" class="player">
            <admin-soccer-avatar remove="$ctrl.removeEnabled && $ctrl.onPlayerRemove" player="midfielder"></admin-soccer-avatar>
          </div>
        </div>

        <!-- Attackers -->
        <div class="row">
          <div ng-repeat="forward in $ctrl.starting.Forward" class="player">
            <admin-soccer-avatar remove="$ctrl.removeEnabled && $ctrl.onPlayerRemove" player="forward"></admin-soccer-avatar>
          </div>
        </div>
      </div>

      <button ng-click="$ctrl.generateImage()" class="btn btn-default">
        Generate Image
      </button>
    </div>
  </div>
</div>