<div class="main-content o-container--large">
  <div class="layout">
      <div class="pad">

        <form class="form-signin" name="$ctrl.frmLogin" ng-submit="$ctrl.login($ctrl.frmLogin)" novalidate>
          <div class="block-title" translate>Login</div>

          <label for="inputEmail" class="sr-only" translate>Email</label>
          <input type="email" id="inputEmail" class="input form-control" placeholder="{{'Email Address'|translate}}" ng-model="$ctrl.user.email" required autofocus>

          <label for="inputPassword" class="sr-only" translate>Password</label>
          <input type="password" id="inputPassword" class="input form-control" placeholder="{{'Password'|translate}}" ng-model="$ctrl.user.password" required>

          <button class="btn btn-lg btn-primary btn-block" type="submit" translate>Sign in</button>
          <p><a ng-click="$ctrl.showForgotPassword =  true" href translate>Forgot password</a></p>
        </form>

        <form class="form-signin" ng-if="$ctrl.showForgotPassword" name="$ctrl.frmForgotPassword" ng-submit="$ctrl.sendForgot($ctrl.frmForgotPassword)" novalidate>
          <div class="block-title" translate>Forgot Password</div>
          <label for="forgotEmail" class="sr-only" translate>Email address</label>
          <input ng-model="$ctrl.username" id="forgotEmail" type="text" class="input form-control" placeholder="{{'Email address'|translate}}" required>

          <button class="btn btn-lg btn-primary btn-block" type="submit" translate>Send email</button>

          <p ng-show="$ctrl.sent" translate>An e-mail with instructions to reset your password has been sent.</p>
        </form>

      </div>
    </div>
  </div>
</div>