<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout home-page">
    <div class="row" ng-if="$ctrl.user && $ctrl.deadlineWeeks.deadline_week">
      <div class="col-md-12 content-centered">
        <div class="block" style="background-color: transparent">
          <button class="btn btn-primary" ng-click="$ctrl.onNewGameClick()">
            <i class="icon icon-add"></i>
            <span style="position: relative; top: -5px" translate>Nieuwe Ploeg</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div ng-if="!$ctrl.user" class="col-md-6">
        <div class="poster" ng-class="{
          'gouden-g11-home-banner': $ctrl.competitionInfo.competitionFeed === 'G11',
          'nl': $ctrl.currentLocale === 'nl', 
          'fr': $ctrl.currentLocale === 'fr' 
        }"></div>
      </div>

      <div ng-if="!$ctrl.user" class="col-md-6">
        <div class="ng-scope">
          <div class="block">
            <div class="pad content-centered authentication">
              <div class="btn-container">
                <button class="btn btn-primary facebook" ng-click="$ctrl.fbLogin()"><span translate>Ga verder met
                    Facebook</span></button>
              </div>
              <div class="btn-container">
                <button class="btn btn-primary register" ng-click="$ctrl.register()"><span translate>Registeer via
                    email</span></button>
              </div>
              <div class="btn-container">
                <button class="btn btn-primary login" ng-click="$ctrl.login()"><span translate>Log in</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="block-title" translate>How it works?</div>
          <tour-widget user="$ctrl.user" states-prefix="$ctrl.statesPrefix"
            competition-feed="$ctrl.competitionInfo.competitionFeed"></tour-widget>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" ng-class="{'col-md-6': $ctrl.user}">
        <soccer-winner-widget-budget local-assets="false" captain-factor="$ctrl.captainFactor"
          captain-points-for-win-only="$ctrl.captainWinOnlyPoints"
          captain-with-team-points="$ctrl.captainWithTeamPoints" game-name="$ctrl.gameName"
          competition-feed="$ctrl.competitionInfo.competitionFeed" season-id="$ctrl.seasonId"
          jersey-only="$ctrl.jerseyOnly">
        </soccer-winner-widget-budget>
      </div>

      <div class="col-md-4" ng-class="{'col-md-6': $ctrl.user}">
        <div
          ng-if="!$ctrl.deadlineInfo.week.deadline_week && ['G11', 'CL'].indexOf($ctrl.competitionInfo.competitionFeed) !== -1">
          <soccer-end-winner-widget game-name="$ctrl.gameName" local-assets="false" jersey-only="$ctrl.jerseyOnly"
            week="$ctrl.deadlineInfo.week.display_week" season-id="$ctrl.competitionInfo.seasonId"
            captain-factor="$ctrl.captainFactor" captain-with-team-points="$ctrl.captainWithTeamPoints"
            competition-feed="$ctrl.competitionInfo.competitionFeed"></soccer-end-winner-widget>
        </div>

        <div
          ng-if="$ctrl.deadlineInfo.week.deadline_week > 1 || !$ctrl.deadlineInfo.week.deadline_week && ['G11', 'CL'].indexOf($ctrl.competitionInfo.competitionFeed) !== -1">
          <div class="block" ng-if="$ctrl.lastPlayedWeek">
            <div class="block-title"><span translate>Gameweek</span> {{$ctrl.lastPlayedWeek.week_id}} <span
                translate>Status</span></div>
            <table class="table table-stripped">
              <tbody>
                <tr>
                  <td translate>Match points</td>
                  <td ng-style="{'color': $ctrl.lastPlayedWeek.confirmed ? 'green' : 'red'}">{{$ctrl.confirmMessage}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="fb-page" data-href="{{$ctrl.fbPageURL}}" data-width="360" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
      </div>

      <div class="col-md-4" ng-class="{'col-md-6': $ctrl.user}">
        <div class="block" ng-if="$ctrl.deadlineInfo.week.display_week">
          <div class="block-title" translate>
            <span translate>Speeldag</span> {{$ctrl.deadlineInfo.week.display_week}}
            <span translate>football matches</span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <calendar ng-cloak competition="$ctrl.currentCompetition"
                display-week="$ctrl.deadlineInfo.week.display_week" deadline-weeks="$ctrl.deadlineInfo.weeks"
                local-assets="true" season-id="$ctrl.seasonId" states-prefix="$ctrl.statesPrefix"
                use-local-folder="$ctrl.useLocalFolder" game-name="$ctrl.gameName" show-select="false"></calendar>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>