<a href
   ng-click="$ctrl.click()"
   class="player-avatar"
   ng-class="{
   'player-gk': !$ctrl.hidePositionBackground && ($ctrl.player.position_id == 1 || $ctrl.player.players.position_id == 1 || $ctrl.player.Player.position_id == 1),
    'player-def': !$ctrl.hidePositionBackground && ($ctrl.player.position_id == 2 || $ctrl.player.players.position_id == 2 || $ctrl.player.Player.position_id == 2),
    'player-mf': !$ctrl.hidePositionBackground && ($ctrl.player.position_id == 3 || $ctrl.player.players.position_id == 3 || $ctrl.player.Player.position_id == 3),
    'player-fwd': !$ctrl.hidePositionBackground && ($ctrl.player.position_id == 4 || $ctrl.player.players.position_id == 4 || $ctrl.player.Player.position_id == 4),
    'player-cyclist': $ctrl.showJerseys
    }"
   uib-popover-template="'soccer-player-popover.html'"
   popover-placement="auto bottom"
   popover-append-to-body="true"
   popover-enable="$ctrl.popoverClick"
   popover-is-open="$ctrl.player.popoverOpen"
>

  <img ng-if="$ctrl.showJerseys && $ctrl.player && ($ctrl.player.clubs || $ctrl.player.Club)"
       ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.player.clubs ? $ctrl.player.clubs.id : $ctrl.player.Club.id}}.png" class="jersey">

  <img ng-if="!$ctrl.showJerseys" ng-src="{{$ctrl.assetsURL}}/jerseys/{{$ctrl.player.clubs.infostrada_id || $ctrl.player.Club.infostrada_id}}.png"
       class="jersey">
  <img ng-if="!$ctrl.showJerseys" ng-src="{{$ctrl.assetsURL}}/players/player_{{$ctrl.player.players.id || $ctrl.player.Player.id}}.png"
       fallback-src="/images/portrait-dummy.png" class="portrait">
  <img ng-if="!$ctrl.showJerseys" ng-src="{{$ctrl.assetsURL}}/badges/{{$ctrl.player.clubs.infostrada_id || $ctrl.player.Club.infostrada_id}}.png"
       class="club">

  <span ng-if="!$ctrl.player.selections.captain"
        ng-show="$ctrl.player.pts && $ctrl.player.pts.points !== null" class="points">
    {{$ctrl.player.pts.points}}
  </span>
  <span ng-if="$ctrl.isCaptain()"
        class="points-captain">
    {{$ctrl.player.pts && $ctrl.player.pts.points !== null ? ($ctrl.player.pts.points * 2) : 'C'}}
  </span>

  <span ng-if="$ctrl.hasRemove() && $ctrl.isPlayer()"
        ng-click="$ctrl.remove($ctrl.player, $event)"
        class="remove">
  </span>
</a>
<a href ng-click="$ctrl.click()" class="name">{{$ctrl.getPlayerProp('short')}}</a>
<button ng-if="$ctrl.showTransfer" ng-click="$ctrl.transfer()" class="btn btn-sm btn-success" translate>Transfer
</button>