<div class="match-info">
  <div class="block-title" translate>Wedstrijdinfo</div>
  <div class="col-md-12">

    <div class="row pad">
      <div class="col-md-6">
        <p class="info"> {{$ctrl.matchInfo.feed_url}} </p>

        <div class="parcours">
          <img class="parcour"
               title="{{parcour.name}}"
               ng-src="/images/cycling/parcours/{{parcour.id}}.svg"
               ng-repeat="parcour in $ctrl.parcours"/>
        </div>
      </div>
      <div class="col-md-6" ng-if="$ctrl.competitionFeed === 'CROS'">
        <div class="row">
          <div class="col-md-12">
            <p class="info">
              Live op:
            </p>
            <p class="info">
              <a ng-href="{{channel.url}}"
                 class="channels col-xs-12 pull-left"
                 ng-repeat="channel in $ctrl.matchChannels">
                <img class="channel" ng-src="/images/cycling/channels/{{$ctrl.getChannelIdByName(channel.name)}}.png"/>
              </a>
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <p class="info">
            <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
          </p>
          <p class="info">{{$ctrl.localDate($ctrl.matchInfo.date)}}</p>
        </div>
      </div>
      <div class="col-md-6" ng-if="$ctrl.competitionFeed === 'CROS'">
        <div class="row">
          <div class="col-md-12">
            <div class="match-link" ng-click="$ctrl.goToMatch()">
              <p class="info">
                <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
              </p>
              <p class="info">Wedstrijdinfo</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="competition-logo">
          <img ng-src="/images/cycling/competitions/{{$ctrl.getCompetitionIdByName ($ctrl.matchInfo.type)}}.png">
        </div>
      </div>

      <div class="col-md-6">
        <p class="info">Punten</p>
        <h2 class="info"><b>{{$ctrl.points ? $ctrl.points : '-'}}</b></h2>
      </div>
    </div>
  </div>
</div>
