<!-- LEAGUE -->
<div class="block full">
  <div class="block-title">{{$ctrl.league.League.League.name}}</div>

  <section class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th translate>Team</th>
        <th ng-if="$ctrl.league.League.League.h2h == 1">W</th>
        <th ng-if="$ctrl.league.League.League.h2h == 1">D</th>
        <th ng-if="$ctrl.league.League.League.h2h == 1">L</th>
        <th>+</th>
        <th ng-if="$ctrl.league.League.League.h2h == 1">P</th>
      </tr>
      </thead>
      <tr ng-repeat="team in $ctrl.league.table | orderBy:'-tableSort'">
        <td>{{$index+1}}</td>
        <td class="public-1">
          <a ng-if="$ctrl.league.League.League.status > 2 && $ctrl.team.Team.Team.id !== team.team_id" href ui-sref="teamTeam({id: $ctrl.team.Team.Team.id, teamId: team.team_id})">{{team.name}}</a>
          <a ng-if="$ctrl.league.League.League.status > 2 && $ctrl.team.Team.Team.id === team.team_id" href ui-sref="teamRoster({id: $ctrl.team.Team.Team.id})">{{team.name}}</a>

          <span ng-if="$ctrl.league.League.League.status <= 2">{{team.name}}</span>

          <small ng-if="team.user_id == $ctrl.league.League.League.admin">(admin)</small>
        </td>
        <td ng-if="$ctrl.league.League.League.h2h == 1" class="public-1">{{team.wins}}</td>
        <td ng-if="$ctrl.league.League.League.h2h == 1" class="public-1">{{team.draws}}</td>
        <td ng-if="$ctrl.league.League.League.h2h == 1" class="public-1">{{team.losses}}</td>
        <td class="public-1">{{team.rpoints}}</td>
        <td ng-if="$ctrl.league.League.League.h2h == 1" class="public-1">{{team.hth_points}}</td>
        <!-- <td ng-if="$ctrl.isAdmin && $ctrl.league.League.League.status < 1">
          <a ng-click="$ctrl.deleteLeagueTeam(team.team_id)" ng-if="team.team_id !== $ctrl.team.Team.Team.id" href>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </td> -->
      </tr>
    </table>
  </section>

  <div class="pad">
    <small ng-show="$ctrl.league.League.Team.length < 4" class="text-muted" translate>You need to be with at least 4 teams in a league to start drafting.</small>
  </div>
</div>

<div class="row row-content">
  <!-- LEFT -->
  <div class="col-sm-12 col-md-6">

<!-- SHARE -->
<div class="block" ng-if="$ctrl.league.League.League.status < 2">
  <div class="block-title" translate>Share</div>

  <section class="pad" id="league-share">
    <input id="shareLink" class="input form-control" value="{{$ctrl.shareLink}}">
    <button class="btn btn-sm" ngclipboard data-clipboard-target="#shareLink" translate>
      Copy to clipboard
    </button>

    <!-- <div class="fb-share-button" data-href="https://fanarena.com" data-layout="button" data-size="large" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffanarena.com" translate>Share on Facebook</a>
    </div> -->
  </section>
</div>

<!-- INVITE FRIENDS -->
<!-- <div class="block" ng-if="$ctrl.isAdmin && $ctrl.league.League.League.status < 2">
  <div class="block-title" translate>Invite friends</div>

  <section class="table-responsive">
    <table class="table table-striped">
      <thead ng-show="$ctrl.invited_emails.length > 0">
        <tr>
          <th translate>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="email in $ctrl.invited_emails">
          <td>{{email.email}}</td>
          <td ng-switch="email.join">
            <button ng-switch-when="false" ng-click="$ctrl.resendInvite(email.email)" class="btn btn-sm" translate>Resend</button>
            <span ng-switch-when="true" translate>User joined</span>
          </td>
        </tr>
        <tr ng-show="$ctrl.invited_emails.length == 0">
          <td translate>No invites yet</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>

  <div class="pad" id="invite">
    <form name="$ctrl.frmInvites" ng-submit="$ctrl.sendInvites($ctrl.frmInvites)" novalidate>
      <label translate>Send invite email:</label>
      <textarea ng-model="$ctrl.invite_emails" class="input form-control" rows="5" placeholder="example@example.com" required multiple-emails></textarea>
      <small class="form-text text-muted" translate>One email address per line</small>

      <button type="submit" class="btn" translate>Send invites</button>
    </form>
  </div>
</div> -->

  </div>
  <!-- RIGHT -->
  <div class="col-sm-12 col-md-6">

<!-- FIXTURES -->
<div class="block" ng-if="$ctrl.league.League.League.status > 2 && $ctrl.league.League.League.h2h == 1 && $ctrl.league.League.Fixture.length > 0">
  <div class="block-title" translate>Fixtures</div>
  <div class="pad">
    <div class="select">
      <select ng-options="week as week.name for week in $ctrl.fixtureWeeks track by week.id" ng-model="$ctrl.selectedFixtureWeek"></select>
    </div>
  </div>
  <section class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr ng-repeat="fixture in $ctrl.getFixturesForWeek()">
          <td style="text-align:left">
            <a ui-sref="teamLeagueFixture({fixture: fixture, fixtureId:fixture.id})">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-left">{{fixture.home_points}}</div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="text-align: center;">{{fixture.Homefixture.name}} - {{fixture.Awayfixture.name}}</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right" style="text-align: right;">{{fixture.away_points}}</div>
              </div>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

<!-- DateTime TPL override -->
<script id="templates/datetimepicker.html" type="text/ng-template">
  <div class="datetimepicker table-responsive">
      <table class="table table-condensed  {{ data.currentView }}-view">
          <thead>
          <tr>
              <th class="left"
                  data-ng-click="changeView(data.currentView, data.leftDate, $event)"
                  data-ng-show="data.leftDate.selectable"><i class="fa fa-chevron-left" aria-hidden="true"></i>
              </th>
              <th class="switch"
                  colspan="5"
                  data-ng-show="data.previousViewDate.selectable"
                  data-ng-click="changeView(data.previousView, data.previousViewDate, $event)">{{ data.previousViewDate.display }}</th>
              <th class="right" data-ng-click="changeView(data.currentView, data.rightDate, $event)"
                  data-ng-show="data.rightDate.selectable"><i class="fa fa-chevron-right" aria-hidden="true"></i>
              </th>
          </tr>
          <tr>
              <th class="dow" data-ng-repeat="day in data.dayNames">{{ day }}</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-if="data.currentView !== 'day'">
              <td colspan="7">
                            <span class="{{ data.currentView }}"
                                  data-ng-repeat="dateObject in data.dates"
                                  data-ng-class="{current: dateObject.current, active: dateObject.active, past: dateObject.past, future: dateObject.future, disabled: !dateObject.selectable}"
                                  data-ng-click="changeView(data.nextView, dateObject, $event)">{{ dateObject.display }}</span></td>
          </tr>
          <tr data-ng-if="data.currentView === 'day'" data-ng-repeat="week in data.weeks">
              <td data-ng-repeat="dateObject in week.dates"
                  data-ng-click="changeView(data.nextView, dateObject, $event)"
                  class="day"
                  data-ng-class="{current: dateObject.current, active: dateObject.active, past: dateObject.past, future: dateObject.future, disabled: !dateObject.selectable}">{{ dateObject.display }}</td>
          </tr>
          </tbody>
      </table>
  </div>
</script>

<!-- LEAGUE SETTINGS -->
<div class="block league settings" ng-show="$ctrl.isAdmin && $ctrl.league.League.League.status < 2">
  <div class="block-title" translate>League settings</div>
  <div class="pad">
    <form name="$ctrl.frmSettings" ng-submit="$ctrl.saveSettings($ctrl.frmSettings)" novalidate>
      <div class="form-group">
        <label id="lblDeadline" for="inpSettingsDeadline" translate>
          Draft deadline:
          <span class="set" ng-if="$ctrl.settings.deadline">{{$ctrl.settings.deadline | momentDate:'DD/MM/YYYY HHumm'}}</span>
          <span ng-if="!$ctrl.settings.deadline" translate>no date set yet.</span>
        </label>

        <datetimepicker id="deadlinePicker" data-ng-model="$ctrl.settings.deadline" data-datetimepicker-config="{ startView:'day', minView:'minute' }" data-before-render="dateTimeBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)" />
      </div>

      <div class="row">
        <!-- <div class="col-sm-12 col-md-4">
          <label translate>Public league</label>
          <input type="checkbox" ui-switch="{color: '#00fe82'}" ng-model="$ctrl.settings.isPublic" />
          <small class="form-text text-muted" translate>Everyone can join</small>
        </div> -->
        <!-- <div class="col-sm-12 col-md-6">
          <div class="pad">
            <label translate>Lock League</label>
            <small class="form-text text-muted" translate>Disable new teams to join your league</small>
            <input type="checkbox" ui-switch="{color: '#00fe82'}" ng-model="$ctrl.settings.isLocked" />
          </div>
        </div> -->
        <div class="col-sm-12">
          <div class="pad">
            <label translate>Head-to-Head</label>
            <small class="form-text text-muted" translate>Base ranking on weekly 3-points fixtures between teams</small>
            <input type="checkbox" ui-switch="{color: '#00fe82'}" ng-model="$ctrl.settings.isHeadToHead" />
          </div>
        </div>
      </div>

      <div ng-show="$ctrl.league.League.Team.length >= 4" class="row form-group">
        <div class="col-sm-12 col-md-6">
          <div class="pad">
            <label translate>Pick interval</label>
            <small class="form-text text-muted" translate>Time (in seconds) allowed to pick a player during the draft (autodraft).</small>
            <div class="select">
              <select ng-model="$ctrl.settings.pick_interval" ng-options="interval.value as interval.text for interval in $ctrl.pickIntervalOptions"></select>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="pad" ng-show="$ctrl.settings.isHeadToHead">
            <label translate>Encounters per Team</label>
            <small class="form-text text-muted"><span translate>Your league will end on</span> {{endDeadlineWeek | date:'dd/MM/yyyy'}}</small>

            <div class="select">
              <select ng-model="$ctrl.settings.encounters" ng-options="encounter as encounter + ' encounters' for encounter in $ctrl.encounterOptions" ng-change="$ctrl.calculateEndDate()"></select>
            </div>
          </div>
        </div>
      </div>

      <br />

      <button type="submit" class="btn btn-block" translate>Save League Settings</button>
    </form>
  </div>
</div>

<!-- DELETE -->
<div class="block" ng-if="$ctrl.league.League.League.status == 0">
  <div ng-if="$ctrl.isAdmin" class="block-title" translate>Delete league</div>
  <div ng-if="!$ctrl.isAdmin" class="block-title" translate>Delete your team</div>
  <div class="pad">
    <p class="delete">
      <button class="btn" ng-click="$ctrl.delete()" ng-if="!$ctrl.isAdmin" translate>Delete Team</button>
      <button class="btn" ng-click="$ctrl.delete()" ng-if="$ctrl.isAdmin" translate>Delete League</button>
    </p>
  </div>
</div>
<!-- ARCHIVE -->
<div class="block" ng-if="$ctrl.isAdmin && $ctrl.league.League.League.status >= 3">
  <div class="block-title" translate>Archive league</div>
  <div class="pad">
    <p class="delete">
      <button class="btn" ng-click="$ctrl.delete()" translate>Archive league</button>
    </p>
  </div>
</div>

  </div>
</div>
