<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">

    <div class="row row-content">
      <fa-new-game-progress
              decrease-new-game-progress-step="decreaseNewGameProgressStep"
              max-width="true"
              active-tab="2">
      </fa-new-game-progress>
    </div>

    <div class="row row-content">
      <div class="col-sm-12 col-md-12">
        <div class="block full budget-header" ng-class="{'block-right' : $ctrl.hasContainerClass}">
          <div class="col">
            <small translate>Cyclists selected</small>
            <span>{{cyclistsSelected()}}/{{totalFieldPlayers}}</span>
          </div>
          <div class="col">
            <small translate>Budget remaining</small>
            <span>{{budget|currency:'€':valueDecimals}} mil</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-content">
      <!-- LEFT -->
      <div class="col-sm-12 col-md-6">
        <div class="block budget-lineup">
          <div class="block-title" translate>
            Step 1: Your team
          </div>
          <div class="lineup-grid" ng-class="getLineUpLayout()">

            <!-- Start Lineup elements KLAS -->
            <!-- Frontman -->
            <div ng-if="['GKLAS', 'GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1" class="row">
              <div ng-repeat="cyclist in starting|slice:0:1" class="player cyclist">
                <cyclist player="cyclist"
                         game-name="$ctrl.gameName"
                         states-prefix="statesPrefix"
                         show-short="['GKLAS', 'GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <div ng-if="['GKLAS', 'GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1" class="row">
              <div ng-repeat="cyclist in starting|slice:1:3" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="['GKLAS','GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <div ng-if="['GKLAS', 'GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1" class="row">
              <div ng-repeat="cyclist in starting|slice:3:6" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="['GKLAS','GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <div ng-if="['GKLAS', 'GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1" class="row">
              <div ng-repeat="cyclist in starting|slice:6:10" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="['GKLAS','GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <div ng-if="['GKLAS', 'GIRO', 'TOUR', 'VUEL'].indexOf(competitionFeed) !== -1" class="row">
              <div ng-repeat="cyclist in starting|slice:10:15" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <div ng-if="['KLAS'].indexOf(competitionFeed) !== -1" class="row bench-klassiekers">
              <div ng-repeat="cyclist in starting|slice:10:15" class="bench-players">
                <cyclist player="cyclist" show-short="true" class="bench-player" on-remove="cyclistRemove"></cyclist>
              </div>
            </div>
            <!-- END Lineup elements KLAS -->


            <!-- Start Lineup elements CROS -->
            <!-- Frontman -->
            <div ng-if="competitionFeed === 'CROS'" class="row">
              <div ng-repeat="cyclist in starting|slice:0:2" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <!-- Runners -->
            <div ng-if="competitionFeed === 'CROS'" class="row">
              <div ng-repeat="cyclist in starting|slice:2:5" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <!-- Runners -->
            <div ng-if="competitionFeed === 'CROS'" class="row">
              <div ng-repeat="cyclist in starting|slice:5:8" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove">
                </cyclist>
              </div>
            </div>

            <!-- Bench -->
            <div ng-if="competitionFeed === 'CROS'" class="row"
                 ng-class="{'bench-1st-row' : getLineUpLayout() != 'default-background'}">
              <div ng-repeat="cyclist in starting|slice:8:11" class="player cyclist background-default">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         class="cycling-bench"
                         on-remove="cyclistRemove">
                </cyclist>
              </div>
            </div>
            <div ng-if="competitionFeed === 'CROS'" class="row"
                 ng-class="{'bench-2nd-row' : getLineUpLayout() != 'default-background'}">
              <div ng-repeat="cyclist in starting|slice:11:15" class="player cyclist background-default">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         class="cycling-bench"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>
            <!-- End Bench -->
            <!-- END Lineup elements CROS -->


            <!-- Start Lineup elements GCX -->
            <!-- Frontman -->

            <div ng-if="competitionFeed === 'GCX'" class="row">
              <div ng-repeat="cyclist in starting|slice:0:1" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         show-short-position="true"
                         show-position-background="true"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <div ng-if="competitionFeed === 'GCX'" class="row">
              <div ng-repeat="cyclist in starting|slice:1:4" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         show-short-position="true"
                         show-position-background="true"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <!-- Runners -->
            <div ng-if="competitionFeed === 'GCX'" class="row">
              <div ng-repeat="cyclist in starting|slice:4:7" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         show-short-position="true"
                         show-position-background="true"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove"></cyclist>
              </div>
            </div>

            <!-- Runners -->
            <div ng-if="competitionFeed === 'GCX'" class="row">
              <div ng-repeat="cyclist in starting|slice:7:10" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         show-short-position="true"
                         show-position-background="true"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove">
                </cyclist>
              </div>
            </div>

            <div ng-if="competitionFeed === 'GCX'" class="row">
              <div ng-repeat="cyclist in starting|slice:10:13" class="player cyclist">
                <cyclist player="cyclist"
                         states-prefix="statesPrefix"
                         show-short-position="true"
                         show-position-background="true"
                         game-name="$ctrl.gameName"
                         show-short="true"
                         on-remove="cyclistRemove">
                </cyclist>
              </div>
            </div>

            <!-- End Bench -->
            <!-- END Lineup elements GCX -->

          </div>
        </div>
        <div class="block">
          <div class="block-title" translate>Team name</div>
          <div class="pad">
            <form name="frmTeamName" class="new-game-form" novalidate>
              <div class="form-group no-margin">
                <input ng-model="teamName.value" ng-change="checkTeamName()" type="text" id="new-game-team-name"
                       placeholder="{{'Choose a cool name for your team'|translate}}" class="input form-control"
                       required>
              </div>
            </form>
          </div>
        </div>
        <div class="block">
          <div class="block-title" translate>Choose your frontman</div>
          <div class="pad">
            <div class="form-group no-margin">
              <p ng-if="cyclistsSelected() == 0" translate>Pick some cyclists first</p>
              <div ng-show="cyclistsSelected() > 0" class="select">
                <select ng-model="frontman" ng-change="frontmanChanged()"
                        ng-options="cyclist as cyclist.Player.name for cyclist in getPossibleCaptains()|filter:notEmpty"></select>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="sponsorsEnabled" class="block">
          <div>
            <div class="block-title" translate>Choose your sponsor</div>
            <div class="pad">
              <div class="form-group no-margin">
                <div class="select">
                  <select ng-model="sponsor"
                          ng-options="clubSponsor as clubSponsor.Club.name for clubSponsor in sponsors"></select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="pad">
            <button ng-click="create()" class="btn btn-primary btn-large create" translate>Step 2: cycling league
            </button>
          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="col-sm-12 col-md-6">
        <div class="block add-players budget-add-players" ng-class="{'block-right' : $ctrl.hasContainerClass}">
          <div class="block-title" translate>
            All cycling players
          </div>
          <div class="add-player-form show">
            <div class="add-player-filter">
              <div class="row">
                <input type="search" ng-model="searchPlayer.value" placeholder="{{'Search...'| translate}}"
                       class="input">
              </div>
              <div class="row">
                <div class="select">
                  <select ng-model="filterItem.club" ng-options="item.Club.name for item in filterOptions.clubs"
                          ng-change="filterChanged()"></select>
                </div>
                <div class="select">
                  <select ng-model="filterItem.budget"
                          ng-options="item.text for item in filterOptions.budgets"></select>
                </div>
                <div class="select" ng-if="competitionFeed == 'GCX' && positions.length">
                  <select ng-model="filterOptions.selectedPosition"
                          ng-change="filterChanged()"
                          ng-options="position.name for position in positions"></select>
                </div>
                <div class="select" ng-if="competitionFeed == 'CROS'">
                  <select ng-model="selectedNationalClub"
                          ng-options="nationalClub.name for nationalClub in nationalClubs"></select>
                </div>
              </div>
            </div>
            <div class="player-list zebra" ng-class="{'player-list-cx': competitionFeed == 'GCX'}">
              <div dir-paginate="cyclist in cyclists | filter:q:strict | filter:customFilter | orderBy:'-Player.value' | itemsPerPage: 10"
                   class="player" current-page="pagination.current">
                <a class="player-avatar">
                  <img ng-if="!localAssets"
                       ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{cyclist.Club.id}}.png"
                       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                       class="jersey">

                  <img ng-if="localAssets"
                       ng-src="/images/cycling/jersey_{{cyclist.Club.id}}.png"
                       class="jersey"
                       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
                </a>

                <a href ng-click="goToCyclist(cyclist)" class="player-info">
                  <div class="name">{{::cyclist.Player.short ? cyclist.Player.short : cyclist.Player.name}}</div>
                  <div class="position cyclist">{{cyclist.Player.value|currency:'€':valueDecimals}}
                    <div class="club">{{::getClubName(cyclist.Club.id)}}</div>
                    <div ng-class="{
                      'player-gcx-elite': competitionFeed === 'GCX' && cyclist.Player.position_id == 10,
                      'player-gcx-dames': competitionFeed === 'GCX' && cyclist.Player.position_id == 9,
                      'player-gcx-beloften': competitionFeed === 'GCX' && cyclist.Player.position_id == 8}"
                    >
                    {{getPositionNameById(cyclist.Player.position_id)}}
                  </div>
                  </div>
                </a>

                <a href ng-show="(isPickable(cyclist) && !teamLimitExceeded(cyclist))" ng-click="pick(cyclist)"
                   class="btn btn-primary btn-sm mr-10p" translate>Pick</a>
              </div>
              <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
