<div class="row content-centered squad-edit" ng-if="$ctrl.isMyTeam && $ctrl.activated">
  <div class="col-md-4">
    <b translate>Cyclists selected</b>
    <h4 class="text-warning">{{$ctrl.cyclistsSelected()}}/{{$ctrl.totalFieldPlayers}}</h4>
  </div>
  <div class="col-md-4">
    <b translate>Budget remaining</b>
    <h4 class="text-warning">{{$ctrl.budget|currency:'€':$ctrl.valueDecimals}} <span translate>mil</span></h4>
  </div>

  <div class="col-md-4">
    <button ng-click="$ctrl.saveSelection()" ng-class="{'disabled': $ctrl.teamChanges === 0 }"
      style="margin-bottom: 5px" class="btn btn-xs btn-primary" translate>Submit changes
    </button>
  </div>
</div>

<div class="row row-content" ng-if="$ctrl.isMyTeam && $ctrl.activated">
  <div class="col-md-6 col-sm-12">
    <div class="block">
      <div class="alert alert-info" style="margin-bottom: 0px" translate>
        U kunt dit team onbeperkt aanpassen tot de start van de volgende speeldag.
      </div>
    </div>
    <div class="block" ng-class="{'block-right' : $ctrl.hasContainerClass}">
      <div class="block-title" translate>Choose your frontman</div>
      <div class="pad">
        <div class="form-group no-margin">
          <p ng-if="!$ctrl.starting.length" translate>Pick some cyclists first</p>
          <div ng-show="$ctrl.starting.length" class="select">
            <select ng-model="$ctrl.frontman" ng-change="$ctrl.frontmanChanged()"
              ng-options="cyclist as cyclist.Player.name for cyclist in $ctrl.starting|filter:$ctrl.isNotEmpty"></select>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.sponsorsEnabled" class="block">
      <div class="block-title" translate>Choose your sponsor</div>
      <div class="pad">
        <div class="form-group no-margin">
          <div class="select">
            <select ng-model="$ctrl.sponsor" ng-change="$ctrl.sponsorChanged()"
              ng-options="sponsor as sponsor.Club.name for sponsor in $ctrl.sponsors|filter:notEmpty"></select>
          </div>
        </div>
      </div>

    </div>

    <div class="block budget-lineup">
      <div class="block-title" translate>
        Your lineup
      </div>
      <div class="lineup-grid" ng-class="$ctrl.lineupLayout">

        <div ng-if="['GKLAS', 'GIRO', 'TOUR', 'VUEL'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1">
          <!-- Frontman -->
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:0:1 track by $index" class="player cyclist">
              <cyclist
                show-short="['GKLAS','GIRO','TOUR','VUEL'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
                states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:1:3 track by $index" class="player cyclist">
              <cyclist
                show-short="['GKLAS','GIRO','TOUR','VUEL'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
                states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:3:6 track by $index" class="player cyclist">
              <cyclist
                show-short="['GKLAS','GIRO','TOUR','VUEL'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
                states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:6:10 track by $index" class="player cyclist">
              <cyclist
                show-short="['GKLAS','GIRO','TOUR','VUEL'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1"
                states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <div ng-if="['GKLAS','TOUR','GIRO','VUEL'].indexOf($ctrl.squad.Team.League.competition_feed) !== -1 "
            class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:10:15 track by $index" class="player cyclist">
              <cyclist show-short="true" states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <!-- Bench -->
          <div ng-if="$ctrl.squad.Team.League.competition_feed === 'KLAS'" class="row bench-klassiekers">
            <div ng-repeat="cyclist in $ctrl.starting|slice:10:15" class="bench-players">
              <cyclist show-short="true" states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                class="bench-player" on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>
        </div>

        <div ng-if="$ctrl.squad.Team.League.competition_feed === 'CROS'">
          <!-- Frontman -->
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:0:2" class="player cyclist">
              <cyclist show-short="true" states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:2:5" class="player cyclist">
              <cyclist show-short="true" states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:5:8" class="player cyclist">
              <cyclist show-short="true" states-prefix="$ctrl.statesPrefix" player="cyclist" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div class="row" ng-class="{'bench-1st-row' : $ctrl.lineupLayout != 'default-background'}">
            <div ng-repeat="cyclist in $ctrl.starting|slice:8:11" class="player cyclist background-default">
              <cyclist show-short="true" player="cyclist" states-prefix="$ctrl.statesPrefix" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove" class="cycling-bench"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div class="row" ng-class="{'bench-2nd-row' : $ctrl.lineupLayout != 'default-background'}">
            <div ng-repeat="cyclist in $ctrl.starting|slice:11:15" class="player cyclist background-default">
              <cyclist show-short="true" player="cyclist" states-prefix="$ctrl.statesPrefix" game-name="$ctrl.gameName"
                on-remove="$ctrl.cyclistRemove" class="cycling-bench"></cyclist>
            </div>
          </div>

        </div>


        <!-- Start Lineup elements GCX -->
        <!-- Frontman -->
        <div ng-if="$ctrl.squad.Team.League.competition_feed === 'GCX'">
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:0:1" class="player cyclist">
              <cyclist player="cyclist" states-prefix="$ctrl.statesPrefix" show-short-position="true"
                show-position-background="true" game-name="$ctrl.gameName" show-short="true"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:1:4" class="player cyclist">
              <cyclist player="cyclist" states-prefix="$ctrl.statesPrefix" show-short-position="true"
                show-position-background="true" game-name="$ctrl.gameName" show-short="true"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:4:7" class="player cyclist">
              <cyclist player="cyclist" states-prefix="$ctrl.statesPrefix" show-short-position="true"
                show-position-background="true" game-name="$ctrl.gameName" show-short="true"
                on-remove="$ctrl.cyclistRemove"></cyclist>
            </div>
          </div>

          <!-- Runners -->
          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:7:10" class="player cyclist">
              <cyclist player="cyclist" states-prefix="$ctrl.statesPrefix" show-short-position="true"
                show-position-background="true" game-name="$ctrl.gameName" show-short="true"
                on-remove="$ctrl.cyclistRemove">
              </cyclist>
            </div>
          </div>

          <div class="row">
            <div ng-repeat="cyclist in $ctrl.starting|slice:10:13" class="player cyclist">
              <cyclist player="cyclist" states-prefix="$ctrl.statesPrefix" show-short-position="true"
                show-position-background="true" game-name="$ctrl.gameName" show-short="true"
                on-remove="$ctrl.cyclistRemove">
              </cyclist>
            </div>
          </div>
        </div>

        <!-- End Bench -->
        <!-- END Lineup elements GCX -->
      </div>
    </div>

  </div>

  <div class="col-md-6 col-sm-12">
    <div class="block add-players budget-add-players" ng-class="{'block-right' : $ctrl.hasContainerClass}">
      <div class="block-title" translate>
        All cycling players
      </div>
      <div class="add-player-form show">
        <div class="add-player-filter">
          <div class="row">
            <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="{{'Search...'| translate}}" class="input">
          </div>
          <div class="row">
            <div class="select">
              <select ng-model="$ctrl.filterItem.club" ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                ng-change="$ctrl.filterChanged()"></select>
            </div>
            <div class="select">
              <select ng-model="$ctrl.filterItem.budget" ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
            </div>
            <div class="select" ng-if="$ctrl.competitionFeed == 'GCX' && $ctrl.positions.length">
              <select ng-model="$ctrl.filterItem.selectedPosition" ng-change="$ctrl.filterChanged()"
                ng-options="position.name for position in $ctrl.positions"></select>
            </div>
            <div class="select" ng-if="$ctrl.competitionFeed == 'CROS'">
              <select ng-model="$ctrl.selectedNationalClub"
                ng-options="nationalClub.name for nationalClub in $ctrl.nationalClubs"></select>
            </div>
          </div>
        </div>
        <div class="player-list zebra" ng-class="{'player-list-cx': $ctrl.squad.Team.League.competition_feed == 'GCX'}">
          <div
            dir-paginate="cyclist in $ctrl.cyclists | filter:q:strict | filter:$ctrl.customFilter | orderBy:'-Player.value' | itemsPerPage: 10"
            class="player" current-page="$ctrl.pagination.current">
            <a class="player-avatar">
              <img ng-if="!$ctrl.localAssets"
                ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{cyclist.Club.id}}.png"
                fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png" class="jersey">

              <img ng-if="$ctrl.localAssets" ng-src="/images/cycling/jersey_{{cyclist.Player.club_id}}.png"
                class="jersey" fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
            </a>

            <a href ng-click="$ctrl.goToCyclist(cyclist)" class="player-info">
              <div class="name">{{cyclist.Player.short || cyclist.Player.name}}</div>
              <div class="position cyclist">{{cyclist.Player.value|currency:'€':$ctrl.valueDecimals}}
                <div class="club">{{::$ctrl.getClubName(cyclist.Club.id)}}</div>
                <div
                  ng-class="{
                      'player-gcx-elite': $ctrl.squad.Team.League.competition_feed === 'GCX' && cyclist.Player.position_id == 10,
                      'player-gcx-dames': $ctrl.squad.Team.League.competition_feed === 'GCX' && cyclist.Player.position_id == 9,
                      'player-gcx-beloften': $ctrl.squad.Team.League.competition_feed === 'GCX' && cyclist.Player.position_id == 8}">
                  {{$ctrl.getPositionNameById(cyclist.Player.position_id)}}
                </div>
              </div>
            </a>

            <a href ng-show="($ctrl.isPickable(cyclist) && !$ctrl.teamLimitExceeded(cyclist))"
              ng-click="$ctrl.pick(cyclist)" class="btn btn-sm btn-primary mr-10p" translate>Pick</a>
          </div>
          <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>