<div class="main-content">
  <div class="layout">
    <div class="pad">
      <div class="row">
        <div class="col-md-6">
          <div class="race-info f1-details">
            <div class="block-title">{{$ctrl.stage.matches.feed_url}}</div>
            <div class="col-md-12 parcours">
              <span class="stage-icon" ng-class="$ctrl.stageIcon($ctrl.stage)"></span>
            </div>

            <div class="col-md-12">
              <div class="row" ng-repeat="property in $ctrl.infoProps track by $index">
                <div class="col-md-6">{{property}}</div>
                <div class="col-md-6">{{$ctrl.info[property]}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="race-history">
            <div class="block-title" translate>LAST 5 YEARS</div>
            <div class="table-responsive races">
              <table class="table table-striped">
                <thead>
                <th translate>Year</th>
                <th translate>Winner</th>
                <th translate>2nd</th>
                <th translate>3rd</th>
                </thead>
                <tbody>
                <tr ng-repeat="winner in $ctrl.history">
                  <td>{{winner.year}}</td>
                  <td>{{winner.first}}</td>
                  <td>{{winner.second}}</td>
                  <td>{{winner.third}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>