/* ==========================================================================
   #MEDIA
   ========================================================================== */

/**
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

.o-media {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  display: block;
}


.o-media__aside {
  float: left;
  margin-right: 1rem;

  > img {
    display: block;
  }

}


.o-media__body {
  overflow: hidden;
  display: block;

  &,
  > :last-child {
    margin-bottom: 0;
  }

}




/* Reversed media objects
   ========================================================================== */

.o-media--reverse {

  > .o-media__aside {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
  }

}


.o-media--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-tar {
  text-align right
}

@media $tablet-mini {
  .o-media--tablet-mini {
    .o-media__aside {
      float: none;
      display block
    }
  }

  .u-tal--tablet-mini {
    text-align left
  }
}


