<!-- JOIN TO LEAGUE -->

<div class="row" ng-if="$ctrl.isGlobalLeague()">
  <div class="col-md-6">
    <div class="block-title" translate>Join League</div>
    <div class="pad">
      <p>
        Dit team is nog niet ingeschreven in een league. Vul hier de link van de league in waaraan je wenst deel te
        nemen.
      </p>
      <input ng-model="$ctrl.inviteURL"
             ng-keypress="$ctrl.onKeyPress($event)"
             ng-change="$ctrl.processInviteURL()"
             type="text"
             placeholder="{{'Invite Link'|translate}}"
             class="input form-control">

      <div class="invite-league" ng-if="$ctrl.inviteLeague">
        <h5>{{$ctrl.inviteLeague.name}} {{$ctrl.inviteLeague.competition_feed|flag}}</h5>
        <button ng-click="$ctrl.joinLeague()" class="btn" translate>Join this league</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block-title" translate>Delete your team</div>
    <div class="pad">
      <p class="delete">
        <button class="btn btn-danger"
                fa-confirmation-dialog
                title="Remove team"
                body="{{'Are you sure that you want to remove ' +  $ctrl.squad.Team.Team.name + '?'}}"
                on-success="$ctrl.deleteTeam()"
                translate>
          Delete Team
        </button>
      </p>
    </div>
  </div>
</div>


<!-- LEAGUE -->
<div class="block full" ng-if="!$ctrl.isGlobalLeague()">
  <div class="block-title">{{$ctrl.squad.Team.League.name}}</div>

  <section class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th translate>Team</th>
        <!--<th translate>Player</th>-->
        <th translate>Points</th>
      </tr>
      </thead>
      <tr ng-repeat="team in $ctrl.league.League.Team | orderBy:'-tableSort'">
        <td>{{$index+1}}</td>
        <td class="public-1">
          <a ui-sref="squadTeam({id: team.id})">{{team.name}}</a>
        </td>
        <td class="public-1">{{team.points}}</td>
      </tr>
    </table>
  </section>
</div>


<!-- SHARE -->
<div class="block" ng-if="$ctrl.league.League.League.status < 2 && !$ctrl.isGlobalLeague()">
  <div class="block-title" translate>Share</div>

  <section class="pad" id="league-share">
    <p translate>Nodig anderen uit in jouw league door onderstaande code of link met hen te delen!</p>
    <p>Code: <strong>{{$ctrl.league.invite}}</strong></p>

    <input id="shareLink" class="input form-control" value="{{$ctrl.shareLink}}">
    <button class="btn btn-sm" ngclipboard data-clipboard-target="#shareLink" translate>
      Copy to clipboard
    </button>

    <!-- <div class="fb-share-button" data-href="https://fanarena.com" data-layout="button" data-size="large" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffanarena.com" translate>Share on Facebook</a>
    </div> -->
  </section>
</div>