<section class="table-responsive">
  <div class="pad">
    <div class="row" ng-if="$ctrl.enableLeagueSelection && $ctrl.isGlobalLeague && $ctrl.firstWeek">
      <div class="col-md-8 col-xs-12" ng-if="$ctrl.selected.value">
        <ui-select
                ng-model="$ctrl.selected.value"
                ng-change="$ctrl.changeLeague()"
                class="select-league-dropdown">
          <ui-select-match>
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in ($ctrl.listOfLeagues | filter: $select.search) track by $index">
            <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-4 col-xs-12">
        <button class="btn btn-sm btn-primary join-league-btn mb-15p pull-right"
                ng-click="$ctrl.joinLeague()" translate>
          Join football league
        </button>
      </div>
    </div>

    <table class="table table-striped" ng-if="!$ctrl.currentSelectedLeagueIsGlobal || !$ctrl.isGlobalLeague">
      <thead>
      <tr>
        <th>#</th>
        <th translate>Team</th>
        <!--<th translate>Player</th>-->
        <th translate>Points</th>
      </tr>
      </thead>
      <tr ng-repeat="team in $ctrl.currentLeagueTeams | orderBy:'-tableSort'">
        <td>{{$index+1}}</td>
        <td class="public-1">
          <a ui-sref="squadTeam({id: team.id})">{{team.name}}</a>
        </td>
        <td class="public-1">{{team.points}}</td>
      </tr>
    </table>
  </div>
</section>
