<div class="block" ng-if="$ctrl.leaderTeam">
  <div class="block-title widget-title-ground">{{$ctrl.leaderTeam.Team.User.first_name}}
    {{$ctrl.leaderTeam.Team.User.last_name}} - {{($ctrl.previousYear ? $ctrl.leaderTeam.Team.Team.season_id : '')}}
    {{$ctrl.title}}
  </div>
  <div class="pad">
    <div class="row">
      <div class="col-xs-12">
        {{$ctrl.leaderTeam.Team.Team.name}} <span class="pull-right widget-points-label">
                    <span>{{$ctrl.leaderTeam.Team.Team.points}} </span>
                <span translate>punten</span></span>
      </div>
    </div>
    <div class="row player-list" ng-repeat="player in $ctrl.chunkedData">
      <div class="player">
        <span class="player-avatar">
              <span ng-if="$ctrl.jerseyOnly">
                  <img ng-if="!$ctrl.localAssets"
                       ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{player.players.club_id}}.png"
                       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                       class="jersey">

                  <img ng-if="$ctrl.localAssets"
                       ng-src="/images/football/jersey_{{player.players.club_id}}.png"
                       class="jersey"
                       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
                </span>

                <img ng-if="!$ctrl.jerseyOnly" ng-src="{{$ctrl.assetsURL}}/jerseys/{{player.players.club_id}}.png"
                     class="jersey">
           <span ng-if="player.selections.captain" class="points-captain content-centered">
            {{'C'}}
            </span>
        </span>
        <span class="player-info">
              <div class="name">{{player.players.short}}</div>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 pad content-centered">
       <span class="widget-points-label" translate>Bench</span>
      </div>
    </div>
    <div class="row player-list" ng-repeat="player in $ctrl.leaderTeam.bench">
      <div class="player">
        <span class="player-avatar">
              <span ng-if="$ctrl.jerseyOnly">
                  <img ng-if="!$ctrl.localAssets"
                       ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{player.players.club_id}}.png"
                       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                       class="jersey">

                  <img ng-if="$ctrl.localAssets"
                       ng-src="/images/football/jersey_{{player.players.club_id}}.png"
                       class="jersey"
                       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
                </span>

                <img ng-if="!$ctrl.jerseyOnly" ng-src="{{$ctrl.assetsURL}}/jerseys/{{player.players.club_id}}.png"
                     class="jersey">
           <span ng-if="player.selections.captain" class="points-captain content-centered">
            {{'C'}}
            </span>
        </span>
        <span class="player-info">
              <div class="name">{{player.players.short}}</div>
        </span>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.leaderTeam.Team.Transfer.length">
      <div class="col-xs-12 pad content-centered">
        <span class="widget-points-label" translate>Transfers</span>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.leaderTeam.Team.Transfer.length">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <th translate> Week</th>
          <th translate> Out</th>
          <th translate> In</th>
          </thead>
          <tbody>
          <tr ng-repeat="transfer in $ctrl.leaderTeam.Team.Transfer | orderBy:transfer.week_id">
            <td>
              {{transfer.week_id}}
            </td>
            <td>
              {{transfer.Out.short}}
            </td>
            <td>
              {{transfer.In.short}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
