<div ng-class="{'layout': $ctrl.hasLayoutClass}">
  <div class="block" ng-if="$ctrl.resolved">
    <div class="time-pager">
      <a ng-click="$ctrl.changePlayDate('prev')" href class="prev" ng-class="{'disabled':team.deadline_week == 1}"
         ng-disabled="$ctrl.currentDisplayWeek.week_id === $ctrl.deadlineWeeks[0].week_id"><i
              class="icon icon-prev"></i></a>

      <div class="label">
        <div class="select">
          <select ng-model="$ctrl.currentDisplayWeek"
                  ng-change="$ctrl.changePlayDate('change')"
                  ng-options="week as ($ctrl.matchDayLabel + ' ' + week.week_id) for week in $ctrl.deadlineWeeks"></select>
        </div>
      </div>

      <a ng-click="$ctrl.changePlayDate('next')" href class="next" ng-disabled="$ctrl.isLastWeek"><i
              class="icon icon-next"></i></a>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.resolved && $ctrl.readOnly && $ctrl.pointsBreakDown">
    <div class="points-views">
      <div class="col-md-12 mb-15p">
        <button class="btn btn-sm"
                ng-click="$ctrl.playersPointsTableVisible = false"
                ng-class="{'btn-primary': !$ctrl.playersPointsTableVisible, 'btn-default': $ctrl.playersPointsTableVisible}">
          <i class="icon icon-football-field"></i>
          <span translate>Overview</span>
        </button>
        <button class="btn btn-sm"
                ng-click="$ctrl.playersPointsTableVisible = true"
                ng-class="{'btn-primary': $ctrl.playersPointsTableVisible, 'btn-default': !$ctrl.playersPointsTableVisible}">
          <i class="icon icon-players-list"></i>
          <span translate>Points details</span>
        </button>
      </div>
    </div>
  </div>

  <div class="block" ng-if="$ctrl.readOnly && $ctrl.playersPointsTableVisible">
    <div class="block-title"><span translate>Starting players points list</span></div>
    <div ng-if="$ctrl.playersPointsTableVisible">
      <soccer-team-player-points-details starting="spreadStarting"
                                         bench="$ctrl.spreadBench"
                                         captain-factor-by-team-result="$ctrl.captainFactorByTeamResult"
                                         captain-factor="$ctrl.captainFactor"
                                         game-name="$ctrl.gameName"></soccer-team-player-points-details>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.resolved && !$ctrl.playersPointsTableVisible">
    <subnav-tab id="1">
      <div class="col-md-12" ng-if="$ctrl.resolved && !$ctrl.readOnly && $ctrl.saveByButtonEnabled">
        <div class="row content-centered">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4 mb-15px">
            <button ng-click="$ctrl.saveSelection()"
                    ng-disabled="$ctrl.teamChanges === 0"
                    class="btn btn-xs btn-primary" translate>Submit changes
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 overflow-auto">
        <div ng-show="$ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
             class="block"
             ng-if="$ctrl.classicCaptainSelection && $ctrl.team.weeks.deadline_week">
          <div class="block-title" translate>Choose football your Captain</div>
          <div class="form-group no-margin pad">
            <div class="select">
              <select ng-model="$ctrl.captain"
                      ng-change="$ctrl.onCaptainChange()"
                      ng-options="player as player.short for player in $ctrl.filterItem.teamPlayers track by player.id"></select>
            </div>
            <div class="btn btn-default btn-sm"
                 ng-if="!$ctrl.saveByButtonEnabled"
                 translate
                 ng-click="$ctrl.changeCaptainHandler()"> Change
            </div>
          </div>
        </div>

        <div class="block">
          <div class="block-title" translate>Lineup</div>
          <div class="row" ng-if="$ctrl.displayWeekStats && $ctrl.showExtraInfo">
            <div class="text-align-center">
              <small> Team Points: <b>{{$ctrl.displayWeekStats.points}}</b></small>
              <small> Rank: <b>{{$ctrl.displayWeekStats.rank}}</b></small>
            </div>
          </div>
          <div ng-if="$ctrl.currentDisplayWeek.week_id < $ctrl.team.Team.Team.week_id"
               style="padding: 2px">
            <div class="alert alert-info"><span>Deze ploeg start in speeldag</span> {{$ctrl.team.Team.Team.week_id}}
            </div>
          </div>
          <div id="lineupGrid" class="lineup-grid"
               ng-class="{'editing':$ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek}">
            <div class="pad edit-selection"
                 ng-if="$ctrl.team.weeks.deadline_week && !$ctrl.readOnly"
                 ng-show="$ctrl.myTeam && $ctrl.currentDisplayWeek.week_id < originalDeadlineWeek && !$ctrl.deadlineWeekHasNoMatches">
              <a href ng-click="$ctrl.editSelection()" class="btn" translate>Edit</a>
            </div>

            <!-- Goalkeeper -->
            <div class="row">
              <div ng-repeat="goalkeeper in starting.Goalkeeper"
                   class="player"
                   data-drag="isDraggable2(goalkeeper)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: 'onDragStart2()', onStop: 'onDragStop2()', onDrop: 'onDropStop2()'}"
                   data-drop="isFieldDroppable('gk', goalkeeper)"
                   jqyoui-droppable="{onDrop: 'onDropStop2($index)'}"
              >

                <player player="goalkeeper"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        local-assets="$ctrl.localAssets"
                        show-jerseys="$ctrl.playersWithJerseys"
                        team-id="$ctrl.team.Team.Team.id"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        captain="$ctrl.captain.id === goalkeeper.players.id"
                        game-name="$ctrl.gameName"
                        popover-click="($ctrl.currentDisplayWeek.week_id < originalDeadlineWeek) || !$ctrl.team.weeks.deadline_week"
                        prevent-click="dragElem !== null"></player>

                <blanko ng-if="goalkeeper.selections.blanko"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        max-same-club-players="$ctrl.maxSameClubPlayers"
                        states-prefix="$ctrl.statesPrefix"
                        player="goalkeeper"
                        team="$ctrl.team"
                        on-keep="$ctrl.onKeep"
                        popover-click="!$ctrl.readOnly && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        prevent-click="dragElem !== null"></blanko>
              </div>
            </div>

            <!-- Defenders -->
            <div class="row">
              <div ng-repeat="defender in starting.Defender"
                   class="player"
                   data-drag="isDraggable2(defender)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: 'onDragStart2()', onStop: 'onDragStop2()', onDrop: 'onDropStop2()'}"
                   data-drop="isFieldDroppable('def', defender)"
                   jqyoui-droppable="{onDrop: 'onDropStop2($index)'}"
              >
                <player player="defender"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        local-assets="$ctrl.localAssets"
                        show-jerseys="$ctrl.playersWithJerseys"
                        team-id="$ctrl.team.Team.Team.id"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        captain="$ctrl.captain.id === defender.players.id"
                        game-name="$ctrl.gameName"
                        popover-click="($ctrl.currentDisplayWeek.week_id < originalDeadlineWeek) || !$ctrl.team.weeks.deadline_week"
                        prevent-click="dragElem !== null"></player>
                <blanko ng-if="defender.selections.blanko"
                        max-same-club-players="$ctrl.maxSameClubPlayers"
                        states-prefix="$ctrl.statesPrefix"
                        player="defender"
                        on-keep="$ctrl.onKeep"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        team="$ctrl.team"
                        popover-click="!$ctrl.readOnly && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        prevent-click="dragElem !== null"></blanko>
              </div>
            </div>

            <!-- Midfielders -->
            <div class="row">
              <div ng-repeat="midfielder in starting.Midfielder"
                   class="player"
                   data-drag="isDraggable2(midfielder)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: 'onDragStart2()', onStop: 'onDragStop2()', onDrop: 'onDropStop2()'}"
                   data-drop="isFieldDroppable('mf', midfielder)"
                   jqyoui-droppable="{onDrop: 'onDropStop2($index)'}"
              >

                <player player="midfielder"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        local-assets="$ctrl.localAssets"
                        show-jerseys="$ctrl.playersWithJerseys"
                        team-id="$ctrl.team.Team.Team.id"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        captain="$ctrl.captain.id === midfielder.players.id"
                        game-name="$ctrl.gameName"
                        popover-click="($ctrl.currentDisplayWeek.week_id < originalDeadlineWeek) || !$ctrl.team.weeks.deadline_week"
                        prevent-click="dragElem !== null"></player>
                <blanko ng-if="midfielder.selections.blanko"
                        max-same-club-players="$ctrl.maxSameClubPlayers"
                        states-prefix="$ctrl.statesPrefix"
                        player="midfielder"
                        on-keep="$ctrl.onKeep"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        team="$ctrl.team"
                        popover-click="!$ctrl.readOnly && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        prevent-click="dragElem !== null"></blanko>
              </div>
            </div>

            <!-- Attackers -->
            <div class="row">
              <div ng-repeat="forward in starting.Forward"
                   class="player"
                   data-drag="isDraggable2(forward)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: 'onDragStart2()', onStop: 'onDragStop2()', onDrop: 'onDropStop2()'}"
                   data-drop="isFieldDroppable('fw', forward)"
                   jqyoui-droppable="{onDrop: 'onDropStop2($index)'}"
              >

                <player
                        player="forward"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        local-assets="$ctrl.localAssets"
                        show-jerseys="$ctrl.playersWithJerseys"
                        team-id="$ctrl.team.Team.Team.id"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        captain="$ctrl.captain.id === forward.players.id"
                        game-name="$ctrl.gameName"
                        popover-click="($ctrl.currentDisplayWeek.week_id < originalDeadlineWeek) || !$ctrl.team.weeks.deadline_week"
                        prevent-click="dragElem !== null"></player>
                <blanko ng-if="forward.selections.blanko"
                        max-same-club-players="$ctrl.maxSameClubPlayers"
                        states-prefix="$ctrl.statesPrefix"
                        player="forward"
                        on-keep="$ctrl.onKeep"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        team="$ctrl.team"
                        popover-click="!$ctrl.readOnly && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        prevent-click="dragElem !== null"></blanko>
              </div>
            </div>

            <!-- If lineup empty -->
            <div ng-if="!starting || $ctrl.noSelectionWeek" class="lineup-empty">
              <div ng-switch="$ctrl.team.Team.Team.id == $ctrl.displayTeam.Team.Team.id">
                <p ng-switch-when="true" translate>You don't have a selection for this week</p>
                <button ng-switch-when="true" ng-click="$ctrl.editSelection()" class="btn btn-sm" translate>Edit
                  selection
                </button>
                <p ng-switch-when="false" translate>This team doesn't have a selection for this week</p>
              </div>
            </div>
          </div>

          <div ng-if="$ctrl.benchEnabled && $ctrl.team.weeks.deadline_week"
               ng-show="$ctrl.myTeam && (($ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek) || $ctrl.benchAlwaysVisible)"
               class="lineup-bench">
            <div class="row">
              <div ng-repeat="player in bench"
                   class="player player-bench"
                   data-drag="isDraggable2(player)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: 'onDragStart2()', onStop: 'onDragStop2()'}"
                   data-drop="isBenchDroppable(player)"
                   jqyoui-droppable="{onDrop: 'onDropStop2($index)'}"
              >

                <player player="player"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        local-assets="$ctrl.localAssets"
                        show-jerseys="$ctrl.playersWithJerseys"
                        team-id="$ctrl.team.Team.Team.id"
                        hide-position-background="$ctrl.hidePositionBackground"
                        points-disabled="!$ctrl.readOnly"
                        show-short-position="!$ctrl.readOnly"
                        states-prefix="$ctrl.statesPrefix"
                        captain="$ctrl.captain.id === player.players.id"
                        game-name="$ctrl.gameName"
                        prevent-click="dragElem !== null"
                        show-transfer="$ctrl.showBenchTransferButton"
                        popover-click="false"></player>

                <blanko ng-if="player.selections.blanko"
                        max-same-club-players="$ctrl.maxSameClubPlayers"
                        states-prefix="$ctrl.statesPrefix"
                        player="player"
                        on-keep="$ctrl.onKeep"
                        drag-and-drop-enabled="!$ctrl.readOnly && $ctrl.dragByHandleOnly && $ctrl.saveByButtonEnabled && $ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        team="$ctrl.team"
                        popover-click="!$ctrl.readOnly && $ctrl.currentDisplayWeek.week_id >= originalDeadlineWeek"
                        prevent-click="dragElem !== null"></blanko>
              </div>
            </div>
            <div class="row">
              <div class="player player-bench captain-area" ng-if="!$ctrl.classicCaptainSelection">
                <soccer-captain captain="$ctrl.captain"
                                local-assets="$ctrl.localAssets"
                                show-jerseys="$ctrl.playersWithJerseys"
                                starting="spreadStarting"
                                change-captain-handler="$ctrl.changeCaptainHandler">
                </soccer-captain>
              </div>
            </div>
          </div>

          <div ng-if="$ctrl.myTeam && originalDeadlineWeek == $ctrl.team.Team.League.week_id && $ctrl.currentDisplayWeek.week_id == originalDeadlineWeek"
               class="pad info-text">
            <div class="icon icon-drag-drop"></div>
            <p translate>Only the 11 players in your lineup will earn you points. You pick who gets to play, and who's
              benched!</p>
            <p translate>Choose your preferred formation, but you need at least 1 goalkeeper, 3 defenders, 3 midfielders
              and
              1
              forward.</p>
            <p translate>You can drag and drop players from the bench to the field and vice versa.</p>
          </div>
        </div>

        <!--
        <div class="block"
             ng-if="($ctrl.displayWeekStats &&  $ctrl.rosterFirstExtraWidget && $ctrl.myTeam && (($ctrl.currentDisplayWeek.week_id < originalDeadlineWeek && !$ctrl.deadlineWeekHasNoMatches) || !$ctrl.weeks.deadline_week))">
          <div class="block-title">{{$ctrl.rosterFirstExtraWidget.title}}</div>
          <roster-first-extra-widget user-team-points="$ctrl.displayWeekStats.points"
                                     user-team-id="$ctrl.team.Team.Team.id"
                                     states-prefix="$ctrl.statesPrefix"
                                     week="$ctrl.currentDisplayWeekId">
          </roster-first-extra-widget>
        </div>
        -->

      </div>
    </subnav-tab>

    <subnav-tab id="2">
      <div class="col-md-6 col-xs-12">
        <div class="block" ng-if="$ctrl.readOnly">
          <div class="block-title" translate>Current week info</div>
          <div class="content-centered pad">
            <soccer-match-info states-prefix="$ctrl.statesPrefix"
                               points="$ctrl.displayWeekStats.points"
                               total-points="$ctrl.team.Team.Team.points"
                               rank="$ctrl.displayWeekStats.rank"
                               total-rank="$ctrl.team.Team.Team.rank"
                               competition-feed="$ctrl.team.Team.League.competition_feed"></soccer-match-info>
          </div>
        </div>

        <div class="block">
          <div class="block-title" translate>football matches</div>
          <calendar
                  ng-cloak
                  competition="$ctrl.currentCompetition"
                  display-week="$ctrl.currentDisplayWeek.week_id"
                  deadline-weeks="$ctrl.deadlineWeeks"
                  states-prefix="$ctrl.statesPrefix"
                  local-assets="$ctrl.localAssets"
                  game-name="$ctrl.gameName"
                  assets-url="$ctrl.calendarAssetsURL"
                  show-select="false">
          </calendar>
        </div>
      </div>
    </subnav-tab>
  </div>
</div>