<div id="f1-lineup" class="block budget-lineup formula-one-lineup">
  <div class="block-title" translate>
    {{$ctrl.blockTitle}}

    <div class="span pull-right">
      <a href ng-click="$ctrl.goTo('/files/f1-rules.pdf')"><i class="fa fa-book" aria-hidden="true">Rules</i></a>
    </div>
  </div>
  <div class="lineup-grid formula-one-grid formula-one-background">
    <div class="row">

      <div class="player driver-tool left-tool">
        <driver-tool tool="$ctrl.selectedItems.chassis"
                     tool-name="'chassis'"
                     show-short="true"
                     tool-label="'Chassis'"></driver-tool>
      </div>

      <div ng-repeat="driver in $ctrl.starting|slice:0:1 track by $index" class="player driver">
        <driver player="driver" show-short="true"></driver>
      </div>


      <div class="player driver-tool right-tool">
        <driver-tool tool="$ctrl.selectedItems.engine"
                     tool-name="'engine'"
                     show-short="true"
                     tool-label="'Engine'"></driver-tool>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="driver in $ctrl.starting|slice:1:2 track by $index" class="player driver">
        <driver player="driver"
                show-short="true">
        </driver>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="driver in $ctrl.starting|slice:2:4 track by $index" class="player driver mr-50p">
        <driver player="driver"
                show-short="true">

        </driver>
      </div>
    </div>
  </div>
</div>