<div class="block full top-bar" ng-class="{'onboarding':$ctrl.isOnboarding}">
  <ul ng-if="$ctrl.isOnboarding" class="breadcrumbs">
    <li class="item" ng-class="{'active': $ctrl.$state.includes('newGame')}">
      <i class="icon icon-add"></i>
      <span translate>New game</span>
    </li>
    <li class="item" ng-class="{'active': $ctrl.team.Team.League.status <= 2}">
      <i class="icon icon-team"></i>
      <span translate>Pick your team</span>
    </li>
    <li class="item">
      <i class="icon icon-ball"></i>
      <span translate>Go play!</span>
    </li>
  </ul>

  <!-- BEFORE DRAFT -->
  <ul ng-if="$ctrl.isOnboarding && !$ctrl.$state.includes('newGame') && $ctrl.team.Team.League.status < 2"
      class="checklist" ng-class="{'second-step':$ctrl.team.Team.League.status <= 2}">
    <li ng-if=" $ctrl.team.Team.League.deadline== '0000-00-00 00:00:00'" translate>
      Draft deadline is not yet set by admin.
    </li>
    <li ng-if="$ctrl.team.Team.League.deadline != '0000-00-00 00:00:00'" translate>
      Draft starts {{$ctrl.team.Team.League.deadline | momentDate:'dddd D MMMM HH:mm'}}
    </li>
  </ul>

  <!-- DRAFT BUSY -->
  <ul ng-if="$ctrl.team.Team.League.status === 2" class="checklist second-step">
    <li class="info" translate>
      Draft is busy! <span class="right">Next pick in <span
      class="clr-secondary">{{$ctrl.timers | number:0}}s</span></span>
    </li>
  </ul>

  <!-- AFTER DRAFT -->
  <div ng-if="!$ctrl.isOnboarding" class="pad">
    <!-- Game running -->
    <div ng-if="$ctrl.leagueStatus == 3" class="deadline">
      <div class="o-media o-media--tablet-mini">
        <div class="o-media__aside">
          <div class="icon icon-time"></div>
          <span
            translate>Deadline: <strong>{{$ctrl.team.weeks.deadline_date | momentDate:'dddd HH:mm, DD MMMM'}}</strong></span>
        </div>
        <div ng-if="$ctrl.team.Team.League.h2h == 1 && $ctrl.team.Fixture.hasOwnProperty('Homefixture')"
             class="o-media__body u-tar u-tal--tablet-mini">
          <i class="icon icon-ball"></i>
          <a ui-sref="teamLeagueFixture({teamId:$ctrl.team.Team.Team.id, fixtureId: $ctrl.team.Fixture.Fixture.id})"
             href class="fixture__link">
            <span class="fixture__home home">{{$ctrl.team.Fixture.Homefixture.name}}</span>
            <span class="home-points">{{$ctrl.team.Fixture.Fixture.home_points}}</span> -
            <span class="away-points">{{$ctrl.team.Fixture.Fixture.away_points}}</span>
            <span class="fixture__away away">{{$ctrl.team.Fixture.Awayfixture.name}}</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Game finished -->
    <div ng-if="$ctrl.leagueStatus == 4">
      <div class="icon icon-time"></div>
      <span translate>The game is <strong>finished</strong>. Start a new one!</span>
    </div>
  </div>
</div>

<script type="text/ng-template" id="helpTemplate.html">
  <div class="player-popover">
    <button class="close" ng-click="$ctrl.isPopoverOpen = false">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div class="row">
      <div class="col-sm-12">
        <p>Send this link to your friends, so they can join this league.</p>
      </div>
    </div>
  </div>
</script>