<div class="row">
  <div class="col-md-12">
    <div class="table-responsive team-players-points-table">
      <table class="table table-striped">
        <thead>
        <th translate>Football player</th>
        <!--<th translate>Trend</th>-->
        <th translate>Goals</th>
        <th translate>Assists</th>
        <th translate>Yellow</th>
        <th translate>Red</th>
        <th translate>Clean sheet</th>
        <th translate>Conceeded</th>
        <th translate>45 min</th>
        <th translate>Team prestatie</th>
        <th translate>Captain</th>
        <th translate>Total</th>
        </thead>
        <tbody>
        <tr ng-repeat="player in $ctrl.startingWithInfo">
          <td>
            <div class="row">
              <div class="col-md-12 content-centered">
                <img ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{player.clubId}}.png"
                     fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                     class="jersey">
              </div>
              <div class="col-md-12 content-centered">{{player.name}}</div>
            </div>
          </td>
          <!--<td></td>-->
          <td>{{player.goals}}</td>
          <td>{{player.assists}}</td>
          <td>{{player.yellow}}</td>
          <td>{{player.red}}</td>
          <td>{{player.cleanSheet}}</td>
          <td>{{player.conceeded}}</td>
          <td>{{player.halfTime}}</td>
          <td>{{player.teamResultPoints}}</td>
          <td>{{player.captain}}</td>
          <td class="total">{{player.total}}</td>
        </tr>
        <tr ng-if="$ctrl.startingWithInfo.length && $ctrl.benchWithInfo.length">
          <td></td>
          <td class="total">{{$ctrl.categoriesResult.goals}}</td>
          <td class="total">{{$ctrl.categoriesResult.assists}}</td>
          <td class="total">{{$ctrl.categoriesResult.yellow}}</td>
          <td class="total">{{$ctrl.categoriesResult.red}}</td>
          <td class="total">{{$ctrl.categoriesResult.cleanSheet}}</td>
          <td class="total">{{$ctrl.categoriesResult.conceeded}}</td>
          <td class="total">{{$ctrl.categoriesResult.halfTime}}</td>
          <td class="total">{{$ctrl.categoriesResult.teamResultPoints}}</td>
          <td class="total">{{$ctrl.categoriesResult.captain}}</td>
          <td class="total">{{$ctrl.categoriesResult.total}}</td>
        </tr>

        <tr ng-repeat="player in $ctrl.benchWithInfo" class="bench-player-points">
          <td>
            <div class="row">
              <div class="col-md-12 content-centered">
                <img ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{player.clubId}}.png"
                     fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                     class="jersey">
              </div>
              <div class="col-md-12 content-centered">{{player.name}}</div>
            </div>
          </td>
          <!--<td></td>-->
          <td>{{player.goals}}</td>
          <td>{{player.assists}}</td>
          <td>{{player.yellow}}</td>
          <td>{{player.red}}</td>
          <td>{{player.cleanSheet}}</td>
          <td>{{player.conceeded}}</td>
          <td>{{player.halfTime}}</td>
          <td>{{player.teamResultPoints}}</td>
          <td>{{player.captain}}</td>
          <td class="total">{{player.total}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>