<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">

    <div class="row content-centered">
      <div class="col-md-4">
        <b translate>Football Players selected</b>
        <h4 class="text-warning">{{$ctrl.playersSelected()}}/15</h4>
      </div>
      <div class="col-md-4">
        <b translate>Budget remaining</b>
        <h4 class="text-warning">{{$ctrl.budget|currency:'€':0}} <span translate> mil </span></h4>
      </div>

      <div class="col-md-4">
        <button ng-click="$ctrl.create()"
                class="btn btn-xs btn-primary">
          {{$ctrl.firstScreenOnly ? $ctrl.translate('Submit changes') : $ctrl.translate('Step 2: Superklasse')}}
        </button>
      </div>
    </div>

    <div class="row row-content">
      <!-- LEFT -->
      <div class="col-sm-12 col-md-6">

        <div class="block">
          <div class="block-title" translate>Team name</div>
          <div class="pad">
            <form name="frmTeamName" class="new-game-form" novalidate>
              <div class="form-group no-margin">
                <input ng-model="$ctrl.teamName.value" type="text" id="new-game-team-name"
                       placeholder="{{'Choose a cool name for your team'|translate}}" class="input form-control"
                       required>
              </div>
            </form>
          </div>
        </div>
        <div class="block">
          <div class="block-title" translate>Choose football your Captain</div>
          <div class="pad">
            <div class="form-group no-margin">
              <p ng-if="$ctrl.playersSelected() == 0" translate>Pick some football players first</p>
              <div ng-show="$ctrl.playersSelected() > 0" class="select">
                <select ng-model="$ctrl.captain"
                        ng-options="player as player.Player.short for player in $ctrl.getStartingList()|filter:notEmpty"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="block budget-lineup">
          <div class="block-title">
            {{$ctrl.firstScreenOnly ? $ctrl.translate('Your team') : $ctrl.translate('Step 1: Your team')}}
          </div>
          <div class="pad text-align-center">
            <small><span ng-if="$ctrl.possibleFormations.length > 1" translate> Possible Formations: </span> <b>
              {{$ctrl.possibleFormations.join(', ')}} </b></small>
          </div>
          <div id="lineupGrid" class="lineup-grid"
               ng-class="{'editing':$ctrl.myTeam && $ctrl.currentDisplayWeek.week_id >= $ctrl.originalDeadlineWeek}">
            <div class="pad edit-selection"
                 ng-show="$ctrl.myTeam && $ctrl.currentDisplayWeek.week_id < $ctrl.originalDeadlineWeek">
              <a href ng-click="$ctrl.editSelection()" class="btn" translate>Edit</a>
            </div>

            <!-- Goalkeeper -->
            <div class="row">
              <div ng-repeat="goalkeeper in $ctrl.starting.Goalkeeper"
                   class="player"
                   data-drag="$ctrl.isDraggable2(goalkeeper)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()', onDrop: '$ctrl.onDropStop2()'}"
                   data-drop="$ctrl.isFieldDroppable('gk', goalkeeper)"
                   jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
              >

                <player-budget player="goalkeeper"
                               local-assets="$ctrl.localAssets"
                               mouse-down-only="true"
                               states-prefix="statesPrefix"
                               game-name="$ctrl.gameName"
                               hide-position-background="$ctrl.hidePositionBackground"
                               captain="$ctrl.isCaptain(goalkeeper)"
                               on-remove="$ctrl.playerRemove"
                               prevent-click="true"></player-budget>
              </div>
            </div>

            <!-- Defenders -->
            <div class="row">
              <div ng-repeat="defender in $ctrl.starting.Defender"
                   class="player"
                   data-drag="$ctrl.isDraggable2(defender)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()', onDrop: '$ctrl.onDropStop2()'}"
                   data-drop="$ctrl.isFieldDroppable('def', defender)"
                   jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
              >
                <player-budget player="defender"
                               local-assets="$ctrl.localAssets"
                               mouse-down-only="true"
                               states-prefix="statesPrefix"
                               hide-position-background="$ctrl.hidePositionBackground"
                               game-name="$ctrl.gameName"
                               captain="$ctrl.isCaptain(defender)"
                               on-remove="$ctrl.playerRemove"
                               prevent-click="true"></player-budget>
              </div>
            </div>

            <!-- Midfielders -->
            <div class="row">
              <div ng-repeat="midfielder in $ctrl.starting.Midfielder"
                   class="player"
                   data-drag="$ctrl.isDraggable2(midfielder)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()', onDrop: '$ctrl.onDropStop2()'}"
                   data-drop="$ctrl.isFieldDroppable('mf', midfielder)"
                   jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
              >

                <player-budget player="midfielder"
                               local-assets="$ctrl.localAssets"
                               mouse-down-only="true"
                               states-prefix="statesPrefix"
                               hide-position-background="$ctrl.hidePositionBackground"
                               game-name="$ctrl.gameName"
                               captain="$ctrl.isCaptain(midfielder)"
                               on-remove="$ctrl.playerRemove"
                               prevent-click="true"></player-budget>
              </div>
            </div>

            <!-- Attackers -->
            <div class="row">
              <div ng-repeat="forward in $ctrl.starting.Forward"
                   class="player"
                   data-drag="$ctrl.isDraggable2(forward)"
                   data-jqyoui-options="{revert: 'invalid', revertDuration: 200}"
                   jqyoui-draggable="{animate:true, onStart: '$ctrl.onDragStart2()', onStop: '$ctrl.onDragStop2()', onDrop: '$ctrl.onDropStop2()'}"
                   data-drop="$ctrl.isFieldDroppable('fw', forward)"
                   jqyoui-droppable="{onDrop: '$ctrl.onDropStop2($index)'}"
              >

                <player-budget
                        local-assets="$ctrl.localAssets"
                        mouse-down-only="true"
                        states-prefix="statesPrefix"
                        game-name="$ctrl.gameName"
                        hide-position-background="$ctrl.hidePositionBackground"
                        player="forward"
                        captain="$ctrl.isCaptain(forward)"
                        on-remove="$ctrl.playerRemove"
                        prevent-click="true"></player-budget>
              </div>
            </div>

            <!-- If lineup empty -->
            <div ng-if="$ctrl.starting == null" class="lineup-empty">
              <div ng-switch="$ctrl.team.Team.Team.id == $ctrl.displayTeam.Team.Team.id">
                <p ng-switch-when="true" translate>You don't have a selection for this week</p>
                <button ng-switch-when="true" ng-click="$ctrl.editSelection()" class="btn btn-sm" translate>Edit
                  selection
                </button>
                <p ng-switch-when="false" translate>This team doesn't have a selection for this week</p>
              </div>
            </div>
          </div>

          <div class="lineup-bench">
            <div class="row">
              <div ng-repeat="player in $ctrl.bench" class="player player-bench">

                <player-budget
                        local-assets="$ctrl.localAssets"
                        mouse-down-only="true"
                        states-prefix="statesPrefix"
                        game-name="$ctrl.gameName"
                        show-short-position="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        player="player"
                        prevent-click="true"
                        on-remove="$ctrl.benchRemove">
                </player-budget>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="col-sm-12 col-md-6">
        <div class="block add-players budget-add-players">
          <div class="block-title">
            {{($ctrl.labels && $ctrl.labels.allPlayers) || 'All players'}}
          </div>
          <div class="add-player-form show">
            <div class="add-player-filter">
              <div class="row">
                <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="{{'Search...'| translate}}"
                       class="input search">
              </div>
              <div class="row">
                <div class="select">
                  <select ng-model="$ctrl.filterItem.club"
                          ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                          ng-change="$ctrl.filterChanged()"></select>
                </div>
                <div class="select">
                  <select ng-model="$ctrl.filterItem.selectedPosition"
                          ng-options="item.name for item in $ctrl.positions"></select>
                </div>
                <div class="select">
                  <select ng-model="$ctrl.filterItem.budget"
                          ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
                </div>
              </div>
            </div>

            <soccer-players-list custom-filter="$ctrl.customFilter"
                                 states-prefix="$ctrl.statesPrefix"
                                 players="$ctrl.players"
                                 is-pickable="$ctrl.isPickable"
                                 pick="$ctrl.pick"
                                 pagination="$ctrl.pagination"
                                 hide-position-background="$ctrl.hidePositionBackground"
                                 local-assets="$ctrl.localAssets"
                                 mouse-down-only="true"
                                 assets-u-r-l="$ctrl.assetsURL"
                                 game-name="$ctrl.gameName"
                                 show-jerseys="$ctrl.showJerseys"
                                 club-assets-u-r-l="$ctrl.clubAssetsURL"
            ></soccer-players-list>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
