<div class="block">
  <div id="lineupGrid" class="lineup-grid">

    <!-- Goalkeeper -->
    <div class="row">
      <div ng-repeat="goalkeeper in $ctrl.starting.Goalkeeper" class="player">
        <admin-soccer-avatar player="goalkeeper"></admin-soccer-avatar>
      </div>
    </div>

    <!-- Defenders -->
    <div class="row">
      <div ng-repeat="defender in $ctrl.starting.Defender" class="player">
        <admin-soccer-avatar player="defender"></admin-soccer-avatar>
      </div>
    </div>

    <!-- Midfielders -->
    <div class="row">
      <div ng-repeat="midfielder in $ctrl.starting.Midfielder" class="player">
        <admin-soccer-avatar player="midfielder"></admin-soccer-avatar>
      </div>
    </div>

    <!-- Attackers -->
    <div class="row">
      <div ng-repeat="forward in $ctrl.starting.Forward" class="player">
        <admin-soccer-avatar player="forward"></admin-soccer-avatar>
      </div>
    </div>
  </div>
</div>
