<div class="container match-detail">
  <div class="layout">
    <div class="row">
      <div class="col-md-6 overflow-auto">
        <div class="block">
          <div class="block-title">{{$ctrl.homeTeamName}}</div>
          <div class="lineup-grid">
            <!-- Goalkeeper -->
            <div class="row">
              <div ng-repeat="player in $ctrl.home.Goalkeeper" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
            </div>

            <!-- Defenders -->
            <div class="row">
              <div ng-repeat="player in $ctrl.home.Defender" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
            </div>

            <!-- Midfielders -->
            <div class="row">
              <div ng-repeat="player in $ctrl.home.Midfielder" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
            </div>

            <!-- Attackers -->
            <div class="row">
              <div ng-repeat="player in $ctrl.home.Forward" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
            </div>
          </div>

          <h5 class="substituted" translate>Substituted</h5>

          <div class="lineup-bench">
            <div class="row">
              <div ng-repeat="player in $ctrl.home.Bench" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
              <p ng-show="$ctrl.home.Bench.length == 0" translate>No players got substituted</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 overflow-auto">
        <div class="block">
          <div class="block-title">{{$ctrl.awayTeamName}}</div>
          <div class="lineup-grid">
            <!-- Goalkeeper -->
            <div class="row">
              <div ng-repeat="player in $ctrl.away.Goalkeeper" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
            </div>

            <!-- Defenders -->
            <div class="row">
              <div ng-repeat="player in $ctrl.away.Defender" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
            </div>

            <!-- Midfielders -->
            <div class="row">
              <div ng-repeat="player in $ctrl.away.Midfielder" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
            </div>

            <!-- Attackers -->
            <div class="row">
              <div ng-repeat="player in $ctrl.away.Forward" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
            </div>
          </div>

          <h5 class="substituted" translate>Substituted</h5>

          <div class="lineup-bench">
            <div class="row">
              <div ng-repeat="player in $ctrl.away.Bench" class="player">
                <player show-jerseys="$ctrl.showJerseys"
                        local-assets="$ctrl.localAssets"
                        popover-click="true"
                        hide-position-background="$ctrl.hidePositionBackground"
                        states-prefix="$ctrl.statesPrefix"
                        game-name="$ctrl.gameName"
                        player="player"></player>
              </div>
              <p ng-show="$ctrl.away.Bench.length == 0" translate>No players got substituted</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>