<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">

      <div class="col-md-6 col-xs-12">
        <div class="block">
          <div class="block-title" translate>Cyclist</div>
          <div class="player-detail player-list pad">
            <div class="player-info">
              <div class="row">
                <a class="player-avatar">
                  <img
                    ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{cyclist.Player.Player.club_id}}.png"
                    fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png" class="jersey">
                </a>
              </div>
              <div class="row">
                <div class="name">{{cyclist.Player.Player.name}}</div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="club club-position">{{cyclist.Club.Club.name}} - {{cyclist.Player.Player.value |
                    currency:'€':$ctrl.valueDecimals}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="block" ng-if="$ctrl.showFinalGameBonus && $ctrl.finalGameBonus && $ctrl.finalGameBonus.length">
          <div class="block-title" translate>
            Stats - Eindklassement
          </div>
          <div class="table-responsive">
            <table class="table table-user-stats table-striped">
              <thead>
                <tr>
                  <th translate>Trui</th>
                  <th translate>Rank</th>
                  <th translate>Points</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="stat in $ctrl.finalGameBonus">
                  <td>{{stat.type}}</td>
                  <td>{{stat.rank}}</td>
                  <td>{{stat.points}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="block">
          <div class="block-title" translate>Stats</div>
          <div class="player-stats">
            <section ng-show="cyclist.Player.Stat.length > 0" class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th translate>Week</th>
                    <th translate>Cycling Match</th>
                    <th translate>Uitslag</th>
                    <th translate>Points</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="stat in cyclist.Player.Stat | orderBy:sortStats">
                    <td>{{stat.week_id}}</td>
                    <td>{{stat.Match.feed_url}}</td>
                    <td>{{stat.value}}</td>
                    <td>{{stat.points}}</td>
                  </tr>
                </tbody>
              </table>
            </section>
            <div ng-show="cyclist.Player.Stat.length == 0" class="pad">
              <p translate>No stats available for this cycling player</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6" ng-if="$ctrl.cyclistHistory">
        <div class="block">
          <div class="full player-stats">
            <div class="block-title" translate>Transferwaarden</div>
            <section class="table-responsive">
              <table class="table table-striped transfer-history">
                <thead>
                  <tr>
                    <th translate>Week</th>
                    <th translate>Transfer Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="history in $ctrl.cyclistHistoryWithTrend track by $index">
                    <td>{{history.week_id + 1}}</td>
                    <td>
                      <div class="price">
                        <span class="trend">
                          <i ng-if="history.trend !== 'constant'" class="fa" ng-class="{
                        'text-success fa-angle-up': history.trend === 'up',
                        'text-danger fa-angle-down': history.trend === 'down'
                        }" aria-hidden="true">
                          </i>
                        </span>
                        <span class="value">
                          €{{history.price}}
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
            <div ng-show="cyclist.Player.Stat.length == 0" class="pad">
              <p translate>No stats available for this player</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>