<div class="block">
  <div class="block-title widget-title-ground">{{$ctrl.leaderTeam.Team.User.first_name}}
    {{$ctrl.leaderTeam.Team.User.last_name}} - {{($ctrl.previousYear ? $ctrl.leaderTeam.Team.Team.season_id : '')}}
    {{$ctrl.title}}
  </div>
  <div class="pad">
    <div class="row">
      <div class="col-xs-12">
        {{$ctrl.leaderTeam.Team.Team.name}} <span class="pull-right endwinner-points">
                {{$ctrl.leaderTeam.Team.Team.points}}
                <span translate>punten</span></span>
      </div>
    </div>
    <div class="row player-list" ng-repeat="rows in $ctrl.chunkedData">
      <div class="player" ng-repeat="cyclist in rows">
                <span class="player-avatar">
                 <img ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{cyclist.Player.club_id}}.png"
                      class="jersey">
                </span>
        <span class="player-info">
                  <div class="name">{{cyclist.Player.name}}</div>
                </span>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.leaderTeam.Team.Transfer.length">
      <div class="col-xs-12 pad content-centered">
        <span class="widget-points-label" translate>Transfers</span>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.leaderTeam.Team.Transfer.length">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <th translate> Week</th>
          <th translate> Out</th>
          <th translate> In</th>
          </thead>
          <tbody>
          <tr ng-repeat="transfer in $ctrl.leaderTeam.Team.Transfer | orderBy:transfer.week_id">
            <td>
              {{transfer.week_id}}
            </td>
            <td>
              {{transfer.Out.name}}
            </td>
            <td>
              {{transfer.In.name}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
