<div class="calendar">
  <div class="pad" ng-class="{'bg':$ctrl.showSelect}" ng-if="$ctrl.showSelect">
    <div class="select" ng-if="!$ctrl.hideCompetitionSelect"
    >
      <select ng-model="$ctrl.selectedCompetition"
              ng-change="$ctrl.competitionChanged()"
              ng-options="comp as comp.name for comp in $ctrl.competitions"></select>
    </div>
    <div class="select max-element-width">
      <select ng-model="$ctrl.displayWeek"
              ng-change="$ctrl.weekChanged()"
              ng-options="week as $ctrl.matchDayLabel + ' ' + week.week_id for week in $ctrl.deadlineWeeks"></select>
    </div>
  </div>
  <div class="match-list zebra">
    <a class="match-item" href ng-click="$ctrl.goToMatch(match)" ng-repeat="match in $ctrl.matches"
       ng-class="$ctrl.matchHasStarted(match) ? 'match-past' : 'match-future'"
       ng-disabled="!$ctrl.matchHasStarted(match)">
      <div class="match-team">
        <img ng-if="!$ctrl.useLocalFolder"
             ng-src="{{$ctrl.clubAssetsURL}}/{{match.n_HomeTeamID}}.png"
             fallback-src="/images/question_mark_icon.png">

        <img ng-if="$ctrl.useLocalFolder"
             ng-src="/images/cycling/jersey_{{match.n_HomeTeamID}}.png"
             fallback-src="/images/question_mark_icon.png">
        <div class="team-name">{{match.c_HomeTeam}}</div>
      </div>
      <div class="match-data">
        <div class="match-score" ng-show="$ctrl.matchHasStarted(match)">{{ match.n_HomeGoals + ' - ' + match.n_AwayGoals
          }}
        </div>
        <div class="match-date">{{ match.d_MatchStartTime | momentDate:'DD/MM' }}<br> {{ match.d_MatchStartTime |
          momentDate:'HH:mm' }}
        </div>
      </div>
      <div class="match-team">
        <img ng-if="!$ctrl.useLocalFolder"
             ng-src="{{$ctrl.clubAssetsURL}}/{{match.n_AwayTeamID}}.png"
             fallback-src="/images/question_mark_icon.png">

        <img ng-if="$ctrl.useLocalFolder"
             ng-src="/images/cycling/jersey_{{match.n_AwayTeamID}}.png"
             fallback-src="/images/question_mark_icon.png">
        <div class="team-name">{{match.c_AwayTeam}}</div>
      </div>
    </a>
  </div>
</div>
