<div class="calendar calendar-margins f1-calendar">
  <div class="row">
    <div ng-if="!$ctrl.hideTitle" class="block-title" translate>Kalender</div>
  </div>

  <div class="row pad" ng-class="{'bg':$ctrl.showSelect}" ng-if="$ctrl.showSelect">
    <div class="col-md-6 filter">
      <div class="select">
        <select ng-model="$ctrl.selectedMonth"
                class="text-capitalize"
                ng-options="month as month.name for month in $ctrl.months"></select>
      </div>
    </div>
    <div class="col-md-6 filter">
      <div class="select">
        <select ng-model="$ctrl.selectedType"
                class="text-capitalize"
                ng-options="type as type.label for type in $ctrl.types"></select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive cycling-stages">
      <table class="table table-striped">
        <thead>
        <th class="col-md-3" translate>Date</th>
        <th class="col-md-6" translate>Race</th>
        <th class="col-md-3" translate>Watch Live</th>
        </thead>
        <tbody>
        <tr ng-click="$ctrl.goToMatch(stage)" ng-repeat="stage in $ctrl.stages track by $index" ng-if="$ctrl.isVisible(stage)">
          <td class="col-md-3">{{$ctrl.getLocalDate(stage.matches.date, 'DD-MM-YYYY')}}</td>
          <td class="col-md-6">
            <span class="stage-icon" ng-class="$ctrl.stageIcon(stage)"></span>
            <a>{{stage.matches.feed_url}}</a>
          </td>
          <td class="col-md-3">
              <span class="channel" ng-repeat="channel in stage.matches.channelsObject">
                <img class="channel" ng-src="/images/cycling/channels/{{$ctrl.getChannelIdByName(channel.name)}}.png"/>
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

