<div style="background: rgba(255,255,255,0.05); margin: 20px auto;">
    <div class="block-title  widget-title-ground">{{$ctrl.title}}</div>
    <div class="pad">
        <p translate>Deze renners presteerden sterk de afgelopen speeldagen. Misschien kan jij ze wel gebruiken in jouw ploeg?</p>
        <div class="row">
            <div class="col-md-12">
                <div class="row player-list" ng-repeat="cyclist in $ctrl.cyclists | orderBy:'-players.points'">
                    <div class="player">
                        <span class="player-avatar">
                            <img ng-src="/images/cycling/jersey_{{cyclist.players.club_id}}.png" class="jersey">
                        </span>
                        <span class="player-info">
                            <div class="name">{{cyclist.players.name}}</div>
                            <div class="position cyclist">{{cyclist.players.points}} <span translate>points</span></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>