<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">

    <div class="row" ng-if="$ctrl.subjectTeamInfo">
      <div class="col-md-12">
        <div class="alert alert-info">
          <span translate>Your new team was created.</span>
          <a href ng-click="$ctrl.goToLeague()"><span translate>Go to</span>{{' ' + $ctrl.customLeagueLabel}}</a>
        </div>
      </div>
    </div>

    <div class="row" ng-if="$ctrl.teams.length == 0 && $ctrl.deadlineWeeks.deadline_week && $ctrl.showNewGameButton">
      <div class="col-md-12">
        <p><span translate> You don't have any teams!</span>
          <button class="btn btn-primary btn-xs" ng-click="$ctrl.goToNewTeam()" translate>New team</button>
        </p>
      </div>
    </div>

    <div class="row">
      <div ng-if="$ctrl.teams.length > 0">
        <div class="col-md-12 col-sm-12">
          <div class="block">

            <div class="block-title" translate>Ploegen</div>
            <div>
              <div class="table-teams">

                <table class="table table-responsive table-striped fa-dashboard-table fa-table">
                  <thead>
                  <tr>
                    <th style="width: 20%" translate>Ploeg</th>
                    <th style="width: 10%" title="Punten">P</th>
                    <th style="width: 10%" translate title="Rangschikking">R</th>
                    <th style="width: 15%" translate>Visible</th>
                    <th style="width: 30%" translate>Acties</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="team in $ctrl.teams">
                    <td id="team-name-column">
                      <a ng-if="!$ctrl.editTeams[team.Team.id]"
                         class="margin-left-20p"
                         ng-click="$ctrl.goToTeam(team)"
                         href>
                        {{team.Team.name}}
                      </a>
                      <input ng-if="$ctrl.editTeams[team.Team.id]"
                             ng-model="$ctrl.editTeams[team.Team.id].name"
                             ng-change="$ctrl.editTeams[team.Team.id].name = $ctrl.checkTeamName($ctrl.editTeams[team.Team.id].name)"
                             ng-keypress="$ctrl.onKeyPress($event,team.Team.id)"
                             type="text"
                             class="input form-control"/>
                      <br ng-if="!$ctrl.editTeams[team.Team.id]"/>
                      <span ng-if="!!!team.Team.valid" class="badge badge-danger"><i
                              class="fa fa-times"
                              aria-hidden="true"></i> <span translate>Invalid</span></span>
                      <span ng-if="!!team.Team.paid" class="badge badge-success"><i
                              class="fa fa-check text-success"
                              aria-hidden="true"></i> <span translate>paid</span></span>
                      <span ng-if="!!!team.Team.paid" class="badge badge-danger"><i
                              class="fa fa-times"
                              aria-hidden="true"></i> <span translate>not paid</span></span>
                    </td>
                    <td>{{$ctrl.getTeamPoints(team)}}</td>
                    <td>{{$ctrl.getTeamRank(team)}}</td>
                    <td>
                      <input type="checkbox"
                             ng-true-value="true"
                             ng-false-value="false"
                             ng-model="team.Team.visible"
                             ng-change="$ctrl.updateTeam(team.Team)"/>
                    </td>
                    <td id="actions-column" class="actions-column">
                      <a ng-if="!$ctrl.editTeams[team.Team.id]"
                         class="btn btn-sm"
                         ng-click="$ctrl.editTeam(team)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span translate>Edit</span>
                      </a>

                      <a ng-if="!$ctrl.editTeams[team.Team.id]"
                         fa-confirmation-dialog
                         class="btn btn-sm"
                         title="{{'Clone team' | translate}}"
                         body="{{$ctrl.cloneTeamConfirmationMessage + ' ' +  team.Team.name + '?'}}"
                         on-success="$ctrl.cloneTeam(team)">
                        <i class="fa fa-clone" aria-hidden="true"></i>
                        <span translate>Clone</span>
                      </a>

                      <a ng-if="!$ctrl.editTeams[team.Team.id]"
                         ng-show="team.Team.paid == 0"
                         class="btn btn-sm text-danger"
                         fa-confirmation-dialog
                         title="{{'Remove team' | translate}}"
                         body="{{$ctrl.removeTeamConfirmationMessage + ' ' +  team.Team.name + '?'}}"
                         on-success="$ctrl.removeTeam(team)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <span translate>Remove</span>
                      </a>

                      <a ng-if="$ctrl.editTeams[team.Team.id]"
                         class="btn btn-sm"
                         ng-click="$ctrl.updateTeam($ctrl.editTeams[team.Team.id])">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span translate>Save</span>
                      </a>

                      <a ng-if="$ctrl.editTeams[team.Team.id]"
                         class="btn btn-sm text-danger"
                         ng-click="$ctrl.cancelEditTeam($ctrl.editTeams[team.Team.id])">
                        <i class="fa fa fa-times" aria-hidden="true"></i>
                        <span translate>Cancel</span>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div 
          class="col-md-12 content-centered" 
          ng-if="$ctrl.deadlineWeeks.deadline_week && $ctrl.teams.length && $ctrl.showNewGameButton">
          <div class="block dashboard-buttons" style="background-color: transparent">
            <button class="btn btn-primary"
                    ng-click="$ctrl.onNewGameClick()">
              <i class="icon icon-add"></i>
              <span style="position: relative; top: -5px" translate>Nieuwe Ploeg</span>
            </button>

            <button class="btn btn-primary" ng-click="$ctrl.goToPayments()" style="margin-left: 20px;">
              <i class="icon icon-payment-2"></i>
              <span style="position: relative; top: -5px" translate="">
                <span class="ng-scope" translate>Payments</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
