<div class="row f1-stage-info">
  <div class="col-md-12 pad">
    <div class="row">
      <div class="col-md-6">
        <img class="flag" src="/images/emojis/F1.png">
      </div>
      <div class="col-md-6">
        <p class="local-date">{{$ctrl.getLocalDate($ctrl.matchWithInfo.matches.date, 'DD/MM h:mm')}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span class="channel" ng-repeat="channel in $ctrl.matchWithInfo.matches.channelsObject track by $index">
                <img class="channel" ng-src="/images/cycling/channels/{{$ctrl.getChannelIdByName(channel.name)}}.png"/>
              </span>
      </div>

      <div class="col-md-6">
        <span translate>Watch Live</span>
      </div>
    </div>

    <div class="row">
      <div ng-click="$ctrl.goToMatch($ctrl.matchWithInfo)" class="col-md-6">
        <span class="stage-icon" ng-class="$ctrl.stageIcon($ctrl.matchWithInfo)"></span>
      </div>

      <div class="col-md-6 history">
        <div class="row">
          Last three editions
        </div>
        <hr>
        <div class="row" ng-repeat="history in $ctrl.previousWinners track by $index">
          <div class="col-md-6 year">
            {{history.year}}
          </div>
          <div class="col-md-6 name">
            {{history.first.split(' ')[1]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="f1-info-constructor">
      <i class="icon icon-trophy-2"></i>
      <h2>CONSTRUCTORS’ CUP</h2>
      <h4 ng-if="!$ctrl.buddyTeam.id">INVITE A BUDDY
        TO EARN EXTRA POINTS</h4>

      <h4 ng-if="$ctrl.buddyTeam.id">Your team buddy: {{$ctrl.buddyTeam.name}}</h4>

      <div class="row invite-area">
        <div ng-if="$ctrl.buddyTeam.id" class="col-md-12">
          <span>Buddy has {{$ctrl.buddyPoints}} points</span>
        </div>

        <div ng-if="!$ctrl.buddyTeam.id" class="col-md-12">
          <input class="invite-url input form-control" id="shareLink" value="{{$ctrl.inviteBuddyLink}}">
        </div>

        <div ng-if="!$ctrl.buddyTeam.id" class="col-md-12">
          <button class="btn btn-sm" ngclipboard data-clipboard-target="#shareLink" translate>
            Copy to clipboard
          </button>
        </div>
      </div>
    </div>

    <!--TODO @cosmin 'f1-buddy-widget' if Team has buddy-->

  </div>
</div>
