<div class="main-content" id="newGame">
  <div class="layout">
    <span ng-if="$ctrl.params.sample">{{$ctrl.params.sample}}</span>
    <div class="row row-content pad">
      <soccer-new-game-progress
        decrease-new-game-progress-step="$ctrl.decreaseNewGameProgressStep"
        active-tab="$ctrl.getActiveTab()">
      </soccer-new-game-progress>
    </div>

    <div class="row row-content pad">
      <div class="col-sm-12 col-md-12">
        <div class="row">
          <div ng-if="$ctrl.checkIf('league-type-selection')" class="tab-select-generic">
            <h5 class="text-align-center" translate> Choose game mode </h5>
            <soccer-new-game-types
              play-new-game-with-fans="$ctrl.playNewGameWithFans"
              create-new-game-with-friends="$ctrl.createNewGameWithFriends"
              active-tab="$ctrl.getActiveTab()">
            </soccer-new-game-types>
          </div>

          <div ng-if="$ctrl.checkIf('league-type-selection') && $ctrl.checkIf('existing-league-is-selected')">
            <soccer-new-game-existing-league-info
              increase-new-game-progress-step="$ctrl.increaseNewGameProgressStep">
            </soccer-new-game-existing-league-info>
          </div>

          <div ng-if="$ctrl.checkIf('league-type-selection') && $ctrl.checkIf('play-with-friends')">
            <soccer-new-game-custom-league-info
              increase-new-game-progress-step="$ctrl.increaseNewGameProgressStep">
            </soccer-new-game-custom-league-info>
          </div>

          <div ng-if="$ctrl.checkIf('is-joining-league')">
            <soccer-new-game-join-league
              game="$ctrl.game"
              league-type="$ctrl.leagueType"
              increase-new-game-progress-step="$ctrl.increaseNewGameProgressStep"
              filter-type="$ctrl.filterType"
              get-leagues="$ctrl.getLeagues"
              join-existing="$ctrl.joinExisting"
              join-play-sports="$ctrl.joinPlaySports"
              competitions="$ctrl.competitions"
              leagues="$ctrl.leagues">
            </soccer-new-game-join-league>
          </div>

          <div ng-if="$ctrl.checkIf('is-creating-league')" class="create-game-form">
            <soccer-new-game-create-league
              game="$ctrl.game"
              competitions="$ctrl.competitions"
              increase-new-game-progress-step="$ctrl.increaseNewGameProgressStep"
              create-league-competition="$ctrl.createLeagueCompetition"
              create-league-name="$ctrl.createLeagueName"
              create-league-deadline="$ctrl.createLeagueDeadline"
              date-time-before-render="$ctrl.dateTimeBeforeRender"
              is-head-to-head="$ctrl.isHeadToHead"
              create-league="$ctrl.createLeague">
            </soccer-new-game-create-league>
          </div>

          <div ng-if="$ctrl.checkIf('is-creating-league-last-step')"
               class="create-game-form">
            <soccer-new-game-create-team
              game="$ctrl.game"
              on-create-handler="$ctrl.createLeague">
            </soccer-new-game-create-team>
          </div>

          <div ng-if="$ctrl.checkIf('is-joining-a-league')"
               class="invite-code-form">
            <soccer-new-game-invite-code
              game="$ctrl.game"
              invite-league="$ctrl.inviteLeague"
              join-invite-league="$ctrl.joinInviteLeague">
            </soccer-new-game-invite-code>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal info" ng-class="{'show':$ctrl.showModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div ng-if="$ctrl.modalPS">
        <h3>Play Sports League</h3>
        <p translate>_uitleg_play_sports_league</p>
      </div>
      <div ng-if="!$ctrl.modalPS">
        <h3>Draft League</h3>
        <p translate>_uitleg_draft_league</p>
      </div>
    </div>
    <button ng-click="$ctrl.showModal = false" class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
