<div class="col-md-8 offset-md-2 col-xs-12" id="custom-league-info">
  <div class="pad">
    <hr>
    <div class="row">
      <h5 translate>Play With Friends</h5>
    </div>
    <div class="row">
      <div class="col-md-8">
        <small>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book.
        </small>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6"><h4> Feature 1 </h4></div>
          <div class="col-md-6"><h4> Feature 2 </h4></div>
        </div>
        <div class="row">
          <div class="col-md-6"><h4> Feature 3 </h4></div>
          <div class="col-md-6"><h4> Feature 4 </h4></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <button
        class="btn btn-md btn-primary pull-right"
        ng-click="$ctrl.onIncreaseNewGameProgressStep()">
        Next
      </button>
      <small class="pull-left">
        Would you like to <b> lorem ipsum </b> here?
      </small>
    </div>

  </div>
</div>