<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block add-players budget-add-players" ng-if="$ctrl.cyclists.length">
          <div class="block-title" translate>
            All cycling players
          </div>
          <div class="add-player-form show">
            <div class="add-player-filter">
              <div class="row">
                <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="{{'Search...'|translate}}"
                  class="input">
              </div>
              <div class="row">
                <div class="select">
                  <select ng-model="$ctrl.filterItem.club"
                    ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                    ng-change="$ctrl.filterChanged()"></select>
                </div>
                <div class="select">
                  <select ng-model="$ctrl.filterItem.budget"
                    ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
                </div>
                <div class="select" ng-if="$ctrl.competitionInfo.competitionFeed == 'GCX' && $ctrl.positions.length">
                  <select ng-model="$ctrl.filterOptions.selectedPosition" ng-change="$ctrl.filterChanged()"
                    ng-options="position.name for position in $ctrl.positions"></select>
                </div>
              </div>
            </div>
            <div class="player-list zebra"
              ng-class="{'player-list-cx': $ctrl.competitionInfo.competitionFeed == 'GCX'}">
              <div ng-click="$ctrl.selectCyclist(cyclist)"
                dir-paginate="cyclist in $ctrl.cyclists | filter:q:strict | filter:$ctrl.customFilter | itemsPerPage: 10"
                class="player" current-page="$ctrl.pagination.current">
                <a class="player-avatar fa-hand-pointer">
                  <img ng-if="!$ctrl.localAssets"
                    ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{cyclist.Club.id}}.png"
                    fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png" class="jersey">

                  <img ng-if="$ctrl.localAssets" ng-src="/images/cycling/jersey_{{cyclist.Player.club_id}}.png"
                    class="jersey" fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
                </a>

                <a class="player-info fa-hand-pointer">
                  <div class="name">{{::cyclist.Player.name}}</div>
                  <div class="position cyclist">{{cyclist.Player.value|currency:'€':0}}
                    <div class="club">{{$ctrl.getClubName(cyclist.Club.id)}}</div>
                    <div
                      ng-class="{
                      'player-gcx-elite': $ctrl.competitionInfo.competitionFeed === 'GCX' && cyclist.Player.position_id == 10,
                      'player-gcx-dames': $ctrl.competitionInfo.competitionFeed === 'GCX' && cyclist.Player.position_id == 9,
                      'player-gcx-beloften': $ctrl.competitionInfo.competitionFeed === 'GCX' && cyclist.Player.position_id == 8}">
                      {{$ctrl.getPositionNameById(cyclist.Player.position_id)}}
                    </div>
                  </div>
                </a>

              </div>
              <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
            </div>


            <div class="row pad">
              <div class="col-xs-12 content-centered">
                <a ng-href="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName}}/files/spelers_{{$ctrl.competitionInfo.competitionFeed}}.xlsx"
                  class="btn btn-xs btn-default width-200p"><span>{{$ctrl.downloadXlsLabel}}</span> <i
                    class="fa fa-file-o"></i></a>
              </div>
            </div>

            <!-- <div class="row pad">
              <div class="col-xs-12 content-centered">
                <a ng-href="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName}}/files/{{$ctrl.competitionInfo.competitionFeed.toLowerCase()}}_{{$ctrl.competitionInfo.seasonId}}_{{$ctrl.currentLanguage}}.pdf"
                  class="btn btn-xs btn-default width-200p"><span>{{$ctrl.downloadPdfLabel}}</span> <i
                    class="fa fa-file-pdf-o"></i></a>
              </div>
            </div> -->

          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="block" ng-class="{'block-right' : $ctrl.hasContainerClass}"
          ng-if="$ctrl.cyclists.length && $ctrl.selectedCyclist">
          <div class="block-title" translate>Cycling player</div>
          <div class="pad">
            <div class="row content-centered pad">
              <div class="player-detail player-list pad">
                <div class="player-info">
                  <a class="player-avatar">
                    <img ng-if="!$ctrl.localAssets"
                      ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{$ctrl.selectedCyclist.Club.id}}.png"
                      fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png" class="jersey">

                    <img ng-if="$ctrl.localAssets"
                      ng-src="/images/cycling/jersey_{{$ctrl.selectedCyclist.Player.club_id}}.png" class="jersey"
                      fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
                  </a>
                  <div class="name">{{$ctrl.selectedCyclist.Player.name}}</div>
                  <div class="position">{{$ctrl.getClubName($ctrl.selectedCyclist.Club.id)}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block" ng-if="$ctrl.selectedCyclistFinalGameBonus && $ctrl.selectedCyclistFinalGameBonus.length">
          <div class="block-title" translate>
            Stats - Eindklassement
          </div>
          <div class="table-responsive">
            <table class="table table-user-stats table-striped">
              <thead>
                <tr>
                  <th translate>Trui</th>
                  <th translate>Rank</th>
                  <th translate>Points</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="stat in $ctrl.selectedCyclistFinalGameBonus">
                  <td>{{stat.type}}</td>
                  <td>{{stat.rank}}</td>
                  <td>{{stat.points}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="block" ng-if="$ctrl.cyclists.length && $ctrl.selectedCyclist">
          <div class="block-title" translate>
            Stats
          </div>
          <div class="table-responsive">
            <table class="table table-user-stats table-striped">
              <thead>
                <tr>
                  <th translate>Day</th>
                  <th translate>Match</th>
                  <th translate>Rank</th>
                  <th translate>Points</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="stat in $ctrl.selectedCyclistInfo.Player.Stat | orderBy:sortStats">
                  <td>{{stat.Match.week_id}}</td>
                  <td><a href ui-sref="match({matchId: stat.Match.feed_id})">{{stat.Match.feed_url}}</a></td>
                  <td>{{stat.value}}</td>
                  <td>{{stat.points}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>