<div ng-class="{'container': $ctrl.hasContainerClass}" ng-if="$ctrl.resolved">

  <div class="row">
    <!-- LEFT -->
    <div class="col-sm-12 col-md-6">

      <div class="block" ng-if="$ctrl.currentTransfers">
        <div class="block-title" translate>Transfers</div>

        <div ng-if="$ctrl.pastTransfers.length" class="row">
          <div class="col-sm-12 col-md-12">
            <div class="transfers-header">
              <h6 class="content-centered"><span translate>Transfers History</span></h6>
            </div>
            <div class="table-responsive">
              <table class="table table-striped fa-transfers-table">
                <thead>
                <th translate style="width: 10%"> Week</th>
                <th translate style="width: 20%"> Date</th>
                <th translate style="width: 30%"> Out</th>
                <th translate style="width: 30%"> In</th>
                <th style="width: 10%">B</th>
                </thead>
                <tbody>
                <tr ng-if="$ctrl.team.weeks.deadline_week != transfer.week_id"
                    ng-repeat="transfer in $ctrl.pastKeptBlancoTransfers.concat($ctrl.pastTransfers) | orderBy:transfer.week_id">
                  <td>
                    {{transfer.week_id}}
                  </td>
                  <td>
                    {{$ctrl.getLocalDate(transfer.datetime)}}
                  </td>
                  <td>
                    {{transfer.Out.id === transfer.In.id ? '-' : transfer.Out.short}}
                  </td>
                  <td>
                    {{transfer.In.short}}
                  </td>
                  <td>
                    {{transfer.blanko_id ? '✅' : '-'}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div ng-if="!$ctrl.tranfersDisabled" class="row">
          <div class="col-sm-12 col-md-12">
            <div class="transfers-header">
              <h6 class="content-centered"><span translate>Matchday</span> {{$ctrl.team.weeks.deadline_week}} <span
                      translate>transfers performed</span>
              </h6>
            </div>
            <div class="table-responsive">
              <table class="table table-stripped fa-transfers-table">
                <thead>
                <th translate style="width: 10%">#</th>
                <th translate style="width: 40%"> Out</th>
                <th translate style="width: 40%"> In</th>
                <th style="width: 10%">B</th>
                </thead>
                <tbody>
                <tr ng-if="$ctrl.team.weeks.deadline_week == transfer.week_id"
                    ng-repeat="transfer in $ctrl.keptBlancoTransfers.concat($ctrl.currentTransfers) | orderBy:transfer.week_id">
                  <td>
                    {{$index + 1}}
                  </td>
                  <td class="transfer-placeholder">
                    {{transfer.Out.id === transfer.In.id ? '-' : transfer.Out.short}}
                  </td>
                  <td class="transfer-placeholder">
                    {{transfer.In.short}}
                  </td>
                  <td>
                    {{transfer.blanko_id ? '✅' : '-'}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row content-centered pad">
              <a href
                 ng-show="$ctrl.transfersToSave() > 0"
                 ng-disabled="$ctrl.isOutOfBudget() || $ctrl.transferRequested"
                 ng-class="{'disabled': $ctrl.isOutOfBudget()}"
                 ng-click="$ctrl.confirmTransfer()"
                 class="btn btn-sm btn-primary"
                 translate>
                Confirm
              </a>
              <a href
                 ng-show="$ctrl.hasTransfersInProgress()"
                 ng-click="$ctrl.clearCurrentTransfers()" class="btn btn-default btn-sm"
                 translate>
                Clear
              </a>
              <a href
                 ng-show="$ctrl.totalSavedTransfers()"
                 ng-click="$ctrl.resetTransfer()" class="btn btn-default btn-sm"
                 translate="">
                Reset
              </a>
            </div>
          </div>
        </div>

        <div ng-if="!$ctrl.tranfersDisabled" class="row">

          <!-- Budget remaining -->
          <div class="col-md-12 pad">
            <div class="row">
              <div class="content-centered" translate>
                <h5 ng-if="$ctrl.currentTransfers"
                    ng-class="{'text-danger': $ctrl.isOutOfBudget()}">
                  <span translate>Budget remaining</span>:<span>{{' ' + '€' + ($ctrl.budget|currency:'':0)}}<span
                        translate>mil</span></span>
                </h5>
                <h6 ng-if="$ctrl.currentTransfers && !$ctrl.blancoId">{{$ctrl.getAvailableTransfersSlots()}}</h6>

                <h6 ng-if="$ctrl.blancoId">
                  Blanco Transfer
                </h6>
                <p ng-if="$ctrl.blancoId">
                  <span translate>Are you sure. Blanco transfers can not be reset and are final!</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block budget-lineup" ng-if="!$ctrl.tranfersDisabled">
        <div class="block-title" translate>
          Your lineup
        </div>
        <div class="pad text-align-center">
          <small><span ng-if="$ctrl.possibleFormations.length > 1" translate> Possible Formations: </span> <b>
            {{$ctrl.possibleFormations.join(', ')}} </b></small>
        </div>
        <div id="lineupGrid" class="lineup-grid">
          <!-- Goalkeeper -->
          <div class="row">
            <div ng-repeat="goalkeeper in $ctrl.starting.Goalkeeper"
                 class="player">

              <player ng-if="!$ctrl.playerAlreadyOut(goalkeeper)"
                      player="goalkeeper"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(goalkeeper)"
                      on-remove="$ctrl.onPlayerOut"
                      prevent-click="true"></player>

              <player ng-if="$ctrl.playerAlreadyOut(goalkeeper)"
                      player="goalkeeper"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(goalkeeper)"
                      prevent-click="true"></player>
            </div>
          </div>

          <!-- Defenders -->
          <div class="row">
            <div ng-repeat="defender in $ctrl.starting.Defender"
                 class="player">
              <player ng-if="!$ctrl.playerAlreadyOut(defender)"
                      player="defender"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(defender)"
                      on-remove="$ctrl.onPlayerOut"
                      prevent-click="true"></player>

              <player ng-if="$ctrl.playerAlreadyOut(defender)"
                      player="defender"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(defender)"
                      prevent-click="true"></player>
            </div>
          </div>

          <!-- Midfielders -->
          <div class="row">
            <div ng-repeat="midfielder in $ctrl.starting.Midfielder"
                 class="player">

              <player ng-if="!$ctrl.playerAlreadyOut(midfielder)"
                      player="midfielder"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(midfielder)"
                      on-remove="$ctrl.onPlayerOut"
                      prevent-click="true"></player>

              <player ng-if="$ctrl.playerAlreadyOut(midfielder)"
                      player="midfielder"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      captain="$ctrl.isCaptain(midfielder)"
                      prevent-click="true"></player>
            </div>
          </div>

          <!-- Attackers -->
          <div class="row">
            <div ng-repeat="forward in $ctrl.starting.Forward"
                 class="player">

              <player ng-if="!$ctrl.playerAlreadyOut(forward)"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      player="forward"
                      captain="$ctrl.isCaptain(forward)"
                      on-remove="$ctrl.onPlayerOut"
                      prevent-click="true">
              </player>

              <player ng-if="$ctrl.playerAlreadyOut(forward)"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      player="forward"
                      captain="$ctrl.isCaptain(forward)"
                      prevent-click="true">
              </player>
            </div>
          </div>
        </div>

        <div class="lineup-bench">
          <div class="row">
            <div ng-repeat="player in $ctrl.bench" class="player player-bench">

              <player ng-if="!$ctrl.playerAlreadyOut(player)"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      player="player"
                      prevent-click="true"
                      on-remove="$ctrl.onPlayerOut">
              </player>

              <player ng-if="$ctrl.playerAlreadyOut(player)"
                      local-assets="$ctrl.localAssets"
                      mouse-down-only="true"
                      states-prefix="$ctrl.statesPrefix"
                      show-jerseys="$ctrl.showJerseys"
                      show-price="true"
                      game-name="$ctrl.gameName"
                      hide-position-background="$ctrl.hidePositionBackground"
                      player="player"
                      prevent-click="true">
              </player>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="col-sm-12 col-md-6" ng-hide="$ctrl.tranfersDisabled">
      <div class="add-players budget-add-players block">
        <div class="block-title" translate>
          {{($ctrl.labels && $ctrl.labels.allPlayers) || 'All players'}}
        </div>
        <div class="add-player-form show">
          <div class="add-player-filter">
            <div class="row">
              <input type="search" ng-model="$ctrl.searchPlayer.value" placeholder="{{'Search' | translate}}"
                     class="input">
            </div>
            <div class="row">
              <div class="select">
                <select ng-model="$ctrl.filterItem.club"
                        ng-options="item.Club.name for item in $ctrl.filterOptions.clubs"
                        ng-change="filterChanged()"></select>
              </div>
              <div class="select">
                <select ng-model="$ctrl.filterItem.selectedPosition"
                        ng-options="item.name for item in $ctrl.positions"></select>
              </div>
              <div class="select">
                <select ng-model="$ctrl.filterItem.budget"
                        ng-options="item.text for item in $ctrl.filterOptions.budgets"></select>
              </div>
            </div>
          </div>
          <div class="player-list zebra">
            <div dir-paginate="player in $ctrl.players | filter:q:strict | filter:$ctrl.customFilter | orderBy:'-Player.value' | itemsPerPage: 10"
                 class="player" current-page="$ctrl.pagination.current">

              <a class="player-avatar"
                 ng-if="$ctrl.showJerseys"
                 ng-class="{
                 'player-gk': !$ctrl.hidePositionBackground && player.Player.position_id== 1,
                 'player-def': !$ctrl.hidePositionBackground && player.Player.position_id == 2,
                 'player-mf': !$ctrl.hidePositionBackground && player.Player.position_id== 3,
                 'player-fwd': !$ctrl.hidePositionBackground && player.Player.position_id== 4
                 }">

                <img ng-if="$ctrl.localAssets" ng-src="{{$ctrl.assetsURL}}/jerseys/{{::player.Club.id}}.png"
                     class="jersey">
                <img ng-if="!$ctrl.localAssets"
                     ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{::player.Club.id}}.png"
                     fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                     class="jersey">

              </a>

              <a class="player-avatar"
                 ng-if="!$ctrl.showJerseys">
                <img ng-src="{{$ctrl.assetsURL}}/players/player_{{player.Player.id}}.png"
                     fallback-src="/images/portrait-dummy.png" class="portrait">
                <img ng-src="{{$ctrl.clubAssetsURL}}/{{player.Club.infostrada_id}}.png"
                     class="club">
              </a>

              <a href ui-sref="playerBudget({playerId: player.Player.id})" class="player-info football-player-info">
                <div class="col-md-8 col-xs-12">

                  <div class="name">{{::player.Player.short}}</div>
                  <div class="position player">
                    <div class="club">{{::player.Club.short}}</div>
                    <span ng-class="{
                  'player-gk': player.Player.position_id== 1,
                  'player-def': player.Player.position_id == 2,
                  'player-mf': player.Player.position_id== 3,
                  'player-fwd': player.Player.position_id== 4}"
                    >
                    {{$ctrl.getPositionNameById(player.Player.position_id)}}
                  </span>
                  </div>
                </div>
                <div class="col-md-2 col-xs-12">
                  <span class="worth">
                    {{player.Player.value|currency:'€':0}}
                  </span>
                </div>
                <div class="col-md-2 col-xs-12">
                  <a href ng-click="$ctrl.onPlayerIn(player)"
                     ng-show="!$ctrl.inPlayersLimitExceeded() && !$ctrl.alreadyPicked(player, 'in') && $ctrl.isPickable(player) && !$ctrl.breaksClubLimit(player)"
                     class="btn btn-sm btn-primary pull-right" translate>Transfer
                  </a>
                </div>
              </a>

            </div>
            <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

