<div class="block full pad">
  <span class="home-points">{{$ctrl.fixture.Fixture.home_points}}</span>
  <span class="home">{{$ctrl.fixture.Homefixture.name}}</span>
  <span class="home">{{$ctrl.fixture.Awayfixture.name}}</span>
  <span class="away-points">{{$ctrl.fixture.Fixture.away_points}}</span>
</div>

<div class="block">
  <div class="block-title">{{$ctrl.fixture.Homefixture.name}}</div>
  <div class="lineup-grid">
    <!-- Goalkeeper -->
    <div class="row">
      <div ng-repeat="player in $ctrl.home_starting.Goalkeeper" class="player">
        <player player="player" team-id="$ctrl.team.Team.Team.id"></player>
      </div>
    </div>

    <!-- Defenders -->
    <div class="row">
      <div ng-repeat="player in $ctrl.home_starting.Defender" class="player">
        <player player="player" team-id="$ctrl.team.Team.Team.id"></player>
      </div>
    </div>

    <!-- Midfielders -->
    <div class="row">
      <div ng-repeat="player in $ctrl.home_starting.Midfielder" class="player">
        <player player="player" team-id="$ctrl.team.Team.Team.id"></player>
      </div>
    </div>

    <!-- Attackers -->
    <div class="row">
      <div ng-repeat="player in $ctrl.home_starting.Forward" class="player">
        <player player="player" team-id="$ctrl.team.Team.Team.id"></player>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="block-title">{{$ctrl.fixture.Awayfixture.name}}</div>
  <div class="lineup-grid">
    <!-- Goalkeeper -->
    <div class="row">
      <div ng-repeat="player in $ctrl.away_starting.Goalkeeper" class="player">
        <player player="player" team-id="$ctrl.team.Team.Team.id"></player>
      </div>
    </div>

    <!-- Defenders -->
    <div class="row">
      <div ng-repeat="player in $ctrl.away_starting.Defender" class="player">
        <player player="player" team-id="$ctrl.team.Team.Team.id"></player>
      </div>
    </div>

    <!-- Midfielders -->
    <div class="row">
      <div ng-repeat="player in $ctrl.away_starting.Midfielder" class="player">
        <player player="player" team-id="$ctrl.team.Team.Team.id"></player>
      </div>
    </div>

    <!-- Attackers -->
    <div class="row">
      <div ng-repeat="player in $ctrl.away_starting.Forward" class="player">
        <player player="player" team-id="$ctrl.team.Team.Team.id"></player>
      </div>
    </div>
  </div>
</div>