<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container no-lr-pad' : $ctrl.hasContainerClass}">
  <div class="layout" ng-class="{'no-lr-pad' : $ctrl.hasContainerClass}">
    <div class="row">
      <div class="col-md-12">
        <div class="classic-tab-select">
          <div class="row">
            <div class="tab-item col-md-2"
                 ng-class="{'active': $ctrl.activeTab === 1, 'offset-md-1': $ctrl.competitionInfo.competitionFeed === 'GKLAS'}"
                 ng-click="$ctrl.setActiveTab(1)">
              <a href><span translate>General</span>
              </a>
            </div>
            <div class="tab-item col-md-2"
                 ng-class="{
                  'active': $ctrl.activeTab === 2,
                  'col-md-3': (['GWC', 'G11', 'CL'].indexOf($ctrl.competitionInfo.competitionFeed) !== -1)
                  }"
                 ng-click="$ctrl.setActiveTab(2)">
              <a href><span translate>Matchday</span></a>
            </div>
            <div class="tab-item col-md-2"
                 ng-class="{'active': $ctrl.activeTab === 3,
                  'col-md-3': (['GWC', 'G11', 'CL'].indexOf($ctrl.competitionInfo.competitionFeed) !== -1)}"
                 ng-click="$ctrl.setActiveTab(3)">
              <a href><span translate>{{$ctrl.customLeagueLabel}}</span></a>
            </div>
            <div class="tab-item col-md-2"
                 ng-class="{'active': $ctrl.activeTab === 4}"
                 ng-click="$ctrl.setActiveTab(4)">
              <a href><span translate>Postcode</span></a>
            </div>
            <div class="tab-item col-md-2"
                 ng-class="{'active': $ctrl.activeTab === 5}"
                 ng-if="(['GIRO', 'TOUR', 'VUEL', 'GKLAS', 'GCX'].indexOf($ctrl.competitionInfo.competitionFeed) !== -1)"
                 ng-click="$ctrl.setActiveTab(5)"><a href><span translate>{{$ctrl.sprintLabel}}</span></a>
            </div>
            <div class="tab-item col-md-2"
                 ng-class="{'active': $ctrl.activeTab === 6}"
                 ng-if="(['GIRO', 'TOUR', 'VUEL', 'GCX'].indexOf($ctrl.competitionInfo.competitionFeed) !== -1)"
                 ng-click="$ctrl.setActiveTab(6)"><a href><span translate>{{$ctrl.bergLabel}}</span></a>
            </div>
            <div class="tab-item col-md-2"
                 ng-class="{'active': $ctrl.activeTab === 8}"
                 ng-if="(['GWC', 'G11', 'CL'].indexOf($ctrl.competitionInfo.competitionFeed) !== -1)"
                 ng-click="$ctrl.setActiveTab(8)">
              <a href><span translate>Periode</span></a>
            </div>
            <!-- <div class="tab-item col-md-2"
                 ng-class="{'active': $ctrl.activeTab === 9}"
                 ng-if="$ctrl.isLoggedIn && (['GIRO', 'TOUR'].indexOf($ctrl.competitionInfo.competitionFeed) !== -1)"
                 ng-click="$ctrl.setActiveTab(9)">
              <a href><span translate>VIP</span></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row pad">
      <div class="col-md-6 col-xs-12" ng-if="$ctrl.activeTab < 9">
        <input type="search"
               ng-model="$ctrl.searchPlayer.value"
               placeholder="{{'Search...'|translate}}"
               class="input form-control"
               style="width: 80%; display: inline-block;" autofocus>
        <a ng-show="$ctrl.searchPlayer.value != ''" ng-click="$ctrl.searchPlayer.value = ''" href
           class="add-player done">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>

      <div class="col-md-2 col-xs-12" ng-if="$ctrl.activeTab < 9">
        <button class="btn btn-primary btn-xs"
                translate
                ng-click="$ctrl.onSearchButtonClick()">
          Search
        </button>
      </div>

      <div class="col-md-4 col-xs-12">
        <div ng-if="$ctrl.activeTab === 2 || $ctrl.activeTab === 3 || $ctrl.activeTab === 9">
          <div class="form-group no-margin">
            <label translate>Speeldag </label>
            <div class="select">
              <select
                      ng-change="$ctrl.gameDaysChanged()"
                      ng-model="$ctrl.filterItem.gameDays"
                      ng-options="week.label for week in $ctrl.deadlineWeeksIds"></select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div ng-if="$ctrl.activeTab === 8">
          <div class="form-group no-margin">
            <label translate>Periode </label>
            <div class="select">
              <select
                      ng-change="$ctrl.periodeChanged()"
                      ng-model="$ctrl.filterItem.periode"
                      ng-options="item.label for item in $ctrl.periodes"></select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="!$ctrl.loading && $ctrl.activeTab === 1">
      <div class="table-responsive">
        <table class="table table-striped table-rankings">
          <thead>
          <th translate>Rank</th>
          <th translate>User</th>
          <th translate>Team</th>
          <th translate>Points</th>
          </thead>
          <tbody>
          <tr
                  dir-paginate="stat in $ctrl.teams | itemsPerPage: $ctrl.displayItems | orderBy:'Team.rank'"
                  total-items="$ctrl.totalRecords"
                  current-page="$ctrl.pagination.current">
            <td>{{stat.Team.rank}}</td>
            <td>
              {{stat.User.full_name}}
              <span ng-if="$ctrl.hasCorrectLeague(stat) && stat.Team.prizes">
              <br/>
              <small><em>{{$ctrl.getPrize('general', stat.Team.prizes).text}}</em></small>
            </span>
            </td>
            <td>
              <span ng-if="!stat.Team.visible">
                {{stat.Team.name}}
              </span>
              <a href
                 ng-click="$ctrl.goToTeam(stat.Team.id)"
                 class="visible-ranking-team"
                 ng-if="stat.Team.visible">{{stat.Team.name}}</a>
            </td>
            <td>{{stat.Team.points}} <span translate>points</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <dir-pagination-controls
              on-page-change="$ctrl.onPageChange(newPageNumber)"
              boundary-links="true">
      </dir-pagination-controls>
    </div>

    <div class="row" ng-if="!$ctrl.loading && $ctrl.activeTab === 2">
      <div class="table-responsive">
        <table class="table table-striped table-rankings">
          <thead>
          <th translate>Rank</th>
          <th translate>User</th>
          <th translate>Team</th>
          <th translate>Points</th>
          </thead>
          <tbody>
          <tr
                  dir-paginate="stat in $ctrl.teams | itemsPerPage: $ctrl.displayItems | orderBy:'Weekstat.rank'"
                  total-items="$ctrl.totalRecords"
                  current-page="$ctrl.pagination.current">
            <td>{{stat.Weekstat.rank}}</td>
            <td>
              {{stat.User.full_name}}
              <span ng-if="stat.Weekstat.prizes">
              <br/>
              <small><em>{{$ctrl.getPrize('week', stat.Weekstat.prizes).text}}</em></small>
            </span>
            </td>
            <td>
              <span ng-if="!stat.Team.visible">
                {{stat.Team.name}}
              </span>
              <a href
                 ng-click="$ctrl.goToTeam(stat.Team.id)"
                 class="visible-ranking-team"
                 ng-if="stat.Team.visible">{{stat.Team.name}}</a>
            </td>
            <td>{{stat.Weekstat.points || '0 ' }} <span translate>points</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <dir-pagination-controls
              on-page-change="$ctrl.onPageChange(newPageNumber)"
              boundary-links="true">
      </dir-pagination-controls>
    </div>

    <div class="row" ng-if="!$ctrl.loading && $ctrl.activeTab === 3">
      <div class="table-responsive">
        <table class="table table-striped table-rankings">
          <thead>
          <!--<th>Player</th>-->
          <th translate>Rank</th>
          <th translate>{{$ctrl.customLeagueLabel}}</th>
          <th translate>Points</th>
          </thead>
          <tbody>
          <tr
                  dir-paginate="stat in $ctrl.teams | itemsPerPage: $ctrl.displayItems"
                  total-items="$ctrl.totalRecords"
                  current-page="$ctrl.pagination.current">
            <!--<td>{{stat.User.first_name}}</td>-->
            <td>{{stat.Team.rank ? stat.Team.rank : ($ctrl.pagination.current > 1 ? ($ctrl.displayItems *
              ($ctrl.pagination.current - 1)) + ($index+1) :
              $index+1)}}
            </td>
            <td>
              {{stat.League.name}}
              <br/>
              <small><em>{{$ctrl.getPrize('platoon', stat.Local.rank).text}}</em></small>
            </td>
            <td>{{$ctrl.getLeaguePoints(stat) || '0' }} {{' '}} <span translate>points</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <dir-pagination-controls
              on-page-change="$ctrl.onPageChange(newPageNumber)"
              boundary-links="true">
      </dir-pagination-controls>
    </div>

    <div class="row" ng-if="!$ctrl.loading && $ctrl.activeTab === 4">
      <div class="table-responsive">
        <table class="table table-striped table-rankings">
          <thead>
          <!--<th translate>Rank</th>-->
          <th translate>Rank</th>
          <th translate>Post Code</th>
          <th translate>
            Points
          </th>
          </thead>
          <tbody>
          <tr
                  dir-paginate="stat in $ctrl.teams | itemsPerPage: $ctrl.displayItems"
                  total-items="$ctrl.totalRecords"
                  current-page="$ctrl.pagination.current">
            <!--<td>{{stat.Team.rank}}</td>-->
            <td>{{stat.Team.rank ? stat.Team.rank : ($ctrl.pagination.current > 1 ? ($ctrl.displayItems *
              ($ctrl.pagination.current - 1)) + ($index+1) :
              $index+1)}}
            </td>
            <td>
              <a href ng-click="$ctrl.goToPostcode(stat)">
                {{stat.User.post_code}}
              </a>
            </td>
            <td>{{stat['0'].total_sum || '0' }} {{' '}} <span translate>points</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <dir-pagination-controls
              on-page-change="$ctrl.onPageChange(newPageNumber)"
              boundary-links="true">
      </dir-pagination-controls>
    </div>

    <div class="row" ng-if="!$ctrl.loading && $ctrl.activeTab === 5">
      <div class="table-responsive">
        <table class="table table-striped table-rankings">
          <thead>
          <th translate>Rank</th>
          <th translate>User</th>
          <th translate>Team</th>
          <th translate>Points</th>
          </thead>
          <tbody>
          <tr
                  dir-paginate="stat in $ctrl.teams | itemsPerPage: $ctrl.displayItems"
                  total-items="$ctrl.totalRecords"
                  current-page="$ctrl.pagination.current">
            <td>{{stat.Ranking.rank}}</td>
            <td>
              {{stat.User.full_name}}
              <br/>
              <small><em>{{$ctrl.getPrize('sprint', stat.Ranking.prizes).text}}</em></small>
            </td>
            <td>{{stat.Team.name}}</td>
            <td>{{stat.Ranking.points}} <span translate>points</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <dir-pagination-controls
              on-page-change="$ctrl.onPageChange(newPageNumber)"
              boundary-links="true">
      </dir-pagination-controls>
    </div>

    <div class="row" ng-if="!$ctrl.loading && $ctrl.activeTab === 6">
      <div class="table-responsive">
        <table class="table table-striped table-rankings">
          <thead>
          <th translate>Rank</th>
          <th translate>User</th>
          <th translate>Team</th>
          <th translate>Points</th>
          </thead>
          <tbody>
          <tr dir-paginate="stat in $ctrl.teams | itemsPerPage: $ctrl.displayItems"
              total-items="$ctrl.totalRecords"
              current-page="$ctrl.pagination.current">
            <td>{{stat.Ranking.rank}}</td>
            <td>
              {{stat.User.full_name}}
              <br/>
              <small><em>{{$ctrl.getPrize('mountain', stat.Ranking.prizes).text}}</em></small>
            </td>
            <td>{{stat.Team.name}}</td>
            <td>{{stat.Ranking.points}} <span translate>points</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <dir-pagination-controls
              on-page-change="$ctrl.onPageChange(newPageNumber)"
              boundary-links="true">
      </dir-pagination-controls>
    </div>

    <div class="row" ng-if="!$ctrl.loading && $ctrl.activeTab === 8">
      <div class="table-responsive">
        <table class="table table-striped table-rankings">
          <thead>
          <th translate>Rank</th>
          <th translate>{{$ctrl.customPlayerLabel}}</th>
          <th translate>Team</th>
          <th translate>Points</th>
          <th></th>
          </thead>
          <tbody>
          <tr
                  dir-paginate="stat in $ctrl.teams | itemsPerPage: $ctrl.displayItems"
                  total-items="$ctrl.totalRecords"
                  current-page="$ctrl.pagination.current">
            <td>{{stat.Ranking.rank}}</td>
            <td>
              {{stat.User.full_name}}
              <span ng-if="$ctrl.hasCorrectLeague(stat) && stat.Ranking.prizes">
              <br/>
              <small><em>{{$ctrl.getPrize('groups', stat.Ranking.prizes).text}}</em></small>
            </span>
            </td>
            <td>{{stat.Team.name}}</td>
            <td>{{stat.Ranking.points}} <span translate>points</span></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <dir-pagination-controls
              on-page-change="$ctrl.onPageChange(newPageNumber)"
              boundary-links="true">
      </dir-pagination-controls>
    </div>

    <div class="row" ng-if="!$ctrl.loading && $ctrl.activeTab === 9">
      <div class="table-responsive">
        <table class="table table-striped table-rankings">
          <thead>
            <th translate>Rank</th>
            <th translate>User</th>
            <th translate>Team</th>
            <th translate>Points</th>
          </thead>
          <tbody>
          <tr
                  dir-paginate="team in $ctrl.teams | itemsPerPage: 50"
                  current-page="$ctrl.pagination.current">
            <td>{{$index + 1}}</td>
            <td>{{team.user.firstName}} {{team.user.lastName}}</td>
            <td>
                <a href
                ng-click="$ctrl.goToTeam(team.id)"
                class="visible-ranking-team">{{team.name}}</a>
              </td>
            <td>{{team.points}} <span translate>points</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <dir-pagination-controls
              ng-if="$ctrl.teams.length > 50"
              boundary-links="true">
      </dir-pagination-controls>
    </div>

    <div class="row" ng-if="$ctrl.promoBannerURL">
      <div class="col-md-12">
        <div class="promo-widget mt-10p">
            <a ng-href={{$ctrl.promoBannerURL}}>
              <img style="width: 100%" ng-src="{{$ctrl.promoBannerImage}}" />
            </a>
          </div>
        </div>
    </div>

  </div>
</div>