<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="block-title" translate>Profile</div>
          <div class="pad" id="profile">
            <div class="row">
              <div class="col-md-12">

                <form name="$ctrl.frmProfile" ng-submit="$ctrl.editProfile($ctrl.frmProfile)" novalidate>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>First name</label>
                    <div class="col-xs-12 col-md-8">
                      <input ng-model="$ctrl.user.first_name" type="text"
                             placeholder="{{'Enter your first name'|translate}}"
                             class="input form-control" required>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>Last name</label>
                    <div class="col-xs-12 col-md-8">
                      <input ng-model="$ctrl.user.last_name" type="text"
                             placeholder="{{'Enter your last name'|translate}}"
                             class="input form-control" required>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>Email</label>
                    <div class="col-xs-12 col-md-8">
                      <input ng-model="$ctrl.user.username" type="text"
                             placeholder="{{'Enter your email address'|translate}}"
                             class="input form-control" disabled>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>Phone</label>
                    <div class="col-xs-12 col-md-8">
                      <input ng-model="$ctrl.user.phone" type="text" placeholder="{{'Phone number'|translate}}"
                             class="input form-control">
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>Street</label>
                    <div class="col-xs-12 col-md-8">
                      <input ng-model="$ctrl.user.street" type="text" placeholder="{{'Street'|translate}}"
                             class="input form-control" required>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>Number</label>
                    <div class="col-xs-12 col-md-8">
                      <input ng-model="$ctrl.user.street_nr" type="text" placeholder="{{'Number'|translate}}"
                             class="input form-control" required>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>Post code</label>
                    <div class="col-xs-12 col-md-8">
                      <input ng-model="$ctrl.user.post_code" type="text" placeholder="{{'Enter post code'|translate}}"
                             class="input form-control" required>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>City</label>
                    <div class="col-xs-12 col-md-8">
                      <input ng-model="$ctrl.user.city" type="text" placeholder="{{'City'|translate}}"
                             class="input form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p translate>Born date</p>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group no-margin">
                        <label for="day" translate>Day</label>
                        <select ng-options="day as day.label for day in $ctrl.bornDateFilter.days track by day.id"
                                class="with-100p"
                                id="day"
                                required
                                ng-model="$ctrl.born.day"></select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group no-margin">
                        <label for="month" translate>Month</label>
                        <select ng-options="month as month.label for month in $ctrl.bornDateFilter.months track by month.id"
                                id="month"
                                class="with-100p"
                                required
                                ng-model="$ctrl.born.month"></select>
                      </div>
                    </div>
                    <div class="col-md-4">

                      <div class="form-group no-margin">
                        <label for="year" translate>Year</label>
                        <select ng-options="year as year.label for year in $ctrl.bornDateFilter.years track by year.id"
                                id="year"
                                class="with-100p"
                                required
                                ng-model="$ctrl.born.year"></select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>Gender</label>
                    <div class="col-xs-12 col-md-8">
                      <span>
                        <input type="radio" ng-model="$ctrl.user.gender" class="margin-10p" value="M"/><span translate>Male</span>
                        <input type="radio" ng-model="$ctrl.user.gender" class="margin-10p" value="F"/><span translate>Female</span>
                      </span>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <label class="col-xs-12 col-md-4 col-form-label" translate>Opt-in commerciële emails</label>
                    <div class="col-xs-12 col-md-8">
                      <span class="gender-input"><input type="radio" ng-model="$ctrl.user.optin" value="1"/>Ja
                      <input type="radio" ng-model="$ctrl.user.optin" value="0"/>Nee</span>
                    </div>
                  </div>
                  <div class="form-group no-margin row">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary profile-submit pull-right" translate>Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="block-title" translate>Change password</div>
          <div class="pad">
            <form name="$ctrl.frmChangePassword" ng-submit="$ctrl.editPassword($ctrl.frmChangePassword)" novalidate>
              <div class="form-group no-margin row">
                <label class="col-xs-12 col-md-4 col-form-label" translate>Password</label>
                <div class="col-xs-12 col-md-8">
                  <input ng-model="$ctrl.newPassword" type="password"
                         placeholder="{{'Enter your new password'|translate}}"
                         class="input form-control" required>
                </div>
              </div>
              <div class="form-group no-margin row">
                <label class="col-xs-12 col-md-4 col-form-label" translate>Verify</label>
                <div class="col-xs-12 col-md-8">
                  <input ng-model="$ctrl.verifyNewPassword" match-pw="$ctrl.newPassword" type="password"
                         placeholder="{{'Verify your new password'|translate}}" class="input form-control" required>
                </div>
              </div>
              <div class="form-group no-margin row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary profile-submit pull-right" translate>Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>