<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive races">
          <table class="table table-striped">
            <thead>
            <th translate>Date</th>
            <th translate>Stage</th>
            <th translate>Speeldag</th>
            <th ng-hide="$ctrl.hideTypeColumn" translate>Type</th>
            </thead>
            <tbody>
            <tr ng-repeat="race in $ctrl.races" ng-click="$ctrl.goToMatch(race.matches.id)">
              <td class="text-capitalize"><span ng-if="race.showDate">{{$ctrl.getLocalDate(race.matches.date)}}</span></td>
              <td><a ui-sref="cyclingRace({race: race.matches.cycling_id})">{{race.matches.feed_url}}</a></td>
              <td>{{race.matches.week_id}}</td>
              <td ng-hide="$ctrl.hideTypeColumn">
                <span class="icon icon-{{race.matches.type}}"
                      ng-class="{'icon-mountains': race.matches.week_id && race.matches.type.indexOf('mou') !== -1}">
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.promoBannerURL">
        <div class="col-md-12">
          <div class="promo-widget mt-10p">
              <a ng-href={{$ctrl.promoBannerURL}}>
                <img style="width: 100%" ng-src="{{$ctrl.promoBannerImage}}" />
              </a>
            </div>
          </div>
      </div>
  </div>
</div>