<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="block-title" translate>
            Step 2: cycling league
          </div>

          <div class="pad">
            <div class="row">
              <div class="col-xs-12">
                <ul class="tab-select">
                  <li ng-class="{'active': $ctrl.activeTab === 1}" ng-click="$ctrl.setActiveTab(1)"><a translate>No cycling league</a></li>
                  <li ng-class="{'active': $ctrl.activeTab === 3}" ng-click="$ctrl.setActiveTab(3)"><a translate>Create your cycling league</a></li>
                  <li ng-class="{'active': $ctrl.activeTab === 2}" ng-click="$ctrl.setActiveTab(2)"><a translate>Join cycling league</a></li>
                </ul>
              </div>
            </div>

            <div class="row" style="margin: 20px auto;">
              <div class="col-xs-12">
                <p translate>A cycling league is a separate classification, that you're with your friends, relatives, colleagues or neighbors can enroll.</p>
              </div>
              <!--<div class="col-xs-4"><img style="max-width: 100%; max-height: 150px;" src="/images/cycling/giro-platoon.png"/></div>-->
            </div>

            <div class="row" ng-if="$ctrl.activeTab === 1">
              <div class="col-xs-12">
                <button ng-click="$ctrl.saveTeam()" class="btn btn-large create" translate>Save team</button>
              </div>
            </div>

            <div class="row" ng-if="$ctrl.activeTab === 2">
              <div class="col-xs-12">
                <div class="row pad">
                  <div class="form-group">
                    <label for="invite-code-input" translate>Received an invite code?</label>
                    <div class="col-md-11 col-xs-10">
                      <input ng-model="$ctrl.invite" ng-change="$ctrl.inviteCodeChanged()" type="text"
                             id="invite-code-input"
                             placeholder="{{'Put your invite code here'|translate}}" class="input form-control"
                             required>
                    </div>
                    <div class="col-md-1 col-xs-2">
                      <span class="mt-12p"><i class="fa"
                                              ng-class="{
                           'fa-check text-success': $ctrl.invite.length > 16 && $ctrl.inviteLeagueId,
                           'fa-times text-danger': $ctrl.invite.length > 16 && !$ctrl.inviteLeagueId
                           }"
                                              aria-hidden="true"></i></span>
                    </div>
                  </div>
                </div>
                <div class="row pad">
                  <div class="invite-league" ng-if="$ctrl.inviteLeague">
                    <h5>{{$ctrl.inviteLeague.name}} {{$ctrl.inviteLeague.competition_feed|flag}}</h5>
                    <button ng-click="$ctrl.joinInviteLeague()" class="btn" translate>Join this cycling league</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-if="$ctrl.activeTab === 3">
              <div class="col-xs-12">
                <form name="$ctrl.frmCreateLeague" novalidate>
                  <div class="form-group">
                    <label translate>Cycling league name</label>
                    <input ng-model="$ctrl.createLeagueName" type="text"
                           placeholder="{{'Choose a cool name for your cycling league'|translate}}"
                           class="input form-control"
                           required>
                  </div>
                  <button ng-click="$ctrl.createLeague()" type="submit" class="btn btn-md" translate>Create your cycling league</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>