<div class="pad">
  <div class="row row-content mt-10p">
    <div class="block full" ng-if="$ctrl.starting.length">
      <div class="time-pager">
        <a ng-click="$ctrl.changePlayDate('prev')" href class="prev"
           ng-class="{'disabled':$ctrl.currentDisplayWeek.week_id == 1}"><i class="icon icon-prev"></i></a>
        <div class="label"><span translate>Speeldag </span> {{$ctrl.currentDisplayWeek.week_id}} -
          {{$ctrl.currentDisplayWeek.feed_url}}
        </div>
        <a ng-click="$ctrl.changePlayDate('next')" href class="next"><i class="icon icon-next"></i></a>
      </div>
    </div>
  </div>

  <div class="row row-content">
    <!-- LEFT -->
    <div class="col-sm-12 col-md-6">
      <formula-one-lineup
              block-title="Your team"
              starting="$ctrl.starting"
              selected-items="$ctrl.selectedItems">
      </formula-one-lineup>
    </div>

    <!-- RIGHT -->
    <div class="col-sm-12 col-md-6">

      <div ng-if="!$ctrl.hasBuddy" class="block no-buddy-yet">
        <div class="block-title" translate>
          Buddy's team
        </div>

        <div class="row">
          <div class="col-md-12 lineup-blur">
            <img src="/images/formula-one/lineup_blur.png">
          </div>
        </div>

        <div class="row invite-area">
          <div ng-if="$ctrl.buddyTeam.id" class="col-md-12">
            <span>Buddy has {{$ctrl.buddyPoints}} points</span>
          </div>

          <div ng-if="!$ctrl.buddyTeam.id" class="col-md-12">
            <input class="invite-url input form-control" id="shareLink" value="{{$ctrl.inviteBuddyURL}}">
          </div>

          <div ng-if="!$ctrl.buddyTeam.id" class="col-md-12">
            <button class="btn btn-sm" ngclipboard data-clipboard-target="#shareLink" translate>
              Copy to clipboard
            </button>
          </div>
        </div>
      </div>

      <formula-one-lineup
              block-title="Buddy's team"
              ng-if="$ctrl.hasBuddy"
              starting="$ctrl.buddyStarting"
              selected-items="$ctrl.buddySelectedItems ">
      </formula-one-lineup>
    </div>
  </div>
</div>
