<div>
  <div class="block-title" translate>
    Stats
  </div>
  <div class="pad">
    <table class="table">
      <thead>
      <th>Day</th>
      <th>Match</th>
      <th>Time</th>
      </thead>
      <tbody>
      <tr ng-repeat="stat in $ctrl.stats">
        <td>{{stat.day}}</td>
        <td>{{stat.match}}</td>
        <td>{{stat.time}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
