<div ng-if="$ctrl.loaded" ng-class="{'main-content' : !$ctrl.hideStructureClasses && !$ctrl.hasContainerClass, 'container' : !$ctrl.hideStructureClasses && $ctrl.hasContainerClass}">
  <div ng-class="{'layout' : !$ctrl.hideStructureClasses}">
    <div class="block">
      <div class="block-title" translate>Reglement</div>
      <div class="pad">
        <div ng-repeat="rule in $ctrl.rules track by $index">
          <div ng-bind-html="rule" class="overflow-y-scroll"></div>
        </div>
      </div>
    </div>
  </div>
</div>
