<div ng-class="{'main-content' : !$ctrl.hasContainerClass, 'container' : $ctrl.hasContainerClass}">
  <div class="layout">
    <ul class="tab-select">
      <li ng-class="{'active': $ctrl.activeTab === 1}" ng-click="$ctrl.setActiveTab(1)">
        <a href translate>Final
          Ranking
        </a>
      </li>
      <li ng-class="{'active': $ctrl.activeTab === 2}" ng-click="$ctrl.setActiveTab(2)">
        <a href translate>
          Matchday
        </a>
      </li>
    </ul>

    <div ng-if="$ctrl.activeTab === 1">
      <h1 class="block-title  widget-title-ground" style="margin-top: 20px;" translate>Algemeen Klassement</h1>
      <cycling-ranking-prize prizes="$ctrl.prizesMap['general']"></cycling-ranking-prize>

      <h1 class="block-title" style="margin-top: 20px;" translate>Peloton</h1>
      <cycling-ranking-prize prizes="$ctrl.prizesMap['peloton']"></cycling-ranking-prize>

      <h1 class="block-title" style="margin-top: 20px;" translate>Sprint</h1>
      <cycling-ranking-prize prizes="$ctrl.prizesMap['sprint']"></cycling-ranking-prize>

      <h1 class="block-title" style="margin-top: 20px;" translate>Berg</h1>
      <cycling-ranking-prize prizes="$ctrl.prizesMap['mountain']"></cycling-ranking-prize>
    </div>

    <div ng-if="$ctrl.activeTab === 2">
      <h1 class="block-title" style="margin-top: 20px;" translate>Speeldag</h1>
      <cycling-ranking-prize prizes="$ctrl.prizesMap['week']"></cycling-ranking-prize>

      <h1 class="block-title" style="margin-top: 20px;" translate>Peloton Week</h1>
      <cycling-ranking-prize prizes="$ctrl.prizesMap['peloton-week']"></cycling-ranking-prize>
    </div>

  </div>
</div>