<style>
  .prize {
    padding: 50px 0;
  }
</style>
<div ng-if="!$ctrl.isFrench">
  <h1 class="block-title" style="margin-top: 20px;">Algemeen Klassement</h1>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-8">
      <h2>Eindwinnaar - €5.000 cash</h2>
      <p>Ben jij de grootste wielerkenner van de Ronde van Spanje? Dan mag je je de allereerste winnaar van De Gouden Vuelta ooit noemen, en krijg je bovendien het cashbedrag van <strong>€ 5.000.</strong></p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes-beone.jpg" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 2 t.e.m. 5 - BeOne racefiets</h2>
      <p>De <strong>BeOne Diablo Triple</strong> heeft <strong>30 versnellingen</strong> en is uitgerust met <strong>Shimano Tiagra</strong> onderdelen. Het frame is van aluminium Alloy, waardoor het frame roestvrij is en zeer licht, namelijk slechtst 9,8 kg. Een BeOne-fiets onderscheidt zich niet alleen qua design en comfort. Ook zijn laklaag overklast die van alle andere fietsen.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 6 t.e.m. 11</h2>
      <p><strong>JBL Cinema Soundbar</strong></p>
      <p>De <strong>JBL Cinema SB450</strong> is een soundbar met <strong>draadloze subwoofer</strong>. Dankzij het vermogen van 440 watt leveren de soundbar en subwoofer een krachtig geluid. De soundbar ondersteunt 4K televisies en dankzij de HDMI aansluiting kun je de soundbar gewoon bedienen met de afstandsbediening van je tv. De subwoofer is draadloos, zodat je hem overal kunt plaatsen. Naast geluid van je tv, speel je op de soundbar ook muziek van je smartphone of tablet af via Bluetooth.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes-soundbar.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes-tablet.jpg" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 12 t.e.m. 13</h2>
      <p><strong>Samsung Tablet</strong></p>
      <p>Voor je dagelijkse dosis digitale entertainment grijp je naar de de Samsung <strong>Galaxy Tab A 7.0</strong>. Zet thuis je favoriete series en games op de tablet en vermaak jezelf onderweg naar kantoor of de collegezaal. Eenmaal aangekomen houd je eenvoudig je aantekeningen bij met een handige app. Aan het einde van de dag check je nog even Facebook voordat je op de bank in slaap valt. Uiteraard kan je ook De Gouden Vuelta op dit fantastische toestel spelen.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 14 t.e.m. 21</h2>
      <p><strong>Barbecook</strong></p>
      <p>De Barbecook Loewy is een nieuwe interpretatie van de Barbecook houtskoolbarbecue. Je schroeit vlees snel dicht boven het hete houtskool voor die authentieke rooksmaak. De controle over het vuur behoud je door de regelbare luchttoevoer. Je zet de Loewy snel en veilig in vuur en vlam: het is een kwestie van 3 vellen krantenpapier aanmaken in de buis en binnen 15 minuten is de grill op temperatuur. Je hebt dus geen aanmaakproducten nodig. De Barbecook Loewy is voorzien van een stevige beugel, zodat je hem gemakkelijk en veilig verplaatst.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_barbecook.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_trolley.jpg" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 22 t.e.m. 25</h2>
      <p><strong>Davidt’s Trolley</strong></p>
      <p>Met deze Davidt’s Trolley Pilot-case reis je de hele wereld rond! De trolley heeft een inhoud van 30 liter, en weegt slechts 3.6kg. De afmetingen van de trolley zijn 45 x 24.5 x 36 cm.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats nog niet gekend</h2>
      <p><strong>Boek Parijs in het geel</strong></p>
      <p>Tien Belgen stonden ooit op het hoogste trapje in Parijs. Een selectief clubje, netjes verdeeld over Vlamingen (6), Walen (2) en Brusselaars (2). Samen zijn ze goed voor achttien overwinningen. De eerste zege kwam er in 1912, de laatste in 1976, ondertussen zo’n veertig jaar geleden. Het hadden er nog meer kunnen zijn, maar sommigen liepen het geel mis door pech, domme reglementen, fraude of simpelweg zenuwen.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_boek.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_kart.gif" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats nog niet gekend</h2>
      <p><strong>Kartingsessie Inkart</strong></p>
      <p>Inkart is sinds 1994 de toonaangevende karting in België gelegen in de regio Antwerpen langs de A12 ter hoogte van Willebroek, Boom en Puurs. Je kan karten op het indoorkarting circuit en bij droog weer wordt ook op het outdoorkarting circuit gekart. Inkart organiseert karting races, bedrijfsevenementen, verjaardagsfeestjes, vrijgezellenparty's, meetings en prestaties. Inkart Bistro biedt BBQ, buffetten, menu's en gerechten à  la carte om uw avond of event perfect af te sluiten. Beleef pure fun en voel de adrenaline op het circuit samen met je vrienden!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats nog niet gekend</h2>
      <p><strong>Gratis Gouden Cross-ploeg</strong></p>
      <p>Ook dit jaar organiseren we weer onze Gouden Cross. Om jullie alvast goed op weg te zetten om de veldritwinter te domineren, geven deze plaatsen recht op 1 gratis team voor De Gouden Cross 2017-2018 t.w.v. € 7. Een week voor de 1e belangrijke cyclocross krijgen de winnaars van ons een mailtje met daarin een gratis deelnamecode.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_goudencross.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra klassement Sprint</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_barbecook.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Eindwinnaar Sprint</h2>
      <p><strong>Barbecook</strong></p>
      <p>De Barbecook Loewy is een nieuwe interpretatie van de Barbecook houtskoolbarbecue. Je schroeit vlees snel dicht boven het hete houtskool voor die authentieke rooksmaak. De controle over het vuur behoud je door de regelbare luchttoevoer. Je zet de Loewy snel en veilig in vuur en vlam: het is een kwestie van 3 vellen krantenpapier aanmaken in de buis en binnen 15 minuten is de grill op temperatuur. Je hebt dus geen aanmaakproducten nodig. De Barbecook Loewy is voorzien van een stevige beugel, zodat je hem gemakkelijk en veilig verplaatst.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 2 en 3</h2>
      <p><strong>Boek Parijs in het geel</strong></p>
      <p>Tien Belgen stonden ooit op het hoogste trapje in Parijs. Een selectief clubje, netjes verdeeld over Vlamingen (6), Walen (2) en Brusselaars (2). Samen zijn ze goed voor achttien overwinningen. De eerste zege kwam er in 1912, de laatste in 1976, ondertussen zo’n veertig jaar geleden. Het hadden er nog meer kunnen zijn, maar sommigen liepen het geel mis door pech, domme reglementen, fraude of simpelweg zenuwen.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_boek.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra klassement Berg</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_barbecook.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Eindwinnaar Berg</h2>
      <p><strong>Barbecook</strong></p>
      <p>De Barbecook Loewy is een nieuwe interpretatie van de Barbecook houtskoolbarbecue. Je schroeit vlees snel dicht boven het hete houtskool voor die authentieke rooksmaak. De controle over het vuur behoud je door de regelbare luchttoevoer. Je zet de Loewy snel en veilig in vuur en vlam: het is een kwestie van 3 vellen krantenpapier aanmaken in de buis en binnen 15 minuten is de grill op temperatuur. Je hebt dus geen aanmaakproducten nodig. De Barbecook Loewy is voorzien van een stevige beugel, zodat je hem gemakkelijk en veilig verplaatst.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 2 en 3</h2>
      <p><strong>Boek Parijs in het geel</strong></p>
      <p>Tien Belgen stonden ooit op het hoogste trapje in Parijs. Een selectief clubje, netjes verdeeld over Vlamingen (6), Walen (2) en Brusselaars (2). Samen zijn ze goed voor achttien overwinningen. De eerste zege kwam er in 1912, de laatste in 1976, ondertussen zo’n veertig jaar geleden. Het hadden er nog meer kunnen zijn, maar sommigen liepen het geel mis door pech, domme reglementen, fraude of simpelweg zenuwen.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_boek.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Extra klassement league</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Eindwinnaar league</h2>
      <p><strong>€250 cash</strong></p>
      <p>Blijkt jouw superklasse de hoogste score te hebben op het einde van de Ronde van Spanje? Dan mag de kapitein binnekort €250 op zijn rekening verwachten!</p>
    </div>
  </div>
</div>
<div ng-if="$ctrl.isFrench">
  <h1 class="block-title" style="margin-top: 20px;">Classement général</h1>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-8">
      <h2>Gagnant - €5.000 cash</h2>
      <p>Le plus grand connaisseur du Tour d’Espagne gagne <strong>€ 5.000</strong> en cash.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes-beone.jpg" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Place 2 a 5 - BeOne vélo de course</h2>
      <p>BeOne proposent des vélos fiables qui font le bonheur des cyclistes. Des VTT robustes et de vrais vélos de course. Si vous recherchez les meilleures performances, un maximum de plaisir et un look tendance à prix abordable, BeOne est le meilleur choix possible pour tous les cyclistes. Partagez le passion!</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Place 7 a 11</h2>
      <p><strong>JBL Cinema Soundbar</strong></p>
      <p>La barre de son JBL Cinema SB450 remplit votre cinéma à domicile du superbe son JBL, elle est complètement compatible avec les téléviseurs ultra-HD 4K. La fonction d'apprentissage de télécommande de la JBL Cinema SB450 vous permet de commander tout votre système avec la télécommande de téléviseur que vous possédez déjà. Un caisson de graves sans fil de 200 W produit des basses fréquences à faire trembler la pièce à partir d'un caisson compact. Trois entrées vidéo HDMI 2.0a / HDCP 2.2 vous permettent d'utiliser la barre de son comme le système de connexion de votre système 4K.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes-soundbar.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes-tablet.jpg" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Place 12 et 13</h2>
      <p><strong>Samsung Tablet</strong></p>
      <p>Les courbes lisses de la Galaxy Tab A dessinent un design moderne, son écran de 7 pouces vous offre une prise en main parfaite. Le format compact de la Galaxy Tab A ainsi que sa batterie longue durée vous permettent de profiter de votre tablette tout au long de la journée. Grâce à un appareil photo de 5 mégapixels avec autofocus, capturez de superbes moments. La batterie de 4000 mAh de la Galaxy Tab A couplée au mode ultra économie d’énergie vous offre une autonomie longue durée. Cette nouvelle tablette embarque 8 Go de mémoire** que vous pouvez étendre jusqu’à 128 Go*** grâce au port microSD.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Place 14 a 21</h2>
      <p><strong>Barbecook</strong></p>
      <p>Le classique revisité, avec un design épuré et une armature renforcée. Contrôlez votre feu grâce au système ingénieux QuickStart®, avec arrivée d'air réglable. Stabilité améliorée et nettoyage facile grâce au réservoir d'eau Quickstop. Émail réfractaire et résistant aux chocs. Grille chromée de Ø 47,5 cm - 3 positions</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_barbecook.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_trolley.jpg" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats 22 t.e.m. 25</h2>
      <p><strong>Davidt’s Trolley</strong></p>
      <p></p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Livre Parijs in het geel</strong></p>
      <p></p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_boek.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_kart.gif" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Karting a Inkart</strong></p>
      <p>Depuis 1994 Inkart est la référence en karting de loisir. Nous sommes situés dans la région d'Anvers à coté de l'A12 près de Willebroek, Boom et Puurs. Il y a un circuit intérieur et une extension à l'extérieur pour vous amuser au max en kart. Nous organisons des courses de karting, des événements de société, des fêtes d'anniversaire, des réunions, des bachelor party. Inkart Bistro vous propose des BBQ, des buffets, des menus ou des repas à la carte.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Équipe gratuite Cross d’or</strong></p>
      <p>Ces gagnants reçoivent une équipe gratuite pour le Cross d'Or 2017-2018 avec une valeur de 7 euros.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_goudencross.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Classement Extra sprint</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_barbecook.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Gagnant</h2>
      <p><strong>Barbecook</strong></p>
      <p>Le classique revisité, avec un design épuré et une armature renforcée. Contrôlez votre feu grâce au système ingénieux QuickStart®, avec arrivée d'air réglable. Stabilité améliorée et nettoyage facile grâce au réservoir d'eau Quickstop. Émail réfractaire et résistant aux chocs. Grille chromée de Ø 47,5 cm - 3 positions</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Place 2 en 3</h2>
      <p><strong>Livre Parijs in het geel</strong></p>
      <p></p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_boek.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Classement Extra montagne</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_barbecook.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Gagnant</h2>
      <p><strong>Barbecook</strong></p>
      <p>Le classique revisité, avec un design épuré et une armature renforcée. Contrôlez votre feu grâce au système ingénieux QuickStart®, avec arrivée d'air réglable. Stabilité améliorée et nettoyage facile grâce au réservoir d'eau Quickstop. Émail réfractaire et résistant aux chocs. Grille chromée de Ø 47,5 cm - 3 positions.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats 2 en 3</h2>
      <p><strong>Boek Parijs in het geel</strong></p>
      <p>Tien Belgen stonden ooit op het hoogste trapje in Parijs. Een selectief clubje, netjes verdeeld over Vlamingen (6), Walen (2) en Brusselaars (2). Samen zijn ze goed voor achttien overwinningen. De eerste zege kwam er in 1912, de laatste in 1976, ondertussen zo’n veertig jaar geleden. Het hadden er nog meer kunnen zijn, maar sommigen liepen het geel mis door pech, domme reglementen, fraude of simpelweg zenuwen.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_boek.png" class="image-prizes-widget"/>
    </div>
  </div>
  <h1 class="block-title" style="margin-top: 20px;">Classement général league</h1>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/giro-cash.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Gagnant</h2>
      <p><strong>€250 cash</strong></p>
      <p>Le meilleur league gagne € 250 cash!</p>
    </div>
  </div>
</div>