<style>
  .prize {
    padding: 50px 0;
  }
</style>
<div ng-if="!$ctrl.isFrench">
  <h1 class="block-title" style="margin-top: 20px;">Speeldag</h1>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-8">
      <h2>Speeldagwinnaar</h2>
      <p><strong>BeOne racefiets</strong></p>
      <p>De <strong>BeOne Diablo Triple</strong> heeft <strong>30 versnellingen</strong> en is uitgerust met <strong>Shimano Tiagra</strong> onderdelen. Het frame is van aluminium Alloy, waardoor het frame roestvrij is en zeer licht, namelijk slechtst 9,8 kg. Een BeOne-fiets onderscheidt zich niet alleen qua design en comfort. Ook zijn laklaag overklast die van alle andere fietsen.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes-beone.jpg" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_ereader.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>2<sup>e</sup> en 3<sup>e</sup> plaats</h2>
      <p><strong>E-reader</strong></p>
      <p>Lees in elke situatie jouw e-books vanaf het E Ink Carta scherm op de Pocketbook Touch Lux 3. Dankzij de lichte achtergrond en zwartwaardes van het scherm lijkt het alsof je vanaf echt papier leest. Het hoge contrast en reflectie van het scherm zorgen ervoor dat foto's en tekst helder worden weergeven. Hierdoor lees je gemakkelijker kleine lettertypes en zie je duidelijk de inhoud van ingewikkelde grafieken. De LED schermverlichting zorgt ervoor dat je in alle lichtomstandigheden kunt lezen. Dankzij de ingebouwde wifi heb je verschillende mogelijkheden om e-books op jouw e-reader te zetten. Het geheugen van 4 GB zorgt ervoor dat je duizenden digitale boeken kan meenemen.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>4<sup>e</sup> plaats</h2>
      <p><strong>HLN.be Wieleroutfit</strong></p>
      <p>Deze wieleroutfit is een exlusief ontwerp voor HLN.be, gemaakt door Bioracer. Niet alle racers hebben dezelfde lichaamsbouw. De   Trui KM Prof Bodyfit is ontworpen om aan de vereisten te voldoen van een grote meerderheid van racers die op zoek zijn naar een aerodynamisch maar ook comfortabel shirt met een bredere snit. De Race Proven Bibshort Lycra is een van de meest verkochte broeken in het teamgamma. Voor seizoen 2015 is deze Bibshort aangepast met een vernieuwde Race Proven zij- en achterpand. De opbouw van deze short verzekert goede spierondersteuning en biedt veel mogelijkheden voor persoonlijke aanpassingen. De zij- en achterkanten, en de brede, nauw aansluitende boorden kunnen bedrukt worden. De shorts hebben eyelet bretellen voorzien van een electronics pocket.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_wieleroutfit.gif" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats nog niet gekend</h2>
      <p><strong>Smartphonehouder</strong></p>
      <p>Met deze Motor/E-bike/Racefiets/fietshouder van iGrip heb je de ideale oplossing om je smartphone mee te nemen op een leuke tour. De houder is makkelijk te bevestigen aan je stuurstang met de meegeleverde sleutel. Het slimme systeem met Mini Smart Gripper zorgt ervoor dat je smartphone veilig op je stuur blijft staan en vangt trillingen op. Bovendien kun je de houder 360 graden draaien en 60 graden kantelen. Kies zelf de beste positie om de route in de gaten te houden.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_smartphonehouder.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_boek.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>Plaats nog niet gekend</h2>
      <p><strong>Boek Parijs in het geel</strong></p>
      <p>Tien Belgen stonden ooit op het hoogste trapje in Parijs. Een selectief clubje, netjes verdeeld over Vlamingen (6), Walen (2) en Brusselaars (2). Samen zijn ze goed voor achttien overwinningen. De eerste zege kwam er in 1912, de laatste in 1976, ondertussen zo’n veertig jaar geleden. Het hadden er nog meer kunnen zijn, maar sommigen liepen het geel mis door pech, domme reglementen, fraude of simpelweg zenuwen.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats nog niet gekend</h2>
      <p><strong>Kartingsessie Inkart</strong></p>
      <p>Inkart is sinds 1994 de toonaangevende karting in België gelegen in de regio Antwerpen langs de A12 ter hoogte van Willebroek, Boom en Puurs. Je kan karten op het indoorkarting circuit en bij droog weer wordt ook op het outdoorkarting circuit gekart. Inkart organiseert karting races, bedrijfsevenementen, verjaardagsfeestjes, vrijgezellenparty's, meetings en prestaties. Inkart Bistro biedt BBQ, buffetten, menu's en gerechten à  la carte om uw avond of event perfect af te sluiten. Beleef pure fun en voel de adrenaline op het circuit samen met je vrienden!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_kart.gif" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats nog niet gekend</h2>
      <p><strong>Gratis Gouden Vuelta-ploeg</strong></p>
      <p>Verhoog je winstkansen met een éxtra, gratis, ploeg voor De Gouden Vuelta ter waarde van €7. De winnaars op de laatste speeldag zullen een gratis deelnameploeg voor De Gouden Cross krijgen, eveneens t.w.v. €7.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_goudenvuelta.png" class="image-prizes-widget"/>
    </div>
  </div>
</div>
<div ng-if="$ctrl.isFrench">
  <h1 class="block-title" style="margin-top: 20px;">Journée</h1>
  <div class="row prize" style="padding-top: 0;">
    <div class="col-md-8">
      <h2>Gagnant</h2>
      <p><strong>BeOne vélo de course</strong></p>
      <p>BeOne proposent des vélos fiables qui font le bonheur des cyclistes. Des VTT robustes et de vrais vélos de course. Si vous recherchez les meilleures performances, un maximum de plaisir et un look tendance à prix abordable, BeOne est le meilleur choix possible pour tous les cyclistes. Partagez le passion!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes-beone.jpg" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_ereader.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>2<sup>e</sup> et 3<sup>e</sup> place</h2>
      <p><strong>E-reader</strong></p>
      <p>PocketBook présente sa nouvelle PocketBook Touch Lux 3. Dotée de la dernière génération d’écran E Ink Carta™, la Touch Lux 3 comprend toutes les caractéristiques pour offrir un meilleur confort de lecture. Dernière-née de la gamme, la PocketBook Touch Lux 3 conserve tous les avantages de la Touch Lux 2, best-seller de la série – fonctionnalités, fiabilité, design (récompensé par le prix Red Dot Design 2014) – et va encore plus loin avec son écran E Ink Carta ™ HD (1024x758 pixels.) de 6 pouces.</p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>4<sup>e</sup> place</h2>
      <p><strong>HLN.be outfit cyclisme</strong></p>
      <p>Un outfit de cyclisme avec un design unique de HLN.be d’une qualité magnifique!</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_wieleroutfit.gif" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Un support pour votre smartphone</strong></p>
      <p>Le Lifeproof Lifeactiv est un support pour votre smartphone au vélo, à moto,...</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_smartphonehouder.png" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-4">
      <img src="/images/cycling/prizes_boek.png" class="image-prizes-widget"/>
    </div>
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Livre Parijs in het geel</strong></p>
      <p></p>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>Plaats nog niet gekend</h2>
      <p><strong>Karting à Inkart</strong></p>
      <p>Depuis 1994 Inkart est la référence en karting de loisir. Nous sommes situés dans la région d'Anvers à coté de l'A12 près de Willebroek, Boom et Puurs. Il y a un circuit intérieur et une extension à l'extérieur pour vous amuser au max en kart. Nous organisons des courses de karting, des événements de société, des fêtes d'anniversaire, des réunions, des bachelor party. Inkart Bistro vous propose des BBQ, des buffets, des menus ou des repas à la carte.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_kart.gif" class="image-prizes-widget"/>
    </div>
  </div>
  <div class="row prize">
    <div class="col-md-8">
      <h2>-</h2>
      <p><strong>Équipe gratuite Vuelta d’or</strong></p>
      <p>Augmenter vos chances avec cette équipe extra de €7 pour la Vuelta d’or. Les gagnants du journée 17 reçoivent une équipe gratuite pour le Cross d’or 2017-2018.</p>
    </div>
    <div class="col-md-4">
      <img src="/images/cycling/prizes_goudenvuelta.png" class="image-prizes-widget"/>
    </div>
  </div>
</div>