<div class="main-content static" id="publicHome">
  <div class="layout">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-7">
        <div ng-if="playsports">
          <h2>Welkom op FanArena</h2>
          <p>Fan Arena is een gratis fantasy voetbalgame voor de Belgische Eerste Klasse en de andere Europese
            competities.</p>
          <a href ng-click="login()" class="btn btn-large">Inloggen</a>
          <a href ng-click="register()" class="btn btn-large btn-primary">Registreren</a>

          <div class="clearfix"></div>
          <br/>

          <iframe width="300" height="150" src="https://www.youtube.com/embed/4iCaFrJsQoc" frameborder="0"
                  allowfullscreen></iframe>
        </div>
        <h2 translate>Fan Arena news</h2>
        <fa-news limit="3"></fa-news>

        <div class="clearfix"></div>

        <h2 ng-if="!playsports" translate>Play Sports news</h2>
        <ps-news ng-if="!playsports" limit="12"></ps-news>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-5">
        <h2>Kalender</h2>
        <calendar ng-cloak display-week="1" show-select="true"></calendar>
      </div>
    </div>
  </div>
</div>
