<div class="main-content">
  <div class="layout">

    <div class="row pad" ng-if="$ctrl.teams.length == 0">
      <p translate>You don't have any teams! Hurry, create <a href ui-sref="newGame">a new team</a>.</p>
    </div>

    <div class="row pad" ng-if="$ctrl.teams.length > 0">
      <subnav-tab id="1">
        <div class="col-md-6 col-xs-12">
          <div class="block-title" translate>Mijn Ploegen</div>
          <table class="table table-striped fa-table">
            <thead>
              <tr>
                <th translate>Ploeg</th>
                <th translate title="Punten (Rangschikking)">Pnt (Rng)</th>
                <th translate title="Speeldag {{$ctrl.displayWeek}} (Rangschikking)">Speeldag {{$ctrl.displayWeek}} (Rng)</th>
                <th translate>Acties</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="team in $ctrl.teams">
                <td>
                    <a ng-if="!$ctrl.editTeams[team.Team.id]" class="margin-left-20p" href ui-sref="teamRoster({id:team.Team.id})">{{team.Team.name}}</a>
                    <input ng-if="$ctrl.editTeams[team.Team.id]" ng-model="$ctrl.editTeams[team.Team.id].name" ng-keypress="$ctrl.onKeyPress($event,team.Team.id)" type="text" class="input form-control"/>
                  <br/>
                    <span ng-if="!!team.Team.paid" translate class="badge badge-success" style="margin-top: 5px;"><i class="fa fa-check text-success" aria-hidden="true"></i> Betaald</span>
                    <span ng-if="!!!team.Team.paid" translate class="badge badge-danger" style="margin-top: 5px;"><i class="fa fa-times text-danger" aria-hidden="true"></i> Niet Betaald</span>
                </td>
                <td>
                  {{$ctrl.getTeamRank(team) != '-' ? $ctrl.getTeamPoints(team) + '(' + $ctrl.getTeamRank(team) + ')' : '-'}}
                </td>
                <td>
                  {{$ctrl.getPreviousWeekTeamRank(team) ? $ctrl.getPreviousWeekTeamPoints(team) + '(' + $ctrl.getPreviousWeekTeamRank(team) + ')' : '-'}}
                </td>
                <td>
                  <a title="Wijzig naam" ng-if="!$ctrl.editTeams[team.Team.id]"
                     ng-click="$ctrl.editTeam(team)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>

                  <a title="Kopieer ploeg" ng-if="!$ctrl.editTeams[team.Team.id]"
                     ng-click="$ctrl.cloneTeam(team)">
                    <i class="fa fa-clone" aria-hidden="true"></i>
                  </a>

                  <a title="Verwijder ploeg" ng-if="!$ctrl.editTeams[team.Team.id]"
                     ng-show="team.Team.paid == 0"
                     fa-confirmation-dialog
                     title="Remove team"
                     body="{{'Are you sure that you want to remove ' +  team.Team.name + '?'}}"
                     on-success="$ctrl.removeTeam(team)">
                    <i class="fa fa-trash-o"
                       aria-hidden="true">
                    </i>
                  </a>

                  <a title="Bevestig" ng-if="$ctrl.editTeams[team.Team.id]"
                     ng-click="$ctrl.updateTeam($ctrl.editTeams[team.Team.id])">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </a>

                  <a title="Annuleren" ng-if="$ctrl.editTeams[team.Team.id]"
                     ng-click="$ctrl.cancelEditTeam($ctrl.editTeams[team.Team.id])">
                    <i class="fa fa fa-times" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </subnav-tab>

      <subnav-tab id="2">
        <div class="col-md-6 col-xs-12">
          <div class="block-title" translate>Betaling</div>
          <div>
            <div style="padding: 20px; background-color: rgba(0, 0, 0, 0.20);">
              <div><strong>Totaal:</strong><span class="pull-right">€{{($ctrl.getUnpaidTeams().length - $ctrl.getTeamsPaidWithCoupons()) * 7}}</span></div>
              <div style="margin-top: 20px; margin-bottom: 40px;"><a class="pull-right" style="color: rgba(255, 255, 255, 0.40);" href="" ng-click="$ctrl.addCoupon()" translate>Add Coupon</a></div>
              <div ng-repeat="coupon in $ctrl.coupons track by $index">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <input ng-model="$ctrl.coupons[$index]"
                         ng-change="$ctrl.validateCoupon($index)"
                         class="input form-control"
                         placeholder="Vul hier je coupon code in"/>
                  <div class="input-group-addon input" style="padding-left: 5px;"><span ng-click="$ctrl.removeCoupon($index)"><i class="fa fa-times"/></span></div>
                  <div class="input-group-addon input" style="padding-left: 5px;"><span><i ng-class="$ctrl.couponValidationClass($index)"/></span></div>
                </div>
              </div>
            </div>
            <div style="padding: 20px; text-align: center">
              <button class="btn btn-lg" ng-click="$ctrl.payTeams()"><i class="icon icon-card"></i> Betaal</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <cycling-deadline-counter></cycling-deadline-counter>
        </div>
      </subnav-tab>

    </div>

  </div>

</div>
