<div class="main-content pad">
  <div class="layout">
    <div class="block-title" translate>Reglement</div>

    <div class="row pad" ng-if="!$ctrl.isFrench">
      <p>DEADLINES INSCHRIJVINGEN (SPEELDAG 1)</p>
      <p>Om deel te nemen vanaf de eerste speeldag moeten ploegen via de site ingeschreven zijn voor <b>12 september 2017 &#8211; 20u45</b>. Alle ploegen dienen tijdig betaald te worden. Ploegen die na deze deadline worden ingeschreven, scoren geen punten voor deze speeldag. <b>Een ploeg is pas geldig wanneer wij de betaling effectief hebben ontvangen.</b></p>
      <p><span><span><span><u><a href="https://goudenleague.hln.be">Schrijf een nieuwe ploeg in</a></u></span></span></span></p>
      <p>BETALINGEN</p>
      <p>Deelname aan de Gouden League bedraagt voor 1 ploeg € 7, voor 2 ploegen € 14, voor 3 ploegen € 21, voor 4 ploegen € 28 enz. Het aantal ploegen per persoon is ongelimiteerd.</p>
      <p>Ploegen kunnen online betaald worden via Bancontact/Mister Cash. Ploegen kunnen ook betaald worden via overschrijving. Indien u voor &#8216;overschrijving&#8217; kiest, krijgt u van ons een bericht en een email met daarin de nodige informatie om de betaling uit te voeren. Bij online betaling zijn uw ploegen onmiddellijk actief. Bij overschrijving zullen uw ploeg(en) pas ingeschreven zijn als we de betaling hebben ontvangen en daar gaat afhankelijk per bank enige tijd over, met dus het risico dat laattijdige ploegen niet voor de eerstvolgende deadline kunnen meespelen. Daarom raden we aan om de betaling via overschrijving ruim op voorhand te doen. Ploegen kunnen immers nog worden aangepast voor de deadline waarvoor ze werden ingeschreven.</p>
      <p>Promotiecodes kunnen recht geven op 1 gratis ploeg ter waarde van 7 euro of op een bepaald kortingsbedrag voor 1 ploeg. Deze code kan u geven na het opmaken van uw ploeg(en) en wordt dan met het tegoed verrekend.</p>
      <p>Onjuiste, onvolledige, frauduleuze of onbetaalde deelnames worden niet aanvaard. De Gouden League heeft het recht deze deelnames te weigeren en/of verwijderen. De beslissing van De Gouden League is finaal.</p>
      <p>Wanneer de <b>1+1-actie</b> geactiveerd wordt, geniet je enkel van deze actie wanneer je 2 teams samen inschrijft. Het is dus niet mogelijk om 1 team in te schrijven en te betalen en vervolgens een 2e team gratis in te schrijven!</p>
      <p>PLOEGNAMEN</p>
      <p>De Gouden League behoudt zich het recht om ongepaste of onbehoorlijke ploegnamen te wijzigen.</p>
      <p>SPEELDAGEN</p>
      <p>De Gouden League bestaat uit <b>8 speeldagen</b> die meetellen voor het algemeen klassement en waarbij er prijzen te winnen vallen.</p>
      <p>De verdeling van de speeldagen ziet er als volgt uit:</p>
      <table width="742" cellspacing="0" cellpadding="11">
        <colgroup>
          <col width="129" />
          <col width="322" />
          <col width="101" />
          <col width="102" /> </colgroup>
        <tbody>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Speeldag</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Wedstrijden</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Van</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Tot</b></span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">12/sep</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">13/sep</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">2</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">2e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">26/sep</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">27/sep</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">17/okt</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">18/okt</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">31/okt</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1/nov</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">21/nov</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><a name="_GoBack"></a><span style="color: #000000;"><span style="font-family: Calibri, serif;">22/nov</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6e speeldag groepsfase</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5/dec</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6/dec</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">7</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1/8e finale</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">13/feb</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">14/mrt</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" rowspan="3" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">8</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Kwartfinale</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3/apr</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Halve finale</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Finale</span></span></p>
          </td>
          <td style="background: #ffffff;" colspan="2" valign="bottom" bgcolor="#ffffff" width="225">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">26/mei</span></span></p>
          </td>
        </tr>
        </tbody>
      </table>
      <p lang="nl-BE">
      <p>SPELERSLIJST</p>
      <p>De Gouden League publiceert op haar website <a href="http://www.goudenleague.be/">www.goudenleague.be</a> de spelerslijst van alle Champions League-ploegen. Uit deze lijst kan u kiezen om uw ploeg(en) samen te stellen. De spelerslijst beschrijft o.m. de identiteit van de spelers, hun waarde, de ploeg waarvoor zij uitkomen en de categorie waarin ze zijn ingedeeld. De categorieën zijn &#8216;doelman&#8217;, &#8216;verdediger&#8217;, &#8216;middenvelder&#8217; en &#8216;aanvaller&#8217;. Van elke speler kan je ook gedetailleerde informatie op onze site terugvinden. Na de transferperiode in januari 2018 zal de spelerslijst 1x aangepast worden.<br />
      </p>
      <p>PLOEGSAMENSTELLING</p>
      <p>Je kiest <b>11 basisspelers en 4 bankzitters</b> die samen niet meer dan <b>275 miljoen</b> waard zijn; je mag <b>niet meer dan 2 spelers van dezelfde ploeg</b> kiezen en je Gouden League-ploeg moet samengesteld zijn op basis van de voorziene types opstellingen.</p>
      <p>Max spelers per club (varieert naar einde van competitie): 2 in groepsfase, 4 voor speeldag zeven en 6 voor de laatste speeldag.</p>
      <p>Je dient 1 speler te selecteren binnen je basisselectie die als kapitein van je ploeg fungeert. Deze <b>kapitein kan je elke speeldag aanpassen</b>.</p>
      <p>De Gouden League zal geen briefwisseling voeren over de samenstelling van de ploegen noch over de uitslagen van elke Gouden League-speeldag.</p>
      <p>KAPITEIN</p>
      <p>Kies binnen je selectie van 11 basisspelers een speler die als kapitein van de ploeg fungeert. Deze speler (= kapitein) krijgt <b>dubbele punten</b>. Let op, ook bij negatieve punten worden zijn punten verdubbeld. De kapitein kan <b>elke speeldag gewijzigd worden</b>. Dit dient te gebeuren voor het afsluiten van de deadline van de desbetreffende speeldag.</p>
      <p>Indien je de speler die als kapitein werd aangeduid wenst te transfereren moet je eerst een nieuwe kapitein aanduiden.</p>
      <p>TRANSFERS</p>
      <p>Met je bankspelers kan je voortdurend voor elke speeldag wissels doorvoeren (tot vlak voor deadline speeldag). Verder beschik je per ingeschreven ploeg over <b>5 transfers</b> gedurende het spel.</p>
      <p>Je kan meerdere transfers tegelijkertijd doorvoeren (max. 5 per ploeg over heel het spel) en na elke transfer moet de ploeg aan de basisregels blijven beantwoorden.</p>
      <p>Bij elke geldige transfer mag de deelnemer van typeploeg veranderen, met andere woorden: een deelnemer kan bij een transfer bv. overstappen van een 4-4-2 opstelling naar een 5-3-2 opstelling.</p>
      <p><b>Blanco spelers</b>: Wanneer een speler zijn huidige club verlaat, levert deze een blanco transfer op. Een update van de spelerslijst wordt doorgevoerd op 31 januari 2018.</p>

      <p>Een aantal <b>belangrijke zaken omtrent de blanco spelers op een rijtje ...</b></p>
      <p>- Elke speler die een <b>nog-deelnemend-CL-team</b> heeft verlaten (=blanco speler) levert 1 blanco transfer op.</p>
      <p>- Deze blanco transfer mag je <b>gebruiken wanneer je zelf wil</b>, en moet je dus niet opnemen voor een bepaald moment. Dit doe je door op het blanco-icoon te klikken naast de naam van het speler op de Team-pagina.</p>
      <p>- Een blanco speler <b>scoort NOOIT punten</b>, maar je team blijft wel geldig als je een blanco speler hebt.</p>

      <p>Mogelijke situaties:</p>
      <p><b>1) Een speler werd getransfereerd naar een niet (meer)-deelnemende CL-ploeg </b></p>
      <p>Het blanco-icoon krijgt een <b>witte achtergrond</b>. Je krijgt 1 blanco(=extra) transfer om deze speler te transfereren.</p>
      <p><b>2) Een speler werd getransfereerd naar een andere (nog) deelnemende CL-ploeg</b></p>
      <p>a) Je hebt reeds het maximum toegestane spelers van zijn nieuwe team</p>
      <p>Het blanco-icoon krijgt een <b>oranje achtergrond</b>. Deze speler scoort géén punten meer tot je:</p>
      <p>- De nieuwe speler, of één van zijn nieuwe ploegmaats, vervangt door een speler van een ander team. Je krijgt enkel een blanco transfer om de nieuwe speler te vervangen.</p>
      <p>b) Je hebt het maximum toegestane spelers van zijn nieuwe team niet overschreden</p>
      <p>Het blanco-icoon krijgt een <b>groene achtergrond</b>, maar deze speler scoort géén punten meer tot je:</p>
      <p>- Aangeeft dat je de speler wil behouden (in z'n nieuwe team)</p>
      <p>- De speler transfereert voor een andere speler. Je krijgt hiervoor 1 blanco transfer.</p>

      <p>Op deze datum zullen blanco transfers toegekend worden. Een blanco speler scoort GEEN punten.<br />
        We nemen als het ware een foto van je team en obv die foto worden blanco transfers toegekend!<br />
        Indien je zélf beslist om éérder een speler te transfereren, krijg je géén blanco transfer.</p>
      <p>Wanneer een speler, tussen 2 updates van de spelerslijst door, verandert van club binnen de Champions League, blijft hij in onze spelerslijst staan als speler van zijn oude club, maar scoort hij punten volgens zijn prestaties bij zijn nieuwe club. Bij de eerstvolgende update na zijn transfer wordt hij blanco.</p>
      <p>PUNTEN SCOREN</p>
      <p>Spelers in je ploeg scoren punten op basis van hun prestaties tijdens de Champions League voetbalwedstrijden van de UEFA volgens onderstaande regels</p>
      <table class="table table-responsive">
        <thead>
        <tr class="row m-lg-1 odd">
          <th class="column-1">Actie</th><th class="column-2">Punten</th>
        </tr>
        </thead>
        <tbody class="row m-lg-hover">
        <tr class="row m-lg-2 even">
          <td class="column-1">Kapitein verdubbelt zijn punten</td><td class="column-2">X2</td>
        </tr>
        <tr class="row m-lg-2 even">
          <td class="column-1">Tot 60 minuten gespeeld</td><td class="column-2">1</td>
        </tr>
        <tr class="row m-lg-3 odd">
          <td class="column-1">Meer dan 60 minuten gespeeld</td><td class="column-2">2</td>
        </tr>
        <tr class="row m-lg-4 even">
          <td class="column-1">Elke goal van een doelman</td><td class="column-2">6</td>
        </tr>
        <tr class="row m-lg-5 odd">
          <td class="column-1">Elke goal van een verdediger</td><td class="column-2">6</td>
        </tr>
        <tr class="row m-lg-6 even">
          <td class="column-1">Elke goal van een middenvelder</td><td class="column-2">5</td>
        </tr>
        <tr class="row m-lg-7 odd">
          <td class="column-1">Elke goal van een aanvaller</td><td class="column-2">4</td>
        </tr>
        <tr class="row m-lg-8 even">
          <td class="column-1">Voor elke assist</td><td class="column-2">3</td>
        </tr>
        <tr class="row m-lg-9 odd">
          <td class="column-1">De nul houden voor doelmannen en verdedigers (min. 60 minuten gespeeld)</td><td class="column-2">4</td>
        </tr>
        <tr class="row m-lg-10 even">
          <td class="column-1">De nul houden voor middenvelder (min. 60 minuten gespeeld)</td><td class="column-2">1</td>
        </tr>
        <tr class="row m-lg-11 odd">
          <td class="column-1">Minpunten voor doelmannen en verdedigers voor elk tegendoelpunt</td><td class="column-2">-1</td>
        </tr>
        <tr class="row m-lg-12 even">
          <td class="column-1">Minpunten voor één gele kaart</td><td class="column-2">-1</td>
        </tr>
        <tr class="row m-lg-13 odd">
          <td class="column-1">Minpunten voor een rode kaart (of twee gele)</td><td class="column-2">-3</td>
        </tr>
        </tbody>
      </table>
      <p>Na iedere speeldag worden de punten per speeldag en de totaalpunten van de spelers gepubliceerd op de site <a href="http://www.goudenleague.be/">www.goudenleague.be</a>.</p>
      <p>De resultaten die worden gepubliceerd zijn de enige die geldig zijn voor het spel, rekening houdend met eventuele correcties die op de site <a href="http://www.goudenleague.be/">www.goudenleague.be</a> kunnen verschijnen om een druk-, tik- of soortgelijke fout te verbeteren.</p>
      <p>Wanneer in de loop van of na de Champions League-competitie door de UEFA of door enige andere bevoegde instantie een beslissing wordt genomen die de scores van de voorbije speeldag(en) zou beïnvloeden, dan wordt hiermee geen rekening gehouden voor De Gouden League.</p>
      <p>Wanneer een wedstrijd om welke reden dan ook stopgezet wordt, worden de punten toegekend op basis van de tussenstand op het moment van stopzetting. Ongeacht de beslissing die nadien genomen wordt door de UEFA (herspelen, verder spelen, forfait, &#8230;) wordt hier niet op teruggekomen.</p>
      <p>Wanneer om welke reden ook de Champions League-competitie wordt stilgelegd of vroegtijdig beëindigd, vervallen de speeldagen die nog niet gespeeld zijn. Het eindklassement wordt in dit geval bepaald aan de hand van de op dat moment voorlopige algemene rangschikking van deelnemers.</p>
      <p>Over de puntentoekenning zal De Gouden League geen briefwisseling voeren.</p>
      <p>Wanneer om welke reden dan ook bepaalde matchen worden uitgesteld, dan wordt voor het bepalen van de punten en van de winnaar gerekend met de gedeeltelijk gespeelde speeldag. Op het ogenblik dat de match(en) wordt ingehaald, worden de resultaten van deze wedstrijd(en) bij de speeldag voorafgaand aan de inhaalmatchen geteld.</p>
      <p>SUPERKLASSE</p>
      <p>Een superklasse is een apart klassement, waar jij je met je vrienden, familieleden, collega&#8217;s of buren kan inschrijven. Door je in deze superklasse in te schrijven, kan jij steeds op eenvoudige manier zien welke van jullie ploegen het beste scoren in de Gouden League-competitie. Om een geldige superklasse op te richten volstaat het om minstens 5 verschillende personen (= uniek e-mailadres), en elk met minstens 1 geldige ploeg, te verzamelen die samen in een eigen competitie willen spelen.</p>
      <p>Voor de superklasse wordt er een aparte rangschikking voorzien. Iedere deelnemer blijft afzonderlijk deelnemen aan De Gouden League en verliest dus geen individuele winstkansen, maar krijgt daarentegen een extra winstmogelijkheid (samen met de andere leden van zijn superklasse) zonder meer te moeten betalen. De superklasse die op het einde van het seizoen gewonnen heeft, krijgt 250 euro. </p>
      <p>Het resultaat van een superklasse wordt bepaald door het gemiddelde van ALLE teams binnen de superklasse, vanaf het moment dat dit team deelnam aan de superklasse. Werd je team voor de 1e speeldag ingeschreven in de superklasse, dan tellen alle punten mee. Werd je team op de 4e speeldag ingeschreven in de superklasse, dan tellen de punten vanaf speeldag 4 mee, enz&#8230;</p>
      <p>WINNAARS</p>
      <p>Op basis van de spelerspunten van de voorbije speeldag worden de beste scores van de speeldag op de website gepubliceerd. De deelnemer met de beste score wordt tot dagwinnaar uitgeroepen. Voor het eindklassement worden de scores per speeldag samengeteld tot de eindscore van de deelnemer. Deze score bepaalt het eindklassement.</p>
      <p>Als er na de publicatie van een klassement blijkt dat er een herberekening dient te gebeuren (voor om het even welke reden), en na de herberekening blijkt dat deelnemers die online reeds gepubliceerd werden als zijnde prijswinnaar toch niet de rechtmatige winnaars zijn, kunnen zij geen aanspraak maken op de prijs.</p>
      <p><span><span><span style="font-size: large;"><span>DAGWINNAARS</p>
      <p>De deelnemer met de beste score voor een speeldag wordt tot dagwinnaar uitgeroepen.</p>
      <p>In geval van ex aequo wordt de dagwinnaar diegene die voor zijn ploeg het minste aantal miljoenen heeft uitgegeven. Indien dan nog steeds van een ex aequo sprake is dan wordt er gekeken naar datum/uur van inschrijving ploeg (waarbij de eerst ingeschreven ploeg voorrang krijgt). Is het resultaat nog steeds een ex aequo dan wordt de winnaar door lottrekking bepaald.</p>
      <p>De prijzen die aan de dagwinnaar en aan de andere winnaars van de speeldag worden uitgereikt, worden bepaald door de promotiedienst van HLN.be en kunnen van dag tot dag verschillen.</p>
      <p>Een deelnemer kan steeds maar één prijs, de meest waardevolle, per speeldag winnen. In geen geval zal een deelnemer aanspraak kunnen maken op de dagoverwinning en de daaraan verbonden prijzen indien hij/zij alle ploegen niet onmiddellijk betaalde.</p>
      <p><span><span><span style="font-size: large;"><span>EINDWINNAARS</p>
      <p>De deelnemer met het hoogste aantal punten op het einde van De Gouden League wordt uitgeroepen tot eindwinnaar.</p>
      <p>In geval van ex aequo wordt de eindwinnaar diegene die voor zijn ploeg het minste aantal miljoenen heeft uitgegeven. Indien dan nog steeds van een ex aequo sprake is dan wordt er gekeken naar datum/uur van inschrijving ploeg (waarbij de eerst ingeschreven ploeg voorrang krijgt). Is het resultaat nog steeds een ex aequo dan wordt de winnaar door lottrekking bepaald.</p>
      <p>De prijs die aan de eindwinnaar wordt uitgereikt bedraagt 5.000 euro.</p>
      <p>De prijzen die aan eindwinnaar en aan de andere winnaars van het eindklassement worden uitgereikt, worden bepaald door de promotiedienst van HLN.be. Een deelnemer kan steeds maar één prijs, de meest waardevolle, van het eindklassement winnen. In geen geval zal een deelnemer aanspraak kunnen maken op de eindoverwinning en de daaraan verbonden prijzen indien hij/zij alle ploegen niet onmiddellijk betaalde.</p>
      <p><span><span><span style="font-size: large;"><span>PERIODEWINNAARS</p>
      <p>De deelnemer met het hoogste aantal punten voor de desbetreffende periode wordt uitgeroepen tot periode-kampioen. Dit is de best scorende ploeg voor de periodes: Groepsfase (speeldag 1 tem 6) en knock-out fase (speeldag 7 &amp; 8)</p>
      <p>In geval van ex aequo wordt de periodewinnaar diegene die voor zijn ploeg het minste aantal miljoenen heeft uitgegeven. Indien dan nog steeds van een ex aequo sprake is dan wordt er gekeken naar datum/uur van inschrijving ploeg (waarbij de eerst ingeschreven ploeg voorrang krijgt). Is het resultaat nog steeds een ex aequo dan wordt de winnaar door lottrekking bepaald.</p>
      <p>De prijs die aan winnaar van een periode wordt uitgereikt, wordt bepaald door de promotiedienst van HLN.be en kan verschillen van periode tot periode. In geen geval zal een deelnemer aanspraak kunnen maken op de periodeprijs indien hij/zij alle ploegen niet onmiddellijk betaalde. Indien de winnaar minderjarig is, dient hij/zij bij de prijsuitreiking vergezeld te zijn van ouder of voogd.</p>
      <p>PRIJZEN</p>
      <p>Wie binnen de competitie, op één speeldag of in het eindklassement, meer dan één keer in de prijzen valt met verschillende ploegen zal slechts aanspraak kunnen maken op de &#8216;hoogste&#8217; of &#8216;meest waardevolle&#8217; prijs.</p>
      <p>Het is niet toegestaan om gewonnen prijzen door te verkopen. Om die reden zal ook nooit de waarde van een prijs gecommuniceerd worden.</p>
      <p>De prijzen die op deze wijze eventueel niet toewijsbaar zijn, worden geschonken aan de op één na beste deelnemer. De prijzen zijn niet omwisselbaar en kunnen dus ook niet in speciën omgezet worden.</p>
      <p>Wanneer er een <b>éxtra prijs</b> wordt verdeeld op een bepaalde speeldag, dan gaat deze éxtra prijs naar de <b>beste NIEUWE (!) ploeg</b>. Wanneer er een extra prijs is, is het mogelijk dat de winnaar <b>zowel de éxtra prijs als de gewone speeldagprijs wint</b>.</p>
      <p>De prijzen die de winnaars worden uitgereikt, worden bepaald door de promotiedienst van HLN.be en kunnen verschillen van speeldag tot speeldag.</p>
      <p>De prijzen zijn niet omzetbaar in geld, ook niet gedeeltelijk, en zijn niet overdraagbaar aan derden.</p>
      <p>De prijzen worden verzonden na afloop van 1 of meerdere speeldagen of dienen te worden afgehaald op de prijsuitreiking na afloop van het spel. Prijzen worden niet naar het buitenland verzonden, deelnemers vanuit het buitenland kunnen een adres voor verzending in België opgeven of de prijs (prijzen) afhalen bij de Persgroep Publishing.</p>
      <p>ALGEMEEN</p>
      <p>Door deel te nemen verklaart u zich akkoord te gaan met het publiceren van uw naam, foto en ploeginformatie in Het Laatste Nieuws/De Nieuwe Gazet en op <a href="http://www.goudenleague.be/">www.goudenleague.be</a> voor zover dit voor het spel en/of de verslaggeving erover door Het Laatste Nieuws/De Nieuwe Gazet en <a href="http://www.goudenleague.be/">www.goudenleague.be</a> noodzakelijk wordt geacht.</p>
      <p>Het is niet toegestaan om prijzen door te verkopen. Om die reden zal ook nooit de waarde van een gewonnen prijs gecommuniceerd worden.</p>
      <p>Minderjarigen kunnen enkel deelnemen mits akkoord van één van hun ouders of wettelijke voogd.</p>
      <p>De Gouden League behoudt zich het recht voor elke klacht of opmerking i.v.m. De Gouden League te onderzoeken zonder dat dit enige verplichting zou impliceren. Beslissingen in dit verband zijn niet aanvechtbaar en kunnen niet het voorwerp van verdere briefwisseling uitmaken. Over het verloop van de wedstrijd en de aanduiding van de winnaar wordt noch schriftelijk noch per telefoon overlegd.</p>
      <p>De Gouden League heeft het recht om ploegen te weigeren die niet stroken met de regels van het spel en/of reglement of die ingaan tegen de geest van het spel. In geval van misbruik, misleiding of bedrog (deelnames d.m.v. een script, fictieve personen, fictieve email adressen, &#8230;) behoudt de organisator zich het recht om deze deelnemer uit te sluiten van deze en andere wedstrijden.</p>
      <p>De Gouden League kan op elk ogenblik wijzigingen aanbrengen aan het reglement, hetzij door artikelen toe te voegen of te verwijderen, hetzij door wijzigingen aan te brengen in de tekst van de artikelen. De Gouden League zal niet verantwoordelijk kunnen worden gesteld voor de invloed die dergelijke beslissing heeft op het verloop van het spel of op de situatie van de deelnemers.</p>
      <p>De Gouden League kan op elk ogenblik de wedstrijd annuleren indien omstandigheden van buitengewone aard dat wenselijk of noodzakelijk maken.</p>
      <p>Personeelsleden van De Persgroep Publishing en haar dochterbedrijven kunnen niet aan deze wedstrijd deelnemen.</p>
      <p>De persoonsgegevens die de organisator verzamelt over de deelnemers of n.a.v. het feit van hun deelname, vallen onder toepassing van artikel 4 par.1 van de wet van 8 december 1992 m.b.t. de bescherming van de persoonlijke levenssfeer. De gegevens kunnen worden verwerkt voor de afhandeling van deze wedstrijd en voor direct marketing doeleinden, waartegen de deelnemers zich schriftelijk kunnen verzetten. Zij kunnen worden opgenomen in een lezersbestand dat aan derden kan overgemaakt worden. De deelnemers hebben vrije toegang tot deze gegevens om er zo nodig de verbetering van te vragen.</p>
      <p>Bij eventuele betwistingen zijn alleen de rechtbanken te Brussel bevoegd.</p>
      <p>Dit reglement vormt de enige geldige bron voor de regels van De Gouden League. Druk-, spel- en zetfouten of andere fouten van dergelijke aard kunnen niet ingeroepen worden als grond tot enigerlei verplichting vanwege Het Laatste Nieuws/De Nieuwe Gazet of <a href="http://www.goudenleague.be/">www.goudenleague.be</a>.</p>
      <p>De Gouden League wordt georganiseerd door de Persgroep Publishing, Brusselsesteenweg 347, 1730 Asse-Kobbegem.</p>
    </div>

    <div class="row pad" ng-if="$ctrl.isFrench">
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">DATES LIMITES INSCRIPTIONS (1IÈRE JOURNÉE)</p>
      <p>Pour participer dès la première journée, les équipes doivent être inscrites avant le 12 septembre 2017 à 20h45. Toutes les équipes doivent être payées dans les délais. Toute équipe inscrite une fois le délai écoulé ne marquera pas de points pour la première journée.</p>
      <p><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="https://leaguedor.7sur7.be">Inscrivez une nouvelle équipe</a></u></span></span></span></p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">PAIEMENT</p>
      <p>Le prix d&#8217;une participation au League d’or revient à € 7 pour 1 équipe, € 14 pour 2 équipes, € 21 pour 3 équipes, € 28 pour 4 équipes, etc. Le nombre d’équipes par personne est illimité.</p>
      <p>Les équipes peuvent être payées en ligne via Bancontact, CBC ou Belfius. Elles peuvent aussi être réglées à l’aide d’un virement. Si vous optez pour un &#8216;virement&#8217;, nous vous ferons parvenir un message et e-mail contenant les informations indispensables pour effectuer le paiement. Vos équipes seront immédiatement actives après paiement en ligne. Pour paiement par virement, votre paiement doit être reçu dans un délai de 5 jours, sinon vos équipes seront inactives.</p>
      <p>Des codes promotionnels peuvent donner droit à 1 équipe gratuite d&#8217;une valeur de 7 euros ou à un montant de réduction spécifique pour 1 équipe. Vous pouvez introduire ce code après la création de votre/vos équipe(s). Il sera intégré à ce qui est dû.</p>
      <p>Les participations fausses, incomplètes, frauduleuses ou non payées seront refusées. Le League d’or a le droit de refuser et/ou supprimer ces participations. La décision du League d’or est irrévocable.</p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">NOMS D&#8217;ÉQUIPE</p>
      <p>Le League d’or se réserve le droit de modifier les noms d’équipe inappropriés ou inconvenants.</p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">JOURNÉES</p>
      <p>Le League d’or comprend les journées de la Champions League. La première journée du League d’or sont les matches de 12 et 13 septembre. Vous trouverez un aperçu de toutes les journées du League d’or sous Journées.</p>
      <table width="742" cellspacing="0" cellpadding="11">
        <colgroup>
          <col width="129" />
          <col width="322" />
          <col width="101" />
          <col width="102" /> </colgroup>
        <tbody>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Journée</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>Matches</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>De</b></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><b>à</b></span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">1e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">12/sep</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">13/sep</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">2</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">2e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">26/sep</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">27/sep</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">3e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">17/oct</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">18/oct</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">4e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">31/oct</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1/nov</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">5e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">21/nov</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">22/nov</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">6e journée phase de groupes</span></span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5/dec</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6/dec</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">7</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"> <span style="font-family: Calibri, serif;">8es de finale</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">13/fev</span></span></p>
          </td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">14 mrs</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="129" height="17"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="322"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" rowspan="3" bgcolor="#ffffff" width="129" height="17">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">8</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Quarts de finale</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="101">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3/avr</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Demi-finales</span></span></p>
          </td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="101"></td>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="102"></td>
        </tr>
        <tr>
          <td style="background: #ffffff;" valign="bottom" bgcolor="#ffffff" width="322">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Finale</span></span></p>
          </td>
          <td style="background: #ffffff;" colspan="2" valign="bottom" bgcolor="#ffffff" width="225">
            <p align="center"><span style="color: #000000;"><span style="font-family: Calibri, serif;">26/mai</span></span></p>
          </td>
        </tr>
        </tbody>
      </table>
      <p lang="fr-FR">
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">LISTE DES JOUEURS</p>
      <p>Sur son site </span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="https://leaguedor.7sur7.be/" target="_blank" rel="noopener">www.Leaguedor.be</a></u></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR"> , le League d’or publie la liste des joueurs de toutes les équipes de la Champions League. Vous pouvez puiser dans cette liste pour composer votre/vos équipe(s). La liste des joueurs reprend entre autres l&#8217;identité des joueurs, leur valeur, l&#8217;équipe pour laquelle ils jouent et la catégorie dans laquelle ils sont repris. Les catégories sont &#8216;gardien&#8217;, &#8216;défenseur&#8217;, &#8216;médian&#8217; et &#8216;attaquant&#8217;. Notre site comprend aussi des renseignements détaillés sur chaque joueur.</p>
      <p>La liste sera remise à jour pendant la période des transferts hivernaux.</p>
      <p>Le League d’or n&#8217;entretiendra aucune correspondance au sujet de la composition de la liste des joueurs, ni au sujet de la catégorie ou de la valeur qui sont attribuées à un joueur. La liste des joueurs sera adapter le 31 janvier 2018.</p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">COMPOSITION D&#8217;ÉQUIPE</p>
      <p>Vous choisissez 11 titulaires et 4 remplaçants, qui ensemble ne valent pas plus de 275 millions. Vous ne pouvez pas sélectionner plus de 2 joueurs d&#8217;une même équipe et votre League d’or doit être constitué à partir d’un des dispositifs types.</p>
      <p>Il faut désigner 1 joueur dans votre onze de base qui officie comme capitaine de votre équipe. Ce capitaine peut être modifié à l&#8217;occasion de chaque journée.</p>
      <p>Le League d’or n&#8217;entretiendra aucune correspondance au sujet de la composition des équipes, ni au sujet des résultats de chaque journée du League d’or.</p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">CAPITAINE</p>
      <p>Au sein de votre onze de base, désignez un joueur officiant comme capitaine de l’équipe. Votre capitaine double ces points. Vous pouvez changer de capitaine à l’occasion de chaque journée.</p>
      <p>Si vous voulez transférer le joueur que vous avez fait capitaine, choisissez d&#8217;abord un nouveau capitaine.</p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">TRANSFERTS</p>
      <p>Avec les joueurs qui se trouvent sur le banc, vous pouvez continuellement procéder à des remplacements avant chaque journée (jusque tout juste avant l’heure limite de la journée). De plus vous avez droit à 5 transferts par équipe pendant le jeu.</p>
      <p>Chaque transfert entre en vigueur à partir de la journée suivante. Vous pouvez effectuer plusieurs transferts en série. Après chaque transfert l&#8217;équipe doit continuer à répondre aux règles de base.</p>
      <p>Lors de chaque transfert valide, le participant peut changer de dispositif. En d’autres termes, ayant effectué un transfert, le participant peut par exemple passer d&#8217;un dispositif 4-4-2 à une occupation 5-3-2.</p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">MARQUER DES POINTS</p>
      <p>Les joueurs de votre équipe marquent des points sur base de leurs performances pendant les rencontres de la Champions League, selon les règles ci-dessous :</p>
      <table width="911" cellspacing="0" cellpadding="11">
        <colgroup>
          <col width="804" />
          <col width="62" /> </colgroup>
        <tbody>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Action</b></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62"><span style="font-family: Arial, serif;"><span style="font-size: small;"><b>Points</b></td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Capitaine double ces points</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62"><span style="color: #000000;"><span style="font-family: Calibri, serif;">X2</td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">60 minutes joué</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Plus que 60 minutes joué</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">2</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">But d&#8217;un gardien</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">But d&#8217;un defenseur</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">6</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">But d&#8217;un milieu</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">5</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">But d&#8217;un attaquant</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Assist</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">3</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">Clean sheet gardiens &amp; défenseurs (min. 60 minutes joué)</span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">4</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;"><span lang="fr-FR">But d&#8217;un milieu (min. 60 minutes joué)</span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">1</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Point négatif pour des gardiens et défenseurs pour chaque but contre</span></td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">-1</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Carton jaune</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">-1</span></span></p>
          </td>
        </tr>
        <tr valign="bottom">
          <td style="background: #ffffff;" bgcolor="#ffffff" width="804" height="9"><span style="color: #000000;"><span style="font-family: Calibri, serif;">Carton rouge</td>
          <td style="background: #ffffff;" bgcolor="#ffffff" width="62">
            <p align="right"><span style="color: #000000;"><span style="font-family: Calibri, serif;">-3</span></span></p>
          </td>
        </tr>
        </tbody>
      </table>
      <p lang="fr-FR">
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">SUPER DIVISION</p>
      <p>Une super division est un classement séparé pour lequel vous pouvez vous inscrire avec vos amis, proches, collègues ou voisins. En vous inscrivant dans une telle super division, vous pourrez toujours voir en un clin lesquelles de vos équipes marquent le plus de points dans la compétition du League d’or. Pour créer une super division, il suffit de réunir au moins 5 personnes différentes, chacune avec au moins 1 équipe valide, qui soient prêtes à jouer ensemble dans une compétition domestique.</p>
      <p>Un classement séparé est prévu pour les super divisions. Chaque participant continue à concourir séparément pour &#8216;Le League d’or&#8217; et ne perd donc aucune chance de gain individuelle. Au contraire, il ou elle obtient une chance de gain supplémentaire (avec les autres membres de sa super division) sans devoir payer plus. La super division qui l&#8217;emporte à la fin de la saison, reçoit € 250. </p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">GAGNANTS</p>
      <p>Sur base des points récoltés par les joueurs lors de la journée écoulée, le site Web publie les meilleurs scores de la journée. Le participant avec le meilleur score est proclamé vainqueur du jour. Pour le classement final, les scores par journée sont additionnés pour fixer le score final du participant. Ce score détermine donc le classement final.</p>
      <p>Si après la publication d&#8217;un classement il s&#8217;avère qu&#8217;un nouveau calcul s&#8217;impose (pour quelque raison que ce soit), et qu&#8217;après le recalcul il ressort que des participants ayant déjà été publiés en ligne en tant que gagnants d&#8217;un prix ne sont finalement pas les gagnants légitimes, ceux-ci ne pourront pas revendiquer de prix.</p>
      <p><span><span><span style="font-size: large;"><span lang="fr-FR">VAINQUEURS DU JOUR</p>
      <p>Le participant avec le meilleur score pour une journée est proclamé vainqueur du jour.</p>
      <p>En cas d&#8217;ex aequo, le vainqueur du jour sera celui ou celle qui aura dépensé le moins de millions pour son équipe. S&#8217;il reste encore des ex aequo, on prend la date et l&#8217;heure d&#8217;inscription de l&#8217;équipe (Priorité pour l&#8217;équipe qui a été inscrit le premier). Si un ex aequo subsiste, un tirage au sort décidera du nom du vainqueur.</p>
      <p>Les prix attribués au vainqueur du jour et aux autres gagnants de la journée sont déterminés par le service de promotion de 7sur7.be et peuvent varier de jour en jour.</p>
      <p>Un participant ne peut toujours remporter qu’un seul prix par journée, à savoir le plus précieux. En aucun cas, un participant ne pourra revendiquer la victoire du jour et les prix qui y sont associés s&#8217;il n’a pas immédiatement effectué le paiement pour toutes ses équipes.</p>
      <p><span><span><span style="font-size: large;"><span lang="fr-FR">VAINQUEURS FINAUX</p>
      <p>Le participant ayant remporté le plus de points à la fin du League d’or sera proclamé grand vainqueur.</p>
      <p>En cas d&#8217;ex aequo, le vainqueur final sera celui ou celle qui aura dépensé le moins de millions pour son équipe. S&#8217;il reste encore des ex aequo, on prend la date et l&#8217;heure d&#8217;inscription de l&#8217;équipe (Priorité pour l&#8217;équipe qui a été inscrit le premier). Si un ex aequo subsiste, un tirage au sort décidera du nom du vainqueur.</p>
      <p>Le prix qui sera remis au grand vainqueur s&#8217;élève à 5.000 euros. Si le gagnant est mineur, il devra se présenter à la remise des prix en compagnie d’un parent ou d&#8217;un tuteur.</p>
      <p>Les prix octroyés au grand vainqueur et aux autres gagnants du classement final sont déterminés par le service de promotion de 7sur7.be. Un participant ne peut toujours gagner qu&#8217;un seul prix, le plus précieux, mis en jeu pour le classement final. En aucun cas, un participant ne pourra revendiquer la victoire finale et les prix qui y sont associés s’il n’a pas immédiatement effectué le paiement pour toutes ses équipes.</p>
      <p><span><span><span style="font-size: large;"><span lang="fr-FR">CHAMPIONS DE PÉRIODE</p>
      <p>Le participant avec le nombre de points le plus élevé pour la tranche en question est proclamé champion de période. Il s&#8217;agit donc des équipes ayant enregistré les meilleurs scores pour les périodes suivantes : phase de groupes (journée 1 à 6) et phase knock-out (journée 7 &amp; 8)</p>
      <p>En cas d&#8217;ex aequo, le vainqueur périodique sera celui ou celle qui aura dépensé le moins de millions pour son équipe. S&#8217;il reste encore des ex aequo, on prend la date et l&#8217;heure d&#8217;inscription de l&#8217;équipe (Priorité pour l&#8217;équipe qui a été inscrit le premier). Si un ex aequo subsiste, un tirage au sort décidera du nom du vainqueur.</p>
      <p>Le prix octroyé au vainqueur d’une tranche est déterminé par le service de promotion de 7sur7.be et peut varier de période en période. En aucun cas, un participant ne pourra revendiquer le prix périodique s&#8217;il n’a pas immédiatement effectué le paiement pour toutes ses équipes.</p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">PRIX</p>
      <p>Quiconque gagne plus d&#8217;une fois avec différentes équipes dans le cadre de la compétition, que ce soit lors d’une seule journée ou dans le classement final, ne pourra revendiquer que le prix &#8216;le plus important&#8217; ou &#8216;le plus précieux&#8217;.</p>
      <p>C&#8217;est interdit de vendre vos prix gagnés. C&#8217;est pourquoi que nous ne communiçons jamais les valeurs des prix.</p>
      <p>Les prix qui, par conséquent, ne sont éventuellement pas attribuables, seront offerts au participant qui termine deuxième. Les prix ne peuvent pas être échangés, ni convertis en espèces.</p>
      <p>Les prix octroyés aux gagnants sont déterminés par le service de promotion de 7sur7.be et peuvent varier de journée en journée.</p>
      <p>Les prix ne sont pas convertibles en espèces, partiellement non plus, en ne sont pas transférables à des tiers.</p>
      <p>Les prix sont envoyés à l&#8217;issue d’une ou de plusieurs journées ou doivent être enlevés lors de la remise des prix à l&#8217;issue du jeu. Les prix ne sont pas envoyés à l’étranger. Quiconque participe depuis l’étranger fait bien de transmettre une adresse pour envoi en Belgique ou de retirer le(s) prix chez De Persgroep Publishing.</p>
      <p><span><span><span style="font-size: x-large;"><span lang="fr-FR">GÉNÉRAL</p>
      <p>En participant, vous acceptez que l&#8217;on publie vos nom, photos et données d&#8217;équipe dans Het Laatste Nieuws/De Nieuwe Gazet et sur www.Leaguedor.be, pour autant que cela soit jugé nécessaire pour le jeu et/ou pour les articles ou reportages qui y sont consacrés par Het Laatste Nieuws/De Nieuwe Gazet et </span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="https://leaguedor.7sur7.be/" target="_blank" rel="noopener">www.Leaguedor.be</a></u></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">.</p>
      <p>C&#8217;est interdit de vendre vos prix gagnés. C&#8217;est pourquoi que nous ne communiçons pas les valeurs des prix.</p>
      <p>Les mineurs ne peuvent participer qu&#8217;avec le consentement d&#8217;un de leurs parents ou de leur tuteur légal.</p>
      <p>Le League d’or se réserve le droit d&#8217;étudier chaque plainte ou remarque concernant &#8216;Le League d’or&#8217; sans que cela n&#8217;implique la moindre obligation. Les décisions en la matière ne sont pas susceptibles d’appel et ne peuvent pas faire l&#8217;objet d’une correspondance ultérieure. Au sujet du déroulement du concours et de la désignation du vainqueur, aucune délibération n&#8217;aura lieu par écrit ni par téléphone.</p>
      <p>Le League d’or a le droit de refuser des équipes qui ne cadrent pas avec les règles du jeu et/ou du règlement ou qui s&#8217;opposent à l&#8217;esprit du jeu. En cas d’abus, de mystification ou de tromperie (participation à l&#8217;aide d&#8217;un script, personnes fictives, adresses e-mail fictives, etc.), l&#8217;organisateur se réserve le droit d’exclure le participant en question du présent concours comme de tout autre concours.</p>
      <p>À tout moment, Le League d’or peut apporter des modifications au règlement, soit en y ajoutant ou en supprimant des articles, soit en apportant des modifications dans le texte des articles. Le League d’or ne pourra être tenu responsable de l’impact qu’une telle décision aura sur le déroulement du jeu ou la situation des participants.</p>
      <p>Le League d’or peut annuler le concours à tout moment si des circonstances exceptionnelles l&#8217;exigent ou le rendent souhaitable.</p>
      <p>Les membres du personnel de De Persgroep Publishing et de ses filiales ne peuvent pas participer au concours.</p>
      <p>Les données personnelles collectées par l&#8217;organisateur au sujet des participants ou à l&#8217;occasion de leur participation tombent sous l&#8217;application de l&#8217;article 4 par. 1 de la loi du 8 décembre 1992 portant sur la protection de la vie privée. Ces informations peuvent être traitées dans le cadre du suivi du présent concours et à des fins marketing, les participants pouvant s&#8217;y opposer par écrit. Elles peuvent être intégrées dans un fichier lecteurs qui peut être transmis à des tiers. Les participants ont librement accès à ces données pour demander, le cas échéant, qu&#8217;elles soient corrigées.</p>
      <p>En cas de contestations éventuelles, les tribunaux de Bruxelles sont seuls compétents.</p>
      <p><a name="_GoBack"></a> <span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">Ce règlement constitue la seule source valide pour les règles du &#8216;League d’or&#8217;. Les fautes d’impression, d’orthographe, coquilles et autres fautes de ce type ne peuvent être invoquées comme cause de quelque obligation que ce soit dans le chef de Het Laatste Nieuws/De Nieuwe Gazet ou de </span></span></span></span><span><span style="font-size: small;"><span lang="fr-FR"><u><a href="https://leaguedor.7sur7.be/" target="_blank" rel="noopener">www.Leaguedor.be</a></u></span></span></span><span><span style="font-family: Arial, serif;"><span style="font-size: small;"><span lang="fr-FR">.</p>
      <p>&#8216;Le League d’or&#8217; est organisé par De Persgroep Publishing, Brusselsesteenweg 347, 1730 Asse-Kobbegem.</p>
    </div>

  </div>
</div>
