// CSS RESET
// ----------------------------------------------------

html { height: 100%; -webkit-text-size-adjust: 100%; } // fix device orientation zoom bug
body, form, ol, ul, li, dl, dt, dd, td, th, tr, fieldset { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0 0 1em 0; padding: 0; }
ul { list-style: none; }
ol { margin-bottom: 1em; }
ol > li { margin-left: 2em; }
img, fieldset { border: 0; -ms-interpolation-mode: bicubic; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size: 100%; }
th { text-align: center; }
tbody th { text-align: left; }
a:hover, a:active { outline: 0; } // Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test
input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }
header,footer,section,nav,aside,article,figure,figcaption {display: block;} // HTML5 SHIZZLEZ

*
	box-sizing border-box