@font-face
	font-family "icons"
	src url('fonts/icons.eot')
	src url('fonts/icons.eot?#iefix') format('eot'), url('fonts/icons.woff') format('woff'), url('fonts/icons.ttf') format('truetype')
	font-weight normal
	font-style normal

.icon:before
	font-family icons
	font-weight normal
	font-style normal
	display inline-block
	-webkit-font-smoothing antialiased

.icon-team:before { content: "\EA01" }
.icon-guide:before { content: "\EA02" }
.icon-league:before { content: "\EA03" }
.icon-logo:before { content: "\EA04" }
.icon-transfer:before { content: "\EA05" }
.icon-add:before { content: "\EA06" }
.icon-chat:before { content: "\EA07" }
.icon-time:before { content: "\EA08" }
.icon-status-warning:before { content: "\EA09" }
.icon-status-check:before { content: "\EA0A" }
.icon-prev:before { content: "\EA0B" }
.icon-next:before { content: "\EA0C" }
.icon-menu:before { content: "\EA0D" }
.icon-logo-word:before { content: "\EA0E" }
.icon-starred:before { content: "\EA0F" }
.icon-star:before { content: "\EA10" }
.icon-drag:before { content: "\EA11" }
.icon-ball:before { content: "\EA12" }
.icon-select:before { content: "\EA13" }
.icon-checkbox:before { content: "\EA14" }
.icon-logo-telenet:before { content: "\EA15" }
.icon-game-daily:before { content: "\EA16" }
.icon-game-budget:before { content: "\EA17" }
.icon-game-draft:before { content: "\EA18" }
.icon-drag-drop:before { content: "\EA19" }
.icon-card:before { content: "\EA1A" }
.icon-cyclist:before { content: "\EA20" }
.icon-shoe:before { content: "\EA21" }
.icon-goal:before { content: "\EA22" }
.icon-log-out:before { content: "\EA23" }
.icon-trophy:before { content: "\EA24" }
.icon-shield:before { content: "\EA25" }
.icon-giro:before { content: "\EA26" }
.icon-flat:before { content: "\EA27" }
.icon-hills:before { content: "\EA28" }
.icon-mountains:before { content: "\EA29" }