// FUNCTIONS
// ----------------------------------------------------

black(opacity)
	rgba(0,0,0,opacity)

white(opacity)
	rgba(255,255,255,opacity)

em(px, context = 16)
	round((px / context) * 1em, 5)

rem(px, context = 16)
	round((px / context) * 1rem, 5)


// MIXINS
// ----------------------------------------------------

box-shadow()
	-webkit-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

appearance()
	-webkit-appearance arguments
	appearance arguments

display(value)
	if value is 'flexbox'
		display -webkit-box //- OLD - iOS >=6, Safari >=6, Android >=4.3
		display -webkit-flex //- NEW
		display flex
	else
		display value

flex()
	-webkit-flex arguments
	flex arguments

flex-basis()
	-webkit-flex-basis arguments
	flex-basis arguments

flex-grow()
	-webkit-flex-grow arguments
	flex-grow arguments

flex-shrink()
	-webkit-flex-shrink arguments
	flex-shrink arguments

flex-wrap()
	-webkit-flex-wrap arguments
	flex-wrap arguments

flex-direction()
	-webkit-flex-direction arguments
	flex-direction arguments

order()
	-webkit-order arguments
	order arguments

justify-content()
	-webkit-justify-content arguments
	justify-content arguments

align-items()
	-webkit-box-align arguments
	-moz-box-align arguments
	-webkit-align-items arguments
	align-items arguments


user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	transform arguments

transition()
	-webkit-transition arguments
	transition arguments

transform-animation()
	-webkit-transform arguments
	transform arguments

transform-origin()
	-webkit-transform-origin arguments
	transform-origin arguments

transform-style()
	-webkit-transform-style arguments
	transform-style arguments

animation()
	-webkit-animation arguments
	animation arguments

perspective()
	-webkit-perspective arguments
	perspective arguments

perspective-origin()
	-webkit-perspective-origin arguments
	perspective-origin arguments

backface-visibility()
	-webkit-backface-visibility arguments
	backface-visibility arguments

background-clip()
	-webkit-background-clip arguments
	background-clip arguments

gradient(startColor, endColor, direction = top)
	background startColor
	background -webkit-linear-gradient(direction, startColor, endColor)
	background linear-gradient(to opposite-position(direction), startColor, endColor)

columns()
	-webkit-columns arguments
	-moz-columns arguments
	columns arguments

column-count()
	-webkit-column-count arguments
	-moz-column-count arguments
	column-count arguments

placeholder()
	&::-webkit-input-placeholder
		color arguments
	&:-moz-placeholder
		color arguments
	&::-moz-placeholder
		color arguments
	&:-ms-input-placeholder
		color arguments

hyphens()
	-webkit-hyphens arguments
	-moz-hyphens arguments
	hyphens arguments

cssfilter()
	-webkit-filter arguments
	filter arguments



// COMMON CLASSES
// ----------------------------------------------------

cf()
	&:before
	&:after
		display table
		content ""
	&:after
		clear both

ellips()
	overflow hidden
	white-space nowrap
	text-overflow ellipsis

icon()
	font-family icons
	font-weight normal
	font-style normal
	-webkit-font-smoothing antialiased
