// FanArena prototype
// Browser support: Chrome, Firefox, Safari, Edge, iOS Safari, Android Chrome, IE11+, Android 4.4+

// CONFIG
// ----------------------------------------------------

$clr-text = #fff
$clr-primary = #009fe3//#e52e0a //#e95687 //#00FE82
$clr-primary-contrast = #fff
$clr-secondary = #f5b410 //#C4B17A //#fffe6e
$clr-secondary-contrast = #fff
$clr-contrast = #222A33 /* #38003D */
$clr-bg = $clr-contrast
$clr-link = $clr-primary
$clr-destructive = #fb2e2c

$clr-gk = #4ab969
$clr-def = #2cb3c7
$clr-mf = #ffc333
$clr-fwd = #fb6b5b

$sidebar-width = 260px


/* BREAKPOINTS */
mobile-small = "(max-width: 359px)"
mobile = "(max-width: 479px)"
mobile-landscape = "(max-width: 599px)"
tablet-mini = "(max-width: 767px)"
$tablet-mini = "(max-width: 767px)"
tablet-portrait = "(max-width: 1023px)"
$tablet-portrait = "(max-width: 1023px)"
tablet = "(max-width: 1199px)"
large = "(min-width: 1500px)"

$layout-mobile = "(max-width: 599px)"
$layout-sidebar = "(min-width: 1024px)"
$layout-columns = "(min-width: 720px)"
$layout-wide = "(min-width: 1200px)"


/* IMPORTS */
@import "bootstrap.css"
@import "spinners.css"
@import "_core"
@import "_mixins"
@import "_icons"
@import "objects/_media"

.icon
	display inline-block


// TYPOGRAPHY
// ----------------------------------------------------

body
	font 16px/1 Roboto, sans-serif

.main-sidebar .league
.main-navbar .team
.player-list .position
.new-game-join-table .competition
	font-family Roboto Condensed, sans-serif
	text-transform uppercase

.lineup-grid .name
.match-item .match-score
	font-family 'Roboto', sans-serif
	font-style normal
	font-weight bold


// BASICS
// ----------------------------------------------------

body
html
	font 16px/1 Roboto, sans-serif
	-ms-overflow-style -ms-autohiding-scrollbar
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	color $clr-text
	background $clr-bg

p
	line-height 1.4

a
	&
	&:hover
	&:active
	&:focus
		color $clr-link
		text-decoration none

h2
	font-size 1.5em
	margin 0 0 .8em
	line-height 1.1

body.no-scroll
	overflow hidden

.backdrop
	display none
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background-color rgba(0,0,0,0.6)
	z-index 9999999
	cursor pointer

	&.show
		display block

.sidebar-backdrop
	&.has-menu
		display block

#loading-bar
	.bar
		z-index 999999


// LAYOUT
// ----------------------------------------------------

.main-wrapper
	&.public
		.main-navbar
			display none

		.main-sidebar
			@media $layout-sidebar
				display none

		.main-content
			margin-left 0

		.layout
			padding 0 !important
			margin 0px auto

.main-sidebar
	position absolute
	top 0
	bottom 0
	width $sidebar-width
	overflow-y auto
	transition all .5s ease
	transform translateX(-100%)

	.has-menu &
		transform translateX(0)
		box-shadow 5px 0 10px black(.3)

@media $tablet-portrait
	.main-sidebar
		z-index: 99999999

	#header > div:not(.public), #footer
		display none

.main-navbar
	position fixed
	z-index 50
	top 0
	left 0
	right 0

.main-content
	margin-top em(44)

	&.static
		h2
			margin 1.5em 0 1em 0

	@media $layout-mobile
		.has-subnav &
			margin-top em(88)

.block
	max-width 32em
	margin 0 auto 1em
	background white(.05)

.pad
	padding 1em

.layout-center
	.block
		float none
		max-width 32em
		margin 0 auto 1em


@media $layout-columns
	.layout
		padding 40px 0 0 1em
		max-width 80em
		overflow hidden

	.layout-center
		max-width none
		padding 1em

	.block
		float left
		max-width none
		margin 0 1em 1em 0
		background white(.05)
		width calc(50% - 1em)

	.full
		width calc(100% - 1em)


@media $layout-sidebar
	.main-wrapper
		position relative

	.main-sidebar
		transform translateX(0)

		.logo
			display none

	.main-navbar
		display none

	.main-content
	.has-subnav .main-content
		margin-top 0
		margin-left $sidebar-width

	.layout
		padding-top 40px


@media $layout-wide
	.layout
		padding 40px 0 0 1.5em

	.layout-center
		padding 1.5em

	.block
		margin 0 1.5em 1.5em 0
		width calc(50% - 1.5em)

	.full
		width calc(100% - 1.5em)

@media $layout-mobile
	.layout
		padding-top 40px

	.subnav-tab:not(.active)
		display none



// SIDEBAR
// ----------------------------------------------------
.main-sidebar
	//background rgba(255,255,255,.1) //darken(#222A33, 2)
	font-size 18px
	display flexbox
	flex-direction column

	.logo
		font-size 26px
		padding .5em .4em

		&:hover
			background $clr-primary
			color $clr-contrast


.sidebar-nav-top
	flex-grow 1

.sidebar-nav-bottom
	margin 0 0 1em

.sidebar-nav
	a
		display flexbox
		flex-direction column
		justify-content center
		height em(48, 18)
		color #fff
		padding 0 0 0 em(56,18)
		position relative

		&:hover
			background white(.05)

		&.active
			background $clr-primary
			color $clr-primary-contrast

	.icon
		position absolute
		left .6em
		top 50%
		transform translateY(-50%)
		font-size em(24,18)
		img
			max-height 100%
			max-width 32px

	.label
		ellips()

	.sidebar-teams
		background black(.15)
		padding .2em 0 .4em

	.team
		ellips()
		margin 0 0 .2em

	.league
		ellips()
		font-size em(12,18)
		color white(.4)

		span
			color white(1)
			margin-right .25em

	.sidebar-subnav
		padding-bottom .4em

		a
			font-size 16px
			height em(42)
			padding-left em(92)

		.icon
			font-size em(24)
			left em(56,24)

	.avatar
		position absolute
		left .6em
		top 50%
		transform translateY(-50%)
		font-size em(24,18)
		width 1em
		height 1em
		border-radius 99px

	.new-game
		margin .5em 0
		color $clr-secondary

		&:hover
			background $clr-secondary
			color $clr-secondary-contrast



.user-profile
	.avatar
		img
			font-size em(24,18)
			width 100px
			height 100px
			border-radius 99px
			margin:0 auto
			display block;

		.profile-file-input
			position absolute
			top 0
			right 0
			min-width 100%
			min-height 100%
			text-align right
			opacity 0
			outline none
			background white
			cursor inherit
			display block

		button
			margin auto
			display block

// NAVBAR
// ----------------------------------------------------

.main-navbar
	background $clr-primary
	color $clr-contrast
	height em(44)

	.content
		display flexbox
		align-items center

	.menu-button
		font-size 20px
		color $clr-contrast
		padding 12px

	.team
		font-size .7em
		margin 0 0 .2em
		color rgba(#222A33, .5)

	@media $layout-mobile
			   .has-subnav &
				   height em(88)

	.subnav
		display none

		@media $layout-mobile
			display flexbox

		a
			flex-grow 1
			text-align center
			text-transform uppercase
			font-weight 500
			font-size em(10)
			height em(44, 10)
			padding 1.8em 0 0
			color $clr-contrast

			&:hover
				box-shadow inset 0 -3px 0 black(.2)

			&.active
				box-shadow inset 0 -3px 0 $clr-secondary



// CHAT
// ----------------------------------------------------

a.chat-toggle
	display none
	position fixed
	z-index 200
	color $clr-contrast
	font-size 24px
	right .5em
	top .37em

	@media $layout-sidebar
		background $clr-primary
		border-radius 100%
		padding .5em
		top auto
		bottom 1em
		right 1em

// TOP BAR
// ----------------------------------------------------
.top-bar
	&.onboarding
		background-color transparent

	.breadcrumbs
		list-style none
		display flex
		background-color rgba(255,255,255,0.05)

	.item
		position relative
		flex-grow 1
		padding 1.05em 1em 0.95em 1em
		vertical-align middle
		color #ccc
		height 48px
		text-align center

		@media $layout-mobile
			padding 0.9em 1em 0.75em 1em
			height 40px

		&.active
			background-color $clr-primary !important
			color black

		&:nth-child(2)
			background-color rgba(255,255,255,0.05)

			&:before
				border-top-color #363e46
				border-bottom-color #363e46
			&:after
				border-left-color #363e46

		&:after
			content: ""
			border-top 24px solid transparent
			border-bottom 24px solid transparent
			border-left 14px solid #2c343d
			position absolute
			right -7px
			top 0
			z-index: 1

		&:before
			content: ""
			border-top 24px solid #2c343d
			border-bottom 24px solid #2c343d
			border-left 14px solid transparent
			position absolute
			left -7px
			top 0
			z-index: 1

		@media $layout-mobile
			&:after, &:before
				border-top-width 20px
				border-bottom-width 20px

		&.active:before
			border-top-color $clr-primary
			border-bottom-color $clr-primary
		&.active:after
			border-left-color $clr-primary

		&:first-child:before, &:last-child:after
			display none

		i
			font-size 1.2em
			margin-top -.2em
			position static

		span
			display none
			line-height 100%

		@media $layout-columns
			padding-left 4em
			text-align left

			span
				display inline
			i
				position absolute
				left 1em
				top 17px
				font-size 1.5em

	.drafting
		.next-pick
			font-weight bold
			color $clr-primary

	ul.checklist
		position relative
		padding 1em 1.5em
		background-color rgba(255,255,255,0.2)
		margin-top 1em

		&:before
			content ''
			display block
			position absolute
			top -12px
			left 15%
			width 0
			height 0
			border-style solid
			border-width 0 15px 12px 15px
			border-color transparent transparent rgba(255,255,255,0.2) transparent

		&.second-step:before
			left 48%
		&.third-step:before
			left 80%

		li
			position relative
			margin 0.25em 0em
			padding-left 1.5em
			line-height 110%

			&.info
				padding-left 0

			span.right
				float right

			span.clr-secondary
				color $clr-secondary
				font-weight bold

			&:not(.info):before
				position absolute
				left 0
				top 0%
				font-family FontAwesome
				content '\f10c'

			&.checked
				text-decoration line-through

				&:before
					content '\f05d'

			&:last-child
				margin-bottom 0
			&:first-child
				margin-top 0

	.pad
		text-align center

.fixture__link
	padding 0 10px
	padding-left 0

	span
		display inline-block
		vertical-align middle

.fixture__away
.fixture__home
	max-width: calc(50% - 100px);
	display: inline-block;
	vertical-align: middle;
	ellips()

	@media $layout-mobile
		max-width 100%

@media $layout-mobile
	.o-media__body
		padding-top 0.5em
		text-align center !important

// FORMS
// ----------------------------------------------------

input
textarea
button
select
	font inherit
	color inherit
	vertical-align middle

textarea
	max-width 100%

select
	-moz-appearance none /* remove FF dropdown arrow */

	&::-ms-expand
		display none /* remove ie10 dropdown arrow */

label
	margin 0

.input
.select select
	border 0
	margin 0
	padding .2em 0
	appearance none
	background none
	color $clr-text
	border-radius 0
	line-height 1.4 /* sensible cross-browser default */
	font-size 1em

.select
.select select
	display inline-block
	background none
	appearance none

.select
	position relative
	border 1px solid #999

	select
		border 0
		margin 0
		padding-left 1.3em
		width 100%

		option
			color $clr-contrast /* needed for windows dropdown */


	&:after
		content "\EA13"
		font-family icons
		position absolute
		top 50%
		left 0
		transform translateY(-50%)
		pointer-events none

.checkbox
.radio
	appearance none
	width 1em
	height 1em
	margin 0 .3em 0 0
	background none
	color $clr-link
	vertical-align -.2em
	border 2px solid
	cursor pointer
	position relative

	label
		color white !important

	&:checked
		color $clr-contrast
		background $clr-link
		border none

		&:before
			content "\EA14"
			font-family icons
			position absolute
			top .05em
			left 0
			pointer-events none

.radio
	border-radius 100%



/* BUTTONS */

.btn
	background $clr-secondary
	color $clr-secondary-contrast
	border-color transparent
	font-size 1em

	&.btn-primary
		background $clr-primary
		color $clr-primary-contrast

	&:hover
	&:active
	&:focus
		background #fff
		color $clr-contrast

	&.btn-danger
		background red
		color white

		&:hover
			background darken(red, 10%)

	&.btn-pick
		margin-right 1em


/* FORM LAYOUT */

.form-group
	margin 0 0 3em

	&.no-margin
		margin 0

.form-control
	margin .2em 0 .4em
	box-shadow 0 1px 0 rgba(255,255,255,0.2)

	&:focus
		background none
		box-shadow 0 1px 0 $clr-link
		color #fff

	&:disabled
		background-color transparent

.form-text
	margin .8em 0 2em
	font-size .8em

.form-check
	margin 1em 0

	label
		padding 0

// BUDGET
// ----------------------------------------------------
.budget-header
	display flex

	.col
		flex-grow 1
		text-align center
		padding 1.25em 0
		font-size 1em
		background rgba(255,255,255,0.1);

		small
			display block
			color white
			padding-bottom 0.4em
			font-size 0.75em
			text-transform uppercase
			font-weight 500

		span
			color $clr-secondary
			font-size 1.5em

.budget-lineup
	.player-avatar:after
		content: '?'
		padding-top 40%
		color white
		font-weight bold

.budget-add-players
	.select
		flex-basis 33%

	.btn
		margin-right 1em

	.status
		padding: 0em 0 1.2em 0
		margin: 0
		font-size: 0.75em
		font-weight: bold
		text-transform: uppercase
		color: #00fe82


// NEWS
// ----------------------------------------------------
.news-card
	width percentage(1/3)
	float left
	padding 0.5em 0.5em

	@media $tablet-portrait
		width 100%

	img
		max-width 100%

	a
		position relative
		display block

		.news-description
			position absolute
			bottom 0
			left 0
			right 0
			font-size 0.8em
			line-height 1.2
			color white
			font-weight bold
			padding 0.5em
			background-color rgba(0,0,0,0.8)

		&:hover
			.news-description
				color $clr-primary


// CALENDAR
// ----------------------------------------------------
.calendar
	.pad.bg
		background-color #202020


// COMMON ELEMENTS
// ----------------------------------------------------

.hide
	display none

.block-title
	text-transform uppercase
	font-weight 500
	font-size em(12)
	padding 1em em(16,12)
	background white(.2)
	color #fff
	display block
	font-family "Oswald" //todo de persgroep
	//display none /*uncomment when tabs are ready*/

	//@media $layout-sidebar
	//	display block


.info-text
	font-size .9em
	text-align center

	.icon
		font-size 5em
		margin .25em 0

	p
		text-align left

.zebra
	> :nth-child(odd)
		background white(.06)

.table
	th
	td
		text-align left
		padding .75em 1em
		border 0

		&:last-child
			text-align right

	thead
		th
			border 0
			background black(.4)

// Pagination
.pagination
	min-width 100%
	background-color rgba(0,0,0,0.2)
	text-align center
	padding 10px 0

	li
		&.active
			a
				color white

dir-pagination-controls
	display block
	margin 1rem 0
	padding 10px 0
	background-color rgba(0,0,0,0.2)

	ul.pagination
		padding 0
		margin 0
		background-color transparent

ul[uib-pagination], ul.pagination
	list-style none

ul[uib-pagination] li, ul.pagination li
	display inline
	padding 5px 10px


.text-align-center
	text-align center;

ul.tab-select
	display flex

	li
		flex-grow 1
		color white
		background-color rgba(255,255,255,0.05)

		&.active
			background-color $clr-primary

			a
				color black

		a
			display block
			padding 0.5em 1em
			text-align center
			color white

.tab-select-generic
	.tab-select-item
		margin: 0 10px
		border: 1px solid $clr-primary
		color white
		background-color rgba(255,255,255,0.05)
		max-width 300px
		border-radius: 10px;

		.game-mode-image
			img
				border-radius: 10px;
				width 100%
				height auto

		&.active
			background-color $clr-primary
			border: 2px solid $clr-primary

			.pad
				color black

			a
				color black

		a
			display block
			padding 0.5em 1em
			text-align center
			color white

.new-game-navigation-bar
	.back-button
		&:hover
			cursor pointer

.radio-list-item
	padding 10px;
	label
		.icon
			margin-left 10px
			img
				width 25px;
				height auto;

/* TIME PAGER */
.time-pager
	display flexbox
	align-items center

	.prev
	.next
		margin 1em
		height 2em
		width 2em
		text-align center
		padding .5em 0 0
		border 1px solid white(.3)
		color #fff
		border-radius 100%
		font-size .8em

		&:hover
			background white(.3)

		&[disabled]
			opacity 0.5
			pointer-events none

			&:hover
				background transparent

	.label
		flex-grow 1
		text-transform uppercase
		text-align center

	.select
		select
			max-width 120px
			padding-left 20px

			option
				text-align center

		&:after
			left 0



/* PLAYER AVATARS */
.blanko
	display inline-block
	position: absolute
	z-index 60
	width 35%
	bottom 0
	right -20%
	border-radius 40px
	height 40%
	font-size 0.8em
	padding-top 8px
	font-weight bolder
	left 5px
	top 5px

.blanko-white
	background white
	color black
.blanko-orange
	background orange
	color black
.blanko-green
	background green
	color white

.player-avatar
	display inline-block
	position relative
	width em(40)

	&:before
		content ""
		display block
		padding-top 100%

	&:after
		content ""
		position absolute
		z-index 0
		top -6%
		bottom 0
		left -3%
		right -3%
		border-radius 100%

	&.player-cyclist
		&.empty
			img.jersey
				display: none;

	&.player-gk:after
		background $clr-gk

	&.player-def:after
		background $clr-def

	&.player-mf:after
		background $clr-mf

	&.player-fwd:after
		background $clr-fwd

	.jersey
		position absolute
		z-index 20
		bottom 0
		left 0
		width 100%

	.portrait
		position absolute
		z-index 10
		top 0
		left 0
		max-width 100%
		width 250px
		height 250px
		max-height 100%

	.club
		position absolute
		z-index 30
		width 40%
		bottom 0
		left -20%

	.status
		position absolute
		z-index 40
		top 0
		right -.5em
		font-size 14px
		width 1em
		height 1em
		background $clr-primary
		color #fff
		border-radius 100%

		&.warning
			background $clr-destructive

	.points
		position: absolute
		z-index 30
		width 40%
		bottom 0
		right -20%
		background #00fe82
		border-radius 40px
		height 40%
		font-size 0.8em
		padding-top 5px
		font-weight bolder
		color black

	.points-captain
		background $clr-secondary
		position: absolute
		z-index 30
		width 40%
		bottom 0
		right -20%
		border-radius 40px
		height 40%
		font-size 0.8em
		padding-top 5px
		font-weight bolder
		color black

	.points-captain-large
		background $clr-secondary
		position: absolute
		z-index 60
		width 40%
		bottom 0
		right -20%
		border-radius 40px
		height 40%
		font-size 1.2em
		padding-top 8px
		font-weight bolder
		color black

	.remove
		position: absolute;
		top: -10px;
		right: -10px;

		&:before
			content: '\f00d';
			font-family: fontawesome;

		&:hover
			font-weight: bold;

	&.empty
		.remove
			display: none;


/* LINEUP GRID */

.edit-selection
	position absolute
	right 0
	top 0
	font-size 0.9em

.lineup-grid
	padding 1em 0 1em
	margin 0
	position relative

	> .row
		min-height 75px

	&:before
		content ""
		position absolute
		top 2em
		bottom 0
		left 0
		right 0
		background url(/images/lineup-field.png) no-repeat center
		background-size 100% 100%

	&.lineup-cycling
		&:before
			top 0
			background url(/images/cycling/giro-lineup.png) no-repeat center
			background-size: 100% 100%

		.player
			cursor default

			//.player-avatar:after
				//background: $clr-secondary
				//color black

			.player-avatar:not(.empty):after
					background: transparent
			.name
				color white

	.lineup-empty
		position absolute
		top 40%
		width 100%
		text-align center
		padding 1em 0
		color white
		font-weight bold
		background-color rgba(0,0,0,0.35)

.lineup-grid
.lineup-bench
	.row
		display flexbox
		justify-content center
		margin 0 0 1em

	.player
		width 18%
		text-align center
		position relative
		cursor pointer

		.btn-sm
			font-size: 0.7em
			padding 0.15em 0.4em
			margin-top 0.5em

			&.btn-success
				background-color $clr-primary
				color $clr-primary-contrast
			&.btn-danger
				background-color #d9534f

	.player-avatar
		width 60%
		margin 0 20% .3em

	.name
		display block
		color $clr-contrast
		font-size .8em
		ellips()

.lineup-bench
	background black(.3)
	padding 1em 0 1em
	margin 0 0 1em

	.row
		margin-bottom 0

	.player
		opacity .75

	.name
		color #fff

.popover
	z-index 9999999999999
	padding 0
	margin-top 5px
	border none
	background none

	.popover-content
		padding 0
		font-size 14px

	@media $layout-mobile
		position fixed
		top 0 !important
		bottom 0 !important
		left 0 !important
		right 0 !important
		margin-top 0
		max-width none
		border-radius 0

		.popover-inner, .popover-content
			height 100%

.player-popover
	background rgba(0,0,0,0.8)
	color white
	width 14em
	padding 1em 1em .5em

	&:before
		content ""
		position absolute
		bottom 100%
		left 50%
		transform translateX(-50%)
		border-left .8em solid transparent
		border-right .8em solid transparent
		border-bottom .8em solid rgba(0,0,0,0.8)

	.close
		font-size 1.2em
		right 5px
		outline none
		color white

		&:hover
			color $clr-primary

	.fullname
		font-weight bold
		margin 0em
		font-size 1em
		line-height 1
		text-align center

	.position
		font-size .8em
		margin 0 0 .8em
		text-align center

	ul
		margin 1em 0

		li
			position relative
			text-align center
			font-size 1em

			span
				position absolute
				right 0

			i
				position absolute
				left 0

	a
		display block
		padding .5em 0
		margin 0 0 .3em
		background $clr-primary
		color $clr-contrast
		text-align center

		&:hover
			background darken($clr-primary, 10%)

	@media $layout-mobile
		width auto
		font-size 1.5em
		margin-top 0em
		height 100%

		.close
			top 10px
			right 10px



.select-captain-list-popover
	background rgba(0,0,0,0.8)
	color white
	min-width: 350px
	max-height: 450px

	div
		div
			.list-close
				color white
				background-color transparent
				border:none

				&:hover
					color $clr-primary

	@media $layout-mobile
		width auto
		font-size 1.5em
		margin-top 0em
		max-height: 800px



/* PLAYER LIST */

.player-list
	@media $layout-columns
		&.limit-10
			max-height 640px
			overflow scroll
			-webkit-overflow-scrolling touch
		&.limit-5
			max-height 320px
			overflow scroll
			-webkit-overflow-scrolling touch

	.player
		display flexbox
		align-items center
		padding 0 0 0 4px
		position relative

		&.stats
			margin-bottom 140px

		&.unavailable
			box-shadow inset 4px 0 0 $clr-destructive

		&.in-team
			box-shadow inset 4px 0 0 $clr-primary

		&.active
			background-color rgba(0,0,0,0.3)

	.player-avatar
		margin 1em 1em 0
		align-self flex-end
		width em(48)

	.player-info
		flex-grow 1

		.position
			.player-gk
				color $clr-gk

			.player-def
				color $clr-def

			.player-mf
				color $clr-mf

			.player-fwd
				color $clr-fwd

			.worth
				color white
				font-weight bold
				font-size 1.2em
				margin-left 4px

	.player-stats
		position absolute
		left 0
		right 0
		top 0
		height 140px
		overflow-y scroll
		overflow-x hidden
		padding-left .5em
		padding-right .5em

		@media $layout-mobile
			padding-left 0
			padding-right 0
			margin-left 4px

		.spinner
			position absolute
			top 0%
			left 50%
			margin-top 60px
			margin-left - 35px

		.stats
			display flex

		.actions
			padding 15px 0
			text-align center

		.stat
			position relative
			flex-grow 1
			flex-basis 100px
			text-align right
			margin 10px .5em
			background-color rgba(0,0,0,0.3)
			border-radius 10px
			padding 1em 1.5em

			@media $layout-mobile
				padding 20px 0.2em
				margin 0
				border-radius 0
				text-align center

			i
				position absolute
				top 50%
				margin-top -0.5em
				left 1.5em
				font-size 1em
				float left

				&.icon-shoe, &.icon-goal
					font-size 1.75em
					left 1em

				@media $layout-mobile
					left auto
					right auto
					position static
					top auto
					display block
					width 100%
					margin-bottom .5em

					&.icon-shoe, &.icon-goal
						margin-bottom 2px

			span
				font-size 1.1em
				font-weight bold

				@media $layout-mobile
					display block


	.name
		margin .6em 0 .3em
		color #fff
		ellips()

	.position
		font-size .7em
		color $clr-gk
		opacity .6
		ellips()

		&.player-def
			color $clr-def
		&.player-mf
			color $clr-mf
		&.player-fwd
			color $clr-fwd
		&.cyclist
			color lighten(red,20%)
			font-weight: bold

		.club
			display inline-block
			margin 0 0 0 .6em
			color white(.6)

	.status
		font-size .8em
		color #fff
		margin .4em 0 .8em
		color $clr-primary

	.unavailable .status
		color $clr-destructive

	.star
		font-size em(24)
		color white(.5)
		padding .2em .6em .2em .2em

		&:hover
			color $clr-link

	.drag-region
		cursor move
		font-size em(20)
		padding .8em .8em .8em 0
		color white(.5)

	.add-player
		display flexbox
		align-items center
		padding 1em

		.icon
			font-size em(32)
			margin 0 .3em 0 0

.player-captain-list
	min-width 320px;

	@media $layout-columns
		&.limit-10
			max-height 640px
			overflow scroll
			-webkit-overflow-scrolling touch
		&.limit-5
			max-height 320px
			overflow scroll
			-webkit-overflow-scrolling touch

	.player
		display flexbox
		align-items center
		padding 0 0 0 4px
		position relative

		&.stats
			margin-bottom 140px

		&.unavailable
			box-shadow inset 4px 0 0 $clr-destructive

		&.in-team
			box-shadow inset 4px 0 0 $clr-primary

		&.active
			background-color rgba(0,0,0,0.3)

	.player-avatar
		margin 0em 1em 0
		max-width em(48)

	.player-info
		flex-grow 1

	.name
		margin .6em 0 .3em
		color #fff
		ellips()

	.position
		font-size .7em
		color $clr-gk
		opacity .6
		ellips()

		&.player-def
			color $clr-def
		&.player-mf
			color $clr-mf
		&.player-fwd
			color $clr-fwd
		&.cyclist
			color lighten(red,20%)
			font-weight: bold

		.club
			display inline-block
			margin 0 0 0 .6em
			color white(.6)

.club-label
	font-size .7em
	color white(.6)


/* PLAYER DETAIL PAGE */
.player-detail
	text-align center

	.player-avatar
		width 8em

	.player-info
		font-size 1.4em

		.club
			display block
			margin 0.3em 0

	.btn-shortlist
		margin-top 1em


/* ADD PLAYER FORM */

.add-player-form
	max-height 0
	overflow hidden
	transition max-height 0.5s ease-in-out

	&.show
		max-height 5000px

	.add-player-filter
		a.done
			font-size 1.5em

		.row
			margin 0
			padding 1em
			display flexbox

			& + .row
				padding-top 0

		.input
		.select
			flex-grow 1

		.input
		.select:first-child
		.select:nth-child(2)
			margin-right 1em

/* MATCH LIST */

.match-item
	display flexbox
	text-align center
	align-items center
	color #fff

	&:hover, &:active, &:focus
		color #fff

	&:hover:not([disabled])
		background white(.15)

	.match-team
		width 35%

		img
			width 2.5em
			margin .6em 0 .5em

		.team-name
			ellips()
			font-size .8em
			margin  0 0 .6em

	.match-data
		flex-grow 1

	.match-score
		font-size 2em
		word-spacing -.1em
		margin 0 0 .2em

	.match-date
		font-size 1.2em
		line-height 1.2

	&.match-past
		.match-date
			font-size .7em
			opacity .5

			br
				display none

	&.match-future
		.match-score
			display none



// HOME
// ----------------------------------------------------
#publicHome
	padding 3em 0

// MODALS
// ----------------------------------------------------
.modal
	z-index 1000020
	background-color rgba(0,0,0,0.5)

	.modal-content
		border-radius 0
		border 0
		background-color transparent
		padding 3em 3em

	&.show
		display block !important

	button.close
		color white

		&:hover
			color $clr-primary

	.modal-content
		text-align center

		h3
			margin-top 1em

		p
			text-align left

		strong
			color $clr-primary

		.actions
			padding-top 1em

			button
				margin-right 1em

	.icon-logo
		color $clr-primary
		font-size 3em

	&.info
		.modal-dialog
			max-width 400px

		.modal-content
			h3
				margin-top 0
				font-size 1.2em

// NEW GAME
// ----------------------------------------------------
#newGame
	.form-group
		margin-bottom 1em

	.filter
		margin-top 2em

		.input
			margin: 0

	.new-game-join-table
		margin-top 1em

		td
			vertical-align middle

		.single
			text-align left
		.league-name
			display block
			margin-bottom 0.5em
		small
			font-family Roboto Condensed,sans-serif
			text-transform uppercase
			color gray

			a
				color white

				&:hover
					color $clr-primary

		.competition
			font-size 1.5em
			margin 0
			color white

	.create-game-form
		margin 2em 0

		label
			display block

	.invite-code-form
		margin 2em 0

		h5
			font-size: 20px
.btn.new-game
	display flexbox
	align-items center
	//padding 1em

	.icon
		font-size em(32)
		margin 0 .3em 0 0


.breadcrumb
	background-color transparent
	border-radius 0
	margin-bottom 0
	padding 0

.game-mode
	display block
	text-align center
	color #fff

	&.disabled
		opacity 0.6

		&:hover
			background rgba(255,255,255,0.05)
			color #fff

			h2
				color $clr-primary

	&:hover
		background $clr-link
		color $clr-contrast

		h2
			color $clr-contrast

	.graphic
		font-size em(64)
		text-align center
		padding .4em 0 0

	// 	&.game-playsports .graphic
	// 		color #fff
	//
	// 	&.game-draft .graphic
	// 		color $clr-def
	//
	// 	&.game-daily .graphic
	// 		color $clr-mf
	//
	// 	&.game-budget .graphic
	// 		color $clr-fwd


	h2
		font-size 1.5em
		margin 0 0 .3em
		color $clr-link

	.description
		font-size .85em
		opacity .5

@media $layout-columns
	.game-modes
		display flexbox
		flex-wrap wrap

	.game-mode
		flex 1 1 40%


.game-invite-code-form
	@media $layout-columns
		display flexbox
		align-items center

		p
			margin 0

		.input
			margin 0 1em
			flex-grow 1


.new-game-form
	.form-check
		.icon
			font-size 1.2em
			vertical-align middle
			margin 0 .4em 0 0


.new-game-join-table
	.competition
		margin .5em 0 0
		font-size .8em
		color white(.5)

.new-draft-league
	.table th:last-child, .table td:last-child
		text-align left
	.pad
		text-align center

// LEAGUE
// ----------------------------------------------------
.league
	&.settings
		.select
			padding 1em 0

		span.range-bar
			margin 1.3em 0

		span.switchery
			display block
			margin-top 0.7em

// DEADLINE picked-player
#lblDeadline
	display block
	background-color rgba(0,0,0,0.4)
	text-align center
	padding 1em
	font-weight bold

	&.disabled
		background-color rgba(0,0,0,0.2)

	span.set
		color $clr-secondary

#deadlinePicker
	display block
	border-radius 0
	margin-top 0

	&.disabled
		opacity 0.5

	span, .table td:last-child, .table th:last-child
		text-align center

	.right, .left
		color white

	.table td, .table th
		border-radius 0

	.current
		background-color transparent
		color: $clr-primary

	.active, .active:hover
		background-color $clr-secondary
		background-image none
		color black

	.disabled, .disabled:hover
		background-color transparent !important
		color inherit !important
		cursor not-allowed


	.year:hover, .month:hover, .minute:hover, .hour:hover, .day:hover, .switch:hover, .left:hover, .right:hover
		background-color white
		color black

// DRAFT/TRANSFERS
// ----------------------------------------------------

.round
	ul.teams
		li
			position relative
			padding 0.75em 0
			background-color rgba(255,255,255,0.075)
			margin 0.5em 0
			text-align center
			border-radius 5px

			small
				color #999

			strong
				color black

			&:before
				display block
				position absolute
				top 40%
				left 10px
				font-size 100%
				font-weight bold
				color black
				text-align center

			&.double, &.up, &.down
				background-color $clr-primary
				color black

				&:after
					display none !important

			&.double:before
				content '='
				font-size 130%
				top 27%
				left 12px

			&.up:before
				content '▲'

			&.down:before
				content '▼'

			&.my-team:after
				font-family FontAwesome
				content: '\f007'
				position absolute
				right 10px
				color #999

.waivers
	table
		margin-bottom 0

		td
			small
				color rgba(255,255,255,0.6)
			ul
				display inline

				li
					display: inline

					&:after
						content ', '
						color rgba(255,255,255,0.6)

					&:last-child:after
						content ''

					a:hover
						small
							color $clr-primary

	.lineup-bench
		background none
		margin 0
		padding-bottom 0

		.player
			display inline-block
			opacity 1

.previous-picks
	max-height 320px
	overflow scroll

	.team
		color rgba(255,255,255,0.6)
		text-transform uppercase

	.round
		text-align right


// LOGIN
// ----------------------------------------------------
#login
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 9999999
	background-color rgba(0,0,0,0.75)


	.box
		position relative
		margin 0px auto
		margin-top 4em
		max-width 400px
		padding 2em
		background-color black
		text-align center

		@media $layout-mobile
			max-width 100%
			margin-top 0
			height 100%

		.icon-logo
			font-size 1.75em
			margin-bottom 0.5em
			color $clr-primary

		.close
			color white
			top 10px
			right 15px

			&:hover
				opacity 1
				color $clr-primary

		ul
			clear both

			li
				width 50%
				float left
				border-bottom 3px solid $clr-contrast

				&.active
					border-color white !important

					a
						color white !important
						cursor default


				&:hover

					a
						color $clr-primary

				a
					display block
					padding 1em
					color white


		.tab
			padding-top 1em

			.input
				margin 1em 0
				color white

			.btn
				margin 1em 0




// GROWL
// ----------------------------------------------------
.growl
	z-index 99999999

.growl-item
	color black
	font-weight 400
	line-height 1.3em
	padding-right: 2em

	&.alert-success
		background-color #00fe82//$clr-primary
		border-color #00fe82//$clr-primary

	&.alert-error
		background-color red
		border-color red
		color white

		.close
			color white

    .close
		position absolute
		top 5px
		right 10px
		font-weight 400
		text-shadow none
		opacity: 1

// PICKED PLAYER ANIMATION
.picked-player
	position: fixed
	z-index: 99999999
	top: 1.5em
	right: 1.5em
	width: 170px
	background-color: #000
	padding: 15px 15px
	text-align: center
	overflow: hidden

	-webkit-transition: 0.2s linear all
	transition: 0.2s linear all
	transform: scale(0)


	&.appear
		transform: scale(1)

	.player-avatar
		display: block
		width: 75px
		margin: 0px auto

	.player-info
		font-size: 0.9em

		.name
			padding: 0.5em 0

		.position
			display: block
			padding: 0.2em 0
			font-size: 0.9em

			.player-gk
				color $clr-gk

			.player-def
				color $clr-def

			.player-mf
				color $clr-mf

			.player-fwd
				color $clr-fwd

			.name
				padding: 0.5em 0

			.club
				display: block
				margin: 0

	.status
		padding: 0em 0 1.2em 0
		margin: 0
		font-size: 0.75em
		font-weight: bold
		text-transform: uppercase
		color: #00fe82


// OFFLINE PAGE
// ----------------------------------------------------
#offline
	display table
	height 100%
	width 100%
	text-align center

	.content
		display table-cell
		vertical-align middle

	.icon-logo
		color $clr-primary
		font-size 3em

	h1
		margin-top 1em
		margin-bottom 0

	p
		max-width 400px
		margin 1em auto

// CYCLING
#newGameCycling
	.btn.create
		display: block;
		width: 100%
		padding: 1em 0

// PLAY SPORTS HEADER & FOOTER
// ----------------------------------------------------

html.nested-playsports
	font-size 10px // Ugly hack to make sure Telenet's rem units work properly. Our body font-size overwrites this for our content.

	.main-wrapper
		min-height 600px
		position relative

	.main-sidebar
	a.chat-toggle
		position absolute

	.sidebar-nav-top
		-webkit-flex-grow 0
		flex-grow 0 // Prevent the last sidebar items to be all the way down on the page.


#nested-playsports
	font-family omnes,"Helvetica Neue",Helvetica,Arial,sans-serif
	-webkit-font-smoothing subpixel-antialiased
	line-height 1.42857143
	position relative
	z-index 1000002

	.dcm-header-cookie-container
		position relative !important
		padding 1px

	.container
		max-width none

	.dropdown-toggle:after
		display unquote("none !important") // Ugly hack to hide the extra dropdown arrows because of a conflict between Bootstrap 3 & 4

.fl-right {
	float: right
}

.ml-10
	margin-left 10px

.select-soccer-captain
	margin-top 10px

.captain-area
	margin-top 10px
	min-width 150px
	padding 5px

.image-crop-area
	margin auto
	overflow hidden
	width  300px
	height  300px

.width-90-per
	width 90%

.buorg
	color black;

.app-background
	background-image url('/images/cl_bg.jpg')
	background-size cover
	background-position center
	background-repeat no-repeat

.blanco-popover
	width 17em

/* fixes compatibility fanarena stylesheet
#nested-playsports nav {
	overflow-x: visible;
}
#nested-playsports .navbar {
	z-index: 1000;
}
nav ul.nav li a, nav ul.nav li .nav-item {
	text-transform: inherit;
}
#nested-playsports .dropdown-menu > li > a:focus, #nested-playsports .dropdown-menu > .active > a, #nested-playsports .dropdown-menu > .active > a:hover, #nested-playsports .dropdown-menu > .active > a:focus {
	background-color: #292b2f !important;
}
#nested-playsports .dropdown-menu > li > a:hover {
	background-color: #000 !important;
}

#nested-playsports .dcm-header .dcm-header--level2-wrapper {
	border: 0;
}
.light-green-800, .light-green-900 {
	background-color: #44BA66;
	color: #FFF !important;
}
#nested-playsports .btn-default {
	color: #fff !important;
	background-color: #60c965 !important;
	border-color: #adadad !important;
}
#nested-playsports .btn-default:hover {
	color: #fff !important;
	background-color: #3eb844 !important;
	border-color: #adadad !important;
}

#nested-playsports .dcm-header .dcm-header--level2-wrapper {
	border-bottom: 4px solid #60c965;
}
#nested-playsports .panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #efefef;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
} */

// Import hacky extra shizzle
// ----------------------------------------------------