<div class="col-md-8 offset-md-2 col-xs-12">
  <form
    name="$ctrl.frmTeamName"
    class="new-game-form"
    novalidate>
    <div class="form-group">
      <label for="new-game-team-name" translate>Team name</label>
      <input ng-model="$ctrl.game.teamName" type="text" id="new-game-team-name"
             placeholder="{{'Choose a cool name for your team'|translate}}" class="input form-control"
             required>
    </div>

    <button
      ng-click="$ctrl.onCreateHandler()"
      type="submit"
      class="btn btn-md btn-primary pull-right" translate>
      Create my league
    </button>
  </form>
</div>