<div class="pad" style="background: rgba(255,255,255,0.05); margin-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-xs-4 col-md-2">
        <div class="tour-widget-circle"
             ng-class="{'tour-widget-circle-active' : $ctrl.activeTab === 1}"
             ng-click="$ctrl.setActiveActiveTab(1)" translate>
          WAT?
        </div>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="tour-widget-circle"
             ng-class="{'tour-widget-circle-active' : $ctrl.activeTab === 2}"
             ng-click="$ctrl.setActiveActiveTab(2)" translate>
          HOE?
        </div>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="tour-widget-circle"
             ng-class="{'tour-widget-circle-active' : $ctrl.activeTab === 3}"
             ng-click="$ctrl.setActiveActiveTab(3)" translate>
          WIN
        </div>
      </div>
      <div class="col-xs-2 hidden-md-up"></div>
      <div class="col-xs-4 col-md-2">
        <div class="tour-widget-circle"
             ng-class="{'tour-widget-circle-active' : $ctrl.activeTab === 4}"
             ng-click="$ctrl.setActiveActiveTab(4)" translate>
          SOCIAL
        </div>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="tour-widget-circle"
             ng-class="{'tour-widget-circle-active' : $ctrl.activeTab === 5}"
             ng-click="$ctrl.setActiveActiveTab(5)" translate>
          SPEEL
        </div>
      </div>
      <div class="col-xs-2 hidden-md-up"></div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <div class="row tour-widget-content">
    <div class="col-xs-12" ng-bind-html="$ctrl.getTabContent()"></div>
  </div>

  <!--<div class="row">-->
  <!--<button-->
  <!--class="btn btn-default pull-right"-->
  <!--ng-click="$ctrl.nextTab()">-->
  <!--Next-->
  <!--</button>-->
  <!--</div>-->

</div>