<div class="block">
  <div class="block-title  widget-title-ground">{{$ctrl.title}}</div>
  <div class="row">
    <div class="col-md-12 player-list">
      <div class="player" ng-repeat="cyclist in $ctrl.cyclists | orderBy:'[\'0\'].top' |limitTo:5"
           style="margin-bottom: 10px;">
            <span class="player-avatar">
              <img ng-if="!$ctrl.localAssets"
                   ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/cycling/{{cyclist.players.club_id}}.png"
                   fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                   class="jersey">
              <img ng-if="$ctrl.localAssets" ng-src="/images/cycling/jersey_{{cyclist.players.club_id}}.png"
                   class="jersey">
            </span>
        <span class="player-info">
                <div class="name">{{cyclist.players.name}}</div>
                <div class="position cyclist">{{cyclist['0'].top}} <span translate>keer gekozen</span></div>
            </span>
      </div>
    </div>
  </div>
</div>
</div>