<div class="block" ng-if="$ctrl.leaderTeam && $ctrl.chunkedData">
  <div class="block-title">{{$ctrl.leaderTeam.Team.User.first_name}}
    {{$ctrl.leaderTeam.Team.User.last_name}} - {{$ctrl.title + ' ' + $ctrl.winnerWeek}}
  </div>
  <div class="pad">
    <div class="row">
      <div class="col-xs-12">
        {{$ctrl.winner.Team.name}} <span class="pull-right widget-points-label">
                    <span>{{$ctrl.winner.Weekstat.points}} </span>
                <span translate>Points</span></span>
      </div>
    </div>
    <div class="row player-list" ng-repeat="player in $ctrl.chunkedData">
      <div class="player">
        <img ng-if="$ctrl.getPlayerStatus(player)"
             ng-src="images/status/{{$ctrl.getPlayerStatus(player)}}.png"
             class="player-status-icon widget-status">
        <span class="player-avatar">
               <span ng-if="$ctrl.jerseyOnly">
                  <img ng-if="!$ctrl.localAssets"
                       ng-src="https://s3-eu-west-1.amazonaws.com/{{$ctrl.gameName || 'fanarena'}}/jerseys/football/{{player.players.club_id}}.png"
                       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png"
                       class="jersey">

                  <img ng-if="$ctrl.localAssets"
                       ng-src="/images/football/jersey_{{player.players.club_id}}.png"
                       class="jersey"
                       fallback-src="https://s3-eu-west-1.amazonaws.com/fanarena/jerseys/cx_dummy.png">
                </span>

                <img ng-if="!$ctrl.jerseyOnly" ng-src="{{$ctrl.assetsURL}}/jerseys/{{player.players.club_id}}.png"
                     class="jersey">
           <span ng-if="player.selections.captain" class="points-captain content-centered">
            {{'C'}}
            </span>
        </span>
        <span class="player-info">
              <div class="name">{{player.players.short}}</div>
               <div class="position player" ng-if="player.pts.points !== null">
                   {{player.pts.points}} <span translate class="ml-2p">Points</span>
              </div>
        </span>
      </div>
    </div>
  </div>
</div>